.wp-block-tab-panel {
	&:empty {
		display: none !important;
	}

	// Prevent blockGap, borders, box-shadows and padding from adding extra spacing or
	// rendering when the panel is closed, which the panel would otherwise keep
	// along with its layout box.
	&[hidden] {
		box-shadow: none !important;
		border: none !important;
		margin-block-start: 0;
		padding: 0 !important;
	}
}
