.wp-block-tab-panel {
	&:empty {
		display: none !important;
	}

	// Prevent blockGap, padding and box-shadows from adding extra spacing or
	// rendering when the panel is closed, which keeps its layout box.
	&[hidden] {
		box-shadow: none !important;
		margin-block-start: 0;
		padding: 0 !important;
	}
}
