@layer wp-ui {
	@layer utilities, components, compositions, overrides;

	@layer components {
		.root {
			display: flex;
			flex-direction: column;
			gap: var(--wpds-dimension-gap-sm);
			border: 0;
			margin: 0;
			padding: 0;
		}

		.legend:not(.is-hidden) + .description {
			/* prettier-ignore */
			--_gcd-p-margin: calc(var(--wpds-dimension-gap-xs) - var(--wpds-dimension-gap-sm)) 0 0;
			/* prettier-ignore */
			margin-block-start: calc(var(--wpds-dimension-gap-xs) - var(--wpds-dimension-gap-sm));
		}
	}
}
