.edit-site-page-panels__swap-template__confirm-modal__actions {
	margin-top: $grid-unit-30;
}

.edit-site-page-panels__swap-template__modal-content .block-editor-block-patterns-list {
	column-count: 2;
	column-gap: $grid-unit-30;

	// Small top padding required to avoid cutting off the visible outline when hovering items
	padding-top: $border-width-focus-fallback;

	@include break-medium() {
		column-count: 3;
	}

	@include break-wide() {
		column-count: 4;
	}

	.block-editor-block-patterns-list__list-item {
		break-inside: avoid-column;
	}

	.block-editor-block-patterns-list__item {
		// Avoid to override the BlockPatternList component
		// default hover and focus styles.
		&:not(:focus):not(:hover) .block-editor-block-preview__container {
			box-shadow: 0 0 0 1px $gray-300;
		}
	}
}

.edit-site-change-status__content {
	.components-popover__content {
		min-width: 320px;
		padding: $grid-unit-20;
	}

	.edit-site-change-status__options {
		.components-base-control__field > .components-v-stack {
			gap: $grid-unit-10;
		}

		label {
			.components-text {
				display: block;
				margin-left: $radio-input-size + 6;
			}
		}
	}

	.edit-site-change-status__password-legend {
		padding: 0;
		margin-bottom: $grid-unit-10;
	}
}

.edit-site-summary-field {
	.components-dropdown {
		flex-grow: 1;
	}

	.edit-site-summary-field__trigger {
		width: 100%;
	}

	.edit-site-summary-field__label {
		width: 30%;
	}
}
