
.header-toolbar__container {
	height: $mobile-header-toolbar-height;
	flex-direction: row;
	background-color: $app-background;
	border-top-color: $light-quaternary;
	overflow: hidden;
}

.header-toolbar__container--dark {
	background-color: $app-safe-area-background-dark;
	border-top-color: $dark-quaternary;
}

.header-toolbar__container--expanded {
	height: $mobile-header-toolbar-expanded-height;
}

.header-toolbar__scrollable-content {
	flex-grow: 1; // Fixes RTL issue on Android.
	padding-right: 8px;
}

.header-toolbar__keyboard-hide-container {
	padding-right: 0;
	padding-left: 0;
	padding-top: 4px;
	width: 44px;
	justify-content: center;
	align-items: center;
	border-color: transparent;
	background-color: $app-background;
}

.header-toolbar__keyboard-hide-container--dark {
	background-color: $app-background-dark-alt;
}

.header-toolbar__keyboard-hide-shadow--solid {
	color: $black;
}

.header-toolbar__keyboard-hide-shadow--light {
	color: $light-quaternary;
}

.header-toolbar__keyboard-hide-shadow--dark {
	color: $light-primary;
}
