.edit-post-header-document-toolbar {
	display: inline-flex;
	flex-grow: 1;
	align-items: center;
	border: none;

	// Hide all action buttons except the inserter on mobile.
	.edit-post-header-document-toolbar__left > .components-button {
		display: none;

		@include break-small() {
			display: inline-flex;
		}
	}

	.edit-post-header-document-toolbar__left > .edit-post-header-toolbar__inserter-toggle {
		display: inline-flex;

		svg {
			transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
			@include reduce-motion("transition");
		}

		&.is-pressed {
			svg {
				transform: rotate(45deg);
			}
		}
	}

	// Hide table of contents and list view on mobile.
	.block-editor-list-view {
		display: none;

		@include break-small() {
			display: flex;
		}
	}

	// The Toolbar component adds different styles to buttons, so we reset them
	// here to the original button styles
	.edit-post-header-document-toolbar__left > .components-button.has-icon:first-child {
		margin-right: 10px;
	}

	.edit-post-header-document-toolbar__left > .components-button.has-icon,
	.edit-post-header-document-toolbar__left > .components-dropdown > .components-button.has-icon {
		height: 32px;
		min-width: 32px;
		margin-right: 4px;
		padding: 0;
		width: 32px;

		&.is-pressed {
			background: $gray-900;
		}

		&:focus:not(:disabled) {
			box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color), inset 0 0 0 $border-width $white;
			outline: 1px solid transparent;
		}

		&::before {
			display: none;
		}
	}

	& > .edit-post-header-document-toolbar__left button.components-button.edit-post-header-toolbar__block-tools-toggle.is-primary.has-icon {
		height: $button-size;
		min-width: $button-size;
		padding: 6px;
		background-color: #fff;
		color: #000;
		border-left: 1px solid #ddd;

		&:hover {
			color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
		}
	}
}

.edit-post-header-block-toolbar {
	display: inline-flex;
	flex-grow: 1;
	align-items: center;
	border: none;
	padding-left: 24px; //compensates for the edit-post-header-document-toolbar__left left padding
	height: 32px;
	overflow: hidden; //limits the height of the separators

	> .edit-post-header-toolbar__inserter-toggle {
		display: inline-flex;

		svg {
			transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
			@include reduce-motion("transition");
		}

		&.is-pressed {
			svg {
				transform: rotate(45deg);
			}
		}
	}

	& > button.components-button.edit-post-header-toolbar__document-tools-toggle.is-primary.has-icon {
		height: $button-size;
		min-width: $button-size;
		padding: 6px;
		background-color: #fff;
		color: #000;
		border-right: 1px solid #ddd;

		&:hover {
			color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
		}
	}

	// The Toolbar component adds different styles to buttons, so we reset them
	// here to the original button styles
	& > button.components-button.edit-post-header-toolbar__inserter-toggle.is-primary.has-icon {
		height: 32px;
		margin-right: 8px;
		min-width: 32px;
		padding: 0;
		width: 32px;

		&.is-pressed {
			background: $gray-900;
		}

		&:focus:not(:disabled) {
			box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color), inset 0 0 0 $border-width $white;
			outline: 1px solid transparent;
		}

		&::before {
			display: none;
		}

		.show-icon-labels & {
			width: auto;
			height: 36px;
			padding: 0 $grid-unit-10;
		}
	}

}

// Reduced UI.
.edit-post-header.has-reduced-ui {
	@include break-small () {
		// Apply transition to every button but the first one.
		.edit-post-header-document-toolbar__left > * + .components-button,
		.edit-post-header-document-toolbar__left > * + .components-dropdown > [aria-expanded="false"] {
			transition: opacity 0.1s linear;
			@include reduce-motion("transition");
		}

		// Zero out opacity unless hovered.
		&:not(:hover) .edit-post-header-document-toolbar__left > * + .components-button,
		&:not(:hover) .edit-post-header-document-toolbar__left > * + .components-dropdown > [aria-expanded="false"] {
			opacity: 0;
		}
	}
}

.edit-post-header-document-toolbar__left {
	display: inline-flex;
	align-items: center;
	padding-left: $grid-unit-10;

	@include break-small() {
		padding-left: $grid-unit-30;
	}

	@include break-wide() {
		padding-right: $grid-unit-10;
	}
}

.edit-post-header-document-toolbar .edit-post-header-document-toolbar__left > .edit-post-header-document-toolbar__inserter-toggle.has-icon {
	margin-right: $grid-unit-10;
	// Special dimensions for this button.
	min-width: 32px;
	width: 32px;
	height: 32px;
	padding: 0;

	.show-icon-labels & {
		width: auto;
		height: 36px;
		padding: 0 $grid-unit-10;
	}
}

.show-icon-labels .edit-post-header-document-toolbar__left > * + * {
	margin-left: $grid-unit-10;
}
