@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

fieldset.fields-controls__media {
	// Reset `fieldset` browser defaults.
	border: 0;
	padding: 0;
	margin: 0;

	.fields-controls__media-row {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: $grid-unit-15;
		align-items: center;
	}

	.fields-controls__media-picker-button {
		display: flex;
		align-items: center;
		gap: $grid-unit-15;
		border: $border-width dotted $gray-300;
		border-radius: $radius-small;
		padding: calc(8px - #{$border-width});
		cursor: pointer;
		min-width: 0;

		&:hover {
			background-color: $gray-100;
		}

		&:focus-visible {
			box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
			outline: none;
		}
	}

	.fields-controls__media-filename,
	.fields-controls__media-placeholder {
		flex: 1;
		min-width: 0;
		color: $gray-900;
	}

	.fields-controls__media-placeholder {
		text-align: center;
	}

	.fields-controls__media-thumbnail {
		width: 24px;
		aspect-ratio: 1 / 1;
		flex-shrink: 0;
		border-radius: $radius-small;
	}
}

// TODO: do we need this?
// .dataforms-layouts-panel__field-control {
// 	.fields-controls__media-thumbnail {
// 		width: 16px;
// 		height: 16px;
// 	}
// }
