.block-editor-line-height-control {
	max-width: $sidebar-width - ( 2 * $panel-padding );
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: $grid-unit-30;

	.block-editor-line-height-control__preset {
		margin-right: $grid-unit-10;
	}

	.components-base-control.block-editor-line-height-control__custom {
		margin-bottom: 0;
	}

	.block-editor-line-height-control__custom {
		max-width: 54px;
		height: 53px;

		.components-base-control__label {
			margin-bottom: 5px;
		}
	}
}
