<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for the Time to Read Block plugin">
	<description>Includes shared sniffs for Gutenberg, with modifications.</description>

	<!-- Import shared rules for monorepo -->
	<rule ref="../../phpcs.xml.shared"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="time-to-read-block"/>
			</property>
		</properties>
	</rule>

	<file>./</file>
</ruleset>
