.wp-block-buttons
.wp-block.block-editor-block-list__block[data-type="core/button"] {
	display: inline-block;
	width: auto;
}

.wp-block-buttons.is-vertical
.wp-block.block-editor-block-list__block[data-type="core/button"] {
	display: block;
	width: max-content;
	margin-left: 0;
}

.block-editor-block-list__block[data-type="core/buttons"][data-align="center"]
.wp-block-buttons.is-vertical
.wp-block.block-editor-block-list__block[data-type="core/button"] {
	margin-left: auto;
	margin-right: auto;
}

.wp-block[data-align="center"] > .wp-block-buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.wp-block[data-align="right"] > .wp-block-buttons {
	display: flex;
	justify-content: flex-end;
}

.wp-block-buttons .block-list-appender {
	display: inline-block;
}
