// This variable is repeated across Button, Buttons, and Buttons editor styles.
$blocks-block__margin: 0.5em;

.wp-block-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	&.is-vertical {
		flex-direction: column;
		> .wp-block-button {
			/*rtl:ignore*/
			margin-right: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// Increased specificity to override blocks default margin.
	> .wp-block-button {
		display: inline-block;
		/*rtl:ignore*/
		margin-right: $blocks-block__margin;
		margin-bottom: $blocks-block__margin;

		&:last-child {
			/*rtl:ignore*/
			margin-right: 0;
		}
	}

	&.is-content-justification-left {
		justify-content: flex-start;
		&.is-vertical {
			align-items: flex-start;
		}
	}

	&.is-content-justification-center {
		justify-content: center;
		&.is-vertical {
			align-items: center;
		}
	}

	&.is-content-justification-right {
		justify-content: flex-end;

		> .wp-block-button {
			/*rtl:ignore*/
			margin-left: $blocks-block__margin;
			/*rtl:ignore*/
			margin-right: 0;

			&:first-child {
				/*rtl:ignore*/
				margin-left: 0;
			}
		}

		&.is-vertical {
			align-items: flex-end;
		}
	}

	// Kept for backward compatibiity.
	&.aligncenter {
		text-align: center;
	}
	&.alignleft .wp-block-button {
		/*rtl:ignore*/
		margin-left: 0;
		/*rtl:ignore*/
		margin-right: $blocks-block__margin;

		&:last-child {
			/*rtl:ignore*/
			margin-right: 0;
		}
	}
	&.alignright .wp-block-button {
		/*rtl:ignore*/
		margin-right: 0;
		/*rtl:ignore*/
		margin-left: $blocks-block__margin;

		&:first-child {
			/*rtl:ignore*/
			margin-left: 0;
		}
	}
}
