.editor-post-publish-modal {
	min-width: 600px;
	width: 35vw;
}

.editor-post-publish-modal .components-modal__header {
	border-bottom: none;
	margin-bottom: 12px;
}

.editor-post-publish-modal .components-modal__header .components-modal__header-heading {
	font-weight: 400;
	font-size: 23px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.5px;
}

.editor-post-publish-modal-panel {
	padding: 16px 0;
}

.editor-post-publish-modal-panel__heading {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.006px;
	color: $dark-gray-300;
	font-weight: 400;
}

.editor-post-publish-modal-panel__value {
	font-size: 21px;
	line-height: 18px;
	letter-spacing: -0.006px;
	color: $dark-gray-800;
	margin: 4px 0;
}

.editor-post-publish-modal-panel__detail {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.006px;
	color: $dark-gray-800;
	clear: both;
}

.editor-post-publish-modal-pending {
	display: flex;
	justify-content: center;
}

.post-publish-modal__postpublish-post-address {
	display: flex;
	align-items: flex-end;
	padding: 12px 0;
}
.post-publish-modal__postpublish-post-url {
	flex: auto;
	padding-right: 8px;
}
.post-publish-modal__postpublish-post-copy {
	margin-bottom: 9px;
}

.editor-post-publish-modal__content-publish-controls {
	text-align: right;
	padding: 24px 0 0;
}

.editor-post-publish-modal__content-publish-controls button.is-link,
.editor-post-publish-modal__content-publish-controls button.is-large {
	padding: 0 24px 2px;
}
