.emptyStateContainer {
	flex: 1;
	height: 142;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $gray-light;
	padding-left: 12;
	padding-right: 12;
	padding-top: 12;
	padding-bottom: 12;
}

.emptyStateTitle {
	text-align: center;
	margin-top: 8;
	margin-bottom: 10;
	font-size: 14;
	color: #2e4453;
}

.emptyStateDescription {
	text-align: center;
	color: $blue-wordpress;
	font-size: 14;
	font-weight: 500;
}

.modalIcon {
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	fill: $gray-dark;
}
