.editor-post-saved-state {
	display: flex;
	align-items: center;
	color: $light-gray-900; // Doesn't need to meet AA because button is disabled and it's supporting text.
	overflow: hidden;

	&.is-saving {
		animation: edit-post__loading-fade-animation 0.5s infinite;
	}

	.dashicon {
		display: inline-block;
		flex: 0 0 auto;
	}
}

.editor-post-saved-state {
	width: $icon-button-size - 8px;
	white-space: nowrap;
	padding: #{ $grid-size-small * 3 } $grid-size-small;

	.dashicon {
		margin-right: $grid-size;
	}

	@include break-small() {
		width: auto;
		padding: $grid-size #{ $grid-size-small * 3 };
		text-indent: inherit;

		.dashicon {
			margin-right: $grid-size-small;
		}
	}
}

// This needs specificity to override inherited styles.
.edit-post-header .edit-post-header__settings .components-button.editor-post-save-draft {
	margin: 0;

	@include break-small() {
		.dashicon {
			display: none;
		}
	}
}
