// Needs specificity to override bleed
.wp-core-ui .button.button-large.editor-publish-button {
	margin: 0 10px;
}

.editor-publish-button.is-saving,
.editor-publish-button.is-saving:disabled {
	position: relative;

	// These styles overrides the disabled state with the button primary styles
	background: none !important;
	border-color: #0073aa #006799 #006799 !important;
	box-shadow: 0 1px 0 #006799 !important;
	color: #fff !important;
	text-decoration: none !important;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799 !important;
	opacity: 1;
	// End of the overriding

	&:hover {
		background: none;
	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		background-image: repeating-linear-gradient( -45deg, $blue-wordpress-700, $blue-wordpress-700 11px, $blue-wordpress 10px, $blue-wordpress 20px );
		z-index: -1;
		@include move_background;
	}
}
