.wp-block-gallery:not( .components-placeholder ) {
	margin: -8px;
}

.blocks-gallery-item {

	.is-selected {
		outline: 4px solid $blue-medium-500;
		outline-offset: -4px;
	}

	&.is-transient img {
		@include loading_fade;
	}

	.blocks-rich-text {
		position: absolute;
		width: 100%;
	}

	// last-of-type is used because RichText creates to figcations when placeholders are visible,
	// and in that case only the second one should be targeted.
	// Using data-is-placeholder-visible caused blinks because the attributes are not immediately added to the dom.
	.blocks-rich-text figcaption:last-of-type {
		position: relative;
	}

	.is-selected .blocks-rich-text {
		width: calc( 100% - 8px );
		left: 4px;
		margin-top: -4px;
	}

}

.blocks-gallery-item__inline-menu {
	padding: 2px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: $blue-medium-500;
	display: inline-flex;
	z-index: z-index( '.blocks-gallery-item__inline-menu' );

	.components-button {
		color: $white;
		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.blocks-gallery-item__remove {
	padding: 0;
}
