
.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;

	&:not( .components-placeholder ) {
		margin-right: -16px;
		margin-bottom: -16px;
	}

	.blocks-gallery-image {
		flex-grow: 1;
		margin: 0 16px 16px 0;

		img {
			max-width: 100%;
		}
	}

	&.columns-1 figure {
		width: calc(100% / 1 - 2 * 8px);
	}
	&.columns-2 figure {
		width: calc(100% / 2 - 3 * 8px);
	}
	&.columns-3 figure {
		width: calc(100% / 3 - 4 * 8px);
	}
	&.columns-4 figure {
		width: calc(100% / 4 - 5 * 8px);
	}
	&.columns-5 figure {
		width: calc(100% / 5 - 6 * 8px);
	}
	&.columns-6 figure {
		width: calc(100% / 6 - 7 * 8px);
	}
	&.columns-7 figure {
		width: calc(100% / 7 - 8 * 8px);
	}
	&.columns-8 figure {
		width: calc(100% / 8 - 9 * 8px);
	}
}

.wp-block-gallery.is-placeholder {
	margin: -15px;
	padding: 6em 0;
	border: 2px solid $light-gray-500;
	text-align: center;
}

.blocks-gallery__placeholder-label {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;

	.dashicon {
		margin-right: 1ch;
	}
}

.blocks-gallery__placeholder-instructions {
	margin: 1.8em 0;
}
