.wp-block-gallery:not( .is-masonry-layout ),
.wp-block-gallery.alignleft:not( .is-masonry-layout ),
.wp-block-gallery.alignright:not( .is-masonry-layout ),
.wp-block-gallery.aligncenter:not( .is-masonry-layout ) {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;

	.blocks-gallery-image,
	.blocks-gallery-item {
		margin: 8px;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;

		figure {
			height: 100%;
			margin: 0;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	// Cropped
	&.is-cropped .blocks-gallery-image,
	&.is-cropped .blocks-gallery-item {
		img {
			flex: 1;
			width: 100%;
			height: 100%;
			object-fit: cover;

		}

		// Alas, IE11+ doesn't support object-fit
		_:-ms-lang(x), figure {
			height: auto;
			width: auto;
		}
	}

	// Responsive fallback value, 2 columns
	& .blocks-gallery-image,
	& .blocks-gallery-item {
		width: calc( 100% / 2 - 16px );
	}

	&.columns-1 .blocks-gallery-image,
	&.columns-1 .blocks-gallery-item {
		width: calc(100% / 1 - 16px);
	}

	@include break-small {
		@for $i from 3 through 8 {
			&.columns-#{ $i } .blocks-gallery-image,
			&.columns-#{ $i } .blocks-gallery-item {
				width: calc(100% / #{ $i } - 16px );
			}
		}
	}
}

.wp-block-gallery.is-masonry-layout,
.wp-block-gallery.alignleft.is-masonry-layout,
.wp-block-gallery.alignright.is-masonry-layout,
.wp-block-gallery.aligncenter.is-masonry-layout {
	column-gap: 0;
	margin: 0;
	padding: 0;
	display: block;

	// Responsive fallback value, 2 columns
	column-count: 2;

	&.columns-1 {
		column-count: 1;
	}

	@include break-small {
		@for $i from 3 through 8 {
			&.columns-#{ $i } {
				column-count: #{ $i };
			}
		}
	}

	li,
	figure {
		margin: 0;
	}

	img {
		display: block;
	}
}
