.wp-block-gallery,
.wp-block-gallery.aligncenter {
	display: flex;
	flex-wrap: wrap;

	.blocks-gallery-image {
		margin: 0 16px 16px 0;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	// Cropped
	&.is-cropped .blocks-gallery-image {
		img {
			flex: 1;
			width: 100%;
			height: 100%;
			object-fit: cover;

		}

		// Alas, IE11+ doesn't support object-fit
		_:-ms-lang(x), img {
			height: auto;
			width: auto;
		}
	}

	&.columns-1 figure {
		width: calc(100% / 1 - 16px);
	}
	&.columns-2 figure {
		width: calc(100% / 2 - 16px);
	}

	// Responsive fallback value, 2 columns
	&.columns-3 figure,
	&.columns-4 figure,
	&.columns-5 figure,
	&.columns-6 figure,
	&.columns-7 figure,
	&.columns-8 figure {
		width: calc(100% / 2 - 16px);
	}

	@include break-small {
		&.columns-3 figure {
			width: calc(100% / 3 - 16px);
		}
		&.columns-4 figure {
			width: calc(100% / 4 - 16px);
		}
		&.columns-5 figure {
			width: calc(100% / 5 - 16px);
		}
		&.columns-6 figure {
			width: calc(100% / 6 - 16px);
		}
		&.columns-7 figure {
			width: calc(100% / 7 - 16px);
		}
		&.columns-8 figure {
			width: calc(100% / 8 - 16px);
		}
	}
}
