// Normalize Link and edit containers, to look mostly the same.
.wp-block-navigation-link__container {
	border-radius: 0;

	// Make it the same height as the appender to prevent a jump.
	min-height: $button-size;
}


/**
 * Submenus.
 */

// Show submenus above the sibling inserter.
.wp-block-navigation .has-child {
	cursor: pointer;

	.submenu-container,
	.wp-block-navigation-link__container {
		z-index: z-index(".has-child .wp-block-navigation-link__container");
	}

	&:hover {
		.submenu-container,
		.wp-block-navigation-link__container {
			z-index: z-index(".has-child:hover .wp-block-navigation-link__container");
		}
	}

	// Show on editor selected, even if on frontend it only stays open on focus-within.
	&.is-selected,
	&.has-child-selected {
		> .wp-block-navigation-link__container {
			// We use important here because if the parent block is selected and submenus are present, they should always be visible.
			visibility: visible !important;
			opacity: 1 !important;
		}
	}
}


/**
 * Navigation Items.
 */

.wp-block-navigation-link {
	.wp-block-navigation-link__container {
		display: block;
	}

	.wp-block-navigation-link__content {
		cursor: text;
	}

	&.is-editing,
	&.is-selected {
		min-width: 20px;
	}

	.block-list-appender {
		margin-top: $grid-unit-20;
		// The right margin should be set to auto, so as to not shift layout in flex containers.
		margin-right: auto;
		margin-bottom: $grid-unit-20;
		margin-left: $grid-unit-20;
	}
}

.wp-block-navigation .block-editor-block-list__block[data-type="core/navigation-link"] {
	& > .block-editor-block-list__insertion-point {
		display: none;
	}
}

/**
 * Menu item setup state. Is shown when a menu item has no URL configured.
 */

a.wp-block-navigation-link__placeholder.wp-block-navigation-link__placeholder {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&::before {
		content: "\200b"; // Zero width space.
		display: block;
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		opacity: 1;
		background: currentColor;
		line-height: 1;

		// Wavy underline.
		mask-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 6 3\"><path d=\"M0 .8c1.5 0 1.5 1.5 3 1.5S4.5.8 6 .8\" fill=\"none\" stroke-width=\"1.5\" stroke=\"black\" stroke-miterlimit=\"10\"/></svg>");
		mask-size: 6px 3px;
		mask-repeat: repeat-x;
		mask-position: 0 100%;
		padding-bottom: 3px;
	}

	.wp-block-navigation-link__placeholder-text {
		position: relative;
		z-index: 1;
	}
}
