.wp-block-navigation-link {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0 0.5em 0 0;

	.wp-block-navigation-link__container:empty {
		display: none;
	}
}

// Styles for submenu flyout.
.has-child {
	> .wp-block-navigation-link__content {
		padding-right: 0.5em;
	}

	.wp-block-navigation-link__container {
		border: 1px solid rgba(0, 0, 0, 0.15);
		background-color: inherit;
		color: inherit;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: normal;
		min-width: 200px;

		// Hide until hover or focus within.
		opacity: 0;
		transition: opacity 0.1s linear;
		visibility: hidden;

		> .wp-block-navigation-link {
			> .wp-block-navigation-link__content {
				flex-grow: 1;
			}
			> .wp-block-navigation-link__submenu-icon {
				padding-right: 0.5em;
			}
		}

		@include break-medium {
			left: 1.5em;

			// Nested submenus sit to the left on large breakpoints
			.wp-block-navigation-link__container {
				left: 100%;
				top: -1px;

				// Prevent the menu from disappearing when the mouse is over the gap
				&::before {
					content: "";
					position: absolute;
					right: 100%;
					height: 100%;
					display: block;
					width: 0.5em;
					background: transparent;
				}
			}

			.wp-block-navigation-link__submenu-icon svg {
				transform: rotate(0);
			}
		}
	}

	// Separating out hover and focus-within so hover works again on IE: https://davidwalsh.name/css-focus-within#comment-513401
	// We will need to replace focus-within with a JS solution for IE keyboard support.

	// Show submenus on hover.
	&:hover > .wp-block-navigation-link__container {
		visibility: visible;
		opacity: 1;
	}

	// Keep submenus open when focus is within.
	&:focus-within > .wp-block-navigation-link__container {
		visibility: visible;
		opacity: 1;
	}
}

// Default background and font color.
.wp-block-navigation:not(.has-background) {
	.submenu-container, // This target items created by the Page List block.
	.wp-block-navigation__container .wp-block-navigation-link__container {
		// Set a background color for submenus so that they're not transparent.
		// NOTE TO DEVS - if refactoring this code, please double-check that
		// submenus have a default background color, this feature has regressed
		// several times, so care needs to be taken.
		background-color: #fff;
		color: #000;
	}
}

// Force links to inherit text decoration applied to navigation block.
.wp-block-navigation[style*="text-decoration"] {
	.wp-block-navigation-link__container,
	.wp-block-navigation-link {
		text-decoration: inherit;
	}
	.wp-block-navigation-link__content {
		text-decoration: inherit;

		&:focus,
		&:active {
			text-decoration: inherit;
		}
	}
}

.wp-block-navigation:not([style*="text-decoration"]) {
	.wp-block-navigation-link__content {
		text-decoration: none;

		&:focus,
		&:active {
			text-decoration: none;
		}
	}
}

// All links.
.wp-block-navigation-link__content {
	display: block;
	color: inherit;
	padding: 0.5em 1em;

	+ .wp-block-navigation-link__content {
		padding-top: 0;
	}
	.has-text-color & {
		color: inherit;
	}
}

.wp-block-navigation-link__label {
	word-break: normal;
	overflow-wrap: break-word;
}

.wp-block-navigation-link__submenu-icon {
	height: inherit;
	padding: 0.375em 1em 0.375em 0;

	svg {
		fill: currentColor;

		@include break-medium {
			transform: rotate(90deg);
		}
	}
}
