// To override the style in block-editor/block-inspector.
.block-editor-block-inspector h3 {
	margin-bottom: 0;
}

#customize-theme-controls .customize-pane-child.accordion-section-content.customize-widgets-layout__inspector {
	background: $white;
	box-sizing: border-box;

	* {
		box-sizing: inherit;
	}

	.block-editor-block-inspector {
		margin: -$grid-unit-15;
	}
}

#customize-theme-controls .customize-pane-child.accordion-section-content.control-section-sidebar.open {
	transition: 0.18s transform cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */

	&.is-inspector-open {
		transform: translateX(-100%);
	}
}
