#customize-theme-controls .customize-pane-child.accordion-section-content.customize-widgets-layout__inspector {
	background: #fff;

	.block-editor-block-inspector {
		margin: -12px;
	}
}

#customize-theme-controls .customize-pane-child.accordion-section-content.control-section-sidebar.open {
	transition: 0.18s transform cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */

	&.is-inspector-open {
		transform: translateX(-100%);
	}
}
