.editor-canvas {
	height: 100%;

	&.is-resizable {
		max-height: 100%;

		// To hide the horizontal scrollbar and show the drag handle on the
		// left and right of the container.
		.components-resizable-box__container {
			overflow: visible;
			margin: 0 auto;
		}
	}

	&.has-padding {
		padding: $grid-unit-30 $grid-unit-30 0;
	}
}
