.wp-block-slider-pagination-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: none;
	color: currentColor;
	border: none;
	border-radius: 2px;
	padding: 4px;
	line-height: 1;

	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.4;
		pointer-events: none;
	}

	.wp-block-slider-pagination-button__icon,
	svg {
		width: 24px;
		height: 24px;
		fill: currentColor;
		flex-shrink: 0;
		display: block;
	}
}
