.editor-post-permalink {
	display: inline-flex;
	align-items: center;
	background: $white;
	padding: 5px;
	font-family: $default-font;
	font-size: $default-font-size;
	height: 40px;
	width: 390px;
	@include break-mobile() {
		width: 470px;
	}
	@include break-small() {
		width: 605px;
	}
	@include break-large() {
		width: 742px;
	}
}

.editor-post-permalink__label {
	margin: 0 10px;
	font-weight: bold;
}

.editor-post-permalink__link {
	color: $dark-gray-200;
	text-decoration: underline;
	margin-right: 10px;
	width: 100%;
	overflow: hidden;
	position: relative;
	white-space: nowrap;

	&:after {
		@include long-content-fade( $size: 20% );
	}
}

.editor-post-permalink__slug {
	color: $dark-gray-300;
	font-weight: bold;
	padding: 0;
}

.editor-post-permalink__slug-form {
	display: inline;
	width: 100%;
}

.editor-post-permalink__save {
	float: right;
}

.editor-post-permalink .editor-post-permalink__edit {
	margin-left: 6px;
}
