@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/mixins" as *;
@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/base-styles/z-index" as *;

.customize-widgets-header {
	@include break-small() {
		// Make space for the floating toolbar.
		margin-bottom: $grid-unit-20 + $default-block-margin;
	}

	&.is-fixed-toolbar-active {
		// Top toolbar mode toolbar should be right under the header.
		margin-bottom: 0;
	}

	display: flex;
	justify-content: flex-end;

	// Offset the customizer's sidebar padding.
	// Zero bottom margin so that the fixed toolbar is right under the header.
	margin: -15px ( -$grid-unit-15 ) ( 0 ) ( -$grid-unit-15 );

	// Match the customizer grey background.
	background: #f0f0f1;
	border-bottom: 1px solid $gray-200;

	z-index: z-index(".customize-widgets__topbar");
}

.customize-widgets-header-toolbar {
	display: flex;
	border: none;
	width: 100%;
	align-items: center;
	gap: $grid-unit-10;
	// Keep the outset focus ring of the first and last buttons within the
	// customizer sidebar, which clips its overflow.
	padding: 0 $grid-unit-15;

	// The Toolbar component adds different styles to buttons, so we reset them
	// here to the original button styles, consistent with the document tools
	// of the other editors.
	// Specificity bump needed to offset https://github.com/WordPress/gutenberg/blob/8ea29cb04412c80c9adf7c1db0e816d6a0ac1232/packages/components/src/toolbar/style.scss#L76
	> .components-button.has-icon.has-icon.has-icon,
	> .components-dropdown > .components-button.has-icon.has-icon {
		height: $button-size-compact;
		min-width: $button-size-compact;
		padding: 4px;

		&.is-pressed {
			background: $gray-900;
		}

		&:focus:not(:active) {
			@include outset-ring__focus();
		}

		&::before {
			display: none;
		}
	}

	.customize-widgets-header-toolbar__inserter-toggle.components-button.has-icon {
		border-radius: $radius-small;
		color: $white;
		// Push the inserter toggle and the buttons after it to the end.
		margin: $grid-unit-15 0 $grid-unit-15 auto;

		svg {
			@media not (prefers-reduced-motion) {
				transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
			}
		}

		&.is-pressed {
			svg {
				transform: rotate(45deg);
			}
		}
	}
}
