.edit-site-template-card {
	display: flex;
	align-items: flex-start;

	&__content {
		flex-grow: 1;
		margin-bottom: $grid-unit-05;
	}

	&__title {
		font-weight: 500;
		line-height: $icon-size;
		&.edit-site-template-card__title {
			margin: 0;
		}
	}

	&__description {
		font-size: $default-font-size;
		margin: 0 0 $grid-unit-20;
	}

	&__icon {
		flex: 0 0 $icon-size;
		margin-right: $grid-unit-15;
		width: $icon-size;
		height: $icon-size;
	}

	&__template-areas-list {
		margin: 0;

		> li {
			margin: 0;
		}
	}

	&__template-areas-item {
		width: 100%;

		// Override the default padding.
		&.components-button.has-icon {
			padding: 0;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		margin: 0 0 $grid-unit-05;
	}

	&__actions {
		line-height: 0;
		> .components-button.is-small.has-icon {
			padding: 0;
			min-width: auto;
		}
	}
}

h3.edit-site-template-card__template-areas-title {
	font-weight: 500;
	margin: 0 0 $grid-unit-10;
}
