.editor-template-areas {
	&__list {
		margin: 0;
		> li {
			margin: 0;
		}
	}

	&__item {
		width: 100%;

		// Override the default padding.
		&.components-button.has-icon {
			padding: 0;
		}
	}
}

h3.components-heading.editor-template-areas__title {
	font-weight: 500;
	margin: 0 0 $grid-unit-10;
}
