.edit-site-sidebar-navigation-screen-page__featured-image-wrapper {
	background-color: $gray-800;
	margin-bottom: $grid-unit-20;
	min-height: 128px;
	border-radius: $grid-unit-05;
}

.edit-site-sidebar-navigation-screen-page__featured-image {
	border-radius: 2px;
	height: 128px;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $gray-600;
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		object-position: 50% 50%;
	}
}

.edit-site-sidebar-navigation-screen-page__featured-image-description {
	font-size: $helptext-font-size;
}

.edit-site-sidebar-navigation-screen-page__excerpt {
	font-size: $helptext-font-size;
	margin-bottom: $grid-unit-30;
}

.edit-site-sidebar-navigation-screen-page__modified {
	margin: 0 0 $grid-unit-20 0;
	color: $gray-600;
	margin-left: $grid-unit-20;
	.components-text {
		color: $gray-600;
	}
}

.edit-site-sidebar-navigation-screen-page__status {
	display: inline-flex;

	time {
		display: contents;
	}

	svg {
		height: 16px;
		width: 16px;
		margin-right: $grid-unit-10;
		fill: $alert-yellow;
	}

	&.has-publish-status svg,
	&.has-future-status svg {
		fill: $alert-green;
	}
}
