// Dismissible notices.
.components-editor-notices__dismissible {
	position: sticky;
	top: $header-height;
	right: 0;
	color: $dark-gray-900;

	@include break-small {
		top: 0;
	}
}

// Non-dismissible notices.
.components-editor-notices__pinned {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	color: $dark-gray-900;
}

.components-editor-notices__dismissible,
.components-editor-notices__pinned {
	.components-notice {
		margin: 0 0 5px;
		padding: 6px 12px;
		min-height: $panel-header-height;

		.components-notice__dismiss {
			margin: 10px 5px;
		}
	}
}

.components-editor-notices__snackbar {
	width: 100%;
}
