.wp-block[data-align="left"] > .wp-block-pullquote,
.wp-block[data-align="right"] > .wp-block-pullquote {
	& p {
		font-size: 1.25rem;
	}
}

.wp-block-pullquote {
	& blockquote p {
		font-size: 1.75rem;
		line-height: 1.6;
	}
}

.wp-block-pullquote.is-style-solid-color {
	margin-left: 0;
	margin-right: 0;

	& blockquote p {
		font-size: 2rem;
	}

	.wp-block-pullquote__citation {
		text-transform: none;
		font-style: normal;
	}
}

.wp-block-pullquote .wp-block-pullquote__citation {
	color: inherit;
}
