%shared {
	border-width: 3px 0;
	padding: 21px 16px;
}

.light {
	@extend %shared;
	border-top-color: $block-line-color;
	border-bottom-color: $block-line-color;
}

.dark {
	@extend %shared;
	border-top-color: $block-line-color-dark;
	border-bottom-color: $block-line-color-dark;
}
