%shared {
	border-width: 3px 0;
	padding: 21px 16px;
}

.light {
	@extend %shared;
	border-top-color: $studio-gray-10;
	border-bottom-color: $studio-gray-10;
}

.dark {
	@extend %shared;
	border-top-color: $gray-50;
	border-bottom-color: $gray-50;
}
