figure.wp-block-pullquote {
	padding: 3em 0;
	border: none;
	blockquote {
		border: none;
		margin-left: auto;
		margin-right: auto;
		text-align: left;

		max-width: 60%;

		p {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 32px;
		}

		cite {
			text-transform: none;
		}
	}

	&.alignleft,
	&.alignright {
		max-width: $content-width / 2;
		font-size: 20px;
	}

	cite,
	footer {
		position: relative;
	}
	.has-text-color a {
		color: inherit;
	}
}

.wp-block-pullquote.is-style-border-color {
	border-top: 4px solid #555d66;
	border-bottom: 4px solid #555d66;
	padding: 0;
	blockquote {
		padding: 3em 0;
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		max-width: 100%;

		p {
			margin-top: 1em;
			margin-bottom: 1em;
			font-size: 28px;
			line-height: 1.6;
		}

		cite {
			text-transform: uppercase;
		}
	}
}


.wp-block-pullquote cite {
	color: inherit;
}
