.wp-block-pullquote {
	border-top: 4px solid var(--wp--color--foreground-500, $dark-gray-500);
	border-bottom: 4px solid var(--wp--color--foreground-500, $dark-gray-500);
	margin-bottom: $default-block-margin;
	color: var(--wp--color--foreground-600, $dark-gray-600);

	cite,
	footer,
	&__citation {
		color: var(--wp--color--foreground-600, $dark-gray-600);
		text-transform: uppercase;
		font-size: $default-font-size;
		font-style: normal;
	}
}
