@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.fields-controls__featured-image-placeholder {
	border-radius: $radius-small;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	display: inline-block;
	padding: 0;
	background:
		$white
		linear-gradient(-45deg, transparent 48%, $gray-300 48%, $gray-300 52%, transparent 52%);
}

.fields-controls__featured-image-title {
	width: 100%;
	color: $gray-900;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.fields-controls__featured-image-image {
	width: 100%;
	height: 100%;
	border-radius: $radius-small;
	align-self: center;
}

.fields-controls__featured-image-container {
	.fields-controls__featured-image-placeholder {
		margin: 0;
	}

	span {
		margin-right: auto;
	}
}

fieldset.fields-controls__featured-image {
	// Reset `fieldset` browser defaults.
	border: 0;
	padding: 0;
	margin: 0;

	.fields-controls__featured-image-container {
		border: $border-width solid $gray-300;
		border-radius: $radius-small;
		padding: 8px 12px;
		cursor: pointer;
		&:hover {
			background-color: $gray-100;
		}
	}

	.fields-controls__featured-image-placeholder {
		width: 24px;
		height: 24px;
	}

	span {
		align-self: center;
		text-align: start;
		white-space: nowrap;
	}

	.fields-controls__featured-image-upload-button {
		padding: 0;
		height: fit-content;
		&:hover,
		&:focus {
			border: 0;
			color: unset;
		}
	}

	.fields-controls__featured-image-remove-button {
		place-self: end;
	}
}

.dataforms-layouts-panel__field-control {
	.fields-controls__featured-image-image {
		width: 16px;
		height: 16px;
	}

	.fields-controls__featured-image-placeholder {
		width: 16px;
		height: 16px;
	}
}

.dataviews-view-grid__media,
.dataviews-view-table__cell-content-wrapper.dataviews-column-primary__media,
.dataviews-view-list__media-wrapper {
	.fields-controls__featured-image-image,
	.fields-controls__featured-image-placeholder {
		width: 100%;
		height: 100%;
		display: block;
		border-radius: $radius-medium;
	}

	.fields-controls__featured-image-placeholder {
		box-shadow: none;
		background: $gray-100;
	}
}

.dataviews-view-table__cell-content-wrapper.dataviews-column-primary__media {
	.fields-controls__featured-image-image,
	.fields-controls__featured-image-placeholder {
		width: 32px;
		height: 32px;
	}
}
