.edit-site-style-book__tab-panel {
	.components-tab-panel__tabs {
		background: $white;
		color: $gray-900;
	}

	.components-tab-panel__tab-content {
		bottom: 0;
		left: 0;
		overflow: auto;
		padding: 0;
		position: absolute;
		right: 0;
		top: $grid-unit-60; // Height of tabs.
	}
}
