.edit-site-fullscreen-mode-close.has-icon {
	// Do not show the toolbar icon on small screens,
	// when Fullscreen Mode is not an option in the "More" menu.
	display: none;

	@include break-medium() {
		display: flex;
		align-items: center;
		align-self: stretch;
		border: none;
		background: #23282e; // WP-admin gray.
		color: $white;
		border-radius: 0;
		height: $header-height;
		width: $header-height;

		&:hover {
			background: #32373d; // WP-admin light-gray.
		}

		&:active {
			color: $white;
		}

		&:focus {
			box-shadow: inset 0 0 0 $border-width-focus var(--wp-theme-color), inset 0 0 0 3px $white;
		}
	}
}
