.locationPicker {
	margin-block-end: var(--wpds-dimension-padding-md);
	max-width: calc(var(--wpds-dimension-base) * 100);
}

.locationInput {
	flex: 1;
	min-inline-size: calc(var(--wpds-dimension-base) * 30);
}

.eventNone {
	padding-block: var(--wpds-dimension-padding-sm);
	color: var(--wpds-color-fg-content-neutral-weak);
}

.statusText {
	color: var(--wpds-color-fg-content-neutral-weak);
	margin: 0;
}

.footer {
	padding-block-start: var(--wpds-dimension-padding-md);
	margin-block-start: var(--wpds-dimension-padding-md);
	border-block-start: var(--wpds-border-width-sm) solid
		var(--wpds-color-stroke-surface-neutral-weak);
}

.footerLinks {
	margin-inline-start: auto;
}
