.block-collab-add-block-selections__block {
	position: relative;
}

.block-collab-add-block-selections__block.is-peer-selected {
	outline: 1px dashed #000;
}

.block-collab-add-block-selections__block-peer-names {
	font-size: 12px;
	position: absolute;
	top: 100%;
}

.block-collab-add-block-selections--caret {
	background: #eee;
	position: relative;
}

.block-collab-add-block-selections--caret.is-collapsed {
	background: none;
}

.block-collab-add-block-selections--caret::before {
	background: inherit;
	bottom: 0;
	box-shadow: 0 0 2px 0 #2e3d48;
	content: "";
	font-size: 1em;
	left: -1px;
	position: absolute;
	top: 0;
	width: 2px;
}

.block-collab-add-block-selections--caret.is-at-end::before {
	left: auto;
	right: -1px;
}

.block-collab-add-block-selections--caret::after {
	background-color: inherit;
	box-shadow: 0 0 2px 0 #2e3d48;
	content: "";
	height: 8px;
	left: -4px;
	position: absolute;
	top: -8px;
	width: 8px;
}

.block-collab-add-block-selections--caret.is-at-end::after {
	left: auto;
	right: -4px;
}
