.panelActionsContainer {
	border-top-color: $border-color;
	border-top-width: 1px;
}

.panelActionsContainerDark {
	border-top-color: $border-color-dark;
}

.defaultLabelStyle {
	color: $alert-red;
}
