.editor-layout,
.editor-layout__content {
	height: 100%;
}

.editor-layout {
	position: relative;

	.components-notice-list {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		.notice {
			margin: 0 0 5px;
			padding: 6px 12px;
			min-height: $panel-header-height;

			.notice-dismiss {
				margin: 5px;
			}
		}
	}
}

.editor-layout__metaboxes:not(:empty) {
	border-top: 1px solid $light-gray-500;
	margin-top: 10px;
	padding: 10px 0;

	.editor-meta-boxes-area {
		max-width: $visual-editor-max-width;
		margin: auto;
	}
}

.editor-layout__content {
	position: relative;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
