.blocks-inspector-control {
	margin-bottom: 10px;
}

.blocks-inspector-control__label {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.blocks-inspector-control__input {
	width: 100%;
	padding: 6px 10px;
}