.spacing-sizes-control {
	.spacing-sizes-control__custom-value-input,
	.spacing-sizes-control__label {
		margin-bottom: 0;
	}

	.is-marked {
		.components-range-control__track {
			transition: width ease 0.1s;
			@include reduce-motion("transition");
		}

		.components-range-control__thumb-wrapper {
			transition: left ease 0.1s;
			@include reduce-motion("transition");
		}
	}

	.spacing-sizes-control__range-control,
	.spacing-sizes-control__custom-value-range {
		height: 40px;
		/* Vertically center the RangeControl until it has true 40px height. */
		display: flex;
		align-items: center;
		margin-bottom: 0;
		flex: 1;

		> .components-base-control__field {
			/* Fixes RangeControl contents when the outer wrapper is flex */
			flex: 1;
		}
	}

	.components-range-control__mark {
		transform: translateX(-50%);
		height: $grid-unit-05;
		width: math.div($grid-unit-05, 2);
		background-color: $white;
		z-index: 1;
		top: -#{$grid-unit-05};
	}

	.components-range-control__marks {
		margin-top: 17px;
	}

	.components-range-control__thumb-wrapper {
		z-index: 3;
	}
}

.spacing-sizes-control__header {
	height: $grid-unit-20;
	margin-bottom: $grid-unit-15;
}

.spacing-sizes-control__dropdown {
	height: $grid-unit-30;
}

.spacing-sizes-control__custom-select-control,
.spacing-sizes-control__custom-value-input {
	flex: 1;
}

.spacing-sizes-control__icon,
.spacing-sizes-control__custom-toggle {
	flex: 0 0 auto;
}

.spacing-sizes-control__icon {
	margin-left: $grid-unit-05 * -1; // Aligns the icon to the control header.
}
