.editor-block-settings-menu__popover {
	z-index: z-index( '.editor-block-settings-menu__popover' );

	&:before,
	&:after {
		margin-left: 2px;
	}

	.components-popover__content {
		width: 182px;
	}
}

.editor-block-settings-menu__content {
	width: 100%;
}

// The ellipsis icon button
.editor-block-settings-menu__toggle {
	border-radius: 50%;
	width: auto;
	padding: 2px;
	margin: 14px 4px 14px 8px;
	width: $icon-button-size-small;

	.dashicon {
		transform: rotate( 90deg );
	}
}

.editor-block-settings-menu__section {
	margin-top: $item-spacing;
	padding-top: $item-spacing;
	border-top: 1px solid $light-gray-500;
}

// Popout menu
.editor-block-settings-menu__control {
	width: 100%;
	justify-content: flex-start;
	padding: 8px;
	background: none;
	outline: none;
	border-radius: 0;
	color: $dark-gray-500;
	cursor: pointer;
	border: 1px solid transparent;

	&:hover,
	&:focus,
	&:not(:disabled):hover {
		box-shadow: none;
		color: $dark-gray-500;
		border: 1px solid $dark-gray-500;
	}

	.dashicon {
		margin-right: 5px;
	}
}

.editor-block-settings-menu__section {
	margin-top: $item-spacing;
	padding-top: $item-spacing;
	border-top: 1px solid $light-gray-500;
}
