.components-tooltip {
	background: $black;
	font-family: $default-font;
	border-radius: $radius-block-ui;
	color: $gray-100;
	text-align: center;
	line-height: 1.4;
	font-size: 12px;
	padding: $grid-unit-05 $grid-unit-10;
	z-index: z-index(".components-tooltip");
}

.components-tooltip__shortcut {
	margin-left: $grid-unit-10;
}

