#customize-outer-theme-controls #sub-accordion-section-widgets-inserter {
	padding: 0;

	.customize-section-description-container {
		display: none;
	}
}

.customize-widgets-layout__inserter-panel {
	background: #fff;
}

.customize-widgets-layout__inserter-panel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $grid-unit-20;
	height: $customize-widgets-header-width;
	box-sizing: border-box;

	.customize-widgets-layout__inserter-panel-header-title {
		margin: 0;
	}

	.customize-widgets-layout__inserter-panel-header-close-button {
		text-decoration: none;
		text-transform: uppercase;
	}
}

.block-editor-inserter__quick-inserter {
	.block-editor-inserter__panel-content {
		// To fix quick inserter doesn't have background.
		background: $white;
	}
}
