// Link input
$input-padding: 10px;
$input-size: 230px;

.editor-block-list__block .blocks-url-input {
	width: 100%;
	flex-grow: 1;
	position: relative;
	width: $input-size;

	input[type=text] {
		width: 100%;
		padding: $input-padding;
		border: none;
		margin: 0;

		&::-ms-clear {
			display: none;
		}
	}

	.spinner {
		position: absolute;
		right: 0;
		top: 10px;
		margin: 0;
	}
}

// Suggestions
.blocks-url-input__suggestions {
	position: relative;
	z-index: 0;	// place underneath the input field so focus isn't cropped
	background: $white;
	max-height: 200px;
	overflow-y: scroll;
	transition: all .15s ease-in-out;
	list-style: none;
	margin: 0;
	padding: 4px 0;
	border-top: 1px solid $light-gray-500;
	width: $input-size + $icon-button-size * 2;
}

.blocks-url-input__suggestion {
	padding: 4px ( $icon-button-size + $input-padding );
	color: $dark-gray-300; // lightest we can use for contrast
	display: block;
	font-size: $default-font-size;
	cursor: pointer;
	background: $white;
	width: 100%;
	border: none;
	text-align: left;

	&.is-selected {
		background: darken( $blue-medium-500, 15 ); // is overridden in _admin-schemes.scss to be theme dependant
		color: $white;
	}
}

// Toolbar button
.components-toolbar > .blocks-url-input__button {
	position: inherit;	// let the dialog position according to parent
}

.blocks-url-input__button .blocks-url-input__back {
	margin-right: 4px;
	overflow: visible;

	&::after {
		content: '';
		position: absolute;
		display: block;
		width: 1px;
		height: 24px;
		right: -1px;
		background: $light-gray-500;
	}
}

.blocks-url-input__button .blocks-url-input__suggestions {
	left: -40px;
	right: -32px;
}
