:root {
	--wp-theme-color-neutral-1: #fff;
	--wp-theme-color-neutral-2: #f9f9f9;
	--wp-theme-color-neutral-3: #f1f1f1;
	--wp-theme-color-neutral-4: #e8e8e8;
	--wp-theme-color-neutral-5: #e0e0e0;
	--wp-theme-color-neutral-6: #dadada;
	--wp-theme-color-neutral-7: #cfcfcf;
	--wp-theme-color-neutral-8: #b3b3b3;
	--wp-theme-color-neutral-9: #848484;
	--wp-theme-color-neutral-10: #727272;
	--wp-theme-color-neutral-11: #5b5b5b;
	--wp-theme-color-neutral-12: #1e1e1e;

	.wp-theme-dark {
		--wp-theme-color-neutral-1: #161616;
		--wp-theme-color-neutral-2: #191919;
		--wp-theme-color-neutral-3: #252525;
		--wp-theme-color-neutral-4: #2c2c2c;
		--wp-theme-color-neutral-5: #333;
		--wp-theme-color-neutral-6: #292929;
		--wp-theme-color-neutral-7: #434343;
		--wp-theme-color-neutral-8: #595959;
		--wp-theme-color-neutral-9: #656565;
		--wp-theme-color-neutral-10: #848484;
		--wp-theme-color-neutral-11: #a9a9a9;
		--wp-theme-color-neutral-12: #ebebeb;
	}

	--wp-theme-color-neutral-bg-surface: var(--wp-theme-color-neutral-1);
	--wp-theme-color-neutral-bg-input: var(--wp-theme-color-neutral-1);
	--wp-theme-color-neutral-text-inverse-strong: var(--wp-theme-color-neutral-1);
	--wp-theme-color-neutral-bg-input-disabled: var(--wp-theme-color-neutral-1);
	--wp-theme-color-neutral-bg-muted: var(--wp-theme-color-neutral-2);
	--wp-theme-color-neutral-text-inverse: var(--wp-theme-color-neutral-2);
	--wp-theme-color-neutral-bg: var(--wp-theme-color-neutral-3);
	--wp-theme-color-neutral-bg-hover: var(--wp-theme-color-neutral-4);
	--wp-theme-color-neutral-bg-active: var(--wp-theme-color-neutral-5);
	--wp-theme-color-neutral-border: var(--wp-theme-color-neutral-6);
	--wp-theme-color-neutral-border-disabled: var(--wp-theme-color-neutral-6);
	--wp-theme-color-neutral-border-input: var(--wp-theme-color-neutral-7);
	--wp-theme-color-neutral-border-strong: var(--wp-theme-color-neutral-7);
	--wp-theme-color-neutral-border-hover: var(--wp-theme-color-neutral-7);
	--wp-theme-color-neutral-border-strong-hover: var(--wp-theme-color-neutral-8);
	--wp-theme-color-neutral-bg-strong: var(--wp-theme-color-neutral-9);
	--wp-theme-color-neutral-bg-strong-hover: var(--wp-theme-color-neutral-10);
	--wp-theme-color-neutral-text-muted: var(--wp-theme-color-neutral-10);
	--wp-theme-color-neutral-text: var(--wp-theme-color-neutral-11);
	--wp-theme-color-neutral-text-hover: var(--wp-theme-color-neutral-12);
	--wp-theme-color-neutral-text-strong: var(--wp-theme-color-neutral-12);
	--wp-theme-color-neutral-bg-inverse: var(--wp-theme-color-neutral-12);
	/*
	--wp-theme-color-primary-text-inverse-strong: #fff;
	--wp-theme-color-primary-bg: var(--wp-theme-color-primary-3);
	--wp-theme-color-primary-bg-hover: var(--wp-theme-color-primary-4);
	--wp-theme-color-primary-bg-active: var(--wp-theme-color-primary-5);
	--wp-theme-color-primary-bg-strong: var(--wp-admin-theme-color, #3858e9);
	--wp-theme-color-primary-bg-strong-hover: var(--wp-theme-color-primary-10);
	--wp-theme-color-primary-text-muted: var(--wp-theme-color-primary-10);
	--wp-theme-color-primary-text: var(--wp-theme-color-primary-11);
	--wp-theme-color-primary-text-hover: var(--wp-theme-color-primary-12);
	--wp-theme-color-primary-text-strong: var(--wp-theme-color-primary-12);
 */

}

