:root {
	--wp-theme-color-neutral-bg-surface: var(--wp-theme-color-neutral-1);
	--wp-theme-color-neutral-bg-input: var(--wp-theme-color-neutral-1);
	--wp-theme-color-neutral-text-inverse-strong: var(--wp-theme-color-neutral-1);
	--wp-theme-color-neutral-bg-input-disabled: var(--wp-theme-color-neutral-1);
	--wp-theme-color-neutral-bg-muted: var(--wp-theme-color-neutral-2);
	--wp-theme-color-neutral-text-inverse: var(--wp-theme-color-neutral-2);
	--wp-theme-color-neutral-bg: var(--wp-theme-color-neutral-3);
	--wp-theme-color-neutral-bg-hover: var(--wp-theme-color-neutral-4);
	--wp-theme-color-neutral-bg-active: var(--wp-theme-color-neutral-5);
	--wp-theme-color-neutral-border: var(--wp-theme-color-neutral-6);
	--wp-theme-color-neutral-border-disabled: var(--wp-theme-color-neutral-6);
	--wp-theme-color-neutral-border-input: var(--wp-theme-color-neutral-7);
	--wp-theme-color-neutral-border-strong: var(--wp-theme-color-neutral-7);
	--wp-theme-color-neutral-border-hover: var(--wp-theme-color-neutral-7);
	--wp-theme-color-neutral-border-strong-hover: var(--wp-theme-color-neutral-8);
	--wp-theme-color-neutral-bg-strong: var(--wp-theme-color-neutral-9);
	--wp-theme-color-neutral-bg-strong-hover: var(--wp-theme-color-neutral-10);
	--wp-theme-color-neutral-text-muted: var(--wp-theme-color-neutral-10);
	--wp-theme-color-neutral-text: var(--wp-theme-color-neutral-11);
	--wp-theme-color-neutral-text-hover: var(--wp-theme-color-neutral-12);
	--wp-theme-color-neutral-text-strong: var(--wp-theme-color-neutral-12);
	--wp-theme-color-neutral-bg-inverse: var(--wp-theme-color-neutral-12);
}

