.edit-post-editor-regions {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	position: relative;

	// On Mobile keep a margin for the header and admin header
	// as both of these are fixed
	top: 0;
	@include break-medium() {
		margin-top: 0;

		// On Desktop position the container as fixed to avoid scroll bleed.
		position: fixed;
		top: $admin-bar-height;
		left: 0;
		right: 0;
		bottom: 0;
		height: auto;
		.is-fullscreen-mode & {
			top: 0;
		}
	}
}
@include editor-left(".edit-post-editor-regions");

.edit-post-editor-regions__body {
	flex-grow: 1;
	display: flex;

	// On Mobile the header is fixed to keep HTML as scrollable.
	@include break-medium() {
		overflow: auto;
	}
}

.edit-post-editor-regions__content {
	flex-grow: 1;

	// On Mobile the header is fixed to keep HTML as scrollable.
	@include break-medium() {
		overflow: auto;
	}
}

.edit-post-editor-regions__sidebar {
	width: auto; // Keep the sidebar width flexible.
	flex-shrink: 0;
	position: fixed !important; // Need to override the default relative positionning
	z-index: z-index(".edit-post-editor-regions__sidebar");
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $white;

	&:empty {
		display: none;
	}

	// On Mobile the header is fixed to keep HTML as scrollable.
	@include break-medium() {
		overflow: auto;
		border-left: $border-width solid $light-gray-500;
		position: relative !important;
		z-index: z-index(".edit-post-editor-regions__sidebar {greater than small}");
	}
}

.edit-post-editor-regions__header {
	flex-shrink: 0;
	height: auto;  // Keep the height flexible.
	border-bottom: $border-width solid $light-gray-500;
	z-index: z-index(".edit-post-editor-regions__header");

	// On Mobile the header is sticky.
	position: sticky;
	top: 0;

	@include break-small() {
		top: $admin-bar-height-big; // The top bar is fixed on this breakpoint.
	}

	@include break-medium() {
		// Cancel the fixed positionning used in mobile.
		position: initial;
		top: 0;
	}
}

.edit-post-editor-regions__footer {
	height: auto;  // Keep the height flexible.
	flex-shrink: 0;
	overflow: auto;
	border-top: $border-width solid $light-gray-500;

	// On Mobile the footer is hidden
	display: none;
	@include break-medium() {
		display: block;
	}
}

.edit-post-editor-regions__publish {
	z-index: z-index(".edit-post-editor-regions__publish");
	position: fixed !important; // Need to override the default relative positionning
	top: -9999em;
	bottom: auto;
	left: auto;
	right: 0;
	width: $sidebar-width;

	&:focus {
		top: auto;
		bottom: 0;
	}
}
