.block-list-appender {
	margin: $block-padding;

	// Certain Blocks (eg: Column) act as as a "passthrough container"
	// and therefore have their vertical margins/padding removed via negative margins
	// therefore we need to compensate for this here by doubling the spacing on the
	// vertical to ensure there is equal visual spacing around the inserter. Note there
	// is no formal API for a passthrough Block but in lieu of that a `is-` class should
	// suffice here
	.is-passthrough & {
		margin-top: $block-padding*2;
		margin-bottom: $block-padding*2;
	}
}

.block-list-appender > .block-editor-inserter {
	display: block;
}

.block-list-appender__toggle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: $grid-size-large * 2;
	outline: $border-width dashed $dark-gray-150;
	width: 100%;
	color: $dark-gray-500;
	background: $dark-opacity-light-100;

	&:hover,
	&:focus {
		outline: $border-width dashed $dark-gray-500;
	}

	> span {
		margin-top: 0.5em;
	}
}

// Use opacity to work in various editor styles
.is-dark-theme .block-list-appender__toggle {
	background: $light-opacity-light-100;
	color: $light-gray-100;

	&:hover,
	&:focus {
		outline: $border-width dashed $white;
	}
}
