.block-list-appender > .block-editor-inserter {
	display: block;
}

.block-list-appender__toggle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: $grid-size-large * 2;
	outline: $border-width dashed $dark-gray-150;
	width: 100%;
	color: $dark-gray-500;
	background: $dark-opacity-light-200;

	&:hover,
	&:focus {
		outline: $border-width dashed $dark-gray-500;
	}

	> span {
		margin-top: 1em;
		font-weight: bold;
	}
}

// Cater for dark themes
// https://wordpress.org/gutenberg/handbook/designers-developers/developers/themes/theme-support/#dark-backgrounds
.is-dark-theme .block-list-appender__toggle {
	background: $light-opacity-light-200;
	color: $light-gray-100;

	&:hover,
	&:focus {
		outline: $border-width dashed $white;
	}
}
