.toolbar {
	flex-direction: row;
	height: $mobile-block-toolbar-height;
	align-items: flex-start;
	margin-left: $block-toolbar-margin;
	margin-right: $block-toolbar-margin;
}

.spacer {
	flex-grow: 1;
}
