.toolbar {
	flex-direction: row;
	height: $mobile-block-toolbar-height;
	align-items: flex-start;
	margin-left: 3px;
	margin-right: 3px;
}

.toolbarFullWidth {
	padding-left: $block-edge-to-content / 2;
	padding-right: $block-edge-to-content / 2;
}

.spacer {
	flex-grow: 1;
}
