// Higher specificity to override some Button styles.
.edit-site-global-styles-variations_item.edit-site-global-styles-variations_item {
	display: inline-block;
	position: relative;
	height: auto;
	padding: 1px;
	box-shadow: inset 0 0 0 1px $gray-600;
	// Show the boundary of the button, in Windows High Contrast Mode.
	outline: 1px solid transparent;

	.edit-site-global-styles-variations_item-preview {
		display: block;
		padding: $border-width * 2;

		.edit-site-global-styles-color-variations & {
			padding: $grid-unit-10;
		}
	}

	& .edit-site-global-styles-variations_active-icon {
		position: absolute;
		top: -7px;
		right: -7px;
		display: block;
		box-shadow: inset 0 0 0 1px $gray-800, inset 0 0 0 2px $white;
		border-radius: 100%;
		background: $gray-800;
		fill: $white;
	}
}
