.edit-site-global-styles-variations_item {
	box-sizing: border-box;
	// To round the outline in Windows 10 high contrast mode.
	border-radius: $radius-block-ui;
	cursor: pointer;

	.edit-site-global-styles-variations_item-preview {
		border-radius: $radius-block-ui;
		// Shown in Windows 10 high contrast mode.
		outline: 1px solid transparent;
		position: relative;
		// Add the same transition that block style variations and other buttons have.
		transition: box-shadow 0.1s linear;
		@include reduce-motion("transition");

		&::after {
			content: "";
			position: absolute;
			top: -$border-width;
			left: -$border-width;
			bottom: -$border-width;
			right: -$border-width;
			// Visually resembles the $radius-block-ui.
			border-radius: $radius-block-ui + $border-width;
			box-shadow: inset 0 0 0 $border-width rgba(0, 0, 0, 0.2);
			// Show a thin outline in Windows high contrast mode, otherwise the button is invisible.
			border: $border-width solid transparent;
			box-sizing: inherit;
			// Add the same transition that block style variations and other buttons have.
			transition: box-shadow 0.1s linear;
			@include reduce-motion("transition");
		}

		.edit-site-global-styles-color-variations & {
			padding: $grid-unit-10;
		}
	}

	&:not(.is-active):hover .edit-site-global-styles-variations_item-preview::after {
		box-shadow: inset 0 0 0 $border-width rgba(0, 0, 0, 0.4);
	}

	&.is-active .edit-site-global-styles-variations_item-preview,
	&:focus-visible .edit-site-global-styles-variations_item-preview {
		box-shadow: inset 0 0 0 $border-width $white, 0 0 0 var(--wp-admin-border-width-focus) $gray-900;
		// Shown in Windows 10 high contrast mode.
		outline-width: 3px;

		&::after {
			box-shadow: inset 0 0 0 1px $white;
		}
	}
}
