.embed__container {
	flex: 1;
	min-height: 142;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $gray-lighten-30;
	padding-left: 12;
	padding-right: 12;
	padding-top: 12;
	padding-bottom: 12;
	border-top-left-radius: 4;
	border-top-right-radius: 4;
	border-bottom-left-radius: 4;
	border-bottom-right-radius: 4;
}

.embed__container--dark {
	background-color: $background-dark-secondary;
}

.embed__icon {
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	fill: $gray-dark;
}

.embed__label {
	text-align: center;
	margin-top: 4;
	margin-bottom: 16;
	font-size: 14;
	color: #2e4453;
}

.embed__label--dark {
	color: $white;
}

.embed-empty__description {
	width: 100%;
	text-align: center;
	color: $blue-wordpress;
	font-size: 14;
	font-weight: 500;
}

.embed-preview__loading {
	flex: 1;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: $gray-lighten-30;
	justify-content: center;
	align-items: center;
}

.embed-preview__loading--dark {
	background-color: $background-dark-secondary;
}

.embed-preview__placeholder-text {
	font-size: $default-font-size;
	text-align: center;
	color: $light-primary;
}

.embed-preview__placeholder-text--dark {
	color: $dark-primary;
}
