.container {
	background-color: $gray-light;
	padding: 12px;
	border-radius: 4px;
	flex-direction: row;
	align-items: center;
}

@mixin circle($width) {
	width: $width;
	height: $width;
	border-radius: $width/2;
}

.iconContainer {
	background-color: $white;
	align-items: center;
	justify-content: center;
	@include circle(36px);
}

.icon {
	color: $black;
}

.titleContainer {
	flex: 1;
	margin: 0 12px;
}

.title {
	flex: 1;
	font-size: 12;
}

.subtitle {
	flex: 1;
	font-size: 10;
}


.buttonText {
	padding: 8px;
	font-size: 14;
	font-weight: 500;
}

