.block-editor-segmented-text-control {
	border: 0;
	margin: 0;
	padding: 0;

	.block-editor-segmented-text-control__buttons {
		// 4px of padding makes the row 40px high, same as an input.
		padding: $grid-unit-05 0;
		display: flex;
	}

	.components-button.has-icon {
		margin-right: $grid-unit-05;
	}
}
