$block-inserter-content-height: 262px;

.editor-inserter {
	display: inline-block;
	background: none;
	border: none;
	padding: 0;
	font-family: $default-font;
	font-size: $default-font-size;
	line-height: $default-line-height;

	@include break-medium {
		position: relative;
	}
}

.editor-inserter__toggle {
	display: inline-flex;
	align-items: center;
	color: $dark-gray-500;
	background: none;
	cursor: pointer;
	border: none;
	outline: none;
	transition: color .2s ease;
}

.editor-inserter__filter-form {
	position: relative;
	box-shadow: 0 1px 0 0 $light-gray-500;
}

input[type="search"].editor-inserter__search {
	display: block;
	width: calc( 100% - 36px );
	margin: 0;
	padding: 11px 16px;
	box-shadow: none;
	position: relative;
	z-index: 1;
	border: none;
	@include square-style__neutral;

	// fonts smaller than 16px causes mobile safari to zoom
	font-size: $mobile-text-min-font-size;
	@include break-small {
		font-size: $default-font-size;
	}

	&:focus {
		@include square-style__focus;
	}
}

.editor-inserter__category-blocks {
	display: flex;
	flex-flow: row wrap;
	padding: 8px;
}

.editor-inserter__menu {
	width: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	@include break-medium {
		width: 350px;
		position: relative;

		.editor-block-preview {
			border: 1px solid $light-gray-500;
			box-shadow: $shadow-popover;
			background: $white;
			position: absolute;
			left: 100%;
			top: -1px;
			bottom: -1px;
			width: 300px;
		}
	}
}

.editor-inserter__menu.is-bottom:after {
	border-bottom-color: $white;
}

.editor-inserter__block {
	display: flex;
	flex-direction: column;
	width: calc( 33% - 8px );
	margin: 4px;
	font-size: $default-font-size;
	color: $dark-gray-500;
	padding: 8px 4px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	line-height: 1em;
	background: transparent;
	min-height: 5em;
	overflow: hidden;
	word-break: break-word;

	.dashicon {
		color: $dark-gray-700;
		margin-bottom: 3px;
	}

	&:disabled {
		@include button-style__disabled;
	}

	&:not(:disabled) {
		&:hover {
			@include button-style__hover;
		}

		&:focus,
		&:active,
		&.is-active {
			@include button-style__focus-active;
			position: relative;
		}
	}
}

.editor-inserter__separator {
	background: rgba( $white, .8 );
	text-align: center;
	display: block;
	margin: 0;
	padding: 12px 14px;
	font-size: $default-font-size;
	font-weight: 600;
	margin-top: -1px;	// hide the first top border
}

.editor-inserter__results {
	flex-grow: 1;
	overflow: auto;

	@include break-medium {
		height: $block-inserter-content-height;
	}
}

.editor-inserter__tab {
	border-bottom: 1px solid $light-gray-500;
}

.editor-inserter__tab-title {
	color: $dark-gray-100;
	padding: 10px 0 0 10px;
	font-size: 13px;
}

.editor-inserter__no-blocks {
	display: block;
	text-align: center;
	font-style: italic;
	padding: 24px;
}

.editor-inserter__navigation-toggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	height: 40px;
}

.editor-inserter__navigation {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;

	border: 1px solid $light-gray-500;
	box-shadow: $shadow-popover;
	background: $white;
	background: $light-gray-100;

	@include break-medium {
		left: 0;
		top: 10px;
		bottom: 10px;
		min-width: 150px;
		animation: editor-inserter__navigation-slide 0.3s forwards;
		z-index: z-index( '.editor-inserter__navigation {greater than medium}' );
	}

	.editor-inserter__navigation-button {
		display: block;
		padding: 10px;
		width: 100%;
		text-align: left;

		&.is-selected {
			@include button-style__focus-active;
		}

		&:hover {
			@include button-style__hover;
		}
	}
}

.editor-inserter__navigation-title {
	padding: 10px;
	color: $dark-gray-100;
}

@keyframes editor-inserter__navigation-slide {
	100% {
		left: 100%;
	}
}

.editor-inserter__navigation-close {
	position: absolute;
	top: 0;
	right: 0;
	color: $dark-gray-100;
}
