.wp-block-columns {

	.editor-inner-blocks {
		display: grid;
		grid-auto-flow: dense;
	}

	@for $i from 2 through 6 {
		&.has-#{ $i }-columns .editor-inner-blocks {
			grid-auto-columns: #{ 100% / $i };
		}
	}

	@for $i from 1 through 6 {
		.layout-column-#{ $i } {
			grid-column: #{ $i };
		}
	}
}
