.wp-block-categories {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	&.alignleft {
		/*rtl:ignore*/
		margin-right: 2em;
	}
	&.alignright {
		/*rtl:ignore*/
		margin-left: 2em;
	}
	/* Only apply the text align on dropdowns, not lists. */
	&.wp-block-categories-dropdown.aligncenter {
		text-align: center;
	}
	& .wp-block-categories__label {
		width: 100%;
		display: block;
	}
}
