.wp-block-categories {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	&.alignleft {
		/*rtl:ignore*/
		margin-right: 2em;
	}
	&.alignright {
		/*rtl:ignore*/
		margin-left: 2em;
	}
}
