/** @format */

.unsupportedBlock {
	background-color: #e9eff3; // grey lighten 30
	padding-top: 24;
	padding-bottom: 24;
	padding-left: 8;
	padding-right: 8;
	align-items: center;
	justify-content: center;
}

.unsupportedBlockIcon {
	color: $gray-dark;
}

.unsupportedBlockMessage {
	margin-top: 2;
	text-align: center;
	color: $gray-dark;
	font-size: 14;
}
