.block-directory-downloadable-block-list-item {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	font-size: $default-font-size;
	color: $dark-gray-700;
	align-items: flex-start;
	justify-content: center;
	background: transparent;
	word-break: break-word;
	border-top: $border-width solid $light-gray-500;
	border-bottom: $border-width solid $light-gray-500;
	transition: all 0.05s ease-in-out;
	@include reduce-motion("transition");
	position: relative;
	text-align: left;
	overflow: hidden;
}

.block-directory-downloadable-block-list-item:last-child:not(:only-of-type) {
	border-top: 0;
}

.block-directory-downloadable-block-list-item:last-child {
	border-bottom: 0;
}

.block-directory-downloadable-block-list-item__panel {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.block-directory-downloadable-block-list-item__header {
	display: flex;
	flex-direction: column;
	padding: $grid-unit-20 $grid-unit-20 0;
}

.block-directory-downloadable-block-list-item__body {
	display: flex;
	flex-direction: column;
	padding: $grid-unit-20;
}

.block-directory-downloadable-block-list-item__footer {
	display: flex;
	flex-direction: column;
	padding: $grid-unit-20;
	background-color: $light-gray-200;
}

.block-directory-downloadable-block-list-item__content {
	color: $dark-gray-400;
}
