.wp-block-widget-group {
	&.has-child-selected::after {
		border-radius: $radius-small;
		border: $border-width solid var(--wp-admin-theme-color);
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.widget-title {
		font-family: $default-font;
		font-size: 18px;
		font-weight: 600;
	}
}

.wp-block-widget-group__placeholder {
	.block-editor-inserter {
		width: 100%;
	}
}

// Force the appender to always have "light mode" styling as it appears in a
// light colored placeholder.
.is-dark-theme .wp-block-widget-group__placeholder .block-editor-button-block-appender {
	box-shadow: inset 0 0 0 $border-width $gray-900;
	color: $gray-900;
}
