.editor-post-featured-image {
	padding: 0;

	&__container {
		margin-bottom: 1em;
		position: relative;
	}

	.components-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -9px;
		margin-left: -9px;
	}

	// Stack consecutive buttons.
	.components-button + .components-button {
		display: block;
		margin-top: 1em;
	}

	// This keeps images at their intrinsic size (eg. a 50px
	// image will never be wider than 50px).
	.components-responsive-wrapper__content {
		max-width: 100%;
		width: auto;
	}
}

.editor-post-featured-image__dropdown {
	display: block;
}

.editor-post-featured-image__toggle,
.editor-post-featured-image__preview {
	display: block;
	width: 100%;
	padding: 0;
	transition: all 0.1s ease-out;
	@include reduce-motion("transition");
	box-shadow: 0 0 0 0 var(--wp-admin-theme-color);
}

.editor-post-featured-image__preview {
	height: auto;

	.components-responsive-wrapper {
		background: $gray-100;
	}

	&:hover,
	&:focus,
	&.is-menu-open {
		.editor-post-featured-image__preview-icon {
			visibility: visible;
		}
	}
}

.editor-post-featured-image__preview:not(:disabled):not([aria-disabled="true"]):focus {
	box-shadow: 0 0 0 4px var(--wp-admin-theme-color);
}

.editor-post-featured-image__toggle {
	border-radius: $radius-block-ui;
	background-color: $gray-100;
	min-height: 90px;
	line-height: 20px;
	padding: $grid-unit-10 0;
	text-align: center;

	&:hover {
		background: $gray-300;
		color: $gray-900;
	}
}

.editor-post-featured-image__preview-icon {
	background: $white;
	border-radius: $radius-block-ui;
	display: block;
	height: $grid-unit-40;
	padding: $grid-unit-05;
	position: absolute;
	right: $grid-unit-10;
	top: $grid-unit-10;
	visibility: hidden;
	width: $grid-unit-40;
}

.editor-post-featured-image__menu {
	margin: $grid-unit-10 0;
}
