@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/base-styles/colors" as *;

.block-editor-button-block-appender {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	color: $gray-900;
	box-shadow: inset 0 0 0 $border-width $gray-900;

	.is-dark-theme & {
		color: $light-gray-placeholder;
		box-shadow: inset 0 0 0 $border-width $light-gray-placeholder;
	}

	&:hover {
		color: var(--wp-admin-theme-color);
		box-shadow: inset 0 0 0 $border-width var(--wp-admin-theme-color);
	}

	&:focus {
		box-shadow: inset 0 0 0 2px var(--wp-admin-theme-color);
	}

	&:active {
		color: $black;
	}
}

// When the appender shows up in empty container blocks, such as Group and Columns, add an extra click state.
.block-list-appender:only-child {
	.is-layout-constrained.block-editor-block-list__block:not(.is-selected) > &,
	.is-layout-flow.block-editor-block-list__block:not(.is-selected) > &,
	// Blocks with inner containers
	.block-editor-block-list__block:not(.is-selected, .block-editor-block-list__layout) > .is-layout-constrained.block-editor-block-list__layout > &,
	.block-editor-block-list__block:not(.is-selected, .block-editor-block-list__layout) > .is-layout-flow.block-editor-block-list__layout > & {
		pointer-events: none;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
			border: $border-width dashed currentColor;
		}

		> .block-editor-inserter {
			opacity: 0;

			&:focus-within {
				opacity: 1;
			}
		}

		&.is-drag-over {
			&::after {
				border: none;
			}

			.block-editor-inserter {
				opacity: 1;
			}
		}
	}

	// Drop zone.
	&.is-drag-over .block-editor-button-block-appender {
		background-color: var(--wp-admin-theme-color);
		box-shadow: inset 0 0 0 $border-width $light-gray-placeholder;
		color: $light-gray-placeholder;
		@media not ( prefers-reduced-motion ) {
			transition: background-color 0.2s ease-in-out;
		}
	}
}

.block-editor-block-list__layout.is-layout-flex {
	&:not(.is-vertical) > .block-list-appender:only-child {
		flex: 1;
		align-self: stretch;
	}

	&.is-vertical > .block-list-appender:only-child {
		flex: 1;
		width: 100%;
	}

	// Cap inserter button and dashed outline widths to indicate how the layout will distribute space/content. Exempt stretched vertical layouts.
	&:not(.is-vertical.is-content-justification-stretch) > .block-list-appender:only-child {
		> .block-editor-inserter,
		&::after {
			width: 200px;
		}
	}

	&:not(.is-vertical).is-vertical-alignment-stretch > .block-list-appender:only-child
	.block-editor-button-block-appender {
		height: auto;
	}

	> .block-list-appender:only-child {
		gap: inherit;
		align-items: inherit;
		justify-content: inherit;
		flex-direction: inherit;

		&,
		.block-editor-inserter {
			display: inherit;
		}

		&::after {
			content: "";
			display: inherit;
			//flex: 1 0 $button-size-next-default-40px;
			pointer-events: none;
			min-height:
				$button-size-next-default-40px - $border-width -
				$border-width;
			border: $border-width dashed currentColor;
		}

		// Let the parent be selectable in the placeholder area.
		pointer-events: none;
		.block-editor-inserter,
		.block-editor-button-block-appender {
			pointer-events: all;
		}
	}
}
