.block-editor-button-block-appender {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: $block-padding;
	width: 100%;
	height: auto;
	color: $dark-gray-500;
	border: $border-width solid $border-color;

	&:hover,
	&:focus {
		border-color: $theme-color;
	}

	&:active {
		border-color: $dark-gray-900;
		color: $dark-gray-900;
	}
}
