.edit-navigation-editor {
	flex-grow: 1;

	@include break-medium() {
		align-items: flex-start;
		display: flex;
	}
}

.edit-navigation-editor__block-view {
	padding: $grid-unit-20;
	@include break-medium() {
		flex-grow: 1;
		align-self: stretch;
	}

	.components-spinner {
		display: block;
		margin: 10px auto;
	}
}

.edit-navigation-editor__list-view {
	border-top: 1px solid $gray-300;
	padding: $grid-unit-20;

	@include break-medium() {
		border-left: 1px solid $gray-300;
		border-top: none;
		margin-top: 0;
		width: 300px;
	}

	.edit-navigation-editor__list-view-title {
		font-size: 1.2em;
		margin: 0;
	}

	.components-spinner {
		display: block;
		margin: 100px auto;
	}
}
