.edit-navigation-editor {
	background: $white;
	border: $border-width solid $gray-900;
	border-radius: $radius-block-ui;
	margin-top: $grid-unit-50 * 2;

	.components-spinner {
		display: block;
		margin: $grid-unit-15 auto;
	}

	// The following attempts to adapt the layout of the Navigation
	// and Link blocks to work better in the context of the Navigation Screen.
	.wp-block-navigation {
		margin: 0;
		font-size: 15px;
		padding: $grid-unit-15;
	}

	.wp-block-navigation-link {
		display: block;

		// The following attempts to fix the focus outlines
		&.is-selected > .wp-block-navigation-link__content,
		&.is-selected:hover > .wp-block-navigation-link__content {
			box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
		}

		&.block-editor-block-list__block:not([contenteditable]):focus::after {
			display: none;
		}
	}

	.wp-block-navigation-link__content {
		padding: 0;
		margin-bottom: 6px;//$grid-unit-05;
		border-radius: $radius-block-ui;

		&:hover {
			box-shadow: 0 0 0 $border-width $gray-300;
		}
	}

	.wp-block-navigation-link__label {
		padding: $grid-unit-15;

		// Without this, Links with submenus display a pointer.
		cursor: text;
	}

	// Hide the submenu icons
	.wp-block-navigation-link__submenu-icon {
		display: none;
	}

	// Submenus
	// There's a bunch of stuff to override just to get submenus to
	// as a normal block element.
	.wp-block-navigation-link.has-child {
		cursor: default;
	}

	// Highlight the parent while editing a child block.
	.wp-block-navigation-link.has-child.is-editing {
		box-shadow: 0 0 0 1px $gray-400;
		border-radius: $radius-block-ui;
		padding: $grid-unit-05;
		margin: 0 0 $grid-unit-05 -$grid-unit-05;

		> .wp-block-navigation__container {
			opacity: 1;
			visibility: visible;
			position: relative;
			background: transparent;
			top: auto;
			left: auto;
			padding-left: $grid-unit-15;
			min-width: auto;
			width: 100%;
			border: none;
			display: block;

			&::before {
				display: none;
			}
		}
	}

	// Add Buttons
	.block-editor-button-block-appender.block-list-appender__toggle {
		margin: 0;
		padding: 0;
	}
}
