# Documentation
/docs                                           @youknowriad @chrisvanpatten @mkaz @ajitbohra @nosolosw @notnownikki
/docs/designers-developers/developers           @youknowriad @gziolo @chrisvanpatten @mkaz @ajitbohra @nosolosw @notnownikki
/docs/designers-developers/designers            @youknowriad @chrisvanpatten @mkaz @ajitbohra @nosolosw @notnownikki

# Data
/packages/api-fetch                             @youknowriad @aduth @nerrad @mmtr
/packages/core-data                             @youknowriad @gziolo @aduth @nerrad @noisysocks
/packages/data                                  @youknowriad @aduth @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @aduth @nerrad

# Blocks
/packages/block-library                         @youknowriad @gziolo @Soean @ajitbohra @jorgefilipecosta @talldan @noisysocks @notnownikki

# Editor
/packages/annotations                           @youknowriad @aduth @atimmer @ellatrix
/packages/autop                                 @youknowriad @aduth
/packages/block-editor                          @youknowriad @gziolo @talldan @noisysocks @ellatrix
/packages/block-serialization-spec-parser       @youknowriad @gziolo @aduth @dmsnell
/packages/block-serialization-default-parser    @youknowriad @gziolo @aduth @dmsnell
/packages/blocks                                @youknowriad @gziolo @aduth @noisysocks @ellatrix
/packages/edit-post                             @youknowriad @talldan @noisysocks
/packages/editor                                @youknowriad @talldan @noisysocks
/packages/list-reusable-blocks                  @youknowriad @aduth @noisysocks
/packages/shortcode                             @youknowriad @aduth

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/docs/tool                                      @youknowriad @gziolo @chrisvanpatten @mkaz @ajitbohra @nosolosw @notnownikki
/packages/babel-plugin-import-jsx-pragma        @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra @nosolosw
/packages/babel-plugin-makepot                  @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra @nosolosw
/packages/browserslist-config                   @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/custom-templated-path-webpack-plugin  @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw @mkaz @gziolo
/packages/e2e-test-utils                        @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra @nosolosw
/packages/jest-console                          @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra @nosolosw @mkaz

# UI Components
/packages/components                            @youknowriad @gziolo @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks @chrisvanpatten
/packages/compose                               @youknowriad @gziolo @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/element                               @youknowriad @gziolo @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/notices                               @youknowriad @gziolo @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/nux                                   @youknowriad @gziolo @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/viewport                              @youknowriad @gziolo @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks

# Utilities
/packages/a11y                                  @youknowriad @gziolo @aduth
/packages/blob                                  @youknowriad @gziolo @aduth
/packages/date                                  @youknowriad @gziolo @aduth
/packages/deprecated                            @youknowriad @gziolo @aduth
/packages/dom                                   @youknowriad @gziolo @aduth @nosolosw @ellatrix
/packages/dom-ready                             @youknowriad @gziolo @aduth
/packages/escape-html                           @youknowriad @gziolo @aduth
/packages/html-entities                         @youknowriad @gziolo @aduth
/packages/i18n                                  @youknowriad @aduth @swissspidy
/packages/is-shallow-equal                      @youknowriad @gziolo @aduth
/packages/keycodes                              @youknowriad @gziolo @aduth @talldan @ellatrix
/packages/priority-queue                        @youknowriad @gziolo @aduth
/packages/token-list                            @youknowriad @gziolo @aduth
/packages/url                                   @youknowriad @gziolo @aduth @talldan
/packages/wordcount                             @youknowriad @gziolo @aduth

# Extensibility
/packages/hooks                                 @youknowriad @gziolo @aduth @adamsilverstein
/packages/plugins                               @youknowriad @gziolo @aduth @adamsilverstein

# Rich Text
/packages/format-library                        @youknowriad @aduth @ellatrix @jorgefilipecosta
/packages/rich-text                             @youknowriad @aduth @ellatrix @jorgefilipecosta
/packages/block-editor/src/components/rich-text @youknowriad @aduth @ellatrix @jorgefilipecosta

# PHP
/lib                                            @youknowriad @gziolo @aduth

# Styles
*.scss                                          @chrisvanpatten

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed
