.edit-site-template-part-converter__modal {
	z-index: z-index(".edit-site-template-part-converter__modal");

	.components-modal__frame {
		@include break-small {
			max-width: 500px;
		}
	}
}


.edit-site-template-part-converter__convert-modal-actions {
	padding-top: $grid-unit-15;
}

.edit-site-template-part-converter__area-base-control .components-base-control__label {
	margin: $grid-unit-20 0 $grid-unit-10;
	cursor: auto;
}

.edit-site-template-part-converter__area-radio-group {
	width: 100%;
	border: $border-width solid $gray-700;
	border-radius: 2px;

	.components-button.edit-site-template-part-converter__area-radio {
		display: block;
		width: 100%;
		height: 100%;
		text-align: left;
		padding: $grid-unit-15;

		&,
		&.is-secondary:hover,
		&.is-primary:hover {
			margin: 0;
			background-color: inherit;
			border-bottom: $border-width solid $gray-700;
			border-radius: 0;

			&:not(:focus) {
				box-shadow: none;
			}

			&:focus {
				border-bottom: $border-width solid $white;
			}

			&:last-of-type {
				border-bottom: none;
			}
		}

		&:not(:hover),
		&[aria-checked="true"] {
			color: $gray-900;
			cursor: auto;

			.edit-site-template-part-converter__option-label div {
				color: $gray-600;
			}
		}

		.edit-site-template-part-converter__option-label {
			padding-top: $grid-unit-05;
			white-space: normal;

			div {
				padding-top: $grid-unit-05;
				font-size: $helptext-font-size;
			}
		}

		.edit-site-template-part-converter__checkbox {
			margin-left: auto;
			min-width: $grid-unit-30;
		}
	}
}
