// Justification.
.items-justified-left > ul {
	justify-content: flex-start;
}

.items-justified-center > ul {
	justify-content: center;
}

.items-justified-right > ul {
	justify-content: flex-end;
}

.items-justified-space-between > ul {
	justify-content: space-between;
}
