.editor-post-publish-panel {
	background: $white;
}

.editor-post-publish-panel__content {
	// Ensure the post-publish panel accounts for the header and footer height.
	min-height: calc(100% - #{ $header-height + 84px });

	.components-spinner {
		display: block;
		margin: 100px auto 0;
	}
}

.editor-post-publish-panel__header {
	background: $white;
	padding-left: 8px;
	padding-right: 8px;
	height: $header-height;
	border-bottom: $border-width solid $light-gray-500;
	display: flex;
	align-items: center;
	align-content: space-between;

	.components-button.has-icon {
		position: absolute;
		right: 8px;
	}
}

.editor-post-publish-panel__header-publish-button {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	text-align: right;
	flex-wrap: nowrap;
}

.editor-post-publish-panel__header-published {
	flex-grow: 1;
}

.editor-post-publish-panel__footer {
	padding: 16px;
}

.components-button.editor-post-publish-panel__toggle.is-primary {
	display: inline-flex;
	align-items: center;

	&.is-busy .dashicon {
		display: none;
	}

	.dashicon {
		margin-right: -4px;
	}
}

.editor-post-publish-panel__link {
	font-weight: 400;
	padding-left: 4px;
}

.editor-post-publish-panel__prepublish {
	padding: 16px;

	strong {
		color: $dark-gray-900;
	}

	.components-panel__body {
		background: $white;
		margin-left: -16px;
		margin-right: -16px;
	}

	.editor-post-visibility__dialog-legend {
		display: none;
	}

	// The DateTime component has an intrinsic padding in order for the horizontal scrolling to function inside a popover.
	// We unset that here when used inline.
	.components-datetime {
		padding: 0;
	}
}

.post-publish-panel__postpublish .components-panel__body {
	border-bottom: $border-width solid $light-gray-500;
	border-top: none;
}

.post-publish-panel__postpublish-buttons {
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	margin: -5px;

	> * {
		flex-grow: 1;
		margin: 5px;
	}

	.components-button {
		height: auto;
		justify-content: center;
		padding: 3px 10px 4px;
		line-height: 1.6;
		text-align: center;
		white-space: normal;
	}

	.components-clipboard-button {
		width: 100%;
	}
}

.post-publish-panel__postpublish-post-address {
	margin-bottom: $grid-size-large;

	input[readonly] {
		padding: 10px;
		background: $light-gray-400;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.post-publish-panel__postpublish-header {
	font-weight: 500;
}

.post-publish-panel__postpublish-subheader {
	margin: 0 0 $grid-size;
}

.post-publish-panel__tip {
	color: $alert-yellow;
}
