body.js.is-fullscreen-mode {

	@include break-medium {
		// Reset the html.wp-topbar padding.
		// Because this uses negative margins, we have to compensate for the height.
		margin-top: -$admin-bar-height-big;
		height: calc(100% + #{ $admin-bar-height-big });
		@include break-medium() {
			margin-top: -$admin-bar-height;
			height: calc(100% + #{ $admin-bar-height });
		}

		// Hide the top adminbar toolbar.
		#wpadminbar {
			display: none;
		}

		// Display the sidebar offscreen, and then transition in when needed.
		#adminmenumain {
			position: relative;
			top: 60px;
			left: -160px;
			transition: left 0.12s ease-in-out;
		}

		// This is all so stupid
		#adminmenu {
			position: relative;
			bottom: auto;
		}

		#adminmenuback {
			top: 60px;
		}

		.block-editor-editor-skeleton__body,
		.block-editor-editor-skeleton__footer {
			transition: margin-left 0.12s ease-in-out;
		}

		#wpcontent,
		#wpfooter {
			margin-left: 0;
		}
	}
}

body.js.is-showing-admin-menu {
	#adminmenumain {
		left: 0;
	}

	.block-editor-editor-skeleton__body,
	.block-editor-editor-skeleton__footer {
		margin-left: 160px;
	}
}
