.block-editor-discover-block-info__content {
	font-size: 14px;
}

.block-editor-discover-block-info__row {
	display: flex;
	justify-content: space-between;
	color: $dark-gray-400;
	margin-top: 8px;

	.block-editor-discover-block-info__column {
		display: flex;
		align-items: flex-start;

		.dashicon {
			font-size: 16px;
			margin-right: 4px;
		}

		.dashicons-chart-line {
			font-weight: 900;
		}
	}
}
