/** @format */

.unsupportedBlock {
	background-color: #e9eff3; // grey lighten 30
	padding-top: 8;
	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
}

.unsupportedBlockMessage {
	text-align: center;
	color: #4f748e; // grey darken 20
	padding-top: 24;
	padding-bottom: 24;
	font-size: 16px;
	font-family: $default-regular-font;
}
