.wp-block[data-align="center"] > .wp-block-icon {
	display: flex;
	justify-content: center;
}

.wp-block-icon__toolbar-content {
	width: 250px;
}

.wp-block-icon__placeholder {
	backdrop-filter: blur(100px);
}
