/**
 * Editor and frontend styles for the Icon Block.
 */

/* Icon Block styles. */
.wp-block-icon {
	display: flex;
	line-height: 0;

	// Unset border styling inherited from block props.
	&.has-border-color {
		border: none;
	}

	&.has-icon-color,
	.has-icon-color {
		svg {
			color: currentColor;
		}

		&:not(.has-no-icon-fill-color) {
			svg {
				fill: currentColor;
			}
		}
	}

	// box-sizing is set in the Editor but not on the frontend.
	.icon-container {
		box-sizing: border-box;
	}

	svg {
		width: 100%;
		height: 100%;
		transition: transform 0.1s ease-in-out;
		transform: rotate(var(--outermost--icon-block--transform-rotate, 0deg)) scaleX(var(--outermost--icon-block--transform-scale-x, 1)) scaleY(var(--outermost--icon-block--transform-scale-y, 1));
	}

}
