

.edit-site-sidebar-navigation_data-list__item {
	.edit-site-sidebar-navigation_data-list__label {
		color: $gray-400;
		width: 100px;
	}

	.edit-site-sidebar-navigation_data-list__value.edit-site-sidebar-navigation_data-list__value {
		color: $white;
	}
}
