// Import styles for rendering the static content of deprecated block versions.
@import "./deprecated.scss";

.wp-block-separator {
	border: none;
	border-bottom: 2px solid currentColor;
	margin-left: auto;
	margin-right: auto;

	&.has-alpha-channel-opacity {
		opacity: initial;
	}

	// Default, thin style
	&:not(.is-style-wide):not(.is-style-dots) {
		width: 100px;
	}

	&.has-background:not(.is-style-dots) {
		border-bottom: none;
		height: 1px;
	}

	&.has-background:not(.is-style-wide):not(.is-style-dots) {
		height: 2px;
	}
}
