.wp-block-separator {
	border: none;
	border-bottom: 2px solid currentColor;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.4;

	// V2 of the block can set opacity via the backgroundColor
	// alpha channel so reset the default opacity.
	&.has-alpha-channel {
		opacity: initial;
	}

	// Default, thin style
	&:not(.is-style-wide):not(.is-style-dots) {
		width: 100px;
	}

	&.has-background:not(.is-style-dots) {
		border-bottom: none;
		height: 1px;
	}

	&.has-background:not(.is-style-wide):not(.is-style-dots) {
		height: 2px;
	}
}
