{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support"
  ],
  "plugins": [
    "react-require",
    [
      "module-resolver",
      {
        "alias": {
          "@wordpress/blocks": "./gutenberg/blocks",
          "@wordpress/editor": "./gutenberg/editor",
          "@wordpress/element": "./gutenberg/element",
          "@wordpress/hooks": "./wordpress/hooks",
          "@wordpress/utils": "./gutenberg/utils",
          "@gutenberg": "./gutenberg"
        },
        "extensions": [
          ".js",
          ".native.js",
          ".ios.js",
          ".android.js"
        ]
      }
    ],
    "react-native-classname-to-style",
    [
      "react-native-platform-specific-extensions",
      {
        "extensions": [
          "css",
          "scss",
          "sass"
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
