{
	"presets": [
		[ "latest", {
			"es2015": {
				"modules": false
			}
		} ]
	],
	"plugins": [
		"lodash",
		"transform-runtime",
		"transform-object-rest-spread",
		[ "transform-react-jsx", {
			"pragma": "wp.element.createElement"
		} ],
		[ "./i18n/babel-plugin", {
			"output": "languages/gutenberg.pot"
		} ]
	],
	"env": {
		"test": {
			"presets": [ "latest" ]
		}
	}
}
