{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@wordpress/hooks": "./wordpress/hooks",
          "@wordpress/i18n": "./gutenberg/i18n",
          "@gutenberg": "./gutenberg"
        },
        "extensions": [
          ".js",
          ".native.js",
          ".ios.js",
          ".android.js"
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
