.cache
build
build-module
build-types
build-wp
node_modules
packages/block-serialization-spec-parser/parser.js
packages/icons/src/library/*.tsx
packages/react-native-editor/bundle
packages/vips/src/worker-code.ts
vendor
!.*.js
