{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react",
    "wordpress",
    "jsx-a11y",
    "jest"
  ],
  "extends": [
    "wordpress",
    "plugin:wordpress/esnext",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {}
}
