[submodule "gutenberg"]
	path = gutenberg
	url = ../../WordPress/gutenberg.git
[submodule "react-native-aztec"]
	path = react-native-aztec
	url = ../react-native-aztec.git
[submodule "WordPress-iOS"]
	path = WordPress-iOS
	url = git@github.com:wordpress-mobile/WordPress-iOS.git
