engine-strict = true
legacy-peer-deps = true
prefer-dedupe = true
lockfile-version = 3
min-release-age = 1
# do not allow git dependencies
allow-git = none
# do not allow dependencies from unknown remote sources
allow-remote = none
