<phpunit
	bootstrap="tests/phpunit/includes/bootstrap.php"
        backupGlobals="false"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        >
    <testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite>
            <directory suffix=".php">tests/phpunit/tests</directory>
            <exclude>tests/phpunit/tests/actions/closures.php</exclude>
            <exclude>tests/phpunit/tests/image/editor.php</exclude>
            <exclude>tests/phpunit/tests/image/editorGd.php</exclude>
            <exclude>tests/phpunit/tests/image/editorImagick.php</exclude>
            <exclude>tests/phpunit/tests/oembed/headers.php</exclude>
            <file phpVersion="5.3.0">tests/phpunit/tests/actions/closures.php</file>
            <file phpVersion="5.3.0">tests/phpunit/tests/image/editor.php</file>
            <file phpVersion="5.3.0">tests/phpunit/tests/image/editorGd.php</file>
            <file phpVersion="5.3.0">tests/phpunit/tests/image/editorImagick.php</file>
            <file phpVersion="5.3.0">tests/phpunit/tests/oembed/headers.php</file>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>ajax</group>
            <group>ms-files</group>
            <group>ms-required</group>
            <group>external-http</group>
        </exclude>
    </groups>
    <logging>
        <log type="junit" target="tests/phpunit/build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
    <php>
        <const name="WP_RUN_CORE_TESTS" value="1" />
    </php>
	<listeners>
		<listener class="SpeedTrapListener" file="tests/phpunit/includes/speed-trap-listener.php">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>150</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
			<exclude>
				<!-- Third party library exclusions -->
				<file>src/wp-admin/includes/class-ftp*</file>
				<file>src/wp-admin/includes/class-pclzip.php</file>
				<file>src/wp-admin/includes/deprecated.php</file>
				<file>src/wp-admin/includes/ms-deprecated.php</file>

				<file>src/wp-includes/atomlib.php</file>
				<file>src/wp-includes/class-IXR.php</file>
				<file>src/wp-includes/class-json.php</file>
				<file>src/wp-includes/class-phpass.php</file>
				<file>src/wp-includes/class-phpmailer.php</file>
				<file>src/wp-includes/class-pop3.php</file>
				<file>src/wp-includes/class-requests.php</file>
				<file>src/wp-includes/class-simplepie.php</file>
				<file>src/wp-includes/class-smtp.php</file>
				<file>src/wp-includes/class-snoopy.php</file>
				<file>src/wp-includes/deprecated.php</file>
				<file>src/wp-includes/ms-deprecated.php</file>
				<file>src/wp-includes/pluggable-deprecated.php</file>
				<file>src/wp-includes/rss.php</file>

				<directory suffix=".php">src/wp-includes/ID3</directory>
				<directory suffix=".php">src/wp-includes/IXR</directory>
				<directory suffix=".php">src/wp-includes/random_compat</directory>
				<directory suffix=".php">src/wp-includes/Requests</directory>
				<directory suffix=".php">src/wp-includes/SimplePie</directory>
				<directory suffix=".php">src/wp-includes/Text</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
