/**
 * Basic
 */

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	font: 13px/1.8 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	max-width: 720px;
	margin: 60px auto;
	color: #12181e;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	fill: currentColor;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
img {
	font-family: "Merriweather", serif;
	margin: 15px 0;
	/* Uses paddings instead */
}

h2 {
	font-weight: 900;
	font-size: 28px;
}

p {
	font-size: 16px;
}

section:focus {
	outline: none;
}


/**
 * Hover controls
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
	position: relative;
	box-shadow: inset 0px 0px 0px 0px #e0e5e9;
	transition: all .2s ease;
	padding: 15px;
	/* replaces some block margins */
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover,
img:hover {
	box-shadow: inset 0px 0px 0px 2px #e0e5e9;
}

h1.is-selected,
h2.is-selected,
h3.is-selected,
h4.is-selected,
h5.is-selected,
h6.is-selected,
p.is-selected,
img.is-selected {
	box-shadow: inset 0px 0px 0px 2px #6d7882;
}

p {
	min-height: 3.4em;
}


/**
 * Block Switcher
 */

.block-switcher {
	opacity: 0;
	margin-left: -54px;
	height: 36px;
	width: 54px;
	position: absolute;
	transition: opacity .075s ease;
	transform: translateZ(0);
}

.block-switcher svg {
	fill: #86909c;
	position: absolute;
	cursor: pointer;
}

.block-switcher svg:hover {
	fill: #191e23;
}

.block-switcher svg.up,
.block-switcher svg.down {
	padding: 3px;
	width: 24px;
	height: 24px;
	left: -3px;
}

.block-switcher svg.up {
	top: -6px;
}

.block-switcher svg.down {
	bottom: -6px;
}

.block-switcher .type {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
	right: 6px;
	top: 6px;
}

.block-switcher .type svg { /* node type js picks icon here */
    display: none;
}


/**
 * Inline controls
 */

.inline-controls {
	background: #fff;
	border: 1px solid #e1e6ea;
	box-shadow: 0px 3px 20px rgba( 18, 24, 30, .1 ), 0px 1px 3px rgba( 18, 24, 30, .1 );
	color: #12181e;
	display: inline-block;
	height: 38px;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	display: none;
}

.inline-controls button {
	background: #fff;
	border: none;
	width: 36px;
	height: 36px;
	padding: 6px;
	cursor: pointer;
	display: block;
	float: left;
}

.inline-controls button:hover {
	background: #f0f2f4;
}

.inline-controls button:focus {
	outline: none;
}

.control-group {
	display: inline-block;
	margin-left: 20px;
}

.inline-controls button.heading-dropdown {
	width: 54px;
	position: relative;
}

.heading-dropdown .heading {
	position: absolute;
	left: 0;
	top: 0;
	width: 36px;
	height: 36px;
	padding: 6px;
}

.heading-dropdown .dropdown {
	width: 24px;
	height: 36px;
	padding: 6px 0;
	position: absolute;
	top: 0;
	right: 0;
}

.heading-dropdown sub {
	font-weight: 900;
	position: absolute;
	bottom: 8px;
}


/**
 * Block Controls
 */

 .block-controls {
 	background: #191e23;
 	display: inline-block;
 	max-height: 36px;
 	overflow: hidden;
 	position: absolute;
 	z-index: 10;
    display: none;
    transform: translateZ( 0 );
 }

 .block-controls button {
 	background: #191e23;
    color: #fff;
 	border: none;
 	width: 36px;
 	height: 36px;
 	padding: 6px;
 	cursor: pointer;
 	display: block;
 	float: left;
 }

.block-controls button.is-active {
    background: #6d7882;
}


/**
 * Inserter
 */

.insert-block {
	padding: 14px 0 0 14px;
	position: relative;
	display: inline-block;
}

.insert-block__button {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.insert-block svg {
	cursor: pointer;
	fill: #87919d;
}

.insert-block__button:hover svg {
	fill: #12181e;
}

.insert-block__button:focus {
	box-shadow: none;
	outline: none;
}

.insert-block__menu {
	display: none;
	width: 280px;
	box-shadow: 0px 3px 20px rgba( 18, 24, 30, .1 ), 0px 1px 3px rgba( 18, 24, 30, .1 );
	border: 1px solid #e0e5e9;
	position: absolute;
	left: 60px;
	bottom: 0;
	background: #fff;
}

.insert-block__search {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #e0e5e9;
	padding: 8px 16px;
	font-size: 13px;
}

.insert-block__separator {
	background: rgb(247,248,249);
	display: block;
	padding: 4px 16px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 500;
	color: #9ea7af;
}
.insert-block__block-list {
	display: flex;
	flex-flow: row wrap;
}
.insert-block__block {
	display: flex;
	width: 50%;
	color: #606a73;
	padding: 8px;
	font-size: 12px;
	align-items: center;
}
.insert-block__block svg {
	margin-right: 4px;
}

img.align-full-bleed {
	margin-left: calc(50% - 50vw);
	width: 100vw;
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}

img.align-left {
	float: left;
	width: 340px;
	margin: 0 16px 0 0;
}

img.align-right {
	float: right;
	width: 340px;
	margin: 0 0 0 16px;
}

button.block-image__full-width,
button.block-image__no-alignment,
button.block-image__no-align,
button.block-image__align-left,
button.block-image__align-right {
	display: none;
}

.block-controls.is-image button {
	display: none;
}

.block-controls.is-image .block-image__full-width,
.block-controls.is-image .block-image__no-alignment,
.block-controls.is-image .block-image__no-align,
.block-controls.is-image .block-image__align-left,
.block-controls.is-image .block-image__align-right {
	display: block;
}
