@layer wp-ui {
	@layer utilities, components, compositions, overrides;

	@layer components {
		.positioner {
			z-index: var(--wp-ui-select-z-index, initial);
		}

		.list {
			display: block;
			min-block-size: 0;
			overflow-block: auto;
			overscroll-behavior: contain;
			scroll-padding-block: var(--wp-ui-popup-padding);

			&:not(:empty) {
				padding-block: var(--wp-ui-popup-padding);
			}
		}
	}
}
