.editor-post-trash {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
	color: inherit;
	flex-grow: 1;
	color: $alert-red;
	
	.dashicon {
		margin-right: -10px;
		margin-left: 10px;
	}
}