
.richText {
	font-family: $default-regular-font;
	color: var(--wp-components-color-gray-contrast);
	text-decoration-color: $blue-500;
	background-color: transparent;
}

.richTextDark {
	color: $white;
	text-decoration-color: $blue-30;
}

.richTextPlaceholder {
	color: $gray-20;
}

.richTextPlaceholderDark {
	color: $gray-50;
}

.rich-text-selection {
	color: $black;
}

.rich-text-selection--dark {
	color: $white;
}
