.wp-block-quote {

	&.is-style-large,
	&.is-large {

		p {
			font-size: 1.33em;
			font-style: italic;
			line-height: 1.6;
		} // p

		cite,
		footer {
			font-size: 1em;
		} // cite, footer

	} // &.is-style-large, &.is-large

} // .wp-block-quote
