.components-custom-select-control {
	position: relative;
	font-size: $default-font-size;
}

.components-custom-select-control__button {
	position: relative;
	text-align: left;
	outline: 0; // focus ring is handled elsewhere
}

.components-custom-select-control__hint {
	color: $gray-600;
	margin-left: 10px;
}

.components-custom-select-control__menu {
	// Hide when collapsed.
	&[aria-hidden="true"] {
		display: none;
	}

	// Block UI appearance.
	border: $border-width solid $gray-900;
	background-color: $white;
	border-radius: $radius-block-ui;
	outline: none;
	transition: none;

	max-height: 400px;
	min-width: 100%;
	overflow: auto;
	padding: 0;
	position: absolute;
	z-index: z-index(".components-popover");
}

.components-custom-select-control__item {
	align-items: center;
	display: grid;
	grid-template-columns: auto auto;
	list-style-type: none;
	padding: $grid-unit-10 $grid-unit-20;
	cursor: default;
	line-height: $icon-size + $grid-unit-05;

	&:not(.is-next-36px-default-size) {
		padding: $grid-unit-10;
	}

	&.has-hint {
		grid-template-columns: auto auto 30px;
	}
	&.is-highlighted {
		background: $gray-300;
	}
	.components-custom-select-control__item-hint {
		color: $gray-600;
		text-align: right;
		padding-right: $grid-unit-05;
	}
	.components-custom-select-control__item-icon {
		margin-left: auto;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
