.wp-block[data-type="core/widget-area"] {
	max-width: $widget-area-width;

	.components-panel__body > .components-panel__body-title {
		font-family: $default-font;

		// Remove default hover background in panel title. See #25752.
		&:hover {
			background: inherit;
		}
	}
}

.wp-block-widget-area > .components-panel__body > .block-editor-inner-blocks {
	padding-top: $grid-unit-30;
}
