.edit-post-template-top-area {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	width: 100%;
	align-items: center;

	.edit-post-template-title,
	.edit-post-template-post-title {
		padding: 0;
		text-decoration: none;
		height: auto;

		&::before {
			height: 100%;
		}

		&.has-icon {
			svg {
				order: 1;
				margin-right: 0;
			}
		}
	}

	.edit-post-template-title {
		color: $gray-900;
	}

	.edit-post-template-post-title {
		margin-top: $grid-unit-05;
		max-width: 160px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;

		&::before {
			left: 0;
			right: 0;
		}

		@include break-xlarge() {
			max-width: 400px;
		}
	}
}

.edit-post-template-top-area__popover {
	.components-popover__content {
		min-width: 280px;
		padding: $grid-unit-10;
	}

	.edit-post-template-details__description {
		color: $gray-700;
	}
}

.edit-post-template-top-area__second-menu-group {
	margin-left: -$grid-unit-20;
	margin-right: -$grid-unit-20;
	padding: $grid-unit-20;
	padding-bottom: 0;
	border-top: $border-width solid $gray-300;

	.edit-post-template-top-area__delete-template-button {
		display: flex;
		justify-content: center;

		.components-menu-item__item {
			margin-right: 0;
			min-width: 0;
		}
	}
}
