.wp-block-image {
	width: fit-content;

	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&.is-resized {
		width: min-content;

		// Emulate min-content for Edge and IE11
		display: -ms-inline-grid;
		-ms-grid-columns: min-content;

		figcaption {
			-ms-grid-row: 2;
		}

		img {
			max-width: none;
		}
	}
}
