.edit-post-ellipsis-menu {
	// the padding and margin of the ellipsis menu is intentionally non-standard
	@include break-small() {
		margin-left: 4px;
	}

	.components-icon-button {
		padding: 7px 3px;	// should be 8px 4px but subtract 1px to account for a transparent border
		width: auto;
	}

	.components-button svg {
		transform: rotate( 90deg );
	}
}

.edit-post-ellipsis-menu__separator {
	height: 1px;
	background: $light-gray-500;
}
