@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/z-index" as *;

.editor-sync-connection-modal {
	z-index: z-index(".editor-sync-connection-modal");
}

.editor-sync-connection-modal p {
	margin: 0;
}

.editor-sync-connection-modal__retry-countdown {
	color: $gray-700;
}
