.editor-sync-connection-modal__container {
	align-items: center;
	display: flex;
	margin: auto;
	max-width: 30rem;
}

.editor-sync-connection-modal__description {
	font-size: 1.3rem;
	text-align: center;
}

.editor-sync-connection-modal__retry-countdown {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	min-height: 1.5em;
}
