.table-of-contents__items {
	margin: 20px 0;
}

.table-of-contents__item {
	margin: 4px 0;

	strong {
		background: $light-gray-500;
		color: $dark-gray-800;
		border-radius: 3px;
		font-size: 12px;
		padding: 2px 6px;
		margin-right: 4px;
	}

	&.is-invalid strong {
		background: $alert-yellow;
	}

	&::before {
		color: $light-gray-500;
		margin-right: 4px;
	}

	&.is-H2::before {
		content: '—';
	}

	&.is-H3::before {
		content: '——';
	}

	&.is-H4::before {
		content: '———';
	}

	&.is-H5::before {
		content: '————';
	}

	&.is-H6::before {
		content: '—————';
	}
}
