.table-of-contents {
	display: none;
	position: fixed;
		right: 16px;
		top: 100px;

	.is-sidebar-opened & {
		right: $sidebar-width + 16px;
	}

	@include break-small() {
		display: block;
	}
}

.table-of-contents__toggle {
	background: none;
	border: none;
	box-shadow: none;
	color: $dark-gray-300;
	cursor: pointer;
	font-family: $default-font;
	font-size: 12px;
	padding: 0 6px 4px;

	.dashicon {
		width: 20px;
		height: 20px;
		position: relative;
		top: 5px;
	}

	&:focus {
		box-shadow: $button-focus-style;
		outline: none;
	}
}

.table-of-contents__popover .components-popover__content {
	padding: 16px;
}

.table-of-contents__counts {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.table-of-contents__count {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.table-of-contents__number,
.table-of-contents__popover .word-count {
	font-size: 40px;
	font-weight: 100;
	line-height: 50px;
	color: $dark-gray-300;
}

.table-of-contents__title {
	display: block;
	margin-top: 20px;
	font-size: 15px;
	font-weight: 600;
}
