{
	"presets": [ "@wordpress/babel-preset-default" ],
	"plugins": [
		"babel-plugin-emotion",
		"babel-plugin-inline-json-import"
	],
	"env": {
		"test": {
			"plugins": [ "babel-plugin-require-context-hook" ]
		}
	}
}
