.components-dropdown-menu {
	padding: 3px;
	display: flex;

	.components-dropdown-menu__toggle {
		width: auto;
		margin: 0;
		padding: 4px;
		border: $border-width solid transparent;
		display: flex;
		flex-direction: row;

		&.is-active,
		&.is-active:hover {
			box-shadow: none;
			background-color: $dark-gray-500;
			color: $white;
		}

		&:focus::before {
			top: -3px;
			right: -3px;
			bottom: -3px;
			left: -3px;
		}

		&:hover,
		&:focus,
		&:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
			box-shadow: none;
			outline: none;
			color: $dark-gray-500;
			border-color: $dark-gray-500;
		}

		&.is-active > svg,
		&.is-active:hover > svg {
			background-color: $dark-gray-500;
			color: $white;
		}
	}
}
.components-dropdown-menu__popover .components-popover__content {
	width: 200px;
}

.components-dropdown-menu__menu {
	width: 100%;
	padding: 9px;
	font-family: $default-font;
	font-size: $default-font-size;
	line-height: $default-line-height;

	.components-dropdown-menu__menu-item {
		width: 100%;
		padding: 6px;
		border-radius: 0;
		outline: none;
		cursor: pointer;

		.dashicon {
			margin-right: 8px;
		}


		&.has-separator {
			margin-top: 6px;
			position: relative;
			overflow: visible;
		}

		&.has-separator::before {
			display: block;
			content: "";
			box-sizing: content-box;
			background-color: $light-gray-500;
			position: absolute;
			top: -3px;
			left: 0;
			right: 0;
			height: 1px;
		}
	}
}

