.components-dropdown-menu {
	padding: 3px;
	display: flex;

	.components-dropdown-menu__toggle {
		width: auto;
		margin: 0;
		padding: 4px;
		border: $border-width solid transparent;
		display: flex;
		flex-direction: row;

		&.is-active,
		&.is-active:hover {
			box-shadow: none;
			background-color: $dark-gray-500;
			color: $white;
		}

		&:focus::before {
			top: -3px;
			right: -3px;
			bottom: -3px;
			left: -3px;
		}

		&:hover,
		&:focus,
		&:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
			@include formatting-button-style__hover();
		}

		// Add a dropdown arrow indicator.
		.components-dropdown-menu__indicator::after {
			@include dropdown-arrow();
		}
	}
}

.components-dropdown-menu__popover .components-popover__content {
	width: 200px;
}

.components-dropdown-menu__menu {
	width: 100%;
	padding: ($grid-size - $border-width) 0;
	font-family: $default-font;
	font-size: $default-font-size;
	line-height: $default-line-height;

	.components-dropdown-menu__menu-item,
	.components-menu-item {
		width: 100%;
		padding: 6px;
		outline: none;
		cursor: pointer;
		margin-bottom: $grid-size-small;

		&.has-separator {
			margin-top: 6px;
			position: relative;
			overflow: visible;
		}

		&.has-separator::before {
			display: block;
			content: "";
			box-sizing: content-box;
			background-color: $light-gray-500;
			position: absolute;
			top: -3px;
			left: 0;
			right: 0;
			height: 1px;
		}

		// Plain menu styles.
		&:focus:not(:disabled):not([aria-disabled="true"]):not(.is-default) {
			@include menu-style__focus();
		}

		// Formatting buttons
		> svg {
			border-radius: $radius-round-rectangle;

			// This assumes 20x20px dashicons.
			padding: 2px;
			width: $icon-button-size-small;
			height: $icon-button-size-small;
			margin: -1px $grid-size -1px 0;
		}

		&:not(:disabled):not([aria-disabled="true"]):not(.is-default).is-active > svg {
			@include formatting-button-style__active();
		}
	}
}

.components-dropdown-menu__separator {
	margin-top: $grid-size;
	margin-bottom: $grid-size;
	margin-left: 0;
	margin-right: 0;
	border-top: $border-width solid $light-gray-500;

	// Check if the separator is the last child in the node and if so, hide itself
	&:last-child {
		display: none;
	}
}
