.components-dropdown-menu {
	padding: 3px;
	display: flex;

	.components-dropdown-menu__toggle {
		width: auto;
		margin: 0;
		padding: 4px;
		border: $border-width solid transparent;
		display: flex;
		flex-direction: row;

		&.is-active,
		&.is-active:hover {
			box-shadow: none;
			background-color: $dark-gray-500;
			color: $white;
		}

		&:focus::before {
			top: -3px;
			right: -3px;
			bottom: -3px;
			left: -3px;
		}

		&:hover,
		&:focus,
		&:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
			@include formatting-button-style__hover();
		}

		// Add a dropdown arrow indicator.
		.components-dropdown-menu__indicator::after {
			@include dropdown-arrow();
		}

		// Subscript for numbered icon buttons, like headings
		&[data-subscript]::after {
			content: attr(data-subscript);
			font-family: $default-font;
			font-size: $default-font-size;
			font-weight: 600;
			position: absolute;
			left: 20px;
			bottom: 4px;
		}

		&:not(:disabled).is-active[data-subscript]::after {
			color: $white;
		}
	}
}

.components-dropdown-menu__popover .components-popover__content {
	width: 200px;
}

.components-dropdown-menu__menu {
	width: 100%;
	padding: ($grid-size - $border-width) 0;
	font-family: $default-font;
	font-size: $default-font-size;
	line-height: $default-line-height;
	position: relative;

	.components-dropdown-menu__menu-item,
	.components-menu-item {
		width: 100%;
		padding: 6px;
		outline: none;
		cursor: pointer;
		margin-bottom: $grid-size-small;
		position: relative;

		&.has-separator {
			margin-top: 6px;
			position: relative;
			overflow: visible;
		}

		&.has-separator::before {
			display: block;
			content: "";
			box-sizing: content-box;
			background-color: $light-gray-500;
			position: absolute;
			top: -3px;
			left: 0;
			right: 0;
			height: 1px;
		}

		// Plain menu styles.
		&:focus:not(:disabled):not([aria-disabled="true"]):not(.is-default) {
			@include menu-style__focus();
		}

		// Formatting buttons
		& > svg {
			padding: 5px;
			border-radius: $radius-round-rectangle;
			height: 30px;
			width: 30px;
		}

		&[data-subscript] svg {
			padding: 5px 10px 5px 0;
		}

		// Subscript for numbered icon buttons, like headings
		&[data-subscript]::after {
			content: attr(data-subscript);
			font-family: $default-font;
			font-size: $default-font-size;
			font-weight: 600;
			position: absolute;
			left: 23px;
			bottom: 11px;
		}

		&:not(:disabled).is-active[data-subscript]::after {
			color: $white;
		}

		&:not(:disabled).is-active > svg,
		&:not(:disabled):hover > svg {
			@include formatting-button-style__hover;
		}

		// Active & toggled style
		&:not(:disabled).is-active > svg {
			@include formatting-button-style__active;
		}

		&:not(:disabled):not([aria-disabled="true"]):not(.is-default).is-active > svg {
			@include formatting-button-style__active();
		}

	}

	.components-menu-group:not(:last-child) {
		border-bottom: $border-width solid $light-gray-500;
	}

	.components-menu-item__button,
	.components-menu-item__button.components-icon-button {
		padding-left: 2rem;

		&.has-icon {
			padding-left: 0.5rem;
		}

		.dashicon {
			margin-right: 4px;
		}
	}
}
