.components-choice-menu {
	width: 100%;
	padding: 10px;
}

.components-choice-menu__label {
	margin-bottom: 10px;
	color: $dark-gray-300;
}

.components-menu-items__button,
.components-menu-items__button.components-icon-button {
	width: 100%;
	padding: 8px;
	text-align: left;
	padding-left: 25px;
	color: $dark-gray-500;

	.dashicon {
		margin-right: 5px;
	}

	&.is-selected {
		padding-left: 0;
	}

	&:hover {
		color: $black;
	}
}
