[class].edit-post-post-status {
	row-gap: $grid-unit-20;

	> :nth-child(2):not(.edit-post-post-featured-image),
	> .edit-post-post-title + :not(.edit-post-post-excerpt),
	> .edit-post-post-excerpt + * {
		margin-top: $grid-unit-20;
		position: relative;

		&::before {
			border-top: 1px solid $gray-200;
			content: "";
			left: -$grid-unit-20;
			position: absolute;
			right: -$grid-unit-20;
			top: -$grid-unit-20;
		}
	}
}
