.editor-block-list__layout .components-draggable__clone {
	// Hide the Block UI when dragging the block
	// This ensures the page scroll properly (no sticky elements)
	.editor-block-contextual-toolbar {
		// I think important is fine here to avoid over complexing the selector
		display: none !important;
	}
}

.editor-block-list__layout .editor-block-list__block.is-selected { // Needs specificity to override inherited styles.
	// While block is being dragged, dim the slot dragged from, and hide some UI.
	&.is-dragging {
		.editor-block-list__block-edit::before {
			outline: none;
		}

		> .editor-block-list__block-edit > * {
			background: $light-gray-100;
		}

		> .editor-block-list__block-edit > * > * {
			visibility: hidden;
		}

		.editor-block-mover,
		.editor-block-contextual-toolbar {
			display: none;
		}
	}

	> .editor-block-list__block-edit .reusable-block-edit-panel * {
		z-index: z-index(".editor-block-list__block-edit .reusable-block-edit-panel *");
	}
}


/**
 * General layout
 */

.editor-block-list__layout {
	// Make room in the main content column for the side UI.
	// The side UI uses negative margins to position itself so as to not affect the block width.
	@include break-small() {
		padding-left: $block-container-side-padding;
		padding-right: $block-container-side-padding;
	}

	// Don't add side padding for nested blocks.
	.editor-block-list__block & {
		// Compensate for side UI.
		padding-left: 0;
		padding-right: 0;

		// Compensate for block padding.
		margin-left: -$block-padding;
		margin-right: -$block-padding;
	}

	// Space every block, and the default appender, using margins.
	// This allows margins to collapse, which gives a better representation of how it looks on the frontend.
	.editor-default-block-appender > .editor-default-block-appender__content,
	> .editor-block-list__block > .editor-block-list__block-edit,
	> .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
		margin-top: $block-padding * 2 + $block-spacing;
		margin-bottom: $block-padding * 2 + $block-spacing;
	}
}

.editor-block-list__layout .editor-block-list__block {
	position: relative;
	padding-left: $block-padding;
	padding-right: $block-padding;

	// Break long strings of text without spaces so they don't overflow the block.
	overflow-wrap: break-word;

	@include break-small() {
		// The block mover needs to stay inside the block to allow clicks when hovering the block-.
		padding-left: $block-padding + $block-side-ui-width + $block-side-ui-clearance - $border-width;
		padding-right: $block-padding + $block-side-ui-width + $block-side-ui-clearance - $border-width;
	}

	/**
	 * Notices
	 */

	.components-placeholder .components-with-notices-ui {
		margin: -10px 20px 12px 20px;
		width: calc(100% - 40px);
	}

	.components-with-notices-ui {
		margin: 0 0 12px 0;
		width: 100%;

		.components-notice {
			margin-left: 0;
			margin-right: 0;

			.components-notice__content {
				font-size: $default-font-size;
			}
		}
	}

	/**
	 * Block outline layout
	 */

	.editor-block-list__block-edit {
		position: relative;

		&::before {
			z-index: z-index(".editor-block-list__block-edit::before");
			content: "";
			position: absolute;
			outline: $border-width solid transparent;
			transition: outline 0.1s linear;
			pointer-events: none;

			// Go edge-to-edge on mobile.
			right: -$block-padding;
			left: -$block-padding;
			top: -$block-padding;
			bottom: -$block-padding;
		}
	}

	// Selected style
	&.is-selected > .editor-block-list__block-edit::before {
		// Use opacity to work in various editor styles.
		outline: $border-width solid $dark-opacity-light-500;

		.is-dark-theme & {
			outline-color: $light-opacity-light-500;
		}
	}

	// Hover style
	&.is-hovered > .editor-block-list__block-edit::before {
		outline: $border-width solid theme(outlines);
	}

	// Spotlight mode
	&.is-focus-mode:not(.is-multi-selected) {
		opacity: 0.5;
		transition: opacity 0.1s linear;

		&:not(.is-focused) .editor-block-list__block,
		&.is-focused {
			opacity: 1;
		}
	}
}


/**
 * Cross-block selection
 */

.editor-block-list__layout .editor-block-list__block {
	::-moz-selection {
		background-color: $blue-medium-highlight;
	}

	::selection {
		background-color: $blue-medium-highlight;
	}

	// selection style for multiple blocks
	&.is-multi-selected *::selection {
		background-color: transparent;
	}

	&.is-multi-selected .editor-block-list__block-edit::before {
		background: $blue-medium-highlight;

		// Use opacity to work in various editor styles.
		mix-blend-mode: multiply;

		// Collapse extra vertical padding on selection
		top: -$block-padding;
		bottom: -$block-padding;

		.is-dark-theme & {
			mix-blend-mode: soft-light;
		}
	}
}


/**
 * Block styles and alignments
 */

.editor-block-list__layout .editor-block-list__block {
	&.has-warning {
		min-height: ( $block-padding + $block-spacing ) * 2;
	}

	// Warnings
	&.has-warning .editor-block-list__block-edit {
		// When a block has a warning, you shouldn't be able to manipulate the contents.
		> * {
			pointer-events: none;
			user-select: none;
		}

		// Allow the warning action buttons to be manipulable.
		.editor-warning {
			pointer-events: all;
		}
	}

	&.has-warning:not(.is-hovered) .editor-block-list__block-edit::before {
		// Use opacity to work in various editor styles.
		outline-color: $dark-opacity-light-500;

		.is-dark-theme & {
			outline-color: $light-opacity-light-500;
		}
	}

	&.has-warning .editor-block-list__block-edit::after {
		content: "";
		position: absolute;
		background-color: rgba($light-gray-100, 0.4);

		top: -$block-padding;
		bottom: -$block-padding;
		right: -$block-padding;
		left: -$block-padding;
	}

	// Avoid conflict with the multi-selection highlight color.
	&.has-warning.is-multi-selected .editor-block-list__block-edit::after {
		background-color: transparent;
	}

	&.has-warning.is-selected .editor-block-list__block-edit::after {
		bottom: ( $block-toolbar-height - $block-padding - $border-width );

		@include break-small() {
			bottom: -$block-padding;
		}
	}

	// Appender
	&.is-typing .editor-block-list__empty-block-inserter,
	&.is-typing .editor-block-list__side-inserter {
		opacity: 0;
		animation: none;
	}

	.editor-block-list__empty-block-inserter,
	.editor-block-list__side-inserter {
		@include edit-post__fade-in-animation;
	}

	// Reusable blocks
	&.is-reusable > .editor-block-list__block-edit::before {
		// Use opacity to work in various editor styles.
		outline: $border-width dashed $dark-opacity-light-500;

		.is-dark-theme & {
			outline-color: $light-opacity-light-500;
		}
	}

	// Alignments
	&[data-align="left"],
	&[data-align="right"] {
		// Without z-index, won't be clickable as "above" adjacent content.
		z-index: z-index(".editor-block-list__block {core/image aligned left or right}");
		width: 100%;

		// When images are floated, the block itself should collapse to zero height.
		height: 0;

		// Hide block outline when an image is floated.
		.editor-block-list__block-edit {
			&::before {
				content: none;
			}

			// This margin won't collapse on its own, so zero it out.
			margin-top: 0;
		}

		// Keep a 1px margin to compensate for the border/outline.
		.editor-block-contextual-toolbar {
			margin-bottom: $border-width;
		}

		// Hide all additional UI on floats.
		.editor-block-mover,
		.editor-block-list__block-mobile-toolbar {
			display: none;
		}

		// Position toolbar better on mobile.
		.editor-block-contextual-toolbar {
			width: auto;
			border-bottom: $border-width solid $light-gray-500;
			bottom: auto;
		}
	}

	// Unlike most explicit left/right alignments, this one should be flipped by the auto-RTL system.
	&[data-align="left"] .editor-block-contextual-toolbar {
		left: 0;
		right: auto;
	}

	&[data-align="right"] .editor-block-contextual-toolbar {
		left: auto;
		right: 0;
	}

	// Position the sticky toolbar correctly beyond the mobile breakpoint.
	@include break-small() {
		&[data-align="right"] .editor-block-contextual-toolbar,
		&[data-align="left"] .editor-block-contextual-toolbar {
			top: $block-padding;
		}
	}

	// Left
	&[data-align="left"] {
		// This is in the editor only; the image should be floated on the frontend.
		.editor-block-list__block-edit {
			/*!rtl:begin:ignore*/
			float: left;
			margin-right: 2em;
			/*!rtl:end:ignore*/
		}

		// Align block toolbar to floated content.
		@include break-small() {
			.editor-block-toolbar {
				/*!rtl:begin:ignore*/
				left: $block-padding;
				right: auto;
				/*!rtl:end:ignore*/
			}
		}
	}

	// Right
	&[data-align="right"] {
		// Right: This is in the editor only; the image should be floated on the frontend.
		> .editor-block-list__block-edit {
			/*!rtl:begin:ignore*/
			float: right;
			margin-left: 2em;
			/*!rtl:end:ignore*/
		}

		// Align block toolbar to floated content.
		@include break-small() {
			.editor-block-toolbar {
				/*!rtl:begin:ignore*/
				right: $block-padding;
				left: auto;
				/*!rtl:end:ignore*/
			}
		}
	}

	// Wide and full-wide
	&[data-align="full"],
	&[data-align="wide"] {
		clear: both;

		// Without z-index, the block toolbar will be below an adjecent float
		z-index: z-index(".editor-block-list__block {core/image aligned wide or fullwide}");

		// Mover and settings above
		> .editor-block-mover {
			// This moves the menu up by the height of the button + border + padding.
			top: -$block-side-ui-width - $block-padding - $block-side-ui-clearance;
			bottom: auto;
			min-height: 0;
			height: auto;
			width: auto;
			z-index: inherit;

			&::before {
				content: none;
			}
		}

		> .editor-block-mover .editor-block-mover__control {
			float: left;
		}

		// Position hover label on the right
		> .editor-block-list__breadcrumb {
			right: -$border-width;
		}

		// Hide mover until wide breakpoints, or it might be covered by toolbar
		> .editor-block-mover {
			display: none;
		}

		@include break-wide() {
			> .editor-block-mover {
				display: block;
			}
		}

		// Beyond the mobile breakpoint, wide images stretch outside of the column.
		// To center the toolbar, we make it inline-flex so the toolbar is not full-wide.
		@include break-small () {
			.editor-block-toolbar {
				display: inline-flex;
			}
		}
	}

	// Wide
	&[data-align="wide"] {
		// Position mover
		> .editor-block-mover {
			left: -$block-padding + $border-width;
		}
	}

	// Full-wide
	&[data-align="full"] {
		// Position hover label on the right for the top level block.
		> .editor-block-list__block-edit > .editor-block-list__breadcrumb {
			right: 0;
		}

		// Compensate for main container padding and subtract border.
		@include break-small() {
			margin-left: -$block-side-ui-width - $block-padding - $block-side-ui-clearance - $border-width;
			margin-right: -$block-side-ui-width - $block-padding - $block-side-ui-clearance - $border-width;
		}

		> .editor-block-list__block-edit {
			margin-left: -$block-padding;
			margin-right: -$block-padding;

			@include break-small() {
				margin-left: -$block-side-ui-width - $block-side-ui-clearance - $block-padding;
				margin-right: -$block-side-ui-width - $block-side-ui-clearance - $block-padding;
			}

			// This explicitly sets the width of the block, to override
			// `width: fit-content` from the image block.
			figure {
				width: 100%;
			}
		}

		> .editor-block-list__block-edit::before {
			left: 0;
			right: 0;
			border-left-width: 0;
			border-right-width: 0;
		}

		// Position mover
		> .editor-block-mover {
			left: $border-width;
		}
	}

	// Clear floats
	&[data-clear="true"] {
		float: none;
	}

	// Dropzones
	.editor-block-drop-zone {
		top: -4px;
		bottom: -3px;
		margin: 0 $block-padding;
	}

	// Hide appender shortcuts in nested blocks
	// This essentially duplicates the mobile styles for the appender component
	// It would be nice to be able to use element queries in that component instead https://github.com/tomhodgins/element-queries-spec
	.editor-block-list__layout {
		.editor-inserter-with-shortcuts {
			display: none;
		}

		.editor-block-list__empty-block-inserter,
		.editor-default-block-appender .editor-inserter {
			left: auto;
			right: $grid-size;
		}
	}
}


/**
 * Left and right side UI; Unified toolbar on Mobile
 */

.editor-block-list__block {

	// Left and right block settings and mover.
	> .editor-block-mover {
		position: absolute;
		width: $block-side-ui-width + $block-side-ui-clearance;

		// Stretch to fill half of the available space to increase hoverable area.
		height: 100%;
		max-height: $block-side-ui-width * 4;
	}

	// Position depending on whether selected or not.
	> .editor-block-mover {
		top: -$block-padding - $border-width;
	}

	// Elevate when block is selected or hovered.
	@include break-small() {
		&.is-multi-selected,
		&.is-selected,
		&.is-hovered {
			.editor-block-mover {
				z-index: z-index(".editor-block-list__block.is-{selected,hovered} .editor-block-{settings-menu,mover}");
			}
		}
	}

	// Left side UI.
	> .editor-block-mover {
		padding-right: $block-side-ui-clearance;

		// Position for top level blocks
		left: -$block-side-ui-width - $block-side-ui-clearance;

		// Mobile
		display: none;
		@include break-small() {
			display: block;
		}
	}
}


/**
 * Mobile unified toolbar.
 */

.editor-block-list__block {

	// Show side UI inline below the block on mobile.
	.editor-block-list__block-mobile-toolbar {
		display: flex;
		flex-direction: row;

		// Make room for the height of the block toolbar above.
		transform: translateY($block-padding + $border-width);
		margin-top: $block-toolbar-height;
		margin-right: -$block-padding;
		margin-left: -$block-padding;
		border-top: $border-width solid $light-gray-500;
		height: $block-toolbar-height;

		@include break-small() {
			display: none;
		}

		// Show a shadow below the selected block to imply separation.
		box-shadow: $shadow-below-only;
		@include break-small() {
			box-shadow: none;
		}

		// Movers, inserter, trash, and ellipsis.
		.editor-inserter {
			position: relative;
			left: auto;
			top: auto;
			margin: 0;
		}

		.editor-inserter__toggle,
		.editor-block-mover__control {
			width: $icon-button-size;
			height: $icon-button-size;
			border-radius: $radius-round-rectangle;
			padding: 3px;
			margin: 0;
			justify-content: center;
			align-items: center;

			.dashicon {
				margin: auto;
			}
		}

		// Movers
		.editor-block-mover {
			display: flex;
			margin-right: auto;

			.editor-inserter,
			.editor-block-mover__control {
				float: left;
			}
		}
	}

	// Reset negative margins on mobile for full-width.
	&[data-align="full"] .editor-block-list__block-mobile-toolbar {
		margin-left: 0;
		margin-right: 0;
	}
}


/**
 * In-Canvas Inserter
 */

.editor-block-list .editor-inserter {
	margin: $grid-size;
	cursor: move; // Fallback for IE/Edge < 14
	cursor: grab;
}

// Insertion point (includes inbetween inserter and insertion indicator)
.editor-block-list__insertion-point {
	position: relative;
	z-index: z-index(".editor-block-list__insertion-point");
	margin-top: -$block-padding;
}

.editor-block-list__insertion-point-indicator {
	position: absolute;
	top: calc(50% - #{ $border-width });
	height: 2px;
	left: 0;
	right: 0;
	background: theme(primary);
}

// This is the clickable plus.
.editor-block-list__insertion-point-inserter {
	// Don't show on mobile.
	display: none;
	@include break-mobile() {
		display: flex;
	}

	position: absolute;
	bottom: auto;
	left: 0;
	right: 0;
	justify-content: center;

	// Show a clickable plus.
	.editor-inserter__toggle {
		margin-top: -4px;
		border-radius: 50%;
		color: $blue-medium-focus;
		background: $white;
		height: $block-padding * 2 + 8px;
		width: $block-padding * 2 + 8px;

		&:not(:disabled):not([aria-disabled="true"]):hover {
			box-shadow: none;
		}
	}

	// Hide both the button until hovered.
	opacity: 0;
	transition: opacity 0.1s linear 0.1s;

	&:hover,
	&.is-visible {
		opacity: 1;
	}
}

// Don't show the sibling inserter before the selected block.
.edit-post-layout:not(.has-fixed-toolbar) {
	// The child selector is necessary for this to work properly in nested contexts.
	.is-selected > .editor-block-list__insertion-point > .editor-block-list__insertion-point-inserter,
	.is-focused > .editor-block-list__insertion-point > .editor-block-list__insertion-point-inserter {
		opacity: 0;
		pointer-events: none;

		&:hover,
		&.is-visible {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

// This is the edge-to-edge hover area that contains the plus.
.editor-block-list__block {
	> .editor-block-list__insertion-point {
		position: absolute;
		top: -$block-padding - $block-spacing / 2;

		// Matches the whole empty space between two blocks.
		height: $block-padding * 2;
		bottom: auto;

		// Go edge to edge on mobile.
		left: 0;
		right: 0;

		// Beyond mobile, make sure the toolbar overlaps the hover style.
		@include break-small() {
			left: -$border-width;
			right: -$border-width;
		}
	}

	&[data-align="full"] > .editor-block-list__insertion-point {
		left: 0;
		right: 0;
	}
}

.editor-block-list__block .editor-block-list__block-html-textarea {
	display: block;
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	box-shadow: none;
	resize: none;
	overflow: hidden;
	font-family: $editor-html-font;
	font-size: $text-editor-font-size;
	line-height: 150%;
	transition: padding 0.2s linear;

	&:focus {
		box-shadow: none;
	}
}


/**
 * Block Toolbar when contextual.
 */

.editor-block-list__block {
	.editor-block-contextual-toolbar {
		position: sticky;
		z-index: z-index(".editor-block-contextual-toolbar");
		white-space: nowrap;
		text-align: left;
		pointer-events: none;

		// Position toolbar below the block on mobile.
		position: absolute;
		bottom: $block-toolbar-height - $block-padding;
		left: -$block-padding;
		right: -$block-padding;

		// Paint the borders on the toolbar itself on mobile.
		border-top: $border-width solid $light-gray-500;
		.components-toolbar {
			border-top: none;
			border-bottom: none;
		}

		@include break-small() {
			border-top: none;
			.components-toolbar {
				border-top: $border-width solid $light-gray-500;
				border-bottom: $border-width solid $light-gray-500;
			}
		}
	}

	// Floated items have special needs for the contextual toolbar position.
	&[data-align="left"] .editor-block-contextual-toolbar,
	&[data-align="right"] .editor-block-contextual-toolbar {
		margin-bottom: $border-width;
		margin-top: -$block-toolbar-height;
	}

	// Make block toolbar full width on mobile.
	.editor-block-contextual-toolbar {
		margin-left: 0;
		margin-right: 0;
		@include break-small() {
			margin-left: -$block-padding - $border-width;
			margin-right: -$block-padding - $border-width;
		}
	}

	// For floats, compensate for this so content doesn't grow smaller.
	&[data-align="left"] .editor-block-contextual-toolbar {
		/*rtl:ignore*/
		margin-right: $block-padding + $border-width;
	}

	&[data-align="right"] .editor-block-contextual-toolbar {
		/*rtl:ignore*/
		margin-left: $block-padding + $border-width;
	}

	// Reset pointer-events on children.
	.editor-block-contextual-toolbar > * {
		pointer-events: auto;
	}
}

.editor-block-list__block.is-focus-mode:not(.is-multi-selected) > .editor-block-contextual-toolbar {
	margin-left: -$block-side-ui-width;
}

// Enable toolbar footprint collapsing
.editor-block-contextual-toolbar {
	// Position the contextual toolbar above the block.
	.editor-block-list__block & {
		@include break-small() {
			bottom: auto;
			left: auto;
			right: auto;
			box-shadow: none;

			// Move the block toolbar out of the flow using translate.
			transform: translateY(-$block-toolbar-height -$block-padding -$border-width);

			// IE11 does not support `position: sticky`.
			@supports (position: sticky) {
				position: sticky;

				// Compensate for translate, so the sticky sticks to the top.
				top: $block-toolbar-height + $block-padding;
			}
		}
	}

	.editor-block-list__block[data-align="left"] & {
		// RTL note: this rule should not be auto-flipped based on direction.
		/*rtl:ignore*/
		float: left;
	}

	.editor-block-list__block[data-align="right"] & {
		// RTL note: this rule should not be auto-flipped based on direction.
		/*rtl:ignore*/
		float: right;
	}

	.editor-block-list__block[data-align="left"] &,
	.editor-block-list__block[data-align="right"] & {
		// Move the block toolbar out of the flow using translate, but less for floats.
		transform: translateY(-$block-padding -$border-width);
	}
}

// Position the block toolbar when contextual.
.editor-block-contextual-toolbar .editor-block-toolbar {
	width: 100%;

	@include break-small() {
		width: auto;

		// Hide right border on desktop, where the .components-toolbar instead has a right border.
		border-right: none;

		// This prevents floats from messing up the position of the block toolbar on floats-adjacent blocks when selected.
		position: absolute;
		left: 0;
	}
}


/**
 * Hover label
 */

.editor-block-list__breadcrumb {
	position: absolute;
	line-height: 1;
	z-index: z-index(".editor-block-list__breadcrumb");

	// Position in the top right of the border.
	right: -$block-padding;
	top: -$block-padding - $border-width;

	.components-toolbar {
		padding: 0;
		border: none;
		background: transparent;
		line-height: 1;
		font-family: $default-font;
		font-size: 11px;
		padding: 4px 4px;
		background: theme(outlines);
		color: $white;

		// Animate in
		.editor-block-list__block:hover & {
			opacity: 0;
			@include edit-post__fade-in-animation(60ms, 0.5s);
		}
	}

	// Position the breadcrumb closer on mobile.
	[data-align="left"] &,
	[data-align="right"] & {
		right: 0;
		top: 0;
	}
}

.editor-block-list__descendant-arrow::before {
	content: "→";
	display: inline-block;
	padding: 0 4px;

	.rtl & {
		content: "←";
	}
}

.editor-block-list__block {
	@include break-small {
		// Increase the hover and selection area around blocks.
		// This makes the blue hover line and the settings button appear even if
		// the mouse cursor is technically outside the block.
		// This improves usability by making it possible to click somewhat outside
		// the block and select it. (eg. A fuzzy click target.)
		&::before {
			bottom: 0;
			content: "";
			left: -$block-padding * 2;
			position: absolute;
			right: -$block-padding * 2;
			top: 0;
		}

		// Remove the fuzzy click area effect set above on nested blocks.
		// It should only applies to top-level blocks; applying this rule to
		// nested blocks will result in difficult-to-use and possibly overlapping
		// click targets.
		& &::before {
			left: 0;
			right: 0;
		}

		// Don't use this for full-wide blocks, as there's no clearance to accommodate extra area on the side.
		&[data-align="full"]::before {
			content: none;
		}
	}
}

.editor-block-list__block .editor-warning {
	z-index: z-index(".editor-warning");
	position: relative;
	margin-right: -$block-padding - $border-width;
	margin-left: -$block-padding - $border-width;

	// Pull the warning upwards to the edge, and add a negative bottom margin to compensate.
	margin-bottom: -$block-padding - $border-width;
	transform: translateY(-$block-padding - $border-width);

	// Bigger padding on mobile where blocks are edge to edge.
	padding: 10px $block-padding;
	@include break-small() {
		padding: 10px $block-padding;
	}
}
