.wp-block[data-align="center"] > .wp-block-site-logo {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.wp-block-site-logo {
	// Make the block selectable.
	a {
		pointer-events: none;
	}

	&.is-resized {
		display: table;
	}

	// Provide a sane starting point for the size.
	&:not(.is-resized) {
		width: 120px;

		img {
			width: 100%;
		}
	}


	.custom-logo-link {
		cursor: inherit;

		&:focus {
			box-shadow: none;
		}

		&.is-transient img {
			opacity: 0.3;
		}
	}

	img {
		display: block;
		max-width: 100%;
	}
}
