.wp-block-site-logo {
	line-height: 0;

	a {
		display: inline-block;
	}

	// Provide a sane starting point for the size.
	&:not(.is-resized) img {
		width: 120px;
	}

	.aligncenter {
		display: table;
	}

	// Style variations
	&.is-style-rounded img {
		// We use an absolute pixel to prevent the oval shape that a value of 50% would give
		// to rectangular images. A pill-shape is better than otherwise.
		border-radius: 9999px;
	}
}
