.wp-block-table-of-contents {
	list-style: none;

	.level1 {
		margin-left: 10px;
	}

	.level2 {
		margin-left: 20px;
	}

	.level3 {
		margin-left: 30px;
	}

	.level4 {
		margin-left: 40px;
	}

	.level5 {
		margin-left: 50px;
	}

	.level6 {
		margin-left: 60px;
	}

}
