.components-resizable-box__handle {
	display: none;

	// Show the resize handle when selected.
	.components-resizable-box__container.is-selected & {
		display: block;
	}
}

// This is the "visible" resize handle.
.components-resizable-box__handle::before {
	display: block;
	content: "";
	width: $resize-handler-size;
	height: $resize-handler-size;
	border: 2px solid $white;
	border-radius: 50%;
	background: theme(primary);
	cursor: inherit;
	position: absolute;
	top: calc(50% - #{$resize-handler-size / 2});
	right: calc(50% - #{$resize-handler-size / 2});
}

/*!rtl:begin:ignore*/
.components-resizable-box__handle-right,
.components-resizable-box__handle-left {
	top: 0;
	height: 100%;
	width: $resize-handler-container-size;
}

.components-resizable-box__handle-right {
	right: calc(#{$resize-handler-container-size / 2} * -1);
}

.components-resizable-box__handle-left {
	left: calc(#{$resize-handler-container-size / 2} * -1);
}

.components-resizable-box__handle-bottom {
	bottom: calc(#{$resize-handler-container-size / 2} * -1);
	width: 100%;
	height: $resize-handler-container-size;
}
/*!rtl:end:ignore*/
