.block-collab-add-block-comments-comment {
	border-bottom: 1px solid #d3d3d3;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.block-collab-add-block-comments-comment__button-group {
	align-self: flex-end;
	margin: 10px 0 0 0;
}
