@use "@wordpress/base-styles/variables";

.screen {
	// Avoid cutting off focus ring of the last menu item
	padding-block-end: variables.$grid-unit-05;
}

.screen :global(.components-text) {
	color: var(--wpds-color-foreground-content-neutral);
}

.title-icon {
	position: sticky;
	top: 0;
	padding-block-start: variables.$grid-unit-15;
	padding-inline-end: variables.$grid-unit-20;
	padding-block-end: variables.$grid-unit-10;
	padding-inline-start: variables.$grid-unit-20;
}

.title {
	flex-grow: 1;
	overflow-wrap: break-word;

	&#{&},
	&#{&} .title {
		line-height: variables.$font-line-height-x-large;
		color: var(--wpds-color-foreground-content-neutral);
	}
}

.actions {
	display: flex;
	flex-shrink: 0;
}
