.screen {
	// Avoid cutting off focus ring of the last menu item
	padding-block-end: var(--wpds-dimension-padding-xs);
}

.screen :global(.components-text) {
	color: var(--wpds-color-foreground-content-neutral);
}

.title-icon {
	position: sticky;
	top: 0;
	padding-block: var(--wpds-dimension-padding-md) var(--wpds-dimension-padding-sm);
	padding-inline: var(--wpds-dimension-padding-lg);
}

.title {
	flex-grow: 1;
	overflow-wrap: break-word;

	&#{&} .title {
		line-height: var(--wpds-typography-line-height-xl);
		color: var(--wpds-color-foreground-content-neutral);
	}
}

.actions {
	display: flex;
	flex-shrink: 0;
}
