.components-palette-edit__popover {
	.components-custom-gradient-picker__gradient-bar {
		margin-top: 0;
	}
	.components-custom-gradient-picker__ui-line {
		margin-bottom: 0;
	}
	.components-custom-gradient-picker {
		width: 280px;
		padding: 8px;
	}
}
.components-dropdown-menu__menu {
	.components-palette-edit__menu-button {
		width: 100%;
	}
}
