.components-palette-edit__popover-gradient-picker {
	width: 260px;
	padding: $grid-unit-10;
}
.components-dropdown-menu__menu {
	.components-palette-edit__menu-button {
		width: 100%;
	}
}

.components-palette-edit__remove-button {
	z-index: z-index(".components-palette-edit__remove-button");
}
