.block-directory-block-ratings {
	display: flex;
	> div {
		line-height: 1;
		display: flex;
	}

	.block-directory-block-ratings__rating-count {
		color: $dark-gray-400;
		font-size: ms(-2);
	}

	svg {
		fill: #ffb900;
	}
}
