.editor-block-icon {
	display: inline-block;
	border-radius: 4px;
	display: flex;
	align-items: center;
	margin: 0;

	&.has-colors {
		svg {
			fill: currentColor;
		}
	}

	svg:not(.dashicon) {
		height: 24px;
		width: 24px;
	}
}
