/* Remove Post Title */
#post-title-0 {
    display: none;
}

/* Remove header toolbar */
.editor-header__toolbar {
    display: none;
}

/* Hide all children of editor-header__settings */
.editor-header__settings > * {
    display: none;
}

/* Show only the interface-pinned-items container */
.editor-header__settings > .interface-pinned-items {
    display: block;
}

.components-button.editor-post-publish-panel__toggle.is-primary{
    display: none;
}

/* Remove default block appender at the end of the post */
.block-list-appender, .block-list-appender__toggle,
.block-editor-inserter, .components-autocomplete__popover {
    display: none;
}

.edit-post-visual-editor__post-title-wrapper,
.editor-editor-canvas__post-title-wrapper {
    display: none;
}

/* Remove default block appender at the end of the post (WP v5.0~v5.1) */
.editor-default-block-appender {
    display: none;
}

/* Remove block inserter popover */
.block-editor-block-popover {
    display: none;
}

/* Right align post header children as we will only display one child */
.edit-post-header {
	justify-content: flex-end;
}

/* Hide post controls unrelated to editing a single block */
.edit-post-header__toolbar,
.edit-post-layout .edit-post-header .edit-post-header__settings > *,
.interface-pinned-items > * {
	display: none;
}

/* Display the sidebar toggle button whenever a block is selected */
.edit-post-layout .edit-post-header .edit-post-header__settings .interface-pinned-items,
.is-block-selected .edit-post-header__settings .interface-pinned-items > button:first-child {
	display: flex;
}

/* Move the block toolbar to the top */
.edit-post-header-toolbar__block-toolbar {
    top: 0px;
}

.interface-interface-skeleton {
    top: 0px;
}

/* Hide block actions unrelated to editing a single block */
.block-editor-block-settings-menu {
	display: none;
}

/*
 Moves the whole editor to the top.
 There was an extra top margin after removing the WP Admin bar.
 */
.block-editor-editor-skeleton {
    top: 0px;
}

/* Remove metaboxes from Self-Hosted sites */
.edit-post-layout__metaboxes {
    display: none;
}

/* Remove tabs from sidebar panel, leaving the \'x\' button */
.editor-sidebar__panel-tabs {
    display: none;
}

/* Remove \'(no-title)\' string from sidebar header */
.editor-sidebar-header__title {
    display: none;
}

/* Move \'x\' close button to the end on sidebar header */
.editor-sidebar-header__small {
    justify-content: flex-end;
}

/* Remove all buttons from the component menu group inside \'...\' button in block toolbar */
.components-menu-group > div > button:not(:first-child) {
    display: none;
}

/*
 Some Themes can overwrite values on \'editor-styles-wrapper\'.
 This will ensure that the top padding is correct on our single-block version of gutenberg web.
 */
.editor-styles-wrapper {
    padding-top: 50px !important;
}
