.block-editor-block-styles__preview-panel {
	display: none;
	// Same layer as the sidebar from which it's triggered.
	z-index: z-index(".interface-interface-skeleton__sidebar {greater than small}");

	// Only show in narrow widths.
	@include break-medium() {
		display: block;
	}

	.block-editor-block-icon {
		display: none;
	}
}

// To prevent overflow in the preview container,
// ensure that block contents' margin and padding
// do not add to the block container's width.
.block-editor-block-styles__block-preview-container,
.block-editor-block-styles__block-preview-container * {
	box-sizing: border-box !important;
}
