$outline-space: 3px;
$image-height: 64px;

.image {
	height: $image-height - 2 * $outline-space;
}

.container {
	padding-top: $grid-unit + $outline-space;
	padding-right: $grid-unit;
}

.imageWrapper {
	height: $image-height;
	width: 100%;
}

.rounded {
	border-radius: $image-height / 2;
	overflow: hidden;
}

.label {
	color: $gray-dark;
	text-align: center;
}

.labelDark {
	color: $white;
}

.outline {
	height: $image-height;
	border-color: $blue-wordpress;
	border-width: 1px;
	position: absolute;
	top: -$outline-space;
	left: -$outline-space;
	right: -$outline-space;
}
