body.is-fullscreen-mode {
	// Reset the html.wp-topbar padding
	// Because this uses negative margins, we have to compensate for the height.
	margin-top: -$admin-bar-height-big;
	height: calc(100% + #{ $admin-bar-height-big });
	@include break-medium() {
		margin-top: -$admin-bar-height;
		height: calc(100% + #{ $admin-bar-height });
	}

	#adminmenumain,
	#wpadminbar {
		display: none;
	}

	#wpcontent,
	#wpfooter {
		margin-left: 0;
	}

	// Animations
	@include editor-animation__fade-in(0.3s);

	.edit-post-header {
		transform: translateY(-100%);
		animation: editor-animation__slide-in-top 0.1s forwards;
	}
}

@keyframes editor-animation__slide-in-top {
	100% {
		transform: translateY(0%);
	}
}
