.enable-tracking-prompt {
	.enable-tracking-prompt__message {
		font-weight: bold;
		margin-top: 8px;
	}

	.enable-tracking-prompt__buttons {
		.button {
			margin-right: 6px;
		}

		.enable-tracking-prompt__more-info {
			span {
				cursor: pointer;
			}
			&:hover span {
				color: $blue-wordpress-700;
			}
			position: relative; // for popover
		}
	}

	.enable-tracking-prompt__clarification {
		text-align: left;
		.components-popover__content {
			padding: 6px;
		}
	}
}
