.enable-tracking-prompt {
	.enable-tracking-prompt__message {
		font-weight: bold;
	}

	.enable-tracking-prompt__buttons {
		margin: 0.5em 0; // matches `.notice p` from core
		.button {
			margin-right: 6px;
		}

		.enable-tracking-prompt__more-info {
			position: relative; // for popover
			.components-button {
				// Match selected `.button-small` styles from core
				display: inline-block;
				height: 24px;
				line-height: 22px;

				cursor: pointer;
				&:hover {
					color: $blue-wordpress-700;
				}
			}
		}
	}

	.enable-tracking-prompt__clarification {
		text-align: left;
		.components-popover__content {
			padding: 6px;
		}
	}
}
