.enable-tracking-prompt {
	.enable-tracking-prompt__message {
		font-weight: bold;
		margin-top: 8px;
	}

	.enable-tracking-prompt__clarification {
		clear: both;
		margin-bottom: 8px;
		font-size: 90%;
		font-style: italic;
	}

	.enable-tracking-prompt__buttons {
		float: right;

		.button {
			margin-left: 6px;
		}
	}
}
