// Reduce the paddings, margins, and UI of inner-blocks.
// @todo: eventually we may add a feature that lets a parent container absorb the block UI of a child block.
// When that happens, leverage that instead of the following overrides.
[data-type="core/navigation-menu"] {
	// 1. Reset margins on immediate innerblocks container.
	.wp-block-navigation-menu > .block-editor-inner-blocks > .block-editor-block-list__layout {
		margin-left: 0;
		margin-right: 0;
	}

	// 2. Remove paddings on subsequent immediate children.
	.wp-block-navigation-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}

	// 3. Remove margins on subsequent Edit container.
	.wp-block-navigation-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block > .block-editor-block-list__block-edit {
		margin-left: 0;
		margin-right: 0;
	}

	// 4. Remove the dashed outlines for child blocks.
	&.is-hovered .wp-block-navigation-menu .block-editor-block-list__block-edit::before,
	&.is-selected .wp-block-navigation-menu .block-editor-block-list__block-edit::before,
	&.has-child-selected .wp-block-navigation-menu .block-editor-block-list__block-edit::before {
		border-color: transparent !important; // !important used to keep the selector from growing any more complex.
	}

	// 5. Remove vertical margins on subsequent block container.
	.wp-block-navigation-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block > .block-editor-block-list__block-edit > [data-block] {
		margin-top: 0;
		margin-bottom: 0;
	}

	// Hide the breadcrumb.
	// Hide the sibling inserter.
	.wp-block-navigation-menu .block-editor-block-list__insertion-point,
	.wp-block-navigation-menu .block-editor-block-list__breadcrumb {
		display: none;
	}

	// Polish the Appender.
	.wp-block-navigation-menu .block-list-appender {
		margin: 0;

		.block-editor-button-block-appender {
			padding: $grid-size;
			outline: none;
			background: none;
		}
	}
}


.wp-block-navigation-menu .block-editor-block-list__layout,
.wp-block-navigation-menu {
	display: flex;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	align-items: top;
	white-space: nowrap;
}

.wp-block-navigation-menu__inserter-content {
	padding: $grid-size-large;
}

.wp-block-navigation-menu-item {
	.wp-block-navigation-menu-item {
		margin-left: $grid-size-large;
	}
}

.block-editor-block-mover {
	&.is-horizontal {
		.block-editor-block-mover__control-drag-handle {
			display: none;
		}
	}
}
