.wp-block-navigation-menu {

	& > ul {
		display: block;
		list-style: none;
		margin: 0;
		max-width: none;
		padding-left: 0;
		position: relative;

		@include break-small {
			display: flex;
			flex-wrap: wrap;
		}

		ul {
			padding-left: 0;
		}

		li {
			position: relative;
			z-index: 1;
		}

		& > li {

			& > a {
				padding-left: 0;

				@include break-small {
					padding-left: 16px;
				}
			}

			&:first-of-type > a {
				padding-left: 0;
			}

			&:last-of-type > a {
				padding-right: 0;
			}
		}

		// Sub-menus Flyout
		& > li > ul {
			margin: 0;
			position: absolute;
			background: #fff;
			box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
			left: 0;
			top: 100%;
			min-width: max-content;
			opacity: 0;
			transition: all 0.5s ease;
			visibility: hidden;

			ul {
				width: 100%;
			}
		}
	}

	// Menu Link
	a {
		display: block;
		padding: 16px;
	}

	// Sub-menu depth indicators
	ul ul {
		list-style: none;
		margin-left: 0;

		li a {

			padding-top: 8px;
			padding-bottom: 8px;
		}
	}

	// Top-level sub-menu indicators
	& .has-sub-menu > a {

		&::after {
			content: "\00a0\25BC";
			display: inline-block;
			font-size: 0.6rem;
			height: inherit;
			width: inherit;
		}
	}

	// Menu event activation.
	&.is-activated-by-hover li {
		&:hover,
		&:focus-within {
			cursor: pointer;
			z-index: 99999;
		}

		// Submenu Display
		&:hover > ul,
		&:focus-within > ul,
		& ul:hover,
		& ul:focus {
			visibility: visible;
			opacity: 1;
			display: block;
		}
	}

	&.is-activated-by-click li {
		input.wp-block-navigation-menu-item__toggle-handler {
			display: none;
		}

		label.wp-block-navigation-menu-item__toggle-for {
			font-size: inherit;
			display: block;
			padding: 0;
			margin: 0;
			cursor: pointer;
		}

		input.wp-block-navigation-menu-item__toggle-handler:checked + label.wp-block-navigation-menu-item__toggle-for + ul {
			visibility: visible;
			opacity: 1;
			display: block;
		}
	}
}
