.wp-block-navigation-menu {
	ul,
	ul li {
		list-style: none;
	}

	ul > li > ul {
		background: #000;
		border-radius: 4px;
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);

		& > a {
			text-decoration: none;
		}

		&::before {
			border: solid transparent;
			border-color: rgba(0, 0, 0, 0);
			border-bottom-color: #000;
			border-width: 10px;
			bottom: 100%;
			content: " ";
			height: 0;
			left: 20%;
			margin-left: -10px;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
	}
}
