.columnsContainer {
	max-width: $content-width;
}

.innerBlocksSelected {
	margin-bottom: $block-edge-to-content;
}

.columnMargin {
	margin: $block-edge-to-content / 2;
}

.cellContainerStyle {
	flex-direction: row;
	min-height: 48px;
	align-items: center;
	margin-top: $grid-unit;
	margin-bottom: $grid-unit;
}
