.columnsContainer {
	max-width: $content-width;
}

.innerBlocksSelected {
	margin-bottom: $block-edge-to-content;
}

.columnMargin {
	margin: $block-edge-to-content / 2;
}

.rangeCell {
	flex-direction: row;
	padding-left: $grid-unit;
	padding-right: $grid-unit;
}

.cellContainerStyle {
	flex-direction: row;
	padding-top: $grid-unit-10;
	padding-bottom: $grid-unit-10;
}
