.columnsContainer {
	max-width: $content-width;
}

.innerBlocks {
	overflow: visible;
}

.innerBlocksSelected {
	margin-bottom: $block-edge-to-content;
}

.columnMargin {
	margin: $block-edge-to-content / 2;
}
