// This max-width is used to constrain the main editor column, it should not
// cascade into columns.
.wp-block-columns .wp-block {
	max-width: none;
	margin-left: 0;
	margin-right: 0;
}

// Individual columns do not have top and bottom margins on the frontend.
// So we make the editor match that.
// Needs specificity.
.block-editor-block-list__block.wp-block-column.wp-block-column {
	margin-top: 0;
	margin-bottom: 0;
}
