.block-editor-global-styles__toggle-icon {
	fill: currentColor;
}

.block-editor-global-styles__shadow-popover-container {
	width: 230px;
}

.block-editor-global-styles-filters-panel__dropdown,
.block-editor-global-styles__shadow-dropdown {
	display: block;
	padding: 0;

	button {
		width: 100%;
		padding: $grid-unit-10;

		&.is-open {
			background-color: $gray-100;
		}
	}
}

// These styles are similar to the color palette.
.block-editor-global-styles__shadow-indicator {
	color: $gray-800;
	border: $gray-200 $border-width solid;
	border-radius: $radius-block-ui;
	cursor: pointer;
	padding: 0;
	margin-right: $grid-unit-15;
	margin-bottom: $grid-unit-15;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: $button-size-small + 2 * $border-width;
	width: $button-size-small + 2 * $border-width;
	box-sizing: border-box;

	transform: scale(1);
	transition: transform 0.1s ease;
	will-change: transform;

	&:focus {
		border: #{ $border-width * 2 } solid $gray-700;
	}

	&:hover {
		transform: scale(1.2);
	}
}

.block-editor-global-styles-advanced-panel__custom-css-input textarea {
	font-family: $editor_html_font;
	// CSS input is always LTR regardless of language.
	/*rtl:ignore*/
	direction: ltr;
}
