// @format

.block-library-nextpage__line {
	background-color: $gray-lighten-20;
	height: 2;
}

.block-library-nextpage__text {
	color: $gray;
	text-decoration-style: solid;
	text-transform: uppercase;
}
