/**
 * Note that this CSS file should be in sync with its counterpart in the other editor:
 * packages/edit-site/src/components/secondary-sidebar/style.scss
 */

.edit-post-editor__inserter-panel,
.edit-post-editor__document-overview-panel {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.edit-post-editor__document-overview-panel {
	@include break-medium() {
		// Same width as the Inserter.
		// @see packages/block-editor/src/components/inserter/style.scss
		width: 350px;
	}

	.edit-post-editor__document-overview-panel__close-button {
		position: absolute;
		right: $grid-unit-10;
		top: math.div($grid-unit-60 - $button-size, 2); // ( tab height - button size ) / 2
		z-index: 1;
		background: $white;
	}

	// The TabPanel style overrides in the following blocks should be removed when the new TabPanel is available.
	.components-tab-panel__tabs {
		border-bottom: $border-width solid $gray-300;
		box-sizing: border-box;
		display: flex;
		width: 100%;
		padding-right: $grid-unit-70;

		.edit-post-sidebar__panel-tab {
			width: 50%;
			margin-bottom: -$border-width;
		}
	}

	.components-tab-panel__tab-content {
		height: calc(100% - #{$grid-unit-60 - $border-width});
	}
}

.edit-post-editor__inserter-panel-header {
	padding-top: $grid-unit-10;
	padding-right: $grid-unit-10;
	display: flex;
	justify-content: flex-end;
}

.edit-post-editor__inserter-panel-content {
	// Leave space for the close button
	height: calc(100% - #{$button-size} - #{$grid-unit-10});
	@include break-medium() {
		height: 100%;
	}
}

.edit-post-editor__list-view-panel-content,
.edit-post-editor__list-view-container > .document-outline,
.edit-post-editor__list-view-empty-headings {
	height: 100%;

	// Include custom scrollbars, invisible until hovered.
	@include custom-scrollbars-on-hover(transparent, $gray-600);
	overflow: auto;

	// Only reserve space for scrollbars when there is content to scroll.
	// This allows items in the list view to have equidistant padding left and right
	// right up until a scrollbar is present.
	scrollbar-gutter: auto;

	// The table cells use an extra pixels of space left and right. We compensate for that here.
	padding: $grid-unit-10 ($grid-unit-10 - $border-width - $border-width);
}

.edit-post-editor__list-view-empty-headings {
	& > svg {
		margin-top: $grid-unit-30 + $grid-unit-05;
	}
	& > p {
		padding-left: $grid-unit-40;
		padding-right: $grid-unit-40;
	}
	text-align: center;
	color: $gray-700;
}

.edit-post-editor__list-view-overview {
	display: flex;
	flex-direction: column;
	gap: $grid-unit-10;
	border-bottom: $border-width solid $gray-300;
	padding: $grid-unit-20;

	& > div > span:first-child {
		// Width of the text information fields.
		width: 90px;
		display: inline-block;
	}

	& > div > span {
		font-size: $helptext-font-size;
		line-height: $default-line-height;
		color: $gray-700;
	}
}

.edit-post-editor__list-view-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.edit-post-editor__document-overview-panel__tab-panel {
	height: 100%;
}
