div[data-type="core/html"] {
	textarea {
		box-shadow: none;
		font-family: $editor-html-font;
		font-size: $text-editor-font-size;
		color: $dark-gray-800;
		border: 1px solid $light-gray-500;
		border-radius: 4px;
		padding: .8em 1.6em;
		margin: 0;
		overflow-x: auto;
		width: 100%;
	}
}
