.edit-widgets-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $header-height;
	padding: 0 $grid-unit-20;
}

.edit-widgets-header__title {
	font-size: 16px;
	padding: 0 20px;
	margin: 0;
}
