.edit-widgets-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $header-height;
	padding: 0 $grid-unit-20;
}

.edit-widgets-header__title {
	font-size: 16px;
	padding: 0 20px;
	margin: 0;
}

.edit-widgets-header__actions {
	display: flex;
}

.edit-widgets-header__block-toolbar {
	border-bottom: 1px solid $light-gray-500;
	border-top: 1px solid $light-gray-500;
}
