.components-responsive-wrapper {
	position: relative;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.components-responsive-wrapper__content {
	display: block;
	max-width: 100%;
	width: 100%;
}
