
.editor-rich-text {
	// This is needed to position the formatting toolbar.
	position: relative;
}

.editor-rich-text__tinymce {
	margin: 0;
	position: relative;
	line-height: $editor-line-height;
	// In HTML, leading and trailing spaces are not visible, and multiple spaces
	// elsewhere are visually reduced to one space. This rule prevents spaces
	// from collapsing so all space is visible in the editor and can be removed.
	// It also prevents some browsers from inserting non-breaking spaces at the
	// end of a line to prevent the space from visually disappearing. Sometimes
	// these non breaking spaces can linger in the editor causing unwanted non
	// breaking spaces in between words. If also prevent Firefox from inserting
	// a trailing `br` node to visualise any trailing space, causing the element
	// to be saved.
	white-space: pre-wrap;

	> p:empty {
		min-height: $editor-font-size * $editor-line-height;
	}

	> p:first-child {
		margin-top: 0;
	}

	&:focus {
		outline: none;
	}

	a {
		color: $blue-medium-700;
	}

	code {
		padding: 2px;
		border-radius: 2px;
		color: $dark-gray-800;
		background: $light-gray-200;
		font-family: $editor-html-font;
		font-size: inherit; // This is necessary to override upstream CSS.

		.is-multi-selected & {
			background: darken($blue-medium-highlight, 15%);
		}
	}

	// Style TinyMCE inline boundaries on select inline text elements.
	&:focus {
		a,
		b,
		i,
		strong,
		em,
		del,
		ins,
		sup,
		sub {
			&[data-mce-selected] {
				padding: 0 2px;
				margin: 0 -2px;
				border-radius: 2px;
				box-shadow: 0 0 0 1px $light-gray-400;
				background: $light-gray-400;

				// Enforce a dark text color so active inline boundaries
				// are always readable.
				// See https://github.com/WordPress/gutenberg/issues/9508
				color: $dark-gray-900;
			}
		}

		// Link inline boundaries get special colors.
		a[data-mce-selected] {
			box-shadow: 0 0 0 1px $blue-medium-100;
			background: $blue-medium-100;
			color: $blue-medium-900;
		}

		// <code> inline boundaries need special treatment because their
		// un-selected style is already padded.
		code[data-mce-selected] {
			background: $light-gray-400;
			box-shadow: 0 0 0 1px $light-gray-400;
		}
	}

	img {
		&[data-mce-selected] {
			outline: none;
		}

		&::selection {
			background: none !important;
		}
	}

	&[data-is-placeholder-visible="true"] {
		position: absolute;
		top: 0;
		width: 100%;
		margin-top: 0;

		& > p {
			margin-top: 0;
		}

		// Ensure that if placeholder wraps (mobile/nested contexts) the clickable area is full-height.
		height: 100%;
	}

	// Placeholder text.
	& + .editor-rich-text__tinymce {
		pointer-events: none;

		// Use opacity to work in various editor styles.
		// We don't specify the color here, because blocks or editor styles might provide their own.
		&,
		p {
			opacity: 0.62;
		}
	}

	// Captions may have lighter (gray) text, or be shown on a range of different background luminosites.
	// To ensure legibility, we increase the default placeholder opacity to ensure contrast.
	&[data-is-placeholder-visible="true"] + figcaption.editor-rich-text__tinymce {
		opacity: 0.8;
	}
}

.editor-rich-text__inline-toolbar {
	display: flex;
	justify-content: center;
	position: absolute;
	top: -$block-controls-height - 4px;
	line-height: 0;
	left: 0;
	right: 0;
	z-index: 1;

	ul.components-toolbar {
		box-shadow: $shadow-toolbar;
	}
}
