.edit-site-sidebar-card {
	display: flex;
	align-items: flex-start;

	&__content {
		flex-grow: 1;
		margin-bottom: $grid-unit-05;
	}

	&__title {
		font-weight: 500;
		line-height: $icon-size;
		&.edit-site-sidebar-card__title {
			font-size: $default-font-size;
			line-height: $default-line-height;
			margin: 0;
			padding: 3px 0; // This makes the title as high as the icon.
		}
	}

	&__description {
		font-size: $default-font-size;
	}

	&__icon {
		flex: 0 0 $icon-size;
		margin-right: $grid-unit-15;
		width: $icon-size;
		height: $icon-size;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		margin: 0 0 $grid-unit-05;
	}
}
