.components-border-style-control {
	legend {
		line-height: 1.4;
		margin-bottom: $grid-unit-10;
		padding: 0;
	}

	.components-border-style-control__buttons {
		display: inline-flex;

		.components-button.has-icon {
			min-width: 30px;
			height: 30px;
			padding: 3px;
			margin-right: $grid-unit-05;
		}
	}
}
