.altTextEditor {
	padding: 14px 0;
	min-height: 80px;
}

.altTextEditorDark {
	color: $white;
}

.altTextFootnote {
	color: $gray-text-min;
	text-align: left;
	padding: 5px 20px;
}

.altTextLink {
	color: $blue-wordpress;
}

.horizontalBorder {
	border-top-width: $border-width;
	border-bottom-width: $border-width;
	border-color: $light-gray-400;
}

.horizontalBorderDark {
	border-color: $gray-70;
}
