.altTextEditor {
	padding: 14px 0;
	height: 80px;
}

.altTextEditorDark {
	color: $white;
}

.altTextFootnote {
	font-size: 12px;
	color: $gray-text-min;
	padding: 8px 16px 24px;
}

.altTextLink {
	color: $blue-wordpress;
}

.horizontalBorder {
	border-top-width: $border-width;
	border-bottom-width: $border-width;
	border-color: $light-gray-400;
}

.horizontalBorderDark {
	border-color: $gray-70;
}
