.altTextEditorContainer {
	border: 1px solid $light-gray-500;
	border-left-width: 0;
	border-right-width: 0;
}

.altTextFootnote {
	color: $gray-text-min;
	text-align: left;
	padding: 5px 20px;
}

.altTextLink {
	color: $blue-wordpress;
}
