.block-editor-publish-date-time-picker__header {
	margin-bottom: 1em;
}

.block-editor-publish-date-time-picker__heading {
	font-size: $default-font-size;
	margin: 0;
}

.block-editor-publish-date-time-picker__reset {
	height: $icon-size;
	margin: 0;
	text-decoration: underline;
}

[class].block-editor-publish-date-time-picker__close {
	height: $icon-size;
	min-width: $icon-size;
	padding: 0;
}
