.editor-text-editor__formatting {
	background: $white;
	border-bottom: 1px solid $light-gray-500;
	min-height: $admin-sidebar-width-collapsed;
	top: $admin-bar-height-big + $header-height;

	@include break-medium() {
		top: $admin-bar-height + $header-height;
	}

	margin-left: -20px;
	margin-right: -20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	button {
		height: 30px;
		border: none;
		background: none;
		padding: 0 8px;
		margin: 3px 4px;
		text-align: center;
		cursor: pointer;
		font-family: $editor-html-font;
		color: $dark-gray-500;
		border: 1px solid transparent;

		&:first-child {
			margin-left: 0;
		}

		&:hover,
		&:focus {
			outline: none;
			border: 1px solid $dark-gray-500;
		}
	}

	@include break-small() {
		left: 0px;
		right: 0px;
		margin-left: 0;
		margin-right: 0;
		position: fixed;
		z-index: z-index( '.editor-text-editor__formatting' );
	}

	.auto-fold.sticky-menu &,
	.auto-fold & {
		@include break-medium() {
			left: $admin-sidebar-width-collapsed;
		}

		@include break-large() {
			left: $admin-sidebar-width;
		}
	}

	.folded & {
		left: $admin-sidebar-width-collapsed;
	}

	.sticky-menu & {
		left: $admin-sidebar-width;
	}
}

.editor-text-editor__formatting .editor-text-editor__bold {
	font-weight: bold;
}

.editor-text-editor__formatting .editor-text-editor__italic {
	font-style: italic;
}

.editor-text-editor__formatting .editor-text-editor__link {
	text-decoration: underline;
	color: $blue-medium-500;
}

.editor-text-editor__formatting .editor-text-editor__del {
	text-decoration:line-through;
}

.editor-text-editor__body {
	padding-top: 40px;

	@include break-small() {
		padding-top: 40px + $admin-bar-height-big;
	}

	@include break-medium() {
		padding-top: 40px + $admin-bar-height;
	}
}

.editor-text-editor__textarea {
	display: block;
	padding-top: 20px;
	padding-bottom: 0;
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	box-shadow: none;
	resize: none;
	overflow: hidden;
	font-family: $editor-html-font;
	font-size: $text-editor-font-size;
	line-height: 150%;
	transition: padding .2s linear;

	&:focus {
		box-shadow: none;
	}
}

/* Use padding to center text in the textarea, this allows you to click anywhere to focus it */
.editor-text-editor {
	padding-left: 20px;
	padding-right: 20px;

	@include break-large() {
		padding-left: calc( 50% - #{ $text-editor-max-width / 2 } );
		padding-right: calc( 50% - #{ $text-editor-max-width / 2 } );
	}
}

.editor-text-editor__formatting-group {
	width: 100%;
	max-width: $text-editor-max-width;
	margin: 0 auto;
}
