.editor-text-editor__formatting {
	background: $white;
	border-bottom: 1px solid $light-gray-500;
	min-height: $admin-sidebar-width-collapsed;
	top: $admin-bar-height-big + $header-height;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	button {
		height: 30px;
		border: none;
		background: none;
		padding: 0 8px;
		margin: 3px 4px;
		text-align: center;
		cursor: pointer;
		font-family: $editor-html-font;
		color: $dark-gray-500;
		border: 1px solid transparent;
	}

	button:first-child {
		margin-left: 0;
	}

	button:hover {
		border: 1px solid $dark-gray-500;
	}

	button:focus {
		outline: none;
	}

	@include break-small() {
		position: fixed;
	}
}

.editor-text-editor__formatting .editor-text-editor__bold {
	font-weight: bold;
}

.editor-text-editor__formatting .editor-text-editor__italic {
	font-style: italic;
}

.editor-text-editor__formatting .editor-text-editor__link {
	text-decoration: underline;
	color: $blue-medium;
}

.editor-text-editor__formatting .editor-text-editor__del {
	text-decoration:line-through;
}

.auto-fold .editor-text-editor__formatting {
	@include break-medium() {
		left: $admin-sidebar-width-collapsed;
		top: $admin-bar-height + $header-height;
	}

	@include break-large() {
		left: $admin-sidebar-width;
	}
}

.folded .editor-text-editor__formatting {
	left: $admin-sidebar-width-collapsed;
}


.editor-text-editor {
	display: block;
	padding-top: 60px;
	padding-bottom: 0;
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	box-shadow: none;
	resize: none;
	overflow: hidden;
	font-family: $editor-html-font;
	line-height: 150%;
	transition: padding .2s linear;

	@include break-small() {
		padding-top: 60px + $admin-bar-height-big;
	}

	@include break-medium() {
		padding-top: 60px + $admin-bar-height;
	}

	&:focus {
		box-shadow: none;
	}
}

/* Use padding to center text in the textarea, this allows you to click anywhere to focus it */
.editor-text-editor {
	padding-left: $item-spacing * 2;
	padding-right: $item-spacing * 2;
	max-width: $break-huge;
	margin: 0 auto;

	@include break-large() {
		padding-left: 10%;
		padding-right: 10%;
	}

	@include break-wide() {
		padding-left: 15%;
		padding-right: 15%;
	}

	@include break-huge() {
		padding-left: 200px;
		padding-right: 200px;
	}
}

.editor-text-editor__formatting {
	&:before,
	&:after {
		content: "";
		display: block;
		margin: 0;
		flex: 0 1 $item-spacing * 2;
	}

	&:after {
		margin-left: auto;
	}

	@include break-large() {
		&:before,
		&:after {
			flex: 0 1 10%;
		}
	}

	@include break-wide() {
		&:before,
		&:after {
			flex: 0 1 15%;
		}
	}

	@include break-huge() {
		&:before,
		&:after {
			flex: 0 1 200px;
		}
	}
}
