.block-editor-patterns {
	background: $light-gray-200;
	padding: $grid-unit-20;
}

.block-editor-patterns__item {
	background: $white;
	border-radius: $radius-block-ui;

	&.is-placeholder .block-editor-patterns__item-preview {
		min-height: 100px;
	}
}

.block-editor-patterns__item {
	border-radius: $radius-block-ui;
	cursor: pointer;
	margin-bottom: $grid-unit-20;
	border: 1px solid $light-gray-500;
	transition: all 0.05s ease-in-out;
	position: relative;

	&:hover {
		background: $white;
		box-shadow: 0 0 0 1px $white, 0 0 0 3px $dark-gray-500;
	}

	&:focus {
		box-shadow: inset 0 0 0 1px $white, 0 0 0 $border-width-focus $theme-color;

		// Windows High Contrast mode will show this outline, but not the box-shadow.
		outline: 2px solid transparent;
	}
}

.block-editor-patterns__item-title {
	text-align: center;
	padding: 10px 0;
	padding: $grid-unit-20;
}
