.block-editor-patterns {
	padding: 16px;
}

.block-editor-patterns__item {
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 16px;
	border: 1px solid $light-gray-500;
	transition: all 0.05s ease-in-out;
	position: relative;

	&:hover {
		background: $white;
		box-shadow: 0 0 0 1px $white, 0 0 0 3px $dark-gray-500;
	}

	&:focus {
		@include block-style__focus();
	}
}

.block-editor-patterns__item-preview {
	padding: $grid-unit-20;
}

.block-editor-patterns__item-title {
	text-align: center;
	padding: 10px 0;
}
