@use "@wordpress/base-styles/mixins" as *;

.dataforms-layouts-card__field-header-label {
	@include heading-large();
}

.dataforms-layouts-card__field {
	width: 100%;
}

.dataforms-layouts-card__field-description {
	color: var(--wpds-color-fg-content-neutral-weak);
	display: block;
	font-size: var(--wpds-font-size-md);
	margin-bottom: var(--wpds-dimension-gap-md);
}

.dataforms-layouts-card__field-summary {
	display: flex;
	flex-direction: row;
	gap: var(--wpds-dimension-gap-md);
}
