.components-button {
	background: none;
	border: none;
	outline: none;
	text-decoration: none;

	&:disabled {
		opacity: 0.6;
	}

	&:not( :disabled ) {
		cursor: pointer;
	}

	&:focus {
		box-shadow: $button-focus-style;
		outline: none;
	}

	&:active:focus {
		box-shadow: none;
	}
}
