.components-button {
	background: none;
	border: none;
	outline: none;
	text-decoration: none;

	&.is-toggled {
		background: $dark-gray-500;
		color: $white;
	}

	&.is-toggled:hover {
		color: $white;
		background: $dark-gray-400;
	}

	&:disabled {
		opacity: 0.6;
	}
}
