.wp-block-shortcode {
	display: flex;
	flex-direction: column;
	padding: $block-padding;
	background-color: $dark-opacity-light-200;
	font-size: $default-font-size;
	font-family: $default-font;
	margin-bottom: $default-block-margin;

	label {
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-weight: 600;
		flex-shrink: 0;
	}

	.block-editor-plain-text {
		width: 80%;
		max-height: 250px;
	}

	.dashicon {
		margin-right: $grid-size;
	}
}
