// The editing view for the Shortcode block is equivalent to block UI.
// Therefore we increase specificity to avoid theme styles bleeding in.
.blocks-shortcode__textarea {
	box-sizing: border-box;
	max-height: 250px;
	resize: none;
	@include editor-input-reset();
}
