.blockTitle {
	font-family: $default-regular-font;
	font-weight: 500;
	font-size: 10px;
	color: rgba($black, 0.6);
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

.blockTitleDark {
	color: rgba($white, 0.6);
}

.blockShortcode {
	font-family: $default-monospace-font;
	font-weight: 400;
	font-size: 14px;
	padding: 12px;
	border-radius: 4px;
	background-color: $gray-light;
}

.blockShortcodeDark {
	color: $white;
	background-color: $gray-100;
}

.placeholder {
	font-family: $default-monospace-font;
	font-weight: 400;
	font-size: 14px;
	color: rgba($black, 0.25);
}

.placeholderDark {
	color: $gray-50;
}
