.admin-ui-page {
	display: flex;
	height: 100%;
	background-color: var(--wpds-color-bg-surface-neutral-strong);
	color: var(--wpds-color-fg-content-neutral);
	position: relative;
	z-index: 1;
	flex-flow: column;
	text-wrap: pretty;
}

.admin-ui-page__header {
	padding: var(--wpds-dimension-padding-md) var(--wpds-dimension-padding-2xl);
	border-bottom: var(--wpds-border-width-xs) solid var(--wpds-color-stroke-surface-neutral-weak);
	background: var(--wpds-color-bg-surface-neutral-strong);
	position: sticky;
	top: 0;
	z-index: 1;
}

.admin-ui-page__header-title {
	// @TODO: use Text component from UI when available.
	font-family: var(--wpds-font-family-heading);
	font-size: var(--wpds-font-size-lg);
	font-weight: var(--wpds-font-weight-medium);
	line-height: var(--wpds-font-line-height-lg);
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.admin-ui-page__sidebar-toggle-slot:empty {
	display: none;
}

.admin-ui-page__header-subtitle {
	padding-block-end: var(--wpds-dimension-padding-xs);
	color: var(--wpds-color-fg-content-neutral-weak);
	font-size: var(--wpds-font-size-md);
	line-height: var(--wpds-font-line-height-md);
	margin: 0;
}

.admin-ui-page__content {
	flex-grow: 1;
	overflow: auto;
	display: flex;
	flex-direction: column;

	&.has-padding {
		padding: var(--wpds-dimension-padding-lg) var(--wpds-dimension-padding-2xl);
	}
}

// Show button text labels when preference is enabled.
.show-icon-labels {
	.admin-ui-page__header-actions {
		.components-button.has-icon {
			width: auto;
			padding: 0 var(--wpds-dimension-padding-xs);

			// Hide the button icons when labels are set to display...
			svg {
				display: none;
			}
			// ... and display labels.
			&::after {
				content: attr(aria-label);
				font-size: var(--wpds-font-size-sm);
			}
		}
	}
}
