// We can't reference this package with ~ because of how Lerna handles packages.
@import "node_modules/react-datepicker/src/stylesheets/datepicker.scss";

.components-datetime {
	padding: 0;

	.components-datetime__calendar-help {
		padding: $grid-unit-20;

		h4 {
			margin: 0;
		}
	}

	.components-datetime__buttons {
		display: flex;
		justify-content: space-between;
	}

	.components-datetime__date-help-toggle {
		display: block;
		margin-left: auto;
	}

	fieldset {
		border: 0;
		padding: 0;
		margin: 0;
	}

	select,
	input {
		@include input-style__neutral();
	}

	// Override inherited conflicting styles to be consistent.
	select,
	input[type="number"],
	.components-button {
		height: 30px;
		margin-top: 0;
		margin-bottom: 0;
	}
}

// DatePicker component
$date-picker-date-size: 30px;

.react-datepicker.components-datetime__date {
	min-height: 236px;
	border: 0;
	border-top: 1px solid $gray-200;
	border-radius: 0;

	.react-datepicker__header {
		background-color: transparent;
		border: 0;
	}

	.components-datetime__date-header {
		height: 25px;
		display: flex;
	}
	
	.components-datetime__date-header-month {
		color: $gray-800;
		font-size: $default-font-size;
		flex-grow: 2;
		align-self: center;
	}

	.components-datetime__date-header-month-button {
		color: $gray-400;
		border: 1px solid $gray-100;
		border-radius: 3px;
		&:hover {
			border-color: $gray-400;
		}
	}

	.react-datepicker__day-names {
		margin-top: 5px;
	}

	.react-datepicker__day-name {
		width: $date-picker-date-size;
		color: $gray-700;
		margin: 0 1px;
	}

	.react-datepicker__day {
		width: $date-picker-date-size;
		height: $date-picker-date-size;
		line-height: $date-picker-date-size - 2;
		margin: 2px 1px;
		border: 1px solid transparent;
		vertical-align: middle;
		font-size: $default-font-size;
		border-radius: $radius-round;
		color: $gray-800;
		box-sizing: border-box;

		// Events tooltip.
		.components-tooltip {
			ul {
				margin: 0;
				padding: 2px 0;
				text-align: left;
				list-style-position: inside;
			}

			li {
				margin: 0;
				padding: 1px;
			}
		}

		&:focus {
			box-shadow: inset 0 0 0 $border-width-focus var(--wp-admin-theme-color);
			outline: 2px solid transparent; // Shown in Windows 10 high contrast mode.
		}
	}

	.react-datepicker__day--selected {
		background: var(--wp-admin-theme-color);
		font-weight: normal;
		color: $white;

		&:hover {
			background: var(--wp-admin-theme-color-darker-20);
		}

		&:focus {
			box-shadow: inset 0 0 0 $border-width-focus var(--wp-admin-theme-color), inset 0 0 0 #{ $border-width-focus + $border-width } $white;
		}
	}

	.react-datepicker__day--keyboard-selected {
		box-shadow: inset 0 0 0 $border-width-focus var(--wp-admin-theme-color);
		outline: 2px solid transparent; // Shown in Windows 10 high contrast mode.
		background-color: $white;
	}

	.react-datepicker__day--highlighted {
		border: 1px solid $gray-600;
		&:not(.react-datepicker__day--selected) {
			background-color: $white;
		}
		.react-datepicker__day-selected {
			border-color: $gray-900;
		}
	}
	
	.react-datepicker__day--outside-month {
		color: $gray-400;
		
		&.react-datepicker__day--highlighted {
			border-color: $gray-400;
		}
	}
}

.components-datetime {

	.CalendarDay__selected {
	}

	.DayPickerNavigation_button__horizontalDefault {
		padding: 2px 8px;
		top: 20px;

		&:focus {
			@include input-style__focus();
		}
	}

	.DayPicker_weekHeader {
		top: 50px;
		.DayPicker_weekHeader_ul {
			margin: 1px 0;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.is-description-visible .DayPicker {
		visibility: hidden;
	}
}

.components-datetime__time {
	padding-bottom: $grid-unit-20;

	fieldset {
		position: relative;
		margin-bottom: 0.5em;
	}

	fieldset + fieldset {
		margin-bottom: 0;
	}

	.components-datetime__time-field-am-pm fieldset {
		margin-top: 0;
	}

	.components-datetime__time-wrapper {
		display: flex;

		.components-datetime__time-separator {
			display: inline-block;
			padding: 0 3px 0 0;
		}

		.components-datetime__time-field {

			&-time {
				/*rtl:ignore*/
				direction: ltr;
			}

			select {
				margin-right: $grid-unit-05;

				&:focus {
					position: relative;
					z-index: 1;
				}
			}

			input[type="number"] {
				padding: 2px;
				margin-right: $grid-unit-05;
				text-align: center;
				-moz-appearance: textfield;

				&:focus {
					position: relative;
					z-index: 1;
				}

				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
	}

	// Makes the month appear before the day if time format uses AM/PM
	// We are assuming MM-DD-YYY correlates with AM/PM
	&.is-12-hour {
		.components-datetime__time-field-day input {
			margin: 0 -$grid-unit-05 0 0 !important;
			border-radius: $radius-block-ui 0 0 $radius-block-ui !important;
		}
		.components-datetime__time-field-year input {
			border-radius: 0 $radius-block-ui $radius-block-ui 0 !important;
		}
	}
}

.components-datetime__timezone {
	line-height: 30px;
	margin-left: $grid-unit-05;
	text-decoration: underline dotted;
}

.components-datetime__time-legend {
	font-weight: 600;
	margin-top: 0.5em;

	&.invisible {
		position: absolute;
		top: -999em;
		left: -999em;
	}
}

.components-datetime__time-field-hours-input,
.components-datetime__time-field-minutes-input,
.components-datetime__time-field-day-input {
	width: 35px;
}

.components-datetime__time-field-year-input {
	width: 55px;
}

.components-datetime__time-field-month-select {
	max-width: 145px;
}
