// Developer notes: these rules are duplicated for the post editor.
// They need to be updated in both places.

.edit-site-navigation-toggle {
	align-items: center;
	background: $gray-900;
	border-radius: 0;
	display: flex;
	z-index: z-index(".edit-site-navigation-toggle");
	height: $header-height;
	width: $header-height;
	flex-direction: column;

	button {
		color: $white;
	}
}

.edit-site-navigation-toggle__button {
	align-items: center;
	background: $gray-900;
	border-radius: 0;
	height: $header-height + $border-width;
	width: $header-height;
	z-index: 1;
	margin-bottom: - $border-width;

	&.has-icon {
		min-width: $header-height;

		&:hover,
		&:active {
			color: $white;
		}

		&:focus {
			box-shadow: none;
		}
	}

	.edit-site-navigation-toggle__site-icon {
		width: $button-size;
		height: $button-size;
		border-radius: $radius-block-ui;
		object-fit: cover;
		// Compensate for the top-bar border.
		margin-top: -($border-width);
	}
}
