.edit-site-navigation-toggle {
	display: none;

	@include break-medium() {
		align-items: center;
		background: $gray-900;
		border-radius: 0;
		display: flex;
		position: absolute;
		z-index: z-index(".edit-site-navigation-toggle");
		height: $header-height + $border-width; // Cover header border
		width: $header-height;
	}
}

.edit-site-navigation-toggle.is-open {
	flex-shrink: 0;
	height: $header-height + $border-width; // Cover header border
	width: 300px;
	position: static;

	// Delay to sync with `NavigationPanel` animation
	transition: width 80ms linear;
	transition-delay: 20ms;
	@include reduce-motion("transition");

	.edit-site-navigation-toggle__button {
		background: $gray-900;
	}
}

.edit-site-navigation-toggle__button {
	align-items: center;
	background: #23282e; // WP-admin gray.
	color: $white;
	height: $header-height + $border-width; // Cover header border
	width: $header-height;

	&.has-icon {
		min-width: $header-height;

		&:hover {
			background: #32373d; // WP-admin light-gray.
			color: $white;
		}
		&:active {
			color: $white;
		}
		&:focus {
			box-shadow: inset 0 0 0 $border-width-focus var(--wp-admin-theme-color), inset 0 0 0 3px $white;
		}
	}
}

.edit-site-navigation-toggle__site-icon {
	width: 36px;
}

.edit-site-navigation-toggle__site-title {
	font-style: normal;
	font-weight: 600;
	font-size: $default-font-size;
	line-height: $default-line-height;
	color: $gray-300;
	margin: 0 $grid-unit-20 0 $grid-unit-10;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
