.offcanvas-editor-appender .block-editor-inserter__toggle {
	margin: 0 0 0 $grid-unit-40;
	min-width: 24px;
}

.offcanvas-editor-appender__description {
	display: none;
}

.offcanvas-editor-list-view-tree-wrapper {
	max-width: 100%;
	overflow-x: auto;
}

.offcanvas-editor-list-view-leaf {
	display: block;
	// sidebar width - tab panel padding
	max-width: $sidebar-width - (2 * $grid-unit-20);
}

.offcanvas-editor-list-view-is-empty {
	margin-left: $grid-unit-20;
}
