.editor-block-mover {
	position: absolute;
	top: 10px;
	left: 0;
	padding: 0 14px 20px 0; // handles hover area
}

.editor-block-mover__control {
	display: block;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: $dark-gray-300;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50%;

	&[aria-disabled="true"] {
		cursor: default;
		color: $light-gray-300;
		pointer-events: none;
	}

	.dashicon {
		display: block;
	}
}
