.block-editor-block-breadcrumb {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		margin: 0;

		&:not(:last-child)::after {
			content: "\2192"; // This becomes →.
		}
	}
}

.block-editor-block-breadcrumb__button.components-button {
	height: $button-size-small;
	line-height: $button-size-small;
	padding: 0;
	position: relative;

	&:hover:not(:disabled) {
		text-decoration: underline;
		box-shadow: none;
	}

	&:focus {
		box-shadow: none;
	}

	&:focus::before {
		content: "";
		display: block;
		position: absolute;
		border-radius: $radius-block-ui;
		top: $border-width;
		right: $border-width;
		bottom: $border-width;
		left: $border-width;
		box-shadow: inset 0 0 0 $border-width-focus $theme-color;
	}
}

.block-editor-block-breadcrumb__current {
	cursor: default;
}

.block-editor-block-breadcrumb__button.components-button,
.block-editor-block-breadcrumb__current {
	color: $dark-gray-primary;
	padding: 0 $grid-unit-10;
	font-size: inherit;
}
