.block-editor-block-title__global {
	align-items: center;
	background: #000;
	border-radius: 2px;
	color: #fff;
	display: inline-flex;
	height: 18px;
	justify-content: center;
	margin: auto 5px;
	padding: 0 4px;
	width: 39px;
}
