.edit-site-patterns {
	border-left: 1px solid var(--wp-components-color-gray-border);
	background: none;
	margin: $header-height 0 0;
	border-radius: 0;
	padding: 0;
	overflow-x: auto;

	.components-base-control {
		width: 100%;
		@include break-medium {
			width: auto;
		}
	}

	.components-text {
		color: var(--wp-components-color-gray-text);
	}

	.components-heading {
		color: var(--wp-components-color-gray-contrast);
	}

	@include break-medium {
		margin: 0;
	}

	.edit-site-patterns__search-block {
		min-width: fit-content;
		flex-grow: 1;
	}

	// The increased specificity here is to overcome component styles
	// without relying on internal component class names.
	.edit-site-patterns__search {
		input[type="search"] {
			height: $button-size-next-default-40px;
			background: var(--wp-components-color-gray-component-background);
			color: var(--wp-components-color-gray-contrast);

			&:focus {
				background: var(--wp-components-color-gray-component-background);
			}
		}

		svg {
			fill: var(--wp-components-color-gray-text);
		}
	}

	.edit-site-patterns__sync-status-filter {
		height: $button-size-next-default-40px;
		min-width: max-content;
		width: 100%;
		max-width: 100%;

		@include break-medium {
			width: 300px;
		}
	}

	.edit-site-patterns__grid-pagination {
		border-top: 1px solid var(--wp-components-color-gray-border);
		background: var(--wp-components-color-gray-background);
		padding: $grid-unit-30 $grid-unit-40;
		position: sticky;
		bottom: 0;
		z-index: z-index(".edit-site-patterns__grid-pagination");

		.components-button.is-tertiary {
			width: $button-size-compact;
			height: $button-size-compact;
			color: var(--wp-components-color-gray-contrast);
			background-color: var(--wp-components-color-gray-components-background);
			justify-content: center;

			&:disabled {
				color: var(--wp-components-color-gray-text);
				background: none;
			}

			&:hover:not(:disabled) {
				background-color: $gray-700;
			}
		}
	}
}

.edit-site-patterns__header {
	position: sticky;
	top: 0;
	background: var(--wp-components-color-gray-background);
	padding: $grid-unit-40 $grid-unit-40 $grid-unit-20;
	z-index: z-index(".edit-site-patterns__header");
}

.edit-site-patterns__section {
	padding: $grid-unit-30 $grid-unit-40;
	flex: 1;
}

.edit-site-patterns__section-header {
	.screen-reader-shortcut:focus {
		top: 0;
	}
}

.edit-site-patterns__grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: $grid-unit-40;
	margin-top: 0;
	margin-bottom: 0;
	@include break-large {
		grid-template-columns: 1fr 1fr;
	}
	@include break-huge {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include break-xhuge {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.edit-site-patterns__pattern {
		break-inside: avoid-column;
		display: flex;
		flex-direction: column;
		.edit-site-patterns__preview {
			box-shadow: none;
			border: none;
			padding: 0;
			background-color: unset;
			box-sizing: border-box;
			border-radius: 4px;
			cursor: pointer;
			overflow: hidden;

			&:focus {
				box-shadow: inset 0 0 0 0 $white, 0 0 0 2px var(--wp-admin-theme-color);
				// Windows High Contrast mode will show this outline, but not the box-shadow.
				outline: 2px solid transparent;
			}

			&.is-inactive {
				cursor: default;
			}
			&.is-inactive:focus {
				box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-gray-component-background);
				opacity: 0.8;
			}
		}

		.edit-site-patterns__footer,
		.edit-site-patterns__button {
			color: var(--wp-components-color-gray-text);
		}

		.edit-site-patterns__dropdown {
			flex-shrink: 0;
		}

		&.is-placeholder .edit-site-patterns__preview {
			min-height: $grid-unit-80;
			color: var(--wp-components-color-gray-text);
			border: 1px dashed var(--wp-components-color-gray-component-background);
			display: flex;
			align-items: center;
			justify-content: center;

			&:focus {
				box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
			}
		}
	}

	.edit-site-patterns__preview {
		flex: 0 1 auto;
		margin-bottom: $grid-unit-15;
	}
}

.edit-site-patterns__load-more {
	align-self: center;
}

.edit-site-patterns__pattern-title {
	color: var(--wp-components-color-gray-contrast);

	.is-link {
		text-decoration: none;
		color: var(--wp-components-color-gray-contrast);

		&:hover,
		&:focus {
			color: $white;
		}
	}

	.edit-site-patterns__pattern-icon {
		border-radius: $grid-unit-05;
		background: var(--wp-block-synced-color);
		fill: $white;
	}

	.edit-site-patterns__pattern-lock-icon {
		display: inline-flex;

		svg {
			fill: currentcolor;
		}
	}
}

.edit-site-patterns__no-results {
	color: var(--wp-components-color-gray-text);
}
