.wp-block-cover-image {
	.editor-rich-text__tinymce[data-is-empty="true"]::before {
		position: inherit;
	}

	.editor-rich-text__tinymce:focus a[data-mce-selected] {
		padding: 0 2px;
		margin: 0 -2px;
		border-radius: 2px;
		box-shadow: none;
		background: rgba(255, 255, 255, 0.3);
	}

	.editor-rich-text strong {
		font-weight: 300;
	}

	&.components-placeholder h2 {
		color: inherit;
	}

	&.has-right-content .editor-rich-text__inline-toolbar,
	&.has-left-content .editor-rich-text__inline-toolbar {
		display: inline-block;
	}

	.editor-block-list__layout {
		width: 100%;
	}

	.editor-block-list__block {
		color: $light-gray-100;
	}
}

// wp-block-cover-image class is used just to increase selector specificity
.wp-block-cover-image .wp-block-cover-image__inner-container {
	// avoid text align inherit from cover image align.
	text-align: left;
}

.wp-block-cover-image__inner-container > .editor-inner-blocks > .editor-block-list__layout {
	margin-left: 0;
	margin-right: 0;
}

