.edit-site-page {
	color: $gray-800;
	background: $white;
	flex-grow: 1;
	overflow: auto;
	margin: 0;
	margin-top: $header-height;
	@include break-medium() {
		border-radius: 8px;
		margin: $grid-unit-30 $grid-unit-30 $grid-unit-30 0;
	}
}

.edit-site-page-header {
	padding: 0 $grid-unit-40;
	height: $header-height;
	padding-left: $grid-unit-40;
	border-bottom: 1px solid $gray-100;
	background: $white;
	position: sticky;
	top: 0;
	z-index: z-index(".edit-site-page-header");
	.components-text {
		color: $gray-800;
	}
	.components-heading {
		color: $gray-900;
	}
	.edit-site-page-header__sub-title {
		margin-top: $grid-unit-10;
		color: $gray-700;
	}
}

.edit-site-page-content {
	padding: $grid-unit-40 $grid-unit-40;
	overflow-x: auto;
}
