.edit-site-page {
	color: $gray-800;
	margin: $grid-unit-30 $grid-unit-30 $grid-unit-30 0;
	background: #fff;
	border-radius: 8px;
	flex-grow: 1;
	overflow: auto;
}

.edit-site-page-header {
	padding: $grid-unit-40 $grid-unit-40 $grid-unit-30;
	.components-text {
		color: $gray-800;
	}
	.components-heading {
		color: $gray-900;
	}
	.edit-site-page-header__sub-title {
		margin-top: $grid-unit-10;
		color: $gray-700;
	}
}

.edit-site-page-content {
	padding: 0 $grid-unit-40 $grid-unit-40;
}
