.wp-block-image {
	position: relative;
	margin: 0;

	img {
		display: block;
		width: 100%;
	}

	&.is-transient img {
		@include loading_fade;
	}
}

.wp-block-image__resize-handler-top-right,
.wp-block-image__resize-handler-bottom-right,
.wp-block-image__resize-handler-top-left,
.wp-block-image__resize-handler-bottom-left {
	display: none;
	border-radius: 50%;
	border: 2px solid white;
	width: 15px !important;
	height: 15px !important;
	position: absolute;
	background: $blue-medium-500;
	padding: 0 3px 3px 0;
	box-sizing: border-box;
	cursor: se-resize;

	.wp-block-image.is-focused & {
		display: block;
	}
}

.wp-block-image__resize-handler-top-right {
	top: -6px !important;
	right: -6px !important;
}

.wp-block-image__resize-handler-top-left {
	top: -6px !important;
	left: -6px !important;
}

.wp-block-image__resize-handler-bottom-right {
	bottom: -6px !important;
	right: -6px !important;
}

.wp-block-image__resize-handler-bottom-left {
	bottom: -6px !important;
	left: -6px !important;
}

.editor-block-list__block[data-type="core/image"] {
	.blocks-format-toolbar__link-modal {
		top: 0;
		left: 0;
	}
}

.wp-core-ui .wp-block-image__upload-button.button {
	margin-right: 5px;

	.dashicon {
		vertical-align: middle;
		margin-bottom: 3px;
	}


	&:hover {
		color: $dark-gray-800;
	}
}

.editor-block-list__block[data-type="core/image"][data-align="right"],
.editor-block-list__block[data-type="core/image"][data-align="left"] {
	max-width: none !important;
	&[data-resized="false"] {
		max-width: 370px !important;
	}
}
