.edit-post-post-visibility {
	width: 100%;
	justify-content: left;

	span {
		display: block;
		width: 45%;
	}
}

.edit-post-post-visibility__dialog .components-popover__content {
	// sidebar width - padding - horizontal borders
	width: $sidebar-width - $grid-unit-20 - $border-width * 2;
}
