@layer wp-ui {
	@layer utilities, components, compositions, overrides;

	@layer compositions {
		.label {
			composes: label from "../utils/css/range-indicator.module.css";
		}

		.value {
			composes: value from "../utils/css/range-indicator.module.css";
		}

		.track {
			composes: track from "../utils/css/range-indicator.module.css";
			height: var(--wpds-dimension-size-4xs);
		}

		.indicator {
			composes: indicator from "../utils/css/range-indicator.module.css";
		}

		.is-brand {
			composes: is-brand from "../utils/css/range-indicator.module.css";
		}
	}
}
