.editor-post-preview-button__preview-modal {
	@include break-small() {
		top: 5%;
		right: 5%;
		bottom: 5%;
		left: 5%;
		transform: none;
	}
}

.editor-post-preview__controls {
	display: flex;
	align-items: center;
	margin: $grid-size-large 0;

	* + * {
		margin-left: $grid-size;
	}
}

.editor-post-preview__new-tab {
	margin-left: $grid-size-large;
}

.editor-post-preview__frame-container {
	overflow-x: auto;
	margin-bottom: 40px;
}

.editor-post-preview__frame {
	display: block;
	margin: 0 auto;
}
