.block-editor-link-control__popover-inner {
	padding: 20px;
}

.block-editor-link-control__search {
	position: relative;
}

.block-editor-link-control__search-input {
	border: 1px solid #000;
	padding-right: 36px; // width of reset button

	.components-button {
		display: none;
	}
}

.block-editor-link-control__search-reset {
	position: absolute;
	top: 0;
	right: 0;
}

.block-editor-link-control__search-results {
	padding: 20px;
}


.block-editor-link-control__search-item {
	position: relative;

	.block-editor-link-control__search-item-type {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
		display: block;
		padding: 3px 8px;
		font-size: 0.9em;
		background-color: #f3f4f5;
		border-radius: 2px;
	}

	.components-menu-item__info-wrapper {
		flex: 1;
	}
}

// Specificity overide
.block-editor-link-control__search-results div[role="menu"] > .block-editor-link-control__search-item.block-editor-link-control__search-item {
	padding: 10px;
}
