.components-border-radius-control {
	margin-bottom: $grid-unit-15;

	legend {
		margin-bottom: $grid-unit-10;
	}

	.components-border-radius-control__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.components-border-radius-control__unit-control {
			width: calc((100% - #{$grid-unit-20}) / 2);
			margin-bottom: 0;
			margin-right: $grid-unit-20;
			flex-shrink: 0;
		}

		.components-border-radius-control__range-control {
			flex: 1;
			margin-right: $grid-unit-15;
		}
	}

	.components-border-radius-control__input-controls-wrapper {
		display: grid;
		gap: $grid-unit-20;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		margin-right: $grid-unit-15;
	}

	.component-border-radius-control__linked-button {
		display: flex;
		justify-content: center;
		margin-top: $grid-unit-10;

		svg {
			margin-right: 0;
		}
	}
}
