.editor-header {
	height: $header-height;
	padding: $item-spacing;
	border-bottom: 1px solid $light-gray-500;
	background: $white;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 2;
	top: $admin-bar-height-big;
	left: 0;
	right: 0;

	@include break-small() {
		position: fixed;
	}

	@include break-medium() {
		top: $admin-bar-height;
	}
}

.sticky-menu .editor-header {	/* Sticky is when on smaller breakpoints, nav menu is manually opened */
	@include break-medium() {
		left: $admin-sidebar-width;
	}
}

.auto-fold .editor-header {		/* Auto fold is when on smaller breakpoints, nav menu auto colllapses */
	@include break-medium() {
		left: $admin-sidebar-width-collapsed;
	}

	@include break-large() {
		left: $admin-sidebar-width;
	}
}

/* Sidebar manually collapsed */
.folded .editor-header {
	left: $admin-sidebar-width-collapsed;
}

/* Mobile menu opened */
.auto-fold .wp-responsive-open .editor-header {
	left: $admin-sidebar-width-big;
	right: -$admin-sidebar-width-big;
}

/* RTL */
.rtl.auto-fold .editor-header {
	@include break-medium() {
		left: 0;
		right: $admin-sidebar-width-collapsed;
	}

	@include break-large() {
		left: 0;
		right: $admin-sidebar-width;
	}
}

.rtl.auto-fold .wp-responsive-open .editor-header {
	left: -$admin-sidebar-width-big;
	right: $admin-sidebar-width-big;
}
