.edit-navigation-header {
	background: $white;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
	height: 48px;
	margin-bottom: $grid-unit-40;
}

.edit-navigation-header__title-subtitle {
	flex-grow: 1;
	padding-left: $grid-unit-10;
}

.edit-navigation-header__title {
	font-size: 13px;
	line-height: $default-line-height;
	margin: 0;
}

.edit-navigation-header__subtitle {
	margin: 0;
	font-size: 15px;
	font-weight: normal;
}

.edit-navigation-header__actions {
	display: flex;

	.components-button {
		margin-right: $grid-unit-10;
	}
}

.edit-navigation-header__add-menu-form {
	min-width: 220px;
}

/*
// Lining up all the actions in a nice row.
.edit-navigation-header__actions {
	display: flex;
	align-items: baseline;
	margin-top: $grid-unit-10;

	.edit-navigation-header__action_header {
		font-weight: normal;
		font-size: inherit;
		margin: 0;
	}

	// Spacing out the actions a little.
	.edit-navigation-header__action_header,
	.components-dropdown {
		margin-right: $grid-unit-20;
	}

	.components-dropdown:last-child {
		margin-right: 0;
	}
}

.edit-navigation-header__create-menu-button {
	margin-top: $grid-unit-10;
}

.edit-navigation-header__manage-locations .components-spinner {
	display: block;
	margin: $grid-unit-20 auto;
}
*/
