.edit-navigation-header {
	padding: $grid-unit-20;
	background: #f1f1f1; // Need to find a variable for this

	.edit-navigation-header__title {
		font-size: 23px;
		font-weight: 400;
		line-height: $default-line-height;
		margin: 0 0 $grid-unit-10;
	}
}

.edit-navigation-header__status_bar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: baseline;
	flex-wrap: wrap;

	@include break-medium() {
		flex-direction: row;
		justify-content: space-between;
	}
}

.edit-navigation-header__status_header {
	font-weight: normal;
	font-size: inherit;
	margin: 0;
}

// Lining up all the actions in a nice row.
.edit-navigation-header__actions {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: flex-start;
	margin-top: $grid-unit-10;

	@include break-medium() {
		margin-top: 0;
		justify-content: flex-end;
	}

	// Spacing out the actions a little.
	.components-dropdown {
		margin-right: $grid-unit-20;
	}

	.components-dropdown:last-child {
		margin-right: 0;
	}
}

.edit-navigation-header__create-menu-button {
	margin-top: $grid-unit-10;
}

.edit-navigation-header__manage-locations .components-spinner {
	display: block;
	margin: $grid-unit-20 auto;
}
