.components-color-edit__color-option-main-area {
	display: flex;
	align-items: center;
	div.components-circular-option-picker__option-wrapper {
		display: block;
		margin: $grid-unit-10;
	}
}

.components-color-edit__color-option.is-hover {
	background: $gray-200;
}

.components-color-edit__cancel-button {
	float: right;
}

.components-color-edit__color-option-color-name {
	width: 100%;
}
.components-color-edit__label-and-insert-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.components-color-edit__insert-button {
	margin-top: -$grid-unit-10;
}

.components-color-edit__hidden-control {
	position: relative;
	left: -9999px;
}

.components-color-edit__color-option-color-name-input .components-base-control__field {
	margin-bottom: 0;
	margin-right: $grid-unit-10;
}

.components-color-edit__slug-input {
	margin-left: $grid-unit-10;
}

.components-color-edit__reset-button {
	float: right;
}
