$pagination-margin: 0.5em;
.wp-block-query-pagination {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	// Increased specificity to override blocks default margin.
	> .wp-block-query-pagination-next,
	> .wp-block-query-pagination-previous,
	> .wp-block-query-pagination-numbers {
		display: inline-block;
		/*rtl:ignore*/
		margin-right: $pagination-margin;
		margin-bottom: $pagination-margin;

		&:last-child {
			/*rtl:ignore*/
			margin-right: 0;
		}
	}
}
