.blocks-new-reusable-block {
	color: $dark-gray-500;
	padding: 20px;
}

.blocks-new-reusable-block__name-field {
	width: 100%;
	padding: 6px 8px;
}

.blocks-new-reusable-block__buttons {
	text-align: center;

	.blocks-new-reusable-block__button {
		margin: 0 5px;
		min-width: 100px;
	}
}
