.block-editor-block-toolbar__overlay {
	//position: absolute;
	//top: 0;
	//left: 0;
	//right: -1px;
	//bottom: 0;
	//z-index: 100;
}

.block-editor-block-toolbar__overlay-content {
	display: flex;
	height: 100%;
	background: #FFF;
	//overflow: hidden;
}
