.block-editor-block-list__block.has-block-overlay {
	cursor: default;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparent;
		border: none;
		border-radius: $radius-block-ui;
		z-index: z-index(".block-editor-block-list__block.has-block-overlay");
	}

	&:not(.is-multi-selected)::after {
		content: none !important;
	}

	&:hover:not(.is-dragging-blocks):not(.is-multi-selected)::before {
		background: rgba(var(--wp-admin-theme-color--rgb), 0.04);
		box-shadow: 0 0 0 $border-width var(--wp-admin-theme-color) inset;
	}

	&.is-reusable:hover:not(.is-dragging-blocks):not(.is-multi-selected)::before,
	&.wp-block-template-part:hover:not(.is-dragging-blocks):not(.is-multi-selected)::before {
		background: rgba(var(--wp-block-synced-color--rgb), 0.04);
		box-shadow: 0 0 0 $border-width var(--wp-block-synced-color) inset;
	}

	&.is-selected:not(.is-dragging-blocks)::before {
		box-shadow: 0 0 0 $border-width var(--wp-admin-theme-color) inset;
	}

	.block-editor-block-list__block {
		pointer-events: none;
	}

	.block-editor-iframe__body.is-zoomed-out &::before {
		// Unfortunately because of the vw unit, this is not always going to be exact
		// When the scrollbar is visible, the frame exceeds the canvas by a few pixels.
		width: calc(100vw);
		left: calc(( 100% - 100vw ) / 2);
	}
}
