.block-editor-block-list__block.has-block-overlay {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparent;
		border: none;
		border-radius: $radius-block-ui;
		z-index: z-index(".block-editor-block-list__block.has-block-overlay");
	}

	&:hover:not(.is-dragging-blocks)::before {
		background: rgba(var(--wp-admin-theme-color--rgb), 0.1);
		box-shadow: 0 0 0 $border-width var(--wp-admin-theme-color) inset;
	}
}

.block-editor-block-list__block.has-block-overlay .block-editor-block-list__block::before {
	display: none;
	content: none;
	z-index: -1;
}
