.wp-block-navigation {

	.wp-block-home-link__content {
		// Inherit colors set by the block color definition.
		color: inherit;
		display: block;
		padding: 0.5em 1em;
	}

	// Force links to inherit text decoration applied to navigation block.
	// The extra selector adds specificity to ensure it works when user-set.
	&[style*="text-decoration"] {
		.wp-block-home-link {
			text-decoration: inherit;
		}

		.wp-block-home-link__content {
			text-decoration: inherit;

			&:focus,
			&:active {
				text-decoration: inherit;
			}
		}
	}

	&:not([style*="text-decoration"]) {
		.wp-block-home-link__content {
			text-decoration: none;

			&:focus,
			&:active {
				text-decoration: none;
			}
		}
	}
}

// Default background and font color.
.wp-block-navigation:not(.has-background) {
	.wp-block-navigation__container .wp-block-home-link__container {
		// Set a background color for submenus so that they're not transparent.
		background-color: #fff;
		color: #000;
		border: 1px solid rgba(0, 0, 0, 0.15);

		.wp-block-home-link__container {
			top: -1px;
		}
	}
}

