.editor-layout,
.editor-layout__content {
	height: 100%;
}

.editor-layout {
	position: relative;
}

.editor-layout__content {
	display: flex;
	flex-direction: column;
}

.editor-layout__editor {
	flex-basis: 100%;
	overflow-y: auto;
}

.editor-layout .components-notice-list {
	position: fixed;
	top: 100px;
	right: auto;
}
