.blocks-textarea-control:not(:last-child) {
	margin-bottom: 15px;
}

.blocks-textarea-control__label {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.blocks-textarea-control__input {
	width: 100%;
	padding: 6px 8px;
}
