.block-editor-multi-selection-inspector__card {
	padding: $grid-unit-20;
}

.block-editor-multi-selection-inspector__card-title {
	font-weight: 500;
}

.block-editor-multi-selection-inspector__card .block-editor-block-icon {
	margin-left: -2px;
	padding: 0 3px;
	width: $button-size;
	height: $button-size-small;
}
