.wp-block-post-title {
	// stylelint-disable-next-line declaration-property-value-keyword-no-deprecated -- Pending review of overflow-wrap alternative.
	word-break: break-word;
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	:where(a) {
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		letter-spacing: inherit;
		line-height: inherit;
		text-decoration: inherit;
	}
}
