.editor-block-settings-menu {
	position: absolute;
	top: 16px;
	right: 4px;
	padding: 6px 0 6px 14px; // handles hover area

	// Mobile
	display: none;

	@include break-small {
		display: flex;
		flex-direction: column;
	}
}

.editor-block-settings-menu__popover {
	z-index: z-index( '.editor-block-settings-menu__popover' );

	&:before,
	&:after {
		margin-left: 2px;
	}

	.components-popover__content {
		width: 182px;
	}
}

.editor-block-settings-menu__content {
	width: 100%;
}

.editor-block-settings-menu__toggle {
	padding: 0;
	transform: rotate( 90deg );
	transition-duration: 0.3s;
	transition-property: transform;

	&.is-opened {
		transform: rotate( 0 );
	}
}

.editor-block-settings-menu__control {
	width: 100%;
	justify-content: flex-start;
	padding: 8px;
	background: none;
	outline: none;
	border-radius: 0;
	color: $dark-gray-500;
	cursor: pointer;
	border: 1px solid transparent;

	&:hover,
	&:focus,
	&:not(:disabled):hover {
		box-shadow: none;
		color: $dark-gray-500;
		border: 1px solid $dark-gray-500;
	}

	.dashicon {
		margin-right: 5px;
	}
}
