.editor-block-settings-menu {
	position: absolute;
	top: 0;
	right: 4px;
	padding: 6px 0 6px 14px; // handles hover area

	// Mobile
	display: none;

	@include break-small {
		display: flex;
		flex-direction: column;
	}
}

.editor-block-settings-menu__popover .components-popover__content {
	width: 200px;
}

.editor-block-settings-menu__content {
	width: 100%;
	padding: 5px;
}

.editor-block-settings-menu__toggle {
	padding: 0;
	transform: rotate( 90deg );
	transition-duration: 0.3s;
	transition-property: transform;

	&.is-opened {
		transform: rotate( 0 );
	}
}

.editor-block-settings-menu__control {
	width: 100%;
	justify-content: flex-start;
	margin-bottom: 3px;
	padding: 6px;
	background: none;
	border: 1px solid transparent;
	outline: none;
	border-radius: 0;
	color: $dark-gray-500;
	cursor: pointer;

	&:hover,
	&:focus,
	&:not(:disabled):hover {
		box-shadow: none;
		color: $dark-gray-500;
		border-color: $dark-gray-500;
	}

	.dashicon {
		margin-right: 5px;
	}
}
