.editor-block-settings-menu {
	position: absolute;
	top: 0;
	right: 4px;
	padding: 6px 0 6px 14px; // handles hover area

	// Mobile
	display: none;

	@include break-small {
		display: flex;
		flex-direction: column;
	}
}

.editor-block-settings-menu__content {
	margin-top: 8px;
	z-index: z-index( '.editor-block-settings-menu__content' );
}

.editor-block-settings-menu__toggle {
	transform: rotate( 90deg );
	transition-duration: 0.3s;
	transition-property: transform;
	z-index: z-index( '.editor-block-settings-menu__toggle' );

	&.is-opened {
		transform: rotate( 0 );
	}
}

.editor-block-settings-menu__control {
	display: block;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: $dark-gray-300;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50%;

	&[aria-disabled="true"] {
		cursor: default;
		color: $light-gray-300;
		pointer-events: none;
	}

	.dashicon {
		display: block;
	}

	.editor-block-settings-menu__content & {
		margin-bottom: 8px;
	}

	.editor-block-settings-menu__content &:last-child {
		margin-bottom: 0;
	}
}
