// TODO: screen reader text className should be replaced
// with a component in the a11y package.
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

:root {
	@include reset;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #34495e;
}

a,
div {
	outline: 0;
}
