@import "../../assets/stylesheets/colors";
@import "../../assets/stylesheets/variables";
@import "../../assets/stylesheets/mixins";
@import "../../assets/stylesheets/breakpoints";
@import "../../assets/stylesheets/animations";
@import "../../assets/stylesheets/z-index";

@import "./reset";
@import "./components/editor/editor-styles";
@import "./components/menu/style";
@import "./components/storybook/style";


.playground__header {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	background: #f1f1f1;
}

.playground__logo {
	font-size: 20px;
	font-weight: 400;
	margin-right: 20px;
}
