@import "./common.scss";
@import "./editor-styles.scss";

#app {
	padding-top: 20px;

	img {
		max-width: 100%;
		height: auto;
	}

	iframe {
		width: 100%;
	}

	.components-navigate-regions {
		height: 100%;
	}
}
