// This is the preview that shows up to the right of the thumbnail when hovering.
.block-editor-block-preview {
	pointer-events: none;
	padding: 10px;
	overflow: hidden;
	display: none;

	@include break-medium {
		display: block;
	}

	.block-editor-block-preview__content {
		padding: $block-padding;
		border: $border-width solid $light-gray-500;
		font-family: $editor-font;

		> div {
			font-family: $editor-font;
		}
	}

	.block-editor-block-preview__title {
		margin-bottom: 10px;
		color: $dark-gray-300;
	}
}

// These rules ensure the preview scales smoothly regardless of the container size.
.block-editor-block-preview__container {
	// In the component, a top padding is provided as an inline style to provid an aspect-ratio.
	// This positioning enables the content to sit on top of that padding to fit.
	position: relative;

	// The preview component measures the pixel width of this item, so as to calculate the scale factor.
	// But without this baseline width, it collapses to 0.
	width: 100%;

	// This ensures that content evne if it overlaps the preview container is properly clipped.
	// This is mostly for previews that include arbitrary content.
	overflow: hidden;
}

.block-editor-block-preview__content {
	// This element receives inline styles for width, height, and transform-scale.
	// Those inline styles are calculated to fit a perfect thumbnail.

	// Position above the padding.
	position: absolute;
	top: 0;
	left: 0;

	// Important to set the origin.
	transform-origin: top left;

	// Resetting paddings, margins, and other.
	text-align: initial;
	margin: 0;
	padding: 0;
	overflow: visible;
	min-height: auto;

	.block-editor-block-list__layout,
	.block-editor-block-list__block {
		padding: 0;
	}

	.editor-block-list__block-edit [data-block] {
		margin-top: 0;
	}

	.reusable-block-indicator,
	.block-list-appender {
		display: none;
	}
}
