.block-editor-block-preview {
	padding: $block-padding;
	font-family: $editor-font;
	overflow: hidden;

	// Resetting the block editor paddings and margins
	.block-editor-block-list__layout,
	.block-editor-block-list__block {
		padding: 0;
	}
	.editor-block-list__block-edit [data-block] {
		margin-top: 0;
	}

	> div section {
		height: auto;
	}

	> .reusable-block-indicator {
		display: none;
	}

	.block-list-appender {
		display: none;
	}

	&.is-scaled {
		> div {
			transform: scale(0.9);
			transform-origin: center top;
		}
	}
}
