.wp-block-latest-comments {
	&.alignleft {
		margin-right: 2em;
	}

	&.alignright {
		margin: 0 7em 2em;
	}

	a {
		cursor: default;
		pointer-events: none;
	}

	.has-avatars img {
		margin-right: 10px;
	}
}

.edit-post-visual-editor {
	.wp-block-latest-comments__comment-excerpt p {
		font-size: 14px;
		line-height: 1.8;
		margin: 5px 0 20px;
		padding-top: 0;
	}

	.wp-block-latest-comments {
		.has-avatars > li {
			min-height: 36px;
		}
	}
}
