.wp-block-latest-comments {
	padding-left: 2.5em;
}

.wp-block-latest-comments__comment-timestamp {
	color: $dark-gray-100;
	font-size: $default-font-size;
	padding: 0 2px;
}

.wp-block-latest-comments__comment-avatar {
	margin-right: 3px;
}
