@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes scaleIn {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	50% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes scaleOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.9);
	}
}

.fade-enter {
	animation: fadeIn 0.2s forwards;
}

.fade-exit {
	animation: fadeOut 0.2s forwards;
}

/* Ensure the inner animation starts after a delay, matching the outer animation length */
.fade-enter .components-drop-zone__content-inner {
	animation: scaleIn 0.2s forwards;
}

.fade-exit .components-drop-zone__content-inner {
	animation: scaleOut 0.2s forwards;
}

.components-drop-zone {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: z-index(".components-drop-zone");
	visibility: hidden;
	opacity: 0;
	border-radius: $radius-block-ui;

	&.is-active {
		opacity: 1;
		visibility: visible;
	}
}

.components-drop-zone__content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	display: flex;
	background-color: $components-color-accent;
	align-items: center;
	justify-content: center;
	z-index: z-index(".components-drop-zone__content");
	text-align: center;
	color: $white;
}

.components-drop-zone__content-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.components-drop-zone__content-icon,
.components-drop-zone__content-text {
	display: block;
}

.components-drop-zone__content-icon {
	margin: 0 auto $grid-unit-10;
	line-height: 0;
	fill: currentColor;
	pointer-events: none;
}

.components-drop-zone__content-text {
	font-family: $default-font;
	font-size: $default-font-size;
}
