.components-drop-zone {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: z-index(".components-drop-zone");
	visibility: hidden;
	opacity: 0;
	border-radius: $radius-block-ui;
	transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s step-end;

	&.is-active {
		visibility: visible;
		opacity: 1;
		transition:
			opacity 0.2s ease-in-out,
			visibility 0s step-start;
	}

	&__content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		display: flex;
		background-color: $components-color-accent;
		align-items: center;
		justify-content: center;
		z-index: z-index(".components-drop-zone__content");
		text-align: center;
		color: $white;
		opacity: 0;
		transform: scale(0.9);
		transition:
			opacity 0.2s ease-in-out,
			transform 0.2s ease-in-out;
		transition-delay: 0.1s;
		pointer-events: none;

		.components-drop-zone.is-active & {
			opacity: 1;
			transform: scale(1);
		}
	}

	&__content-inner {
		opacity: 0;
		transform: scale(0.9);
		transition:
			opacity 0.1s ease-in-out,
			transform 0.1s ease-in-out;

		.components-drop-zone.is-active & {
			opacity: 1;
			transform: scale(1);
		}
	}

	&__content-icon,
	&__content-text {
		display: block;
	}

	&__content-icon {
		margin: 0 auto $grid-unit-10;
		line-height: 0;
		fill: currentColor;
		pointer-events: none;
	}

	&__content-text {
		font-family: $default-font;
		font-size: $default-font-size;
	}
}
