@layer wp-ui {
	@layer utilities, components, compositions, overrides;

	@layer utilities {
		.outset-ring--focus:focus,
		.outset-ring--focus-except-active:focus:not(:active),
		.outset-ring--focus-visible:focus-visible,
		.outset-ring--focus-within:focus-within,
		.outset-ring--focus-within-except-active:focus-within:not(:has(:active)),
		.outset-ring--focus-within-visible:focus-within:has(:focus-visible),
		:focus-visible .outset-ring--focus-parent-visible {
			--_gcd-a-outline: var(--wpds-border-width-focus) solid var(--wpds-color-stroke-focus);
			--_gcd-div-outline: var(--wpds-border-width-focus) solid var(--wpds-color-stroke-focus);

			outline: var(--wpds-border-width-focus) solid var(--wpds-color-stroke-focus);
			outline-offset: var(--wpds-border-width-focus);
		}
	}
}
