.edit-navigation-toolbar {
	align-items: center;
	background: $white;
	border-radius: 3px;
	border: $border-width solid $gray-200;
	display: flex;
	height: $grid-unit-60 * 2;
	margin-top: $grid-unit-10;
	padding-bottom: $grid-unit-60;
	padding-right: $grid-unit-10;
	position: relative;

	@include break-medium() {
		height: $grid-unit-60;
		padding-bottom: 0;
	}

	.components-base-control__field {
		margin: 0;
	}

	.block-editor-block-toolbar {
		@include break-medium() {
			border-left: 1px solid $gray-200;
			margin-left: $grid-unit-20;
		}
	}

	.components-spinner {
		left: 50%;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.edit-navigation-toolbar__menu-select {
	@include break-medium() {
		width: 299px;
	}
}

.edit-navigation-toolbar__block-tools {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: 1px solid $gray-200;
	position: absolute;
	top: $grid-unit-60;
	width: 100%;

	@include break-medium() {
		border-top: none;
		position: static;
		width: auto;
	}
}

.edit-navigation-toolbar__save-button {
	margin: 0 $grid-unit-10 0 auto;
}

.edit-navigation-toolbar__add-menu-form {
	align-items: center;
	border-left: 1px solid $gray-200;
	display: flex;
	flex-grow: 1;
	height: 100%;
	margin-left: $grid-unit-20;
}

.edit-navigation-toolbar__add-menu-icon {
	margin-left: $grid-unit-10;
}

.edit-navigation-toolbar__add-menu-name-field {
	align-items: center;
	border-left: 1px solid $gray-200;
	display: flex;
	height: 100%;
	margin-left: $grid-unit-10;
	padding-left: $grid-unit-10;
}

.components-button.edit-navigation-toolbar__add-menu-cancel-button {
	margin-left: auto;
}

.components-button.edit-navigation-toolbar__add-menu-create-button {
	margin-left: $grid-unit-20;
}
