.edit-navigation-toolbar {
	align-items: center;
	background: $white;
	border: $border-width solid $gray-300;
	display: flex;
	height: $grid-unit-60 * 2;
	padding-bottom: $grid-unit-60;
	position: relative;

	@include break-medium() {
		height: $grid-unit-60;
		padding-bottom: 0;
	}

	.components-spinner {
		left: 50%;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.edit-navigation-toolbar__block-tools {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: 1px solid $gray-300;
	position: absolute;
	top: $grid-unit-60;
	width: 100%;

	@include break-medium() {
		border-top: none;
		position: static;
		width: auto;
	}
}

.edit-navigation-toolbar__save-button {
	margin: 0 $grid-unit-10 0 auto;
}
