.edit-navigation-toolbar {
	position: relative;

	.components-spinner {
		left: 50%;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.edit-navigation-toolbar__menu-title {
	small {
		display: block;
		font-size: 13px;
		font-weight: normal;
	}
}

.edit-navigation-toolbar__editor-tools {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;

	.edit-navigation-toolbar__save-button {
		margin-right: 6px;
	}
}

.edit-navigation-toolbar__block-tools {
	min-height: 48px;
	background: $white;
	overflow: hidden;
}
