.block-editor-responsive-controls {
	margin-bottom: $block-padding*2;
	border-bottom: 1px solid $light-gray-600;
	padding-bottom: $block-padding;

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.block-editor-responsive-controls__label {
	font-weight: 600;
	margin-bottom: 0.6em;
	margin-left: -1px;
}

.block-editor-dimension-control {


	.components-base-control__label {
		margin-bottom: 0;
	}

	.components-base-control__help {
		margin-top: -5px;
	}
}

.block-editor-dimension-control__buttons {
	display: flex;
}

.block-editor-dimension-control__button {
	flex: 1;
	justify-content: center;

	abbr {
		pointer-events: none;
	}
}

.block-editor-dimension-control__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.75em;

	.block-editor-dimension-control__header-label {
		display: flex;
		align-items: center;

		.dashicon {
			margin-right: 0.5em;
		}
	}
}

