@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/base-styles/colors" as *;

.block-editor-global-styles-background-panel__inspector-media-replace-container {
	.block-editor-global-styles-background-panel__color-tools-panel-item {
		padding: 0;
		position: relative;

		button {
			padding: 0;
		}
	}
}

.block-editor-global-styles-background-panel__color-tools-panel-item {
	position: relative;

	button {
		padding: 0;
	}
}

.block-editor-global-styles-background-panel__color-reset {
	position: absolute;
	right: 0;
	top: $grid-unit;
	margin: auto $grid-unit auto;
	opacity: 0;
	@media not ( prefers-reduced-motion ) {
		transition: opacity 0.1s ease-in-out;
	}

	&.block-editor-global-styles-background-panel__color-reset {
		border-radius: $radius-small;
	}

	.block-editor-panel-color-gradient-settings__dropdown:hover + &,
	&:focus,
	&:hover {
		opacity: 1;
	}

	@media ( hover: none ) {
		// Show reset button on devices that do not support hover.
		opacity: 1;
	}
}
