.editor-meta-boxes {
	border-right-width: 0;
	border-left-width: 0;

	.components-panel__body-toggle {
		background-color: $light-gray-300;
	}

	.components-panel__body.is-opened .components-panel__body-toggle {
		border-bottom: 1px solid $light-gray-500;
	}
}

.editor-meta-boxes__coming-soon {
	width: 300px;
	padding: #{ $panel-padding * 2 } 0 $panel-padding;
	margin: 0 auto;
	text-align: center;

	&,
	h3 {
		color: $dark-gray-200;
	}

	h3 {
		margin: 0.6em 0;
	}

	p {
		margin-bottom: 0;
	}
}
