.block-editor-content-only-controls__link {
	width: 100%;
}

.block-editor-content-only-controls__link-row {
	align-items: center;
}

.block-editor-content-only-controls__link-title {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
