.wp-block-playlist {
	li.block-list-appender.block-list-appender {
		position: initial;
		margin-top: var(--wp--preset--spacing--30, 1em);
	}

	// Override WaveformPlayer's inline width style on the canvas.
	.waveform-container canvas {
		width: 100% !important;
	}
}

.wp-block-playlist__waveform-color-controls {
	display: grid;
	grid-column: 1 / -1;
	row-gap: 0;
}
