.wp-block-code {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	// Provide a minimum of overflow handling and ensure the code markup inherits
	// the font-family set on pre.
	code {
		display: block;
		font-family: inherit;
		overflow-wrap: break-word;
		white-space: pre-wrap;
		// Set direction and avoid inheriting alignment from a parent element.
		/*!rtl:begin:ignore*/
		direction: ltr;
		text-align: initial;
		/*!rtl:end:ignore*/
	}
}
