// Provide a minimum of overflow handling.
.wp-block-code {
	font-size: var(--wp--preset--font-size--extra-small, 0.9em);

	code {
		display: block;
		white-space: pre-wrap;
		overflow-wrap: break-word;
	}
}
