@layer wp-ui-utilities, wp-ui-components, wp-ui-compositions, wp-ui-overrides;

@layer wp-ui-compositions {
	.irreversible-action {
		--wp-ui-button-background-color: var(--wpds-color-bg-interactive-error-strong);
		--wp-ui-button-background-color-active: var(--wpds-color-bg-interactive-error-strong-active);
		--wp-ui-button-foreground-color: var(--wpds-color-fg-interactive-error-strong);
		--wp-ui-button-foreground-color-active: var(--wpds-color-fg-interactive-error-strong-active);
	}
}
