.bottom-sheet-v2__gesture-handler {
	flex: 1;
}

.bottom-sheet-v2__background {
	border-radius: 8px;
}

.bottom-sheet-v2__handle-indicator {
	background-color: $light-gray-400;
	border-radius: 2px;
	width: 36px;
}
