
.titleContainer {
	padding-left: 16;
	padding-right: 16;
	padding-top: $title-block-padding-top;
	padding-bottom: $title-block-padding-bottom;
	margin-top: 24;
}

.block-editor-rich-text {
	font-family: $default-regular-font;
	min-height: $min-height-paragraph;
	color: $gray-900;
	text-decoration-color: $blue-500;
}

.block-editor-rich-text-placeholder {
	color: $gray;
}
