.editor-post-title {
	position: relative;

	&.is-focus-mode .editor-post-title__input {
		opacity: 0.5;
		transition: opacity 0.1s linear;
		@include reduce-motion("transition");

		&:focus {
			opacity: 1;
		}
	}
}
