.components-input-control__input {
	background-color: transparent;
	box-sizing: border-box;
	border: none;
	box-shadow: none !important;
	color: $components-color-foreground;
	display: block;
	font-family: inherit;
	margin: 0;
	outline: none;
	width: 100%;

	&::-webkit-input-placeholder {
		line-height: normal;
	}

	&.is-dragging {
		cursor: var(--drag-cursor);
		user-select: none;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none !important;
			margin: 0 !important;
		}

		&:active {
			cursor: var(--drag-cursor);
		}
	}
}
