.wp-block-navigation {
	// Block wrapper gets the classes in the editor, and there's an extra div wrapper for now, so background styles need to be inherited.
	.wp-block-page-list > div,
	.wp-block-page-list {
		background-color: inherit;
	}
	// Make links unclickable in the editor
	.page_item a {
		pointer-events: none;
	}
	// Make the dropdown background white if there's no background color set.
	&:not(.has-background) {
		.children {
			color: $gray-900;
			background-color: $white;
		}
	}
}

.wp-block-page-list .components-placeholder {
	min-height: 0;
	padding: 0;
	background-color: inherit;

	.components-spinner {
		margin-top: 0;
	}
}
