.wp-block-page-list__submenu-icon {
	display: none;
}

.show-submenu-icons {
	.wp-block-page-list__submenu-icon {
		display: block;
		padding: 0.375em 1em 0.375em 0;

		svg {
			fill: currentColor;
		}
	}
}

// The Pages block should inherit navigation styles when nested within it
.wp-block-navigation {
	.wp-block-page-list {
		display: flex;
		flex-wrap: wrap;
	}
	.wp-block-pages-list__item__link {
		display: block;
		color: inherit;
		padding: 0.5em 1em;
	}

	.wp-block-pages-list__item.has-child {
		display: flex;
		position: relative;
		background-color: inherit;

		> a {
			padding-right: 0.5em;
		}
		> .submenu-container {
			border: $border-width solid rgba(0, 0, 0, 0.15);
			background-color: inherit;
			color: inherit;
			position: absolute;
			left: 0;
			top: 100%;
			width: fit-content;
			z-index: 2;
			opacity: 0;
			transition: opacity 0.1s linear;
			visibility: hidden;

			@include break-medium {
				left: 1.5em;

				// Nested submenus sit to the left on large breakpoints
				.submenu-container {
					left: 100%;
					top: -1px;

					// Prevent the menu from disappearing when the mouse is over the gap
					&::before {
						content: "";
						position: absolute;
						right: 100%;
						height: 100%;
						display: block;
						width: 0.5em;
						background: transparent;
					}
				}

				.wp-block-navigation-link__submenu-icon svg {
					transform: rotate(0);
				}
			}
		}

		&:hover {
			cursor: pointer;

			> .submenu-container {
				visibility: visible;
				opacity: 1;
			}
		}

		&:focus-within {
			cursor: pointer;

			> .submenu-container {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.submenu-container {
		padding: 0;
	}
}

.is-vertical .wp-block-navigation__container {
	.wp-block-page-list {
		display: block;
	}
}
