.wp-block-embed figcaption {
	margin-top: 0.5em;
	color: $dark-gray-300;
	text-align: center;
	font-size: $default-font-size;
}

// Apply max-width to floated items that have no intrinsic width
.editor-block-list__block[data-type="core/embed"][data-align="left"] .editor-block-list__block-edit,
.editor-block-list__block[data-type="core/embed"][data-align="right"] .editor-block-list__block-edit,
.wp-block-embed.alignleft,
.wp-block-embed.alignright {
	max-width: $content-width / 2;
	width: 100%;
}
