.edit-navigation-menus-editor__menu-selection-card {
	margin-bottom: 10px;
}

.edit-navigation-menus-editor__menu-selection-card-body {
	display: flex;
}

.edit-navigation-menus-editor__menu-select-control {
	flex: 1;

	@include break-small {
		.components-base-control__field {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			margin-bottom: 0;
		}
		.components-base-control__label {
			margin-right: 1ch;
		}
	}
}
