.block-editor-block-bindings-toolbar-indicator__popover .components-popover__content {
	min-width: 260px;
	padding: $grid-unit-20;
}

.block-editor-block-bindings-toolbar-indicator .block-editor-block-bindings-toolbar-indicator-icon.has-colors svg {
	fill: var(--wp-block-synced-color);
}

.editor-collapsible-block-toolbar .block-editor-block-bindings-toolbar-indicator {
	height: 32px;
}
