.blocks_plain_text {
	box-shadow: none;

	// 'inherit' is not supported
	// font-family: inherit;
	// font-size: inherit;
	// color: inherit;
	// line-height: inherit;

	// 'border' is not supported
	// border: none;

	padding: 0;
	margin: 0;
	width: 100%;
}
