@mixin keyframes($name) {
	@keyframes #{$name} {
		@content;
	}
}

@mixin animation__fade-in($speed: 0.08s, $delay: 0s, $easing: linear) {
	@include keyframes(__wp-base-styles-fade-in) {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}


	animation: __wp-base-styles-fade-in $speed $easing $delay;
	animation-fill-mode: forwards;
	@include reduce-motion("animation");
}

@mixin animation__fade-out($speed: 0.08s, $delay: 0s, $easing: linear) {
	@include keyframes(__wp-base-styles-fade-out) {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}


	animation: __wp-base-styles-fade-out $speed $easing $delay;
	animation-fill-mode: forwards;
	@include reduce-motion("animation");
}

@mixin editor-canvas-resize-animation() {
	transition: all 0.5s cubic-bezier(0.65, 0, 0.45, 1);
	@include reduce-motion("transition");
}

// Deprecated
@mixin edit-post__fade-in-animation($speed: 0.08s, $delay: 0s) {
	@warn "The `edit-post__fade-in-animation` mixin is deprecated. Use `animation__fade-in` instead.";
	@include animation__fade-in($speed, $delay);
}
