@mixin edit-post__fade-in-animation($speed: 0.2s, $delay: 0s) {
	animation: edit-post__fade-in-animation $speed ease-out $delay;
	animation-fill-mode: forwards;
	@include reduce-motion("animation");
}

@mixin editor-canvas-resize-animation() {
	transition: all 0.5s cubic-bezier(0.65, 0, 0.45, 1);
	@include reduce-motion("transition");
}
