// It is important to include these styles in all built stylesheets.
// This allows to CSS variables post CSS plugin to generate fallbacks.
// It also provides default CSS variables for npm package consumers.
:root {
	@include admin-scheme(#007cba);
	--wp-block-synced-color: #7a00df;
	--wp-block-synced-color--rgb: #{hex-to-rgb(#7a00df)};
	--wp-bound-block-color: #9747ff;
}
