body.has-admin-bar-in-editor.admin-color-fresh {
	--wp-admin-bar-color-bg: #1d2327;
	--wp-admin-bar-color-fg: #c3c4c7;
	--wp-admin-menu-current-color-bg: #0073aa;
	--wp-admin-menu-submenu-color-bg-alt: #3c434a;
	--wp-admin-menu-submenu-color-fg: #c3c4c7;
}

body.has-admin-bar-in-editor.admin-color-modern {
	--wp-admin-bar-color-bg: #1e1e1e;
	--wp-admin-bar-color-fg: #fff;
	--wp-admin-menu-current-color-bg: #3858e9;
	--wp-admin-menu-submenu-color-bg-alt: #303030;
	--wp-admin-menu-submenu-color-fg: #bbb;
}

body.has-admin-bar-in-editor.admin-color-midnight {
	--wp-admin-bar-color-bg: #363b3f;
	--wp-admin-bar-color-fg: #fff;
	--wp-admin-menu-current-color-bg: #e14d43;
	--wp-admin-menu-submenu-color-bg-alt: #4c4c4d;
	--wp-admin-menu-submenu-color-fg: #c2c4c5;
}

body.has-admin-bar-in-editor.admin-color-coffee {
	--wp-admin-bar-color-bg: #59524c;
	--wp-admin-bar-color-fg: #fff;
	--wp-admin-menu-current-color-bg: #c7a589;
	--wp-admin-menu-submenu-color-bg-alt: #656463;
	--wp-admin-menu-submenu-color-fg: #cdcbc9;
}

body.has-admin-bar-in-editor.admin-color-ocean {
	--wp-admin-bar-color-bg: #738e96;
	--wp-admin-bar-color-fg: #fff;
	--wp-admin-menu-current-color-bg: #9ebaa0;
	--wp-admin-menu-submenu-color-bg-alt: #8f9a9e;
	--wp-admin-menu-submenu-color-fg: #d5dddf;
}

body.has-admin-bar-in-editor.admin-color-blue {
	--wp-admin-bar-color-bg: #52accc;
	--wp-admin-bar-color-fg: #fff;
	--wp-admin-menu-current-color-bg: #096484;
	--wp-admin-menu-submenu-color-bg-alt: #74b6ce;
	--wp-admin-menu-submenu-color-fg: #e2ecf1;
}

body.has-admin-bar-in-editor.admin-color-ectoplasm {
	--wp-admin-bar-color-bg: #523f6d;
	--wp-admin-bar-color-fg: #fff;
	--wp-admin-menu-current-color-bg: #a3b745;
	--wp-admin-menu-submenu-color-bg-alt: #64537c;
	--wp-admin-menu-submenu-color-fg: #cbc5d3;
}

body.has-admin-bar-in-editor.admin-color-sunrise {
	--wp-admin-bar-color-bg: #cf4944;
	--wp-admin-bar-color-fg: #fff;
	--wp-admin-menu-current-color-bg: #dd823b;
	--wp-admin-menu-submenu-color-bg-alt: #cf6b67;
	--wp-admin-menu-submenu-color-fg: #f1c8c7;
}

body.has-admin-bar-in-editor.admin-color-light {
	--wp-admin-bar-color-bg: #e5e5e5;
	--wp-admin-bar-color-fg: #333;
	--wp-admin-menu-current-color-bg: #888;
	--wp-admin-menu-submenu-color-bg-alt: #f7f7f7;
	--wp-admin-menu-submenu-color-fg: #686868;
}
