.edit-post-template__modal {
	.components-base-control {
		@include break-medium() {
			width: $grid-unit * 40;
		}
	}
}

.edit-post-template__modal-actions {
	margin-bottom: -$grid-unit-30;
	margin-top: $grid-unit-30;
	margin-left: -$grid-unit-40;
	margin-right: -$grid-unit-40;
	padding: $grid-unit-20 $grid-unit-40;
	border-top: $border-width solid $gray-300;
}

.edit-post-template-modal__tip {
	padding: $grid-unit-20 $grid-unit-30;
	background: $gray-100;
	border-radius: 2px;

	@include break-medium() {
		width: $grid-unit * 30;
	}
}

.edit-post-template__actions {
	button:not(:last-child) {
		margin-right: $grid-unit-10;
	}
}
