$blocks-button__height: 46px;

.wp-block-button {
	display: inline-block;
	text-decoration: none;
	margin: 0;
	padding: 0 24px;
	height: $blocks-button__height;
	line-height: $blocks-button__height;
	cursor: default;
	border-radius: $blocks-button__height / 2;
	white-space: nowrap;
	background-color: $dark-gray-700;
	vertical-align: top;
	position: relative;

	> div {
		color: $white;
	}

	a {
		box-shadow: none !important;
		cursor: pointer;
		text-decoration: none !important;
	}

	a:not(.custom-color) {
		color: $white;
	}

	&.aligncenter {
		display: inline-block;
	}
}
