$blocks-button__height: 46px;
$blocks-button__line-height: $big-font-size + 6px;

.wp-block-button {
	margin-bottom: 1.5em;

	& .wp-block-button__link {
		background-color: $dark-gray-700;
		border: none;
		border-radius: $blocks-button__height / 2;
		box-shadow: none !important;
		color: $white;
		cursor: pointer;
		display: inline-block;
		font-size: $big-font-size;
		line-height: $blocks-button__line-height;
		margin: 0;
		padding: ( $blocks-button__height - $blocks-button__line-height ) / 2 24px;
		text-align: center;
		text-decoration: none !important;
		white-space: nowrap;
		word-break: break-word;

		&:hover,
		&:focus,
		&:active {
			background-color: $dark-gray-700;
			color: $white;
		}
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}
