@import "./datepicker.scss";

// Styles that overrides the calendar styling provided by react-dates go here.
// Everything else goes in styles.ts.

.components-datetime__date {
	//
	// Margin overrides
	//

	// Remove the left and right margin from the calendar by setting all the
	// containers' widths to 100%. This means that the slide left / slide right
	// animation won't work but we don't want that, anyway.

	.CalendarMonthGrid__horizontal,
	.DayPicker_weekHeader_li {
		transform: none !important; // Override inline style.
		width: 100% !important; // Override inline style.
	}

	.CalendarMonthGrid_month__horizontal,
	.CalendarMonth_table,
	.DayPicker_weekHeader {
		width: 100%;
	}

	.DayPicker_weekHeaders__horizontal {
		margin: 0;
	}

	.DayPicker_weekHeader_ul {
		display: flex;
	}

	//
	// Theming
	//

	.DayPicker_weekHeader {
		top: 50px;
	}

	.CalendarMonth_caption {
		font-size: $default-font-size;
	}

	.CalendarMonth_table {
		border-collapse: separate;
		border-spacing: 2px;
	}

	.CalendarDay {
		border: none;
		font-size: $default-font-size;
		border-radius: $radius-round;

		&:focus {
			box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color), inset 0 0 0 #{ $border-width-focus + $border-width } $white;
			outline: 2px solid transparent; // Shown in Windows 10 high contrast mode.
		}
	}

	.CalendarDay__selected {
		background: var(--wp-admin-theme-color);
		border: 2px solid transparent; // This indicates selection in Windows 10 high contrast mode.

		&:hover {
			background: var(--wp-admin-theme-color-darker-20);
		}

		&:focus {
			box-shadow: inset 0 0 0 $border-width $white;
		}
	}
}
