.editor-preview-dropdown .editor-preview-dropdown__toggle.has-icon.has-text {
	padding-right: $grid-unit-05;
	gap: 0;
}

.editor-preview-dropdown--mobile,
.editor-preview-dropdown--tablet {
	.editor-preview-dropdown__toggle svg:first-of-type {
		margin-right: -$grid-unit-10;
	}
}

.editor-preview-dropdown__button-external {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
