.editor-preview-dropdown .editor-preview-dropdown__toggle.has-icon.has-text {
	padding-right: $grid-unit-05 * 0.5;
	gap: 0;
}

.editor-preview-dropdown--mobile,
.editor-preview-dropdown--tablet {
	.editor-preview-dropdown__toggle.has-icon.has-text {
		gap: 0;
		padding-left: $grid-unit-05;
	}
}

.editor-preview-dropdown__button-external {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
