.editor-tools {
	margin: 0 0 0 auto;
	display: flex;
	align-items: center;
}

.editor-tools__tabs {
	margin: 0 $item-spacing;
	padding: 0 0 0 $item-spacing;
	border-left: 1px solid $light-gray-500;
	border-right: 1px solid $light-gray-500;
	display: flex;
	align-items: center;

	.editor-button {
		display: flex;
		flex-wrap: nowrap;
		white-space: nowrap;
		align-items: center;
		border: none;
		background: none;
		color: $dark-gray-500;
		margin-right: $item-spacing;
		cursor: pointer;
		height: 30px;
		padding: 0 10px;
		border-radius: 3px;
		width: 40px;
		overflow: hidden;

		&:hover {
			color: $blue-medium;
		}

		@include break-medium() {
			width: auto;
		}
	}

	.editor-button .dashicon {
		margin-right: 10px;
		flex-shrink: 0;

		@include break-medium() {
			margin-right: 4px;
		}
	}
}
