.classicDashboardWidget {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 0;
	overflow: auto;
}

.loading {
	flex: 1;
	min-height: 100px;
}

.classicDashboardWidget.isOffscreen {
	position: absolute;
	left: -9999px;
	width: 100%;
}

.classicDashboardWidgetIframe {
	display: block;
	width: 100%;
	min-height: 100%;
	border: 0;
	flex: 1 1 auto;
}
