@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/default-custom-properties";
@use "@wordpress/base-styles/mixins" as *;
@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/interface/build-style/style.css" as interface;
@use "./blocks/widget-area/editor.scss" as *;
@use "./components/error-boundary/style.scss" as *;
@use "./components/header/style.scss" as *;
@use "./components/keyboard-shortcut-help-modal/style.scss" as *;
@use "./components/sidebar/style.scss" as *;
@use "./components/notices/style.scss" as *;
@use "./components/layout/style.scss" as *;
@use "./components/more-menu/style.scss" as *;
@use "./components/welcome-guide/style.scss" as *;
@use "./components/widget-areas-block-editor-content/style.scss" as *;
@use "./components/secondary-sidebar/style.scss" as *;

body.js.appearance_page_gutenberg-widgets,
body.js.widgets-php {
	@include wp-admin-reset( ".blocks-widgets-container" );
}

.blocks-widgets-container {
	@include reset;
	// On mobile the main content area has to scroll, otherwise you can invoke
	// the overscroll bounce on the non-scrolling container, for a bad experience.
	@include break-small {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: calc(100vh - #{ $admin-bar-height-big });
	}

	// The WP header height changes at this breakpoint.
	@include break-medium {
		min-height: calc(100vh - #{ $admin-bar-height });
	}

	.interface-interface-skeleton__content {
		background-color: $gray-100;
	}
}

.blocks-widgets-container .editor-styles-wrapper {
	max-width: $widget-area-width;
	margin: auto;
}

.edit-widgets-sidebar .components-button.interface-complementary-area__pin-unpin-item {
	display: none;
}

// Don't display admin notices on the Widgets screen.
// Needs !important because plugins may add inline styles to notices.
.js .widgets-php .notice {
	display: none !important;
}

@include wordpress-admin-schemes();
