
.horizontalSeparator {
	border-bottom-width: $border-width;
	border-color: $light-gray-400;
}

.horizontalSeparatorDark {
	border-color: $gray-70;
}

.colorIndicator {
	width: 24px;
	height: 24px;
}

.footer {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 12px $panel-padding;
}

.colorIndicator {
	width: 24px;
	height: 24px;
}

.selectColorText {
	text-align: center;
	color: $gray;
	font-size: 16px;
	flex: 2;
}

.flex {
	flex: 1;
}

.colorText {
	font-family: $default-monospace-font;
	color: rgba(0, 0, 0, 0.87);
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}

.colorTextDark {
	color: rgba(255, 255, 255, 0.87);
}

.row {
	flex-direction: row;
	align-items: center;
	flex: 1;
}
