.editor-list-view-sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;

	@include break-medium() {
		// Same width as the Inserter.
		// @see packages/block-editor/src/components/inserter/style.scss
		width: 350px;
	}
}

.editor-list-view-sidebar__list-view-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.editor-list-view-sidebar__tab-panel {
	height: 100%;
}

.editor-list-view-sidebar__outline {
	display: flex;
	flex-direction: column;
	gap: $grid-unit-10;
	border-bottom: $border-width solid $gray-300;
	padding: $grid-unit-20;

	& > div > span:first-child {
		// Width of the text information fields.
		width: 90px;
		display: inline-block;
	}

	& > div > span {
		font-size: $helptext-font-size;
		line-height: $default-line-height;
		color: $gray-700;
	}
}

