.block-editor-block-list__block[data-type="core/button"] {
	&[data-align="center"] {
		text-align: center;
	}

	&[data-align="right"] {
		/*!rtl:ignore*/
		text-align: right;
	}
}

.wp-block-button {
	position: relative;

	[contenteditable] {
		cursor: text;
	}

	// Don't let placeholder expand parent width.
	.block-editor-rich-text {
		display: inline-block;
	}

	// Make placeholder text white unless custom colors or outline versions are chosen.
	&:not(.has-text-color):not(.is-style-outline) [data-rich-text-placeholder]::after {
		color: $white;
	}

	// Add outline to button on focus to indicate focus-state
	.block-editor-rich-text__editable:focus {
		box-shadow: 0 0 0 1px $white, 0 0 0 3px $blue-medium-500;

		// Windows' High Contrast mode will show this outline, but not the box-shadow.
		outline: 2px solid transparent;
		outline-offset: -2px;
	}

	// Increase placeholder opacity to meet contrast ratios.
	[data-rich-text-placeholder]::after {
		opacity: 0.8;
	}

	// Don't let the placeholder text wrap in the variation preview.
	.block-editor-block-preview__content & {
		max-width: 100%;

		.wp-block-button__link {
			max-width: 100%;
			overflow: hidden;
			// Override is allowed here only because the rich text instance in
			// a preview is not editable.
			// To do: use the `save` function to preview a block transform, not
			// the `edit` function.
			white-space: nowrap !important;
			text-overflow: ellipsis;
		}
	}
}

.wp-block-button__inline-link {
	color: $dark-gray-500;
	height: 0;
	overflow: hidden;
	max-width: 290px;

	&-input__suggestions {
		max-width: 290px;
	}

	@media (min-width: #{ ($break-medium) }) {
		max-width: 260px;

		&-input__suggestions {
			max-width: 260px;
		}

	}
	@media (min-width: #{ ($break-large) }) {
		max-width: 290px;

		&-input__suggestions {
			max-width: 290px;
		}

	}

	.is-selected &,
	.is-typing & {
		height: auto;
		overflow: visible;
		margin-top: $grid-size-large;
	}
}
