$blocks-button__height: 56px;

.wp-block-button {
	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}
}

.wp-block-button {
	border: none;
	border-radius: $blocks-button__height / 2;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-size: $big-font-size;
	margin: 0;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;

	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: var(--wp--color--text, $white);
	}
}

.wp-block-button.is-style-squared {
	border-radius: 0;
}

.wp-block-button.no-border-radius {
	border-radius: 0 !important;
}

.wp-block-button.is-style-outline {
	color: $dark-gray-700;
	background-color: transparent;
	border: 2px solid;
}
