//Bottom Sheet

.bottomModal {
	justify-content: flex-end;
	margin: 0;
	align-items: center;
}

.dragIndicator {
	background-color: $light-gray-400;
	height: 4px;
	width: 36px;
	margin: auto;
	margin-top: 6px;
	border-radius: 2px;
}

.separator {
	background-color: $light-gray-400;
	height: 1px;
	width: 100%;
}

.separatorDark {
	background-color: $gray-70;
}

.emptyHeaderSpace {
	height: 14;
}

.background {
	background-color: $white;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	width: 100%;
	max-width: 512;
	padding-bottom: 0;
}

.backgroundDark {
	background-color: $background-dark-elevated;
}

.content {
	padding: 0 16px 0 16px;
}

.head {
	flex-direction: row;
	width: 100%;
	margin-bottom: 5px;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	min-height: 48;
}

.title {
	color: $dark-gray-600;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.titleContainer {
	justify-content: center;
	flex: 2;
	align-content: center;
}

// Button

.buttonText {
	font-size: 18px;
	padding: 5px;
}

.resetButton {
	font-size: 17px;
	color: $blue-wordpress;
}

.resetButtonDark {
	color: $blue-30;
}

// Cell

.cellContainer {
	flex-direction: row;
	min-height: 48;
	align-items: center;
}

.clipToBounds {
	overflow: hidden;
}

.cellSeparator {
	background-color: $light-gray-400;
	height: 1px;
	width: 100%;
}

.cellSeparatorDark {
	background-color: $gray-70;
}

.cellRowContainer {
	flex-direction: row;
	align-items: center;
	flex-shrink: 1;
}

.cellIcon {
	padding-right: 0;
}

.cellLabel {
	font-size: 17px;
	color: #2e4453;
	margin-right: 12px;
}

.cellLabelCentered {
	font-size: 17px;
	color: #2e4453;
	flex: 1;
	text-align: center;
}

.cellLabelLeftAlignNoIcon {
	font-size: 17px;
	color: #2e4453;
	flex: 1;
	margin-left: 12px;
}

.cellValue {
	font-size: 17px;
	color: #2e4453;
	text-align: right;
	flex: 1;
}

.cellTextDark {
	color: $white;
}

.cellValueRTL {
	text-align: left;
}

.icon {
	color: $toolbar-button;
}

.iconDark {
	color: #c3c4c7;
}

// Unsupported Footer Cell

.unsupportedFooterCell {
	font-size: $text-editor-font-size;
	color: $gray;
}
