.editor-post-schedule__panel-dropdown {
	width: 100%;
}

.editor-post-schedule__dialog {
	.components-popover__content {
		min-width: 320px;
		padding: $grid-unit-20;
	}
}

.editor-post-schedule__dialog-toggle.components-button {
	overflow: hidden;
	text-align: left;
	white-space: unset;
	height: auto;
	min-height: $button-size-compact;

	// The line height + the padding should be the same as the button size.
	line-height: inherit;
}
