@use "@wordpress/base-styles/mixins";

@mixin popup {
	.components-popover__content,
	.components-popover__header {
		background-color: var(--wpds-color-background-surface-neutral-strong);
		color: var(--wpds-color-foreground-content-neutral);
	}

	.components-popover__arrow::before {
		background-color: var(--wpds-color-background-surface-neutral-strong);
	}

	.components-popover__triangle-bg {
		fill: var(--wpds-color-background-surface-neutral-strong);
	}
}

@mixin highlight {
	background-color: var(--wpds-color-background-interactive-neutral-weak-active);
	color: var(--wpds-color-foreground-interactive-neutral-active);

	@media ( forced-colors: active ) {
		forced-color-adjust: none;
		background-color: Highlight;
		color: HighlightText;
	}
}

@mixin focus {
	@include mixins.outset-ring__focus;
	outline-offset: 0;
	box-shadow: none;
	position: relative;
	z-index: 1;

	@media ( forced-colors: active ) {
		outline-color: Highlight;
	}
}

@mixin menu-item {
	&:focus {
		outline: none;
		box-shadow: none;
	}

	&:is(:hover, :focus-visible, [aria-expanded="true"]):not(:disabled, [aria-disabled="true"]) {
		@include highlight;

		.components-menu-item__info {
			color: inherit;
		}
	}

	&:focus-visible:not(:active) {
		@include focus;
	}
}
