.wp-block-breadcrumbs {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	ol {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}

	.wp-block-breadcrumbs__item {
		display: inline;
	}

	.wp-block-breadcrumbs__separator {
		padding: 0 0.5em;
	}
}
