.components-spinner {
	&::after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 2px solid transparent;
		border-top-color: var(--wp-admin-theme-color);
		box-sizing: border-box;
		border-radius: 50%;
		animation: 1.4s linear infinite both components-spinner__spin-indicator;
	}
}

@keyframes components-spinner__spin-indicator {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
