@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.components-spinner {
	display: inline-block;
	background-color: #808080;
	width: 18px;
	height: 18px;
	opacity: 0.7;
	float: right;
	margin: 5px 11px 0;
	border-radius: 100%;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		background-color: white;
		top: 3px;
		left: 3px;
		width: 4px;
		height: 4px;
		border-radius: 100%;
		animation: rotation 1s infinite linear;
		transform-origin: 6px 6px;
	}
}
