.editor-inserter-sidebar {
	@include reset;

	height: 100%;
	display: flex;
	flex-direction: column;
}

.editor-inserter-sidebar__header {
	position: relative;
	display: flex;
	justify-content: flex-end;
	z-index: z-index(".editor-inserter-sidebar__header");
}

.editor-inserter-sidebar__close-button {
	position: absolute;
	top: $grid-unit-15 - $border-width * 0.5; // Account for the existing border to make this the same close as in list view.
	right: $grid-unit-15;
}

.editor-inserter-sidebar__content {
	height: 100%;
}
