.editor-inserter-sidebar {
	@include reset;

	height: 100%;
	display: flex;
	flex-direction: column;
}

.block-editor-inserter-sidebar__header {
	display: flex;
	justify-content: space-between;
	padding: $grid-unit-05 $grid-unit-05 0 $grid-unit-20;
	background-color: $gray-100;
}

.block-editor-inserter-sidebar__header-title {
	font-size: 12px;
	font-weight: 500;
	color: $gray-600;
	text-transform: uppercase;
	position: relative;
	top: $grid-unit-10;
}

.block-editor-inserter-sidebar__close-button {
	background: transparent;
	color: $gray-600;
	position: relative;
	z-index: 2; // allow the close button focus ring to be visible
}

.editor-inserter-sidebar__content {
	// Leave space for the close button
	height: calc(100% - #{$button-size} - #{$grid-unit-10});

	@include break-medium() {
		height: 100%;
	}
}
