.bar {
	flex-direction: row;
	width: 100%;
	margin-bottom: 5px;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	min-height: 48;
}

.leftContainer {
	flex: 1;
	justify-content: flex-start;
}

.rightContainer {
	flex: 1;
	justify-content: flex-end;
}

.titleContainer {
	justify-content: center;
	flex: 2;
	align-content: center;
}

.title {
	color: $dark-gray-600;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.separator {
	background-color: $light-gray-400;
	height: 1px;
	width: 100%;
}

.separatorDark {
	background-color: $gray-70;
}
