// @format

$play-icon-size: 50;

.videoContainer {
	flex: 1;
	justify-content: center;
	align-items: center;
}

.overlay {
	justify-content: center;
	align-items: center;
	align-self: center;
	position: absolute;
	background-color: transparent;
	opacity: 0.3;
}

.playIcon {
	justify-content: center;
	align-items: center;
	align-self: center;
	position: absolute;
	background-color: #000;
	height: $play-icon-size;
	width: $play-icon-size;
	border-bottom-left-radius: $play-icon-size/8;
	border-bottom-right-radius: $play-icon-size/8;
	border-top-right-radius: $play-icon-size/8;
	border-top-left-radius: $play-icon-size/8;
}
