.block-editor-autocompleters__block {
	white-space: nowrap;

	.block-editor-block-icon {
		margin-right: $grid-unit-10;
	}
}

.block-editor-autocompleters__link {
	white-space: nowrap;

	.block-editor-block-icon {
		margin-right: $grid-unit-10;
	}
}
