.wp-block-image {
	position: relative;

	&.is-transient img {
		opacity: 0.3;
	}

	figcaption img {
		display: inline;
	}

	// Shown while image is being uploaded
	.components-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -9px;
		margin-left: -9px;
	}
}

// This is necessary for the editor resize handles to accurately work on a non-floated, non-resized, small image.
.wp-block-image .components-resizable-box__container {
	display: inline-block;

	img {
		display: block;
		width: inherit;
		height: inherit;
	}
}

// Ensure the resize handles are visible when the image is focused.
.wp-block-image.is-focused .components-resizable-box__handle {
	display: block;
}

.block-editor-block-list__block[data-type="core/image"] .block-editor-block-toolbar .block-editor-url-input__button-modal {
	position: absolute;
	left: 0;
	right: 0;
	margin: -$border-width 0;

	@include break-small() {
		margin: -$border-width;
	}
}

.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
	.wp-block-image img {
		width: 100%;
	}
}
