.wp-block-image {
	img {
		height: auto;
		max-width: 100%;
		vertical-align: bottom;
		box-sizing: border-box;
	}

	// The following style maintains border radius application for deprecated
	// image blocks that applied border radius to the outer `figure` element.
	//
	// See: https://github.com/WordPress/gutenberg/issues/47422
	&[style*="border-radius"] {
		> a,
		img {
			border-radius: inherit;
		}
	}

	&.has-custom-border {
		img {
			box-sizing: border-box;
		}
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignfull img,
	&.alignwide img {
		height: auto;
		width: 100%;
	}

	&.alignleft,
	&.alignright,
	&.aligncenter,
	.alignleft,
	.alignright,
	.aligncenter {
		display: table;

		> figcaption {
			display: table-caption;
			caption-side: bottom;
		}
	}

	.alignleft {
		/*rtl:ignore*/
		float: left;
		/*rtl:ignore*/
		margin-left: 0;
		/*rtl:ignore*/
		margin-right: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.alignright {
		/*rtl:ignore*/
		float: right;
		/*rtl:ignore*/
		margin-right: 0;
		/*rtl:ignore*/
		margin-left: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	// This is needed for classic themes where the align class is not on the container.
	.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	// Supply caption styles to images, even if the theme hasn't opted in.
	// Reason being: the new markup, <figcaptions>, are not likely to be styled in the majority of existing themes,
	// so we supply the styles so as to not appear broken or unstyled in those themes.
	figcaption {
		@include caption-style();
	}

	// Variations
	&.is-style-rounded img,
	.is-style-rounded img {
		// We use an absolute pixel to prevent the oval shape that a value of 50% would give
		// to rectangular images. A pill-shape is better than otherwise.
		border-radius: 9999px;
	}

	// The following variation is deprecated.
	// The CSS is kept here for the time being, to support blocks using the old variation.
	&.is-style-circle-mask img {
		// We use an absolute pixel to prevent the oval shape that a value of 50% would give
		// to rectangular images. A pill-shape is better than otherwise.
		border-radius: 9999px;

		// If a browser supports it, we will switch to using a circular SVG mask.
		// The stylelint override is necessary to use the SVG inline here.
		@supports (mask-image: none) or (-webkit-mask-image: none) {
			/* stylelint-disable */
			mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
			/* stylelint-enable */
			mask-mode: alpha;
			mask-repeat: no-repeat;
			mask-size: contain;
			mask-position: center;
			border-radius: 0;
		}
	}

	// The following is required to overcome WP Core applying styles that clear
	// img borders with a higher specificity than those added by the border
	// block support to provide a default border-style of solid when a border
	// color or width has been set.
	:where(.has-border-color) {
		border-style: solid;
	}
	:where([style*="border-top-color"]) {
		border-top-style: solid;
	}
	:where([style*="border-right-color"]) {
		border-right-style: solid;
	}
	:where([style*="border-bottom-color"]) {
		border-bottom-style: solid;
	}
	:where([style*="border-left-color"]) {
		border-left-style: solid;
	}

	:where([style*="border-width"]) {
		border-style: solid;
	}
	:where([style*="border-top-width"]) {
		border-top-style: solid;
	}
	:where([style*="border-right-width"]) {
		border-right-style: solid;
	}
	:where([style*="border-bottom-width"]) {
		border-bottom-style: solid;
	}
	:where([style*="border-left-width"]) {
		border-left-style: solid;
	}
}

.wp-block-image figure {
	margin: 0;
}

.wp-lightbox-container {

	.img-container {
		position: relative;
	}

	button {
		border: none;
		background: none;
		cursor: zoom-in;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 100;

		&:focus-visible {
			outline: 5px auto #212121;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: 5px;
		}
	}
}

.wp-lightbox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	cursor: zoom-out;

	.close-button {
		position: absolute;
		top: calc(env(safe-area-inset-top) + 12.5px);
		right: calc(env(safe-area-inset-right) + 12.5px);
		padding: 0;
		cursor: pointer;
		z-index: 5000000;
	}

	.wp-block-image {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 3000000;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		figcaption {
			display: none;
		}

		img {
			max-width: 100%;
			max-height: 100%;
			width: auto;
		}
	}

	button {
		border: none;
		background: none;
	}

	.scrim {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2000000;
		background-color: rgb(255, 255, 255);
		opacity: 0.9;
	}

	&.fade {
		.wp-block-image {
			padding: 40px 0;

			@media screen and (min-width: 480px) {
				padding: 40px;
			}

			@media screen and (min-width: 1920px) {
				padding: 40px 80px;
			}
		}

		&.active {
			visibility: visible;
			animation: both turn-on-visibility 0.25s;

			img {
				animation: both turn-on-visibility 0.3s;
			}
		}
		&.hideanimationenabled {
			&:not(.active) {
				animation: both turn-off-visibility 0.3s;

				img {
					animation: both turn-off-visibility 0.25s;
				}
			}
		}
	}

	&.zoom {
		img {
			position: absolute;
			transform-origin: top left;
			width: var(--lightbox-image-max-width);
			height: var(--lightbox-image-max-height);
		}

		&.active {
			opacity: 1;
			visibility: visible;
			.wp-block-image img {
				animation: lightbox-zoom-in 0.4s forwards;

				@media (prefers-reduced-motion) {
					animation: both turn-on-visibility 0.4s;
				}
			}
			.scrim {
				animation: turn-on-visibility 0.4s forwards;
			}
		}
		&.hideanimationenabled {
			&:not(.active) {
				.wp-block-image img {
					animation: lightbox-zoom-out 0.4s forwards;

					@media (prefers-reduced-motion) {
						animation: both turn-off-visibility 0.4s;
					}
				}
				.scrim {
					animation: turn-off-visibility 0.4s forwards;
				}
			}
		}
	}
}

html.has-lightbox-open {
	overflow: hidden;
}

@keyframes turn-on-visibility {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes turn-off-visibility {
	0% {
		opacity: 1;
		visibility: visible;
	}
	99% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes lightbox-zoom-in {
	0% {
		left: var(--lightbox-initial-left-position);
		top: var(--lightbox-initial-top-position);
		transform: scale(var(--lightbox-scale-width), var(--lightbox-scale-height));
	}
	100% {
		left: var(--lightbox-target-left-position);
		top: var(--lightbox-target-top-position);
		transform: scale(1, 1);
	}
}

@keyframes lightbox-zoom-out {
	0% {
		visibility: visible;
		left: var(--lightbox-target-left-position);
		top: var(--lightbox-target-top-position);
		transform: scale(1, 1);
	}
	99% {
		visibility: visible;
	}
	100% {
		left: var(--lightbox-initial-left-position);
		top: var(--lightbox-initial-top-position);
		transform: scale(var(--lightbox-scale-width), var(--lightbox-scale-height));
	}
}
