// @format

@import "variables.scss";

.imageContainer {
	flex: 1;
	justify-content: center;
	align-items: center;
}

.uploadFailedText {
	color: #fff;
	font-size: 14;
	margin-top: 5;
}

.uploadFailedContainer {
	position: absolute;
	flex-direction: column;
	align-items: center;
}

.caption-text {
	font-family: $default-regular-font;
}

.resetSettingsButton {
	color: $alert-red;
}
