.editor-icon-button {
	display: flex;
	align-items: center;
	padding: 8px;
	border: none;
	background: none;
	color: $dark-gray-500;

	&:not( :disabled ) {
		cursor: pointer;

		&:hover {
			color: $blue-medium;
		}
	}
}
