.editor-toolbar {
	margin: 0;
	border: 1px solid $light-gray-500;
	box-shadow: $shadow-popover;
	background-color: $white;
}

.editor-toolbar__control.editor-button {
	display: inline-flex;
	margin: 3px;
	margin-left: 0;
	padding: 6px;
	background: none;
	border: 1px solid transparent;
	outline: none;
	color: $dark-gray-500;
	cursor: pointer;
	position: relative;

	&:first-child {
		margin-left: 3px;
	}

	&.is-active,
	&:hover,
	&:not(:disabled):hover {
		border: 1px solid $dark-gray-500;
		color: $dark-gray-500;
	}

	&.is-active,
	&.is-active:hover {
		background-color: $dark-gray-500;
		color: $white;
	}

	&[data-subscript]:after {
		content: attr( data-subscript );
		font-family: $default-font;
		font-size: 10px;
		font-weight: bold;
		position: absolute;
		bottom: 8px;
		right: 5px;
	}
}

.editor-toolbar__control .dashicon {
	display: block;
}
