.components-tooltip.components-popover {
	pointer-events: none;

	&:before {
		border-color: transparent;
	}

	&.is-top:after {
		border-top-color: $dark-gray-400;
	}

	&.is-bottom:after {
		border-bottom-color: $dark-gray-400;
	}
}

.components-tooltip .components-popover__content {
	padding: 4px 12px;
	background: $dark-gray-400;
	border-width: 0;
	color: white;
	white-space: nowrap;
}

.components-tooltip:not(.is-mobile) .components-popover__content {
	min-width: 0;
}
