.blocks-font-size__main {
	display: flex;
	justify-content: space-between;
}

.blocks-paragraph__custom-size-slider {
	.components-range-control__slider + .dashicon {
		width: 30px;
		height: 30px;
	}
}
