@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

div.dataviews-view-timeline {
	list-style-type: none;
}

.dataviews-view-timeline {
	margin: 0 0 auto;

	div[role="row"],
	div[role="article"] {
		margin: 0;

		.dataviews-view-timeline__item-wrapper {
			position: relative;
			padding: 0 $grid-unit-30;
			box-sizing: border-box;
		}

		.dataviews-view-timeline__item-actions {
			display: flex;
			width: max-content;
			flex: 0 0 auto;
			gap: $grid-unit-05;

			.components-button {
				position: relative;
				z-index: 1;
			}

			> div {
				height: $button-size-small;
			}

			> :not(:last-child) {
				flex: 0;
				overflow: hidden;
				width: 0;
			}
		}

		&:where(.is-selected, .is-hovered, :focus-within) {
			.dataviews-view-timeline__item-actions > :not(:last-child) {
				flex-basis: min-content;
				width: auto;
				overflow: unset;
			}
		}

		@media ( hover: none ) {
			.dataviews-view-timeline__item-actions > :not(:last-child) {
				flex-basis: min-content;
				width: auto;
				overflow: unset;
			}
		}

		&.is-selected.is-selected {
			border-top: 1px solid rgba(var(--wp-admin-theme-color--rgb), 0.12);

			& + div[role="row"],
			& + div[role="article"] {
				border-top: 1px solid rgba(var(--wp-admin-theme-color--rgb), 0.12);
			}
		}

		&:not(.is-selected) {
			.dataviews-view-timeline__title-field {
				color: $gray-900;
			}
			&:hover,
			&.is-hovered,
			&:focus-within {
				color: var(--wp-admin-theme-color);
				background-color: #f8f8f8;

				.dataviews-view-timeline__title-field,
				.dataviews-view-timeline__fields {
					color: var(--wp-admin-theme-color);
				}
			}
		}
	}

	div[role="row"].is-selected,
	div[role="row"].is-selected:focus-within,
	div[role="article"].is-selected,
	div[role="article"].is-selected:focus-within {
		.dataviews-view-timeline__item-wrapper {
			background-color: rgba(var(--wp-admin-theme-color--rgb), 0.04);
			color: $gray-900;

			.dataviews-view-timeline__title-field,
			.dataviews-view-timeline__fields {
				color: var(--wp-admin-theme-color);
			}
		}
	}

	.dataviews-view-timeline__item {
		position: absolute;
		z-index: 1;
		inset: 0;
		scroll-margin: $grid-unit-10 0;
		appearance: none;
		border: none;
		background: none;
		padding: 0;
		cursor: pointer;

		&:focus-visible {
			outline: none;

			&::before {
				position: absolute;
				content: "";
				inset: var(--wp-admin-border-width-focus);
				box-shadow:
					inset 0 0 0 var(--wp-admin-border-width-focus)
					var(--wp-admin-theme-color);
				border-radius: $radius-small;
				outline: 2px solid transparent;
			}
		}
	}
	.dataviews-view-timeline__title-field {
		flex: 1;
		min-height: $grid-unit-30;
		line-height: $grid-unit-30;
		overflow: hidden;
		&:has(a, button) {
			z-index: 1;
		}
	}

	.dataviews-view-timeline__field-wrapper {
		padding: $grid-unit-10 0;
		min-height: $grid-unit-05 * 13;
		flex-grow: 1;
	}

	.dataviews-view-timeline__fields {
		color: $gray-700;
		display: flex;
		gap: $grid-unit-15;
		row-gap: $grid-unit-05;
		flex-wrap: wrap;
		font-size: 12px;

		&:empty {
			display: none;
		}

		.dataviews-view-timeline__field {
			&:has(.dataviews-view-timeline__field-value:empty) {
				display: none;
			}
		}

		.dataviews-view-timeline__field-value {
			min-height: $grid-unit-30;
			line-height: $grid-unit-05 * 5;
			display: flex;
			align-items: center;
		}
	}

	& + .dataviews-pagination {
		justify-content: space-between;
	}
}

.dataviews-view-timeline__group-header {
	font-size: $font-size-large;
	font-weight: $font-weight-medium;
	color: $gray-600;
	margin: 0 0 $grid-unit-10 0;
	padding: 0 $grid-unit-30;
}

.dataviews-view-timeline__event-type-wrapper {
	align-self: stretch;
	min-width: $grid-unit-30;
}

.dataviews-view-timeline__event-type-icon {
	width: $grid-unit-30;
	height: $grid-unit-30;
	overflow: hidden;
	position: relative;
	flex-shrink: 0;
	background-color: $white;
	border-radius: $radius-round;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	svg {
		width: $grid-unit-30;
		height: $grid-unit-30;
		border-radius: $radius-round;
		box-shadow: inset 0 0 0 $border-width $gray-100;
	}
}

.dataviews-view-timeline__spacer {
	position: relative;
	flex: 1 0 auto;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 1px;
		height: 100%;
		background-color: $gray-100;
	}
	&:first-child {
		height: $grid-unit-10;
		flex: 0 0 auto;
	}
}
