.rich-text {
	&:empty::after {
		content: attr(data-rich-text-placeholder);
		opacity: 0.62;
	}

	&:focus {
		// Removes outline added by the browser.
		outline: none;

		[data-rich-text-format-boundary] {
			border-radius: $radius-small;
		}
	}
}

.block-editor-rich-text__editable {
	> p:first-child {
		margin-top: 0;
	}
}

// Captions may have lighter (gray) text, or be shown on a range of different background luminosites.
// To ensure legibility, we increase the default placeholder opacity to ensure contrast.
figcaption.block-editor-rich-text__editable:empty::after {
	opacity: 0.8;
}

[data-rich-text-script] {
	display: inline;

	&::before {
		content: "</>";
		background: rgb(255, 255, 0);
	}
}
