.rich-text {
	[data-rich-text-placeholder] {
		pointer-events: none;
	}

	[data-rich-text-placeholder]::after {
		content: attr(data-rich-text-placeholder);
		// Use opacity to work in various editor styles.
		// We don't specify the color here, because blocks or editor styles might provide their own.
		opacity: 0.62;
	}

	&:focus {
		// Removes outline added by the browser.
		outline: none;
	}
}

.block-editor-rich-text__editable {
	> p:first-child {
		margin-top: 0;
	}
}

// Captions may have lighter (gray) text, or be shown on a range of different background luminosites.
// To ensure legibility, we increase the default placeholder opacity to ensure contrast.
figcaption.block-editor-rich-text__editable [data-rich-text-placeholder]::before {
	opacity: 0.8;
}

[data-rich-text-comment],
[data-rich-text-script],
[data-rich-text-format-boundary] {
	border-radius: 2px;
}

[data-rich-text-comment],
[data-rich-text-script] {
	display: inline;
	background-color: currentColor;

	&::before {
		filter: invert(100%);
		color: currentColor;
	}
}

[data-rich-text-script]::before {
	content: "</>";
}

// Only fill in the comment content if the comment is not replaced (in the
// future they might be by Bits).
[data-rich-text-comment]:empty::before {
	content: "[" attr(data-rich-text-comment) "]";
}
