.components-icon-button {
	.dashicon {
		display: inline-block;
		flex: 0 0 auto;
	}

	// Ensure that even SVG icons that don't include the .dashicon class are colored.
	svg {
		fill: currentColor;
		outline: none;
	}

	&.has-text svg {
		margin-right: 8px;
	}
}
