.components-icon-button {
	.dashicon {
		display: inline-block;
		flex: 0 0 auto;
	}

	// Ensure that even SVG icons that don't include the .dashicon class are colored.
	svg {
		fill: currentColor;
		outline: none;
	}

	&.has-text svg {
		margin-right: 8px;
	}

	// Ideally, we should remove these styles, but they're kept
	// Because historically, the icon buttons have different hover styles
	// than the regular buttons.
	&:not(:disabled):not([aria-disabled="true"]):not(.is-default):not(.is-primary):not(.is-tertiary):hover {
		@include button-style__hover;
	}
	&:not(:disabled):not([aria-disabled="true"]):not(.is-default):not(.is-primary):not(.is-tertiary):active {
		@include button-style__active;
	}
	&[aria-disabled="true"]:focus,
	&:disabled:focus {
		box-shadow: none;
	}
}
