@keyframes loadingpulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.entities-saved-states__panel {
	@include reset;
	background: $white;
	position: fixed;
	z-index: z-index(".entities-saved-states__panel");
	top: $admin-bar-height-big;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: auto;
	box-sizing: border-box;

	.entities-saved-states__find-entity {
		display: none;
	}
	.entities-saved-states__find-entity-small {
		display: block;
	}

	@include break-medium() {
		top: $admin-bar-height;
		left: auto;
		width: $sidebar-width;
		border-left: $border-width solid $gray-300;

		body.is-fullscreen-mode & {
			top: 0;
		}

		.entities-saved-states__find-entity {
			display: block;
		}
		.entities-saved-states__find-entity-small {
			display: none;
		}
	}

	.entities-saved-states__panel-header {
		background: $white;
		padding-left: $grid-unit-10;
		padding-right: $grid-unit-10;
		height: $header-height + $border-width;
		border-bottom: $border-width solid $gray-300;
		display: flex;
		align-items: center;
		align-content: space-between;

		.editor-entities-saved-states__save-button {
			margin: auto;
		}

		.components-button.has-icon {
			position: absolute;
			right: $grid-unit-10;
		}
	}

	.entities-saved-states__text-prompt {
		border-bottom: $border-width solid $gray-300;
		padding: $grid-unit-20;
		padding-bottom: $grid-unit-05;
	}

	.entities-saved-states__discard-changes__saving {
		animation: loadingpulse 1s linear infinite;
		animation-delay: 0.5s; // avoid animating for fast network responses

		// Style skeleton elements to mostly match the metrics of actual menu items.
		// Needs specificity.
		.entities-saved-states__discard-changes-item {
			position: relative;
			min-width: 72px;

			&::before {
				display: block;
				content: '';
				border-radius: $radius-block-ui;
				background: $gray-300;
				height: $grid-unit-20;
				width: 50%;
			}
		}
	}
}
