.entities-saved-states__panel-header {
	box-sizing: border-box;
	background: $white;
	padding-left: $grid-unit-20;
	padding-right: $grid-unit-20;
	height: $header-height;
	border-bottom: $border-width solid $gray-300;
}

.entities-saved-states__text-prompt {
	padding: $grid-unit-20;
	padding-bottom: $grid-unit-05;
	.entities-saved-states__text-prompt--header {
		display: block;
		margin-bottom: $grid-unit-15;
	}
}

.entities-saved-states__description-heading {
	font-size: $default-font-size;
}

.entities-saved-states__changes {
	color: $gray-700;
	font-size: $helptext-font-size;
	margin: $grid-unit-10 $grid-unit-20 0 $grid-unit-20;
	list-style: disc;

	li {
		margin-bottom: $grid-unit-05;
	}
}
