.wp-block-sp-post {
	.blocks-rich-text__tinymce[data-is-empty="true"]:before {
		position: inherit;
	}

	.blocks-rich-text__tinymce a {
		color: white;
	}

	.blocks-rich-text__tinymce:focus a[data-mce-selected] {
		padding: 0 2px;
		margin: 0 -2px;
		border-radius: 2px;
		box-shadow: none;
		background: rgba( 255, 255, 255, 0.3 );
	}

	.blocks-rich-text strong {
		font-weight: 300;
	}
}
