@import "./socials-with-bg.scss";

.linkSettingsPanel {
	padding-left: 0;
	padding-right: 0;
}

.iconContainer {
	height: $button-size;
	width: $button-size;
	border-radius: $button-size * 0.5;
	align-items: center;
	justify-content: center;
}

.container {
	margin: $block-selected-margin;
}
