
// default do not display incomplete
// unless parent or child selected
.wp-social-link__is-incomplete {
	display: none;
}

.has-child-selected .wp-social-link__is-incomplete,
.is-selected .wp-social-link__is-incomplete {
	display: block;
	opacity: 0.6;

	[data-type*="core/social-link-"].is-selected &, // Matches the selected social logo block.
	&:focus {
		opacity: 1;
	}
}

[data-type*="core/social-link-"].is-selected .wp-social-link, // Matches the selected social logo block.
.wp-social-link:focus {
	box-shadow: 0 0 0 1px $white, 0 0 0 3px $blue-medium-500;

	// Windows High Contrast mode will show this outline, but not the box-shadow.
	outline: 2px solid transparent;
}
