.wp-social-link-amazon {
	color: #f90;
}

.wp-social-link-bandcamp {
	color: #1ea0c3;
}

.wp-social-link-behance {
	color: #0757fe;
}

.wp-social-link-codepen {
	color: #1e1f26;
}

.wp-social-link-deviantart {
	color: #02e49b;
}

.wp-social-link-dribbble {
	color: #e94c89;
}

.wp-social-link-dropbox {
	color: #4280ff;
}

.wp-social-link-etsy {
	color: #f45800;
}

.wp-social-link-facebook {
	color: #1778f2;
}

.wp-social-link-fivehundredpx {
	color: #000;
}

.wp-social-link-flickr {
	color: #0461dd;
}

.wp-social-link-foursquare {
	color: #e65678;
}

.wp-social-link-github {
	color: #24292d;
}

.wp-social-link-goodreads {
	color: #382110;
}

.wp-social-link-google {
	color: #ea4434;
}

.wp-social-link-gravatar {
	color: #1d4fc4;
}

.wp-social-link-instagram {
	color: #f00075;
}

.wp-social-link-lastfm {
	color: #e21b24;
}

.wp-social-link-linkedin {
	color: #0d66c2;
}

.wp-social-link-mastodon {
	color: #3288d4;
}

.wp-social-link-medium {
	color: #02ab6c;
}

.wp-social-link-meetup {
	color: #f6405f;
}

.wp-social-link-patreon {
	color: #000;
}

.wp-social-link-pinterest {
	color: #e60122;
}

.wp-social-link-pocket {
	color: #ef4155;
}

.wp-social-link-reddit {
	color: #ff4500;
}

.wp-social-link-skype {
	color: #0478d7;
}

.wp-social-link-snapchat {
	color: #fff;
	stroke: #000;
}

.wp-social-link-soundcloud {
	color: #ff5600;
}

.wp-social-link-spotify {
	color: #1bd760;
}

.wp-social-link-telegram {
	color: #2aabee;
}

.wp-social-link-threads {
	color: #000;
}

.wp-social-link-tiktok {
	color: #000;
}

.wp-social-link-tumblr {
	color: #011835;
}

.wp-social-link-twitch {
	color: #6440a4;
}

.wp-social-link-twitter {
	color: #1da1f2;
}

.wp-social-link-vimeo {
	color: #1eb7ea;
}

.wp-social-link-vk {
	color: #4680c2;
}

.wp-social-link-whatsapp {
	color: #25d366;
}

.wp-social-link-wordpress {
	color: #3499cd;
}

.wp-social-link-x {
	color: #000;
}

.wp-social-link-yelp {
	color: #d32422;
}

.wp-social-link-youtube {
	color: #f00;
}
