.editor-block-list__block[data-type="core/table"] {
	&[data-align="left"],
	&[data-align="right"],
	&[data-align="center"] {
		table {
			// Ensure the table element is not full-width when aligned.
			width: auto;
		}
	}

	&[data-align="center"] {
		text-align: initial;

		table {
			margin: 0 auto;
		}
	}
}

.wp-block-table {
	width: 100%;
	height: 100%;

	td,
	th {
		padding: 0.5rem;
		border: $border-width solid $black;
	}

	td.is-selected,
	th.is-selected {
		border-color: $blue-medium-500;
		box-shadow: inset 0 0 0 1px $blue-medium-500;
		border-style: double;
	}


}

.block-library-table__resizable-box {
	// Using display table is a hack to ensure wrapping resizable box can't be resized to smaller than the content.
	display: table;
	min-width: $break-mobile / 2;

	& .components-resizable-box__handle {
		display: block;
	}
}

.block-library-table__dimensions__row {
	display: flex;
}

.block-library-table__dimensions__width {
	flex: 1;
	// Use padding since it's hard to override the margin of the base control.
	padding-right: 5px;
}
