.wp-block-table {
	table {
		border-collapse: collapse;
		width: 100%;
	}

	td,
	th {
		padding: 0.5em;
		border: $border-width solid currentColor;
	}

	td.is-selected,
	th.is-selected {
		border-color: $blue-medium-500;
		box-shadow: inset 0 0 0 1px $blue-medium-500;
		border-style: double;
	}
}
