.wp-block-table {
	overflow-x: auto;
	display: block; // Necessary in order for this table to be mobile responsive.
	border-collapse: collapse;
	width: 100%;

	thead,
	tbody,
	tfoot {
		width: 100%;
		min-width: $break-mobile / 2;
	}

	td,
	th {
		padding: 0.5em;
		border: 1px solid currentColor;
	}
}
