.wp-block-table {
	margin: 0 0 1em 0;

	thead {
		border-bottom: 3px solid;
	}

	tfoot {
		border-top: 3px solid;
	}

	td,
	th {
		word-break: normal;
	}

	figcaption {
		@include caption-style-theme();
	}
}
