.components-accessible-toolbar {
	margin: 0;
	border: $border-width solid $light-gray-500;
	background-color: $white;

	// Required for IE11.
	display: inline-flex;

	// IE11 doesn't read rules inside this query. They are applied only to modern browsers.
	@supports (position: sticky) {
		display: flex;
	}

	flex-shrink: 0;
}
