.container {
	flex-direction: row;
	border-color: #e9eff3;
	padding-left: 5px;
	padding-right: 5px;
}

.containerDark {
	border-color: #525354;
}

.leftBorder {
	border-left-width: 1px;
}

.rightBorder {
	border-right-width: 1px;
}
