.container {
	flex-direction: row;
	border-left-width: 1px;
	border-color: $modal-border-color;
	padding-left: 5px;
	padding-right: 5px;
}

.containerDark {
	border-color: $modal-border-color-dark;
}
