.components-accessible-toolbar {
	// Required for IE11.
	display: inline-flex;

	// IE11 doesn't read rules inside this query. They are applied only to modern browsers.
	@supports (position: sticky) {
		display: flex;
	}

	flex-shrink: 0;
}

// @todo: We should extract this to a separate component, and refactor it.
.block-editor-block-toolbar .components-tab-button {
	padding: $grid-unit-10 $grid-unit-15;
	color: $border-color;
	height: $icon-button-size;
	font-weight: 500;

	span {
		position: relative;
		display: block;
		text-align: center;
		padding: 0 $grid-unit-10;
	}

	&.components-button::before {
		width: calc(100% - #{$grid-unit-30});
	}
}
