.block-editor-block-switcher {
	position: relative;

	// @todo override toolbar group inherited paddings from components/block-tools/style.scss.
	// This is best fixed by making the mover control area a proper single toolbar group.
	// It needs specificity due to style inherited from .components-accessible-toolbar .components-button.has-icon.has-icon.
	.components-button.components-dropdown-menu__toggle.has-icon.has-icon {
		min-width: $button-size;
	}
}

// Show an indicator triangle.
.block-editor-block-switcher__no-switcher-icon,
.block-editor-block-switcher__toggle {
	position: relative;
}

.components-button.block-editor-block-switcher__toggle,
.components-button.block-editor-block-switcher__no-switcher-icon {
	margin: 0;
	display: block;
	height: $grid-unit-60;

	.block-editor-block-icon {
		margin: auto;
	}
}

.components-button.block-editor-block-switcher__no-switcher-icon {
	display: flex;

	.block-editor-block-icon {
		margin-right: auto;
		margin-left: auto;
		min-width: $icon-size !important;
	}
}

// Even when the block switcher does not have any transformations, it still serves as a block indicator.
.components-button.block-editor-block-switcher__no-switcher-icon[aria-disabled="true"] {
	color: $gray-900;

	// Since it's not clickable, though, don't show a hover state.
	&:hover {
		color: $gray-900;
	}
}

.components-popover.block-editor-block-switcher__popover .components-popover__content {
	min-width: 300px;
}

.block-editor-block-switcher__popover-preview-container {
	left: 0;
	position: absolute;
	top: -$border-width;
	width: 100%;
	bottom: 0;
	pointer-events: none;
}

.block-editor-block-switcher__popover-preview {
	overflow: hidden;

	.components-popover__content {
		width: 300px;
		border: $border-width solid $gray-900;
		background: $white;
		border-radius: $radius-medium;
		outline: none;
		box-shadow: none;
		overflow: auto;
	}

	.block-editor-block-switcher__preview {
		// Subtract vertical margin from max-height.
		max-height: calc(500px - #{$grid-unit-40});
		margin: $grid-unit-20 0;
		// Use padding to prevent the pattern previews focus style from being cut-off.
		padding: 0 $grid-unit-20;
		overflow: hidden;

		&.is-pattern-list-preview {
			overflow: unset;
		}
	}
}

.block-editor-block-switcher__preview-title {
	margin-bottom: $grid-unit-15;
	color: $gray-700;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
}

// The block switcher in the contextual toolbar should be bigger.
.block-editor-block-contextual-toolbar {
	.components-button.block-editor-block-switcher__no-switcher-icon {
		min-width: $button-size;
	}

	.components-button.block-editor-block-switcher__no-switcher-icon,
	.components-button.block-editor-block-switcher__toggle {
		height: $grid-unit-60;

		.block-editor-block-icon,
		.block-editor-block-switcher__transform {
			width: $block-toolbar-height;
			height: $block-toolbar-height;
		}

		.block-editor-block-switcher__transform {
			padding: $grid-unit-15;
		}
	}
}

.block-editor-block-switcher__preview-patterns-container {
	padding-bottom: $grid-unit-20;

	.block-editor-block-switcher__preview-patterns-container-list__list-item {
		margin-top: $grid-unit-20;

		.block-editor-block-preview__container {
			cursor: pointer;
		}

		.block-editor-block-switcher__preview-patterns-container-list__item {
			height: 100%;
			border-radius: $radius-small;
			@media not ( prefers-reduced-motion ) {
				transition: all 0.05s ease-in-out;
			}
			position: relative;
			border: $border-width solid transparent;

			&:hover,
			&:focus {
				box-shadow: inset 0 0 0 1px $white, 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);

				// Windows High Contrast mode will show this outline, but not the box-shadow.
				outline: 2px solid transparent;
			}

			&:hover {
				box-shadow: inset 0 0 0 1px $white, 0 0 0 var(--wp-admin-border-width-focus) $gray-900;
			}

			.block-editor-block-switcher__preview-patterns-container-list__item-title {
				padding: $grid-unit-05;
				font-size: 12px;
				text-align: center;
				cursor: pointer;
			}
		}
	}
}

.block-editor-block-switcher__no-transforms {
	color: $gray-700;
	padding: 6px $grid-unit;
	margin: 0;
}

.block-editor-block-switcher__binding-indicator {
	display: block;
	padding: $grid-unit;
}
