.edit-post-text-editor__body {
	padding-top: $grid-size * 5;

	@include break-small() {
		padding-top: ($grid-size * 5) + $admin-bar-height-big;
	}

	@include break-medium() {
		padding-top: $grid-size * 5;

		body.is-fullscreen-mode & {
			padding-top: $grid-size * 5;
		}
	}
}

.edit-post-text-editor {
	width: 100%;
	max-width: calc(100% - #{$grid-size-large * 2});
	margin-left: $grid-size-large;
	margin-right: $grid-size-large;

	@include break-small() {
		max-width: $content-width;
		margin-left: auto;
		margin-right: auto;
	}

	// Always show outlines in code editor
	.editor-post-title__block {
		textarea {
			border: $border-width solid $light-gray-500;
			margin-bottom: $block-spacing;
			padding: $block-padding;

			&:focus {
				border: $border-width solid $light-gray-500;
			}
		}

		// Hide the thick left border in the code editor.
		&:not(.is-focus-mode):not(.has-fixed-toolbar):not(.is-selected) .editor-post-title__input:hover,
		&:not(.is-focus-mode):not(.has-fixed-toolbar).is-selected .editor-post-title__input {
			box-shadow: none;
			border-left-width: $border-width;
		}

		textarea:hover,
		&.is-selected textarea {
			box-shadow: 0 0 0 $border-width $light-gray-500;
		}
	}

	.editor-post-permalink {
		margin-top: -6px;

		// Hide the thick left border in the code editor.
		box-shadow: none;
		border: none;
		outline: $border-width solid $light-gray-800;
	}

	@include break-small() {
		.editor-post-title,
		.editor-post-title__block {
			padding: 0;
		}
	}

	.editor-post-text-editor {
		padding: $block-padding;
		min-height: 200px;
		line-height: 1.8;
	}

	// Make room for toolbar.
	padding-top: $block-controls-height + $grid-size;

	// Exit Code Editor toolbar.
	.edit-post-text-editor__toolbar {
		position: absolute;
		top: $grid-size;
		left: 0;
		right: 0;
		height: $block-controls-height;
		line-height: $block-controls-height;
		padding: 0 $grid-size 0 $grid-size-large;
		display: flex;

		h2 {
			margin: 0 auto 0 0;
			font-size: $default-font-size;
			color: $dark-gray-500;
		}

		.components-icon-button svg {
			order: 1;
		}
	}
}
