.edit-post-text-editor {
	position: relative;
	width: 100%;
	background-color: $white;
	flex-grow: 1;

	// Always show outlines in code editor
	.editor-post-title__block {
		textarea {
			border: $border-width solid $light-gray-500;
			margin-bottom: $block-spacing;
			padding: $block-padding;

			&:focus,
			&:hover {
				border: $border-width solid $black;
			}
		}
	}

	.editor-post-permalink {
		margin-top: -6px;

		// Hide the thick left border in the code editor.
		box-shadow: none;
		border: none;
		outline: $border-width solid $dark-gray-primary;
	}

	@include break-small() {
		.editor-post-title,
		.editor-post-title__block {
			padding: 0;
		}
	}

	// Make room for toolbar.
	padding-top: $block-toolbar-height + $grid-unit-10;
}

// Exit code editor toolbar.
.edit-post-text-editor__toolbar {
	position: absolute;
	top: $grid-unit-10;
	left: 0;
	right: 0;
	height: $block-toolbar-height;
	line-height: $block-toolbar-height;
	padding: 0 $grid-unit-10 0 $grid-unit-20;
	display: flex;

	h2 {
		margin: 0 auto 0 0;
		font-size: $default-font-size;
		color: $dark-gray-500;
	}

	.components-button svg {
		order: 1;
	}
}

.edit-post-text-editor__body {
	max-width: calc(100% - #{$grid-unit-20 * 2});
	margin-left: $grid-unit-20;
	margin-right: $grid-unit-20;
	padding-top: $grid-unit-50;

	@include break-small() {
		max-width: $content-width;
		margin-left: auto;
		margin-right: auto;
	}
}
