// Post title.
.edit-post-text-editor .editor-post-title {
	max-width: none;
	line-height: $default-line-height;

	font-family: $editor-html-font;
	font-size: 2.5em;
	font-weight: normal;

	border: $border-width solid $gray-600;

	// Same padding as body.
	padding: $grid-unit-20;

	@include break-small() {
		padding: $grid-unit-30;
	}

	&:focus {
		border-color: var(--wp-admin-theme-color);
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
	}
}
