.container-wrapper {
	background: rgba(0, 0, 0, 0.1) !important;
	height: 500px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.container {
	position: relative;
	height: 100%;
	width: 100%;
}
