.editor-post-trash.components-button {
	color: darken($alert-red, 15%);
	border-color: darken($alert-red, 15%);
	justify-content: center;

	&:hover,
	&:focus {
		color: darken($alert-red, 20%);
		border-color: darken($alert-red, 20%);
	}
}
