@use "@wordpress/base-styles/variables" as *;
@use "../utils/composite-item";

.components-autocomplete__popover {
	@include composite-item.popup;

	.components-popover__content {
		padding: $grid-unit-10;
		min-width: 200px;
	}
}

.components-autocomplete__result.components-button {
	display: flex;
	height: auto;
	min-height: $button-size;
	text-align: left;
	width: 100%;
	font-weight: var(--wpds-typography-font-weight-default);
	position: relative;

	&:focus {
		outline: none;
		box-shadow: none;
	}

	&:is(:hover, .is-selected):not(:disabled, [aria-disabled="true"]) {
		@include composite-item.highlight;
	}

	[data-keyboard-navigation] &.is-selected,
	&:focus-visible:not(:active) {
		@include composite-item.focus;
	}
}
