.navigation-item:global(.components-item) {
	color: var(--wpds-color-foreground-interactive-neutral);
	padding-inline: var(--wpds-dimension-padding-xs);
	padding-block: 0;
	margin-inline: var(--wpds-dimension-gap-md);
	margin-block-end: var(--wpds-dimension-gap-xs);
	width: calc(100% - var(--wpds-dimension-gap-md) * 2);
	border: none;
	min-height: var(--wpds-dimension-size-md);
	display: flex;
	align-items: center;
	font-family: var(--wpds-typography-font-family-body);
	font-weight: var(--wpds-typography-font-weight-default);
	font-size: var(--wpds-typography-font-size-md);
	line-height: var(--wpds-typography-line-height-sm);

	// Rounded focus ring
	border-radius: var(--wpds-border-radius-sm);

	&.active,
	&:hover,
	&:focus,
	&[aria-current="true"] {
		color: var(--wpds-color-foreground-interactive-brand-active);
	}

	&.active {
		font-weight: var(--wpds-typography-font-weight-emphasis);
	}

	svg:last-child {
		padding: var(--wpds-dimension-padding-xs);
	}

	&[aria-current="true"] {
		color: var(--wpds-color-foreground-interactive-brand-active);
		font-weight: var(--wpds-typography-font-weight-emphasis);
	}

	// Make sure the focus style is drawn on top of the current item background.
	&:focus-visible {
		transform: translateZ(0);
	}

	&.with-suffix {
		padding-inline-end: var(--wpds-dimension-padding-lg);
	}
}
