.editor-block-list__block[data-type="core/missing"] {
	.editor-warning {
		position: static;
	}

	&,
	&.is-selected,
	&.is-hovered {
		// Remove the block outline because design requested that this
		// feel less like a first-class block and more like an error message.
		> .editor-block-list__block-edit::before {
			outline: none;
		}

		// Remove the block menu because design requested that this
		// feel less like a first-class block and more like an error message.
		.editor-block-list__breadcrumb,
		.editor-block-settings-menu {
			display: none;
		}
	}
}
