/** @format */
.content {
	padding-top: 8;
	padding-bottom: 16;
	padding-left: 16;
	padding-right: 16;
	align-items: center;
	justify-content: space-evenly;
}

.helpIconContainer {
	padding-top: 16;
	padding-right: 8;
	height: 24;
	width: 100%;
	align-items: flex-end;
}

.infoIcon {
	size: 32;
	color: $gray-darken-30;
}

.infoTitle {
	padding-top: 16;
	padding-bottom: 24;
	padding-left: 16;
	padding-right: 16;
	text-align: center;
	font-size: 18;
	font-weight: bold;
}

.infoCloseButton {
	height: 24;
	flex: 1;
}

.infoCloseButtonText {
	font-size: 16;
	text-align: center;
	color: $gray-darken-30;
}

.unsupportedBlock {
	background-color: #e9eff3; // grey lighten 30
	padding-top: 0;
	padding-bottom: 24;
	padding-left: 8;
	padding-right: 8;
	border-top-left-radius: 4;
	border-top-right-radius: 4;
	border-bottom-left-radius: 4;
	border-bottom-right-radius: 4;
	align-items: center;
	justify-content: center;
}

.unsupportedBlockDark {
	background-color: $background-dark-secondary;
}

.unsupportedBlockIcon {
	color: $gray-dark;
}

.unsupportedBlockIconDark {
	color: $white;
}

.unsupportedBlockMessage {
	margin-top: 2;
	text-align: center;
	color: $gray-dark;
	font-size: 14;
}

.unsupportedBlockMessageDark {
	color: $white;
}
