.blocks-embed.is-placeholder {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 6em 0;
	text-align: center;
	font-family: $default-font;
	font-size: $default-font-size;
	background: $light-gray-100;
}

.blocks-embed__placeholder-label {
	display: flex;
	justify-content: center;
	font-weight: bold;
	margin-bottom: 1em;

	.dashicon {
		margin-right: 1ch;
	}
}

.blocks-embed__placeholder-fieldset {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 280px;
}

.blocks-embed__placeholder-input {
	margin-right: 8px;
	flex: 1 1 auto;
}
