.editor-block-inspector__deselect-post {
	font-weight: 600;
	text-decoration: underline;
	color: inherit;

	&:hover {
		color: inherit;
	}
}

.editor-block-inspector__no-blocks {
	display: block;
	font-size: $default-font-size;
	background: $white;
	padding: ( $panel-padding * 2 ) $panel-padding;
	border-bottom: 1px solid $light-gray-500;
	text-align: center;
}

.editor-advanced-controls__anchor {
	display: inline-flex;
	max-width: 100%;
	align-items: center;
}

.editor-advanced-controls__anchor-link {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	position: relative;

	&:after {
		@include long-content-fade( $size: 20% );
	}
}
