.editor-block-inspector__deselect-post {
	font-weight: 600;
	text-decoration: underline;
	color: inherit;

	&:hover {
		color: inherit;
	}
}

.editor-block-inspector__no-blocks {
	display: block;
	font-size: $default-font-size;
	margin: 32px 16px;
	text-align: center;
}
