.edit-site-site-icon__icon {
	fill: currentColor;
}

.edit-site-site-icon__image {
	width: $grid-unit-80;
	height: $grid-unit-80;
	border-radius: $radius-block-ui * 2;
	object-fit: cover;
	background: #333;
}
