.edit-site-global-styles-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	cursor: pointer;
}

.edit-site-global-styles-preview__iframe {
	max-width: 100%;
	display: block;
}

.edit-site-typography-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	margin-bottom: $grid-unit-20;
	background: $gray-100;
	border-radius: $radius-block-ui;
	overflow: hidden;
}

.edit-site-typography-panel__full-width-control {
	grid-column: 1 / -1;
	max-width: 100%;
}

.edit-site-global-styles-screen-typography,
.edit-site-global-styles-screen-css {
	margin: $grid-unit-20;
}

.edit-site-global-styles-screen-typography__indicator {
	height: 24px;
	width: 24px;
	font-size: 14px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border-radius: $radius-block-ui;
}

.edit-site-global-styles-screen-typography__font-variants-count {
	color: $gray-700;
}

.edit-site-global-styles-font-families__add-fonts {
	justify-content: center;
}

.edit-site-global-styles-screen-colors {
	margin: $grid-unit-20;

	.color-block-support-panel {
		padding-left: 0;
		padding-right: 0;
		border-top: none;
	}
}

.edit-site-global-styles-header__description {
	padding: 0 $grid-unit-20;
}

.edit-site-block-types-search {
	margin-bottom: $grid-unit-10;
	padding: 0 $grid-unit-20;
}

.edit-site-global-styles-header {
	// Need to override the too specific bottom margin for complementary areas.
	margin-bottom: 0 !important;
}

.edit-site-global-styles-subtitle {
	// Need to override the too specific styles for complementary areas.
	margin-bottom: 0 !important;
	text-transform: uppercase;
	font-weight: 500 !important;
	font-size: 11px !important;
}

.edit-site-global-styles-section-title {
	color: $gray-800;
	font-weight: 600;
	line-height: 1.2;
	padding: $grid-unit-20;
	padding-bottom: 0;
	margin: 0;
}

.edit-site-global-styles-variations_item {
	box-sizing: border-box;
	// To round the outline in Windows 10 high contrast mode.
	border-radius: $radius-block-ui;

	.edit-site-global-styles-variations_item-preview {
		padding: $border-width * 2;
		border-radius: $radius-block-ui;
		box-shadow: 0 0 0 $border-width $gray-200;
		// Shown in Windows 10 high contrast mode.
		outline: 1px solid transparent;
	}

	&.is-active .edit-site-global-styles-variations_item-preview {
		box-shadow: 0 0 0 $border-width $gray-900;
		// Shown in Windows 10 high contrast mode.
		outline-width: 3px;
	}

	&:hover .edit-site-global-styles-variations_item-preview {
		box-shadow: 0 0 0 $border-width var(--wp-admin-theme-color);
	}

	&:focus .edit-site-global-styles-variations_item-preview {
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
	}

	&:focus-visible {
		// Shown in Windows 10 high contrast mode.
		outline: 3px solid transparent;
		outline-offset: 0;
	}
}

.edit-site-global-styles-icon-with-current-color {
	fill: currentColor;
}

.edit-site-global-styles__color-indicator-wrapper {
	// Match the height of the rest of the icons (24px).
	height: $grid-unit * 3;
	flex-shrink: 0;
}

.edit-site-global-styles__block-preview-panel {
	position: relative;
	width: 100%;
	overflow: auto;
	border: $gray-200 $border-width solid;
	border-radius: $radius-block-ui;
}

.edit-site-global-styles-screen-css {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	.components-v-stack {
		flex: 1 1 auto;

		.block-editor-global-styles-advanced-panel__custom-css-input {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;

			.components-base-control__field {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;

				.components-textarea-control__input {
					flex: 1 1 auto;
					// CSS input is always LTR regardless of language.
					/*rtl:ignore*/
					direction: ltr;
				}
			}
		}
	}
}

.edit-site-global-styles-screen-css-help-link {
	display: block;
	margin-top: $grid-unit-10;
}
.edit-site-global-styles-screen-variations {
	margin-top: $grid-unit-20;
	border-top: 1px solid $gray-300;

	& > * {
		margin: $grid-unit-30 $grid-unit-20;
	}
}

.edit-site-global-styles-sidebar__navigator-screen {
	display: flex;
	flex-direction: column;
}

.edit-site-global-styles-screen-root.edit-site-global-styles-screen-root,
.edit-site-global-styles-screen-style-variations.edit-site-global-styles-screen-style-variations {
	background: unset;
	color: inherit;
}

.edit-site-global-styles-sidebar__panel .block-editor-block-icon svg {
	fill: currentColor;
}
