.wp-block-quote {
	margin: 0 0 16px;

	cite,
	footer {
		color: $dark-gray-300;
		margin-top: 1em;
		position: relative;
		font-size: $default-font-size;
		font-style: normal;
	}

	&.is-large {
		padding: 0 1em;

		p {
			font-size: 24px;
			font-style: italic;
			line-height: 1.6;
		}

		cite,
		footer {
			font-size: 19px;
			text-align: right;
		}
	}
}
