.features {
	padding: 4rem 0;
	background: url(@site/static/img/gradient_background.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	color: #fff;
}

.grid {
	max-width: 800px;
	display: grid;
	gap: 6rem;
	grid-template-columns: 1fr 1fr;
}

.featureSvg {
	height: 40px;
	width: 40px;
	fill: #fff;
}

.feature {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.title {
	color: #fff;
	padding: 0;
	margin: 0;
}
