// Dropzones
.block-editor-block-list__block {
	&.is-close-to-top {
		border-top: 3px solid theme(primary);
	}

	&.is-close-to-bottom {
		border-bottom: 3px solid theme(primary);
	}

	&.is-appender.is-active.is-dragging-over-document {
		border-bottom: none;
	}
}
