/** @format */

@import '../variables.scss';

.bottomModal {
	justify-content: flex-end;
	margin: 0;
}

.modalContent {
	background-color: white;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
	padding-bottom: 8;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}

