/** @format */

@import '../variables.scss';

.title {
	font-family: $default-monospace-font;
	font-size: 16px;
}

.lineStyle {
	border-bottom-color: lightgray;
	border-bottom-width: 1px;
	width: 100%;
}

.bottomModal {
	justify-content: flex-end;
	margin: 0px;
}

.modalContent {
	background-color: white;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
	padding-bottom: 8;
	justify-content: center;
	align-items: center;
	border-radius: 4px 4px 0px 0px;
}

