.block-editor-bindings__panel {
	// Use all columns in list items.
	[role="listitem"] {
		grid-column: 1/-1;
	}
	.block-editor-bindings__helper {
		margin: 0;
		font-size: $helptext-font-size;
		grid-column: 1/-1;
	}
	button:hover .block-editor-bindings__item-explanation {
		color: inherit;
	}
}

.block-editor-bindings__popover {
	.block-editor-bindings__source-label {
		grid-column: 2;
		margin: $grid-unit-10 0;
	}
}
