.border-block-support-panel {
	.single-column {
		grid-column: span 1;
	}

	.block-editor-panel-color-gradient-settings__dropdown {
		width: 100%;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 2px;
	}
}
