.block-editor__padding-visualizer,
.block-editor__margin-visualizer {
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-color: transparent;
	border-style: solid;
	pointer-events: none;
	box-sizing: border-box;
	background-size: 7px 7px;
	background-position: left top;
	background-origin: border-box;
	background-clip: border-box, content-box;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

.block-editor__margin-visualizer-label-top,
.block-editor__margin-visualizer-label-bottom {
	background-color: rgba(var(--wp-admin-theme-color--rgb), 1);
	color: #fff;
	padding: 3px 10px;
	border-radius: 2px;
	font-family: $default-font;
	font-size: $helptext-font-size;
	position: absolute;
	margin: 8px;
}
