.block-editor__padding-visualizer {
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.5;
	border-color: transparent;
	border-style: solid;
	pointer-events: none;
	box-sizing: border-box;
	background-size: 11px 11px;
	background-image: linear-gradient(135deg, rgba(var(--wp-admin-theme-color--rgb), 0.8) 9.09%, transparent 9.09%, transparent 50%, rgba(var(--wp-admin-theme-color--rgb), 0.8) 50%, rgba(var(--wp-admin-theme-color--rgb), 0.8) 59.09%, transparent 59.09%, transparent 100%);
	background-position: left top;
	background-origin: border-box;
	background-clip: border-box, content-box;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

.block-editor__padding-visualizer-label-top,
.block-editor__padding-visualizer-label-bottom {
	background-color: rgba(var(--wp-admin-theme-color--rgb), 1);
	color: #fff;
	padding: 3px 10px;
	border-radius: 2px;
	font-size: 13px;
	position: absolute;
	margin: 8px;
}
