// Lowest specificity on wrapper margins to avoid overriding layout styles.
:where(.wp-block-post-excerpt) {
	margin-top: var(--wp--style--block-gap);
	margin-bottom: var(--wp--style--block-gap);
}

// Zero out the margin on the excerpt paragraph, to match the body paragraphs.
.wp-block-post-excerpt__excerpt {
	margin-top: 0;
	margin-bottom: 0;
}

// Matches block gap.
.wp-block-post-excerpt__more-text {
	margin-top: var(--wp--style--block-gap);
	margin-bottom: 0;
}

.wp-block-post-excerpt__more-link {
	display: inline-block;
}

.wp-block-post-excerpt__more-link--padding {
	padding-top: calc(0.6rem - 1px);
	padding-right: calc(1rem - 1px);
	padding-bottom: calc(0.6rem - 1px);
	padding-left: calc(1rem - 1px);
	text-decoration: none !important;
}
