// Lowest specificity on wrapper margins to avoid overriding layout styles.
:where(.wp-block-post-excerpt) {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	margin-top: var(--wp--style--block-gap);
	margin-bottom: var(--wp--style--block-gap);
}

// Zero out the margin on the excerpt paragraph, to match the body paragraphs.
.wp-block-post-excerpt__excerpt {
	margin-top: 0;
	margin-bottom: 0;
}

// Matches block gap.
.wp-block-post-excerpt__more-text {
	margin-top: var(--wp--style--block-gap);
	margin-bottom: 0;
}

.wp-block-post-excerpt__more-link {
	display: inline-block;
}

// Ensure typography set on the block is not overridden by global paragraph styles.
.wp-block-post-excerpt {
	&[style*="font-weight"] :where(p) {
		font-weight: inherit;
	}
	&[class*="-font-family"] :where(p),
	&[style*="font-family"] :where(p) {
		font-family: inherit;
	}
	&[class*="-font-size"] :where(p),
	&[style*="font-size"] :where(p) {
		font-size: inherit;
	}
	&[style*="line-height"] :where(p) {
		line-height: inherit;
	}
	&[style*="font-style"] :where(p) {
		font-style: inherit;
	}
	&[style*="letter-spacing"] :where(p) {
		letter-spacing: inherit;
	}
}
