.block-editor-dimension-control {

	.components-base-control__field {
		display: flex;
		align-items: center;
	}

	.components-base-control__label {
		display: flex;
		align-items: center;
		margin-right: 1em;
		margin-bottom: 0;
		width: 10em; // ensure labels and fields align right

		.dashicon {
			margin-right: 0.5em;
			flex-shrink: 0;
		}
	}
}
