// The button element easily inherits styles that are meant for the editor style.
// These rules enhance the specificity to reduce that inheritance.
// This is duplicated in visual-editor.
.edit-site-block-editor__editor-styles-wrapper  .components-button {
	font-family: $default-font;
	font-size: $default-font-size;
	padding: 6px 12px;

	&.is-tertiary,
	&.has-icon {
		padding: 6px;
	}
}

.edit-site-visual-editor {
	position: relative;
	background-color: $gray-800;
	// Centralize the editor horizontally (flex-direction is column).
	align-items: center;

	&.is-focus-mode {
		padding: 48px 48px 0;
	}
}

.edit-site-visual-editor__editor-canvas {
	border-radius: 2px 2px 0 0;
}

.edit-site-visual-editor__back-button {
	position: absolute;
	top: $grid-unit-10;
	left: $grid-unit-10;
	color: $white;

	&:active:not([aria-disabled="true"]),
	&:focus:not([aria-disabled="true"]),
	&:hover {
		color: $gray-100;
	}
}

.resizable-editor__drag-handle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 20px;

	&.is-left {
		left: -20px;
	}

	&.is-right {
		right: -20px;
	}
}

.resizable-editor__drag-handle-button {
	$height: 100px;
	position: absolute;
	top: calc(50% - #{math.div($height, 2)});
	left: 6px;
	padding: 0;
	width: 8px;
	height: $height;
	appearance: none;
	cursor: grab;
	outline: none;
	background: #7e8993;
	border-radius: 99999px;
	border: none;

	&:hover {
		background: #6c7782;
	}

	&:active {
		cursor: grabbing;
		background: #606a74;
	}

	&:focus {
		box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
	}
}
