// The button element easily inherits styles that are meant for the editor style.
// These rules enhance the specificity to reduce that inheritance.
// This is duplicated in visual-editor.
.edit-site-block-editor__editor-styles-wrapper  .components-button {
	font-family: $default-font;
	font-size: $default-font-size;
	padding: 6px 12px;

	&.is-tertiary,
	&.has-icon {
		padding: 6px;
	}
}

.edit-site-visual-editor {
	position: relative;
	background-color: $gray-800;

	&.is-focus-mode {
		padding: 48px 48px 0;
	}
}

.edit-site-visual-editor__editor-canvas {
	border-radius: 2px 2px 0 0;
}

.edit-site-visual-editor__back-button {
	position: absolute;
	top: $grid-unit-10;
	left: $grid-unit-10;
	color: $white;

	&:active:not([aria-disabled="true"]),
	&:focus:not([aria-disabled="true"]),
	&:hover {
		color: $gray-100;
	}
}
