.spinner {
	height: $grid-unit-60;
	border-width: $border-width;
	border-radius: $radius-block-ui;
	border-color: $light-gray-400;
	justify-content: center;
}

.spinnerDark {
	border-color: $gray-70;
}

.editButton {
	color: $white;
}

.toolbarSpinner {
	padding-left: 8;
	padding-right: 8;
}
