.edit-post-visual-editor .block-library-block__reusable-block-container {
	// Unset the padding that root containers get when they're actually root containers.
	.is-root-container {
		padding-left: 0;
		padding-right: 0;
	}

	// Allow vertical paddings to collapse to better fit the flow.
	.block-editor-writing-flow {
		display: block;
	}

	.components-disabled .block-list-appender {
		display: none;
	}
}

// Styles for Reusable Block Welcome Guide
.edit-reusable-block-welcome-guide {
	$image-height: 240px;
	$image-width: 312px;
	width: 312px;

	&__heading {
		font-family: $default-font;
		font-size: 24px;
		line-height: 1.4;
		margin: $grid-unit-20 0 $grid-unit-20 0;
		padding: 0 $grid-unit-40;
	}

	&__text {
		font-size: $default-font-size;
		line-height: 1.4;
		margin: 0 0 $grid-unit-30 0;
		padding: 0 $grid-unit-40;
	}

	&__image {
		background: #00a0d2;
		height: 240px;
		margin: 0 0 $grid-unit-20;
	}
}
