.dataforms-layouts-details__summary-content {
	display: inline-flex;
	min-height: var(--wpds-dimension-size-sm);
}

.dataforms-layouts-details__content {
	padding-top: var(--wpds-dimension-padding-md);
}
