.blocks-editable {
	position: relative;

	> p:first-child {
		margin-top: 0;
	}

	> p:last-child {
		margin-bottom: 0;
	}

	&:focus {
		outline: none;
	}

	a {
		color: $blue-medium;
	}

	a[data-mce-selected] {
		padding: 0 2px;
		margin: 0 -2px;
		border-radius: 2px;
		box-shadow: 0 0 0 1px $blue-medium-100;
		background: $blue-medium-100;
	}

	code {
		padding: 0 2px;
		margin: 0 -2px;
		border-radius: 2px;
		color: $dark-gray-800;
		background: $light-gray-200;
		font-family: $editor-html-font;
		font-size: 14px;
	}
	code[data-mce-selected] {
		background: $light-gray-400;
	}

}

figcaption.blocks-editable {
	margin-top: 0.5em;
	color: $dark-gray-100;
	text-align: center;
	font-size: $default-font-size;
}


.editable-format-toolbar {
	display: inline-flex;
}

.editable-format-toolbar__link-modal {
	position: absolute;
	top: 42px;
	box-shadow: 0px 3px 20px rgba( 18, 24, 30, .1 ), 0px 1px 3px rgba( 18, 24, 30, .1 );
	border: 1px solid #e0e5e9;
	background: #fff;
	width: 250px;
	display: inline-flex;
	align-items: center;
	font-family: $default-font;
	font-size: $default-font-size;
	line-height: $default-line-height;
}


input.editable-format-toolbar__link-input {
	padding: 10px;
	font-size: 13px;
	width: 100%;
	border: none;
	outline: none;
	box-shadow: none;
	flex-grow: 1;

	&:focus {
		border: none;
		box-shadow: none;
		outline: none;
	}
}

.editable-format-toolbar__link-value {
	padding: 10px;
	flex-grow: 1;
}

/* Block Placeholders */
.editor-visual-editor__block .is-placeholder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
	min-height: 200px;
	text-align: center;
	font-family: $default-font;
	font-size: $default-font-size;
	background: $light-gray-100;
}

.placeholder__label {
	display: flex;
	justify-content: center;
	font-weight: bold;
	margin-bottom: 1em;

	.dashicon {
		margin-right: 1ch;
	}
}

.placeholder__fieldset {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 280px;
}

.placeholder__input {
	margin-right: 8px;
	flex: 1 1 auto;
}

.placeholder__instructions {
	margin-bottom: 1em;
}
