.mediaUploadProgress {
	flex: 1;
	z-index: 1;
}

.indicatorContainer {
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	bottom: 6px;
	right: 6px;
	z-index: 1;
	border-radius: 6px;
}

.indicator {
	margin: 3px;
}
