.wpBlockPreformatted {
	padding-left: 16;
	padding-right: 16;
	padding-top: 12;
	padding-bottom: 12;
	background-color: $gray-5;
}

.wpRichText {
	background-color: $gray-5;
}

.wpBlockPreformattedDark {
	padding-left: 16;
	padding-right: 16;
	padding-top: 12;
	padding-bottom: 12;
	background-color: $gray-95;
}

.wpRichTextDark {
	background-color: $gray-95;
}
