/**
 * Invalid block comparison
 */

// Ensure the modal fits the content, otherwise it could be too big
.block-editor-block-compare {
	overflow: auto;
	height: auto;

	@include break-small() {
		max-height: 70%;
	}
}

.block-editor-block-compare__wrapper {
	display: flex;
	padding-bottom: $panel-padding;

	> div {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 50%;
		padding: 0 $panel-padding 0 0;
		min-width: 200px;

		button {
			float: right;
		}
	}

	.block-editor-block-compare__converted {
		border-left: 1px solid #ddd;
		padding-left: 15px;
	}

	.block-editor-block-compare__html {
		font-family: $editor-html-font;
		font-size: 12px;
		color: $dark-gray-800;
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
		line-height: 1.7;

		span {
			background-color: #e6ffed;
			padding-top: 3px;
			padding-bottom: 3px;
		}

		span.block-editor-block-compare__added {
			background-color: #acf2bd;
		}

		span.block-editor-block-compare__removed {
			background-color: $alert-red;
		}
	}

	.block-editor-block-compare__preview {
		padding: 0;
		padding-top: $block-padding;

		p {
			font-size: 12px;
			margin-top: 0;
		}
	}

	.block-editor-block-compare__action {
		margin-top: $block-padding;
	}

	.block-editor-block-compare__heading {
		font-size: 1em;
		font-weight: 400;
		margin: 0.67em 0;
	}
}
