.components-toggle-control .components-base-control__field {
	display: flex;
	margin-bottom: $grid-size-small * 3;

	.components-form-toggle {
		margin-right: $grid-size-large;
	}

	.components-toggle-control__label {
		display: block;
		margin-bottom: 4px;
	}
}
