@use "@wordpress/base-styles/variables" as *;
@use "../form-toggle/style" as form-toggle;

.components-toggle-control__label {
	line-height: form-toggle.$toggle-height;

	&:not(.is-disabled) {
		cursor: pointer;
	}
}

.components-toggle-control__help {
	display: inline-block;
	margin-inline-start: form-toggle.$toggle-width + $grid-unit-10;
}
