.interface-complementary-area-header {
	background: $white;
	padding-right: $grid-unit-15; // Reduced padding to account for close buttons.
	gap: $grid-unit-10; // Always ensure space between contents and close buttons.

	.interface-complementary-area-header__title {
		margin: 0;
	}
}
