.editor-block-list__block[data-type="core/table"] {

	.editor-block-toolbar__group > div:not(.editor-block-toolbar__mobile-tools) {
		display: flex;
	}

	&[data-align="left"],
	&[data-align="right"] {
		min-width: 33%;
		max-width: 50%;
	}

	&[data-align="left"] {
		float: left;
		margin-right: $block-padding;
	}

	&[data-align="right"] {
		float: right;
		margin-left: $block-padding;
	}
}

.wp-block-table {
	td,
	th {
		padding: 0.5em;
		border: 1px solid currentColor;
	}

	td[data-mce-selected="1"], th[data-mce-selected="1"] {
		background-color: $light-gray-500;
	}
}
