.editor-visual-editor__block[data-type="core/table"] {
	table {
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		padding: 0.5em;
		border: 1px solid currentColor;
	}

	th {
		background: $light-gray-200;
	}

	&[data-align="left"],
	&[data-align="right"] {
		max-width: 50%;
	}

	&[data-align="left"] {
		float: left;
		margin-right: $block-padding;
	}

	&[data-align="right"] {
		float: right;
		margin-left: $block-padding;
	}

	&[data-align="wide"] {

	}
}
