.dataforms-layouts-panel__field-control {
	.edit-site-post-featured-image {
		width: 16px;
		height: 16px;
		border-radius: $radius-small;
	}
	.edit-site-post-featured-image-placeholder {
		width: 16px;
		height: 16px;
		border-radius: $radius-small;
	}
}

.edit-site-post-featured-image-container {
	.edit-site-post-featured-image-placeholder {
		margin: 0;
	}

	span {
		margin-right: auto;
	}
}

.edit-site-post-featured-image-placeholder {
	width: 24px;
	height: 24px;
	border-radius: $radius-small;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	display: inline-block;
	padding: 0;
	background:
		$white
		linear-gradient(-45deg, transparent 48%, $gray-300 48%, $gray-300 52%, transparent 52%);
}

.edit-site-post-featured-image {
	width: 24px;
	height: 24px;
	border-radius: $radius-small;
}

.edit-site-dataviews-controls__featured-image {
	.edit-side-dataviews-controls__featured-image-container {
		border: $border-width solid $gray-300;
		border-radius: $radius-small;
		padding: 8px 12px;
		cursor: pointer;
		&:hover {
			background-color: $gray-100;
		}
	}

	span {
		align-self: center;
		text-align: start;
		white-space: nowrap;
	}

	.edit-site-dataviews-controls__featured-image-upload-button {
		padding: 0;
		height: fit-content;
		&:hover,
		&:focus {
			border: 0;
			color: unset;
		}
	}

	.edit-site-dataviews-controls__featured-image-remove-button {
		place-self: end;
	}
}

.components-popover.components-dropdown__content.dataforms-layouts-panel__field-dropdown {
	z-index: z-index(".components-popover.components-dropdown__content.dataforms-layouts-panel__field-dropdown");
}
