.edit-site-media__grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: $grid-unit-40;
	margin-top: 0;
	margin-bottom: 0;

	@include break-large {
		grid-template-columns: 1fr 1fr;
	}

	@include break-huge {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include break-xhuge {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.edit-site-media__item-container {
		break-inside: avoid-column;
		display: flex;
		flex-direction: column;

		.components-button {
			height: auto;
			display: block;

			img {
				max-width: 100%;
			}
		}

		.edit-site-media__footer,
		.edit-site-media__button {
			color: $gray-600;
		}
	}
}

.edit-site-media__load-more {
	align-self: center;
}

.edit-site-media__title {
	color: $gray-200;

	.is-link {
		text-decoration: none;
		color: $gray-200;

		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.edit-site-media__no-results {
	color: $gray-600;
}

.edit-site-media__pagination {
	padding: 0 $grid-unit-30 $grid-unit-40 $grid-unit-30;
	position: sticky;
	bottom: 0;

	.components-button.is-tertiary {
		width: $button-size-compact;
		height: $button-size-compact;
		color: $gray-700;
		background-color: $gray-200;
		justify-content: center;

		&:disabled {
			color: $gray-400;
			background-color: $gray-100;
		}

		&:hover:not(:disabled) {
			background-color: $gray-300;
		}
	}
}


.edit-site-media-item__name {
	display: inline-flex;
	align-items: center;
	height: auto;
	gap: $grid-unit-20;
	padding: 0;
}

.edit-site-media-item__thumbnail {
	display: block;
	flex-shrink: 0;
	height: 64px;
	width: 64px;
	border-radius: $radius-block-ui;
}

.edit-site-media-page-media-item__spacer,
.edit-site-media-page-media-item {
	align-items: center !important;
	height: 100%;
}
