.editor-warning {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	background-color: $white;
	border: $border-width solid $light-gray-500;
	text-align: left;
	padding: 20px;

	// Avoid conflict with the multi-selection highlight color.
	.has-warning.is-multi-selected & {
		background-color: transparent;
	}

	.editor-warning__message {
		line-height: $default-line-height;
		font-family: $default-font;
		font-size: $default-font-size;
	}

	.editor-warning__contents {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
	}

	.editor-warning__actions {
		display: flex;
	}

	.editor-warning__action {
		margin: 0 6px 0 0;
	}
}

.editor-warning__secondary {
	margin: 3px 0 0 -4px;

	// the padding and margin of the more menu is intentionally non-standard
	.components-icon-button {
		width: auto;
		padding: 8px 2px;
	}

	@include break-small() {
		margin-left: 4px;

		.components-icon-button {
			padding: 8px 4px;
		}
	}

	.components-button svg {
		transform: rotate(90deg);
	}
}
