.fields-controls__slug {
	// Reset `fieldset` browser defaults.
	border: 0;
	padding: 0;
	margin: 0;

	.fields-controls__slug-input input.components-input-control__input {
		padding-inline-start: 0 !important;
	}

	.fields-controls__slug-help-link {
		// stylelint-disable-next-line declaration-property-value-keyword-no-deprecated -- Pending review of overflow-wrap alternative.
		word-break: break-word;
	}

	.fields-controls__slug-help {
		display: flex;
		flex-direction: column;

		.fields-controls__slug-help-slug {
			font-weight: var(--wpds-typography-font-weight-emphasis);
		}
	}
}
