@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.wp-block-template-part__navigation-edit-button.components-toolbar-group {
	// Add a vertical divider before the button to visually separate it
	// from the template part's "Edit" button.
	&::before {
		border: 0;
		margin: 0;
		display: inline;
		border-right: 1px solid currentColor;
		height: auto;
		width: 0;
		margin-right: calc(4px * 3);
		content: "";
	}

	// In top toolbar mode, match the divider styling used in the collapsible block toolbar.
	.editor-collapsible-block-toolbar & {
		position: relative;
		margin-left: 6px;
		padding-right: 0;

		&::before {
			width: $border-width;
			height: $grid-unit-30;
			background-color: $gray-300;
			border-right: 0;
			top: $grid-unit-05;
			position: absolute;
			left: -$border-width;
			right: auto;
			// margin-right: 0;
		}
	}
}

