$components-custom-gradient-picker__padding: 6px; // 36px container, 24px handles inside, that leaves 12px padding, half of which is 6.

.components-custom-gradient-picker__gradient-bar:not(.has-gradient) {
	opacity: 0.4;
}

.components-custom-gradient-picker__gradient-bar {
	margin-top: $grid-unit-15;
	width: 100%;
	height: $button-size;
	border-radius: $button-size;
	margin-bottom: $grid-unit-15;
	padding-left: $components-custom-gradient-picker__padding;
	padding-right: $button-size - $components-custom-gradient-picker__padding;

	.components-custom-gradient-picker__markers-container {
		position: relative;
	}

	.components-custom-gradient-picker__insert-point {
		border-radius: 50%;
		background: $white;
		padding: 2px;
		top: $components-custom-gradient-picker__padding;
		min-width: $button-size-small;
		width: $button-size-small;
		height: $button-size-small;
		position: relative;
		color: $gray-900;

		svg {
			height: 100%;
			width: 100%;
		}
	}

	.components-custom-gradient-picker__control-point-button {
		border: 2px solid transparent;
		box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) $white;
		border-radius: 50%;
		height: $button-size-small;
		width: $button-size-small;
		padding: 0;
		position: absolute;
		top: $components-custom-gradient-picker__padding;

		&:focus,
		&.is-active {
			box-shadow:
				0 0 0 1px $white,
				0 0 0 3px $gray-900;
		}
	}
}

.components-custom-gradient-picker__color-picker-popover .components-custom-gradient-picker__remove-control-point {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 8px;
}

.components-custom-gradient-picker__inserter {
	width: 100%;
}

.components-custom-gradient-picker__liner-gradient-indicator {
	display: inline-block;
	flex: 0 auto;
	width: 20px;
	height: 20px;
}

.components-custom-gradient-picker .components-custom-gradient-picker__ui-line {
	margin-bottom: $grid-unit-20;

	.components-base-control.components-angle-picker,
	.components-base-control.components-custom-gradient-picker__type-picker {
		margin-bottom: 0;
	}
}

.components-custom-gradient-picker .components-custom-gradient-picker__toolbar {
	border: none;

	// Work-around to target the inner button containers rendered by <ToolbarGroup />
	> div + div {
		margin-left: 1px;
	}

	button {
		&.is-pressed {
			> svg {
				background: $white;
				border: 1px solid $gray-600;
				border-radius: 2px;
			}
		}
	}
}
