.linkSettingsPanel {
	padding-left: 0;
	padding-right: 0;
}

// used in both light and dark modes
.placeholderTextColor {
	color: #87a6bc;
}

.selectedOptionIcon {
	color: $blue-wordpress;
}

.unselectedOptionIcon {
	opacity: 0;
}
