.wp-block-site-title__placeholder {
	padding: 1em 0;
	border: 1px dashed;
}

.editor-styles-wrapper .wp-block-site-title {
	a {
		color: inherit;
	}
}

.font-appearance-toolbar-control__option .components-menu-item__item {
	min-width: auto;
}

.components-dropdown-menu__menu .font-appearance-toolbar-control__option.components-dropdown-menu__menu-item {
	svg {
		color: transparent;
	}

	&.is-active svg {
		color: currentColor;
		box-shadow: none;
		border: none;
		background-color: transparent;
	}
}
