.wp-block-site-title {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	:where(a) {
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		letter-spacing: inherit;
		line-height: inherit;
		text-decoration: inherit;
	}
}
