.editor-block-switcher {
	position: relative;
}

.editor-block-switcher__toggle {
	width: auto;
	margin: 0;
	padding: 6px;
	border-radius: 0;

	&:focus:before {
		top: -3px;
		right: -3px;
		bottom: -3px;
		left: -3px;
	}
}

.editor-block-switcher__popover .components-popover__content {
	width: 300px;

	@include break-medium {
		position: relative;

		.editor-block-preview {
			border: 1px solid $light-gray-500;
			box-shadow: $shadow-popover;
			background: $white;
			position: absolute;
			left: 100%;
			top: 0;
			bottom: 0;
			width: 300px;
		}
	}
}

.editor-block-switcher__popover:not(.is-mobile) > .components-popover__content {
	// Reset overflow to allow showing the preview on the left once an item is hovered.
	overflow-y: initial;
}

.editor-block-switcher__popover .editor-block-styles {
	margin: 0 -11px; // Remove the panel body padding while keeping it for the title
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60px;
	grid-gap: 5px;

	.editor-block-styles__item {
		border: 1px solid $light-gray-500;
		overflow: hidden;
		padding: 5px;
		text-align: initial;

		> * {
			transform: scale( 0.7 );
			transform-origin: center top;
			font-family: $editor-font;
		}

		&.is-selected {
			@include formatting-button-style__active;
		}

		&:hover {
			@include formatting-button-style__hover;
		}
	}
}

.editor-block-switcher__popover .editor-block-types-list {
	margin: 8px -8px -8px;
}
