.components-icon-button {
	display: flex;
	align-items: center;
	padding: 8px;
	margin: 0;
	border: none;
	background: none;
	color: $dark-gray-500;
	position: relative;
	width: $icon-button-size;	// show only icon on small breakpoints
	overflow: hidden;

	.dashicon {
		display: block;
		flex: 0 0 auto;
	}

	@include break-medium() {
		width: auto;
	}

	&:not( :disabled ):hover {
		color: $blue-medium-500;
	}
}
