.components-icon-button {
	display: flex;
	align-items: center;
	padding: 8px;
	border: none;
	background: none;
	color: $dark-gray-500;
	position: relative;
	width: $icon-button-size;	// show only icon on small breakpoints
	//overflow: hidden;

	.dashicon {
		flex: 0 0 auto;
	}

	@include break-medium() {
		width: auto;
	}

	&:not( :disabled ) {
		cursor: pointer;

		&:hover {
			color: $blue-medium-500;
		}
	}

	&:focus {
		outline: $blue-medium-500 auto 4px;
	}

	&:active:focus {
		outline: none;
	}


	/*&:focus:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
	}*/
}
