.edit-site--pagination {
  border-top: 1px solid $gray-800;
  background: $gray-900;
  padding: $grid-unit-30 $grid-unit-40;
  position: sticky;
  bottom: 0;
  z-index: z-index(".edit-site-patterns__grid-pagination");

  .components-button.is-tertiary {
	width: $button-size-compact;
	height: $button-size-compact;
	color: $gray-100;
	background-color: $gray-800;
	justify-content: center;

	&:disabled {
	  color: $gray-600;
	  background: none;
	}

	&:hover:not(:disabled) {
	  background-color: $gray-700;
	}
  }
}
