.components-menu-item__button,
.components-menu-item__button.components-icon-button {
	width: 100%;
	padding: 8px;
	text-align: left;
	padding-left: 25px;
	color: $dark-gray-500;

	.dashicon,
	.components-menu-items__item-icon {
		margin-right: 5px;
	}

	.components-menu-items__item-icon {
		display: inline-block;
		flex: 0 0 auto;
	}

	&.has-icon {
		padding-left: 0;
	}

	&:hover:not(:disabled):not([aria-disabled="true"]) {
		@include menu-style__neutral;
	}

	&:focus:not(:disabled):not([aria-disabled="true"]) {
		@include menu-style__focus;
	}
}

.components-menu-item__shortcut {
	opacity: .5;
	margin-right: 0;
	margin-left: auto;
}
