.editor-format-toolbar {
	display: flex;
	flex-shrink: 0;
}

.editor-format-toolbar__selection-position {
	position: absolute;
	transform: translateX(-50%);
}

.editor-format-toolbar__link-container-content {
	display: flex;
}

.editor-format-toolbar__link-container-value {
	margin: $grid-size - $border-width;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 150px;
	max-width: 500px;
}
