.wp-block-navigation__container {
	// Reset the default list styles
	list-style: none;
	margin: 0;
	padding-left: 0;

	// Horizontal layout
	display: flex;
	flex-wrap: wrap;

	// Vertical layout

	.is-vertical & {
		display: block;
	}
}

.wp-block-navigation-link {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0;

	.wp-block-navigation__container:empty {
		display: none;
	}
}

// Styles for submenu flyout
.has-child {
	$navigation-vertical-padding: $grid-unit-10 * 0.75;
	.wp-block-navigation__container {
		border: $border-width solid rgba(0, 0, 0, 0.15);
		background-color: inherit;
		color: inherit;
		position: absolute;
		left: 0;
		top: 100%;
		width: fit-content;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.1s linear;
		visibility: hidden;

		> .wp-block-navigation-link {
			font-size: 15px;

			> .wp-block-navigation-link__content {
				flex-grow: 1;
			}
			> .wp-block-navigation-link__submenu-icon {
				padding-right: $grid-unit-10;
			}
		}

		@include break-medium {
			left: $grid-unit-30;

			// Nested submenus sit to the left on large breakpoints
			.wp-block-navigation__container {
				left: 100%;
				top: -1px;

				// Prevent the menu from disappearing when the mouse is over the gap
				&::before {
					content: "";
					position: absolute;
					right: 100%;
					height: 100%;
					display: block;
					width: $grid-unit-10;
					background: transparent;
				}
			}

			.wp-block-navigation-link__submenu-icon svg {
				transform: rotate(0);
			}
		}
	}
	// Separating out hover and focus-within so hover works again on IE: https://davidwalsh.name/css-focus-within#comment-513401
	// We will need to replace focus-within with a JS solution for IE keyboard support.
	&:hover {
		cursor: pointer;

		> .wp-block-navigation__container {
			visibility: visible;
			opacity: 1;
			display: flex;
			flex-direction: column;
		}
	}

	&:focus-within {
		cursor: pointer;

		> .wp-block-navigation__container {
			visibility: visible;
			opacity: 1;
			display: flex;
			flex-direction: column;
		}
	}
}

// All links
.wp-block-navigation-link__content {
	text-decoration: none;
	padding: $grid-unit-10 $grid-unit-10 * 2;

	+ .wp-block-navigation-link__content {
		padding-top: 0;
	}
	.has-text-color & {
		color: inherit;
	}
}

.wp-block-navigation-link__label {
	font-size: 17px;
	font-family: $default-font;

	word-break: normal;
	overflow-wrap: break-word;
}

.wp-block-navigation-link__submenu-icon {
	height: inherit;
	padding: $grid-unit-10 * 0.75 $grid-unit-10 * 2;

	svg {
		fill: currentColor;

		@include break-medium {
			transform: rotate(90deg);
		}
	}
}

// Default / Light styles
.wp-block-navigation,
.wp-block-navigation.is-style-light {
	.wp-block-navigation-link:not(.has-text-color) {
		color: $light-style-sub-menu-text-color;
	}
	&:not(.has-background) .wp-block-navigation__container {
		background-color: $light-style-sub-menu-background-color;
	}
}

// Dark styles.
.wp-block-navigation.is-style-dark {
	.wp-block-navigation-link:not(.has-text-color) {
		color: $dark-style-sub-menu-text-color;
	}
	&:not(.has-background) .wp-block-navigation__container {
		background-color: $dark-style-sub-menu-background-color;
	}
}

// Justification.
.items-justified-left > ul {
	justify-content: flex-start;
}

.items-justified-center > ul {
	justify-content: center;
}

.items-justified-right > ul {
	justify-content: flex-end;
}

.wp-block-navigation-placeholder__actions {
	display: flex;
	align-items: flex-start;

	.components-base-control {
		margin-right: 5px;
	}

	.components-select-control__input {
		margin: 0;
		min-height: 36px; // match button height
	}

	.wp-block-navigation-placeholder__button {
		height: 36px;
	}
}

.wp-block-navigation-placeholder {

	.components-spinner {
		margin-top: -4px;
		margin-left: 4px;
		vertical-align: middle;
		margin-right: 7px;
	}
	.components-custom-select-control__button {
		height: auto; // overide default button styles
		margin-bottom: 0; // cancel bottom margin
		min-width: 220px; // avoids control size jump depending on selection
	}

	// Styles for when there are Menus present in the dropdown.
	.components-custom-select-control.has-menus .components-custom-select-control__item {
		display: list-item; // remove flex to allow pseudo element to stack
		padding: 10px 25px;

		// Creates a faux divider between the menu options if present
		&.is-create-empty-option {
			position: relative; // positioning context for pseudo
			margin-top: 20px;

			&::before {
				content: "";
				position: absolute; // take out of flow to retain size of list item
				top: -10px;
				left: 25px; // match list item padding
				right: 25px; // match list item padding
				display: list-item;
				height: 15px;
				border-top: 1px solid $medium-gray-text;
			}
		}
	}

	.components-custom-select-control__menu {
		margin-top: 3px; // match gap in design
		font-family: $default-font;
		font-size: $default-font-size;
	}

}
