// Default background and font color
.wp-block-navigation:not(.has-background) {
	&:not(.has-text-color) .wp-block-navigation__container .wp-block-navigation-link {
		color: $gray-900;
	}

	// Only default submenu backgrounds
	.wp-block-navigation__container .wp-block-navigation__container {
		background-color: $white;
	}
}

// Ensure submenus inherit background colors from main navigation block
.wp-block-navigation__container {
	background-color: inherit;

	.wp-block-navigation-link {
		background-color: inherit;
	}
}

// Justification.
.items-justified-left > ul {
	justify-content: flex-start;
}

.items-justified-center > ul {
	justify-content: center;
}

.items-justified-right > ul {
	justify-content: flex-end;
}
