.wp-block-navigation {
	ul,
	ul li {
		list-style: none;
	}

	ul > li > ul {
		background: #e3e3e3;
		border-radius: 4px;
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);

		& > a {
			text-decoration: none;
		}

		&::before {
			border: solid transparent;
			border-color: rgba(227, 227, 227, 0);
			border-bottom-color: #e3e3e3;
			border-width: 10px;
			bottom: 100%;
			content: " ";
			height: 0;
			left: 20%;
			margin-left: -10px;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
	}
}

.wp-block-navigation-menu.is-dark-style ul > li > ul {
	background: #333;
	border-radius: 4px;

	& > a {
		text-decoration: none;
		color: #fff;
	}

	&::before {
		border-color: rgba(24, 24, 24, 0);
		border-bottom-color: #333;
	}
}
