.wp-block-tag-cloud {
	&.aligncenter {
		text-align: center;
	}

	&.alignfull {
		padding-left: 1em;
		padding-right: 1em;
	}

	a {
		display: inline-block;
		margin-right: 5px;
	}

	span {
		display: inline-block;
		margin-left: 5px;
		text-decoration: none;
	}

	&.is-style-pill a {
		border: 1px solid var(--wp--preset--color--foreground);
		border-radius: 5px;
		font-size: var(--wp--preset--font-size--normal);
		margin-bottom: 10px;
		padding: 5px 10px;

		&:hover {
			background-color: var(--wp--preset--color--foreground);
			color: var(--wp--preset--color--background);
		}
	}
}
