<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Testing Page</title>

		<link
			rel="stylesheet"
			href="https://wordpress.org/gutenberg/wp-admin/css/common.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://wordpress.org/gutenberg/wp-admin/css/forms.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://wordpress.org/gutenberg/wp-includes/css/dashicons.min.css"
		/>
	</head>
	<body class="wp-admin wp-core-ui">
		<div id="root"></div>
		<script type="module" src="/template/index.ts"></script>
	</body>
</html>
