.editor-block-list__block[data-type="core/cover-image"] {
	.blocks-editable__tinymce[data-is-empty="true"]:before {
		position: inherit;
	}

	.blocks-editable__tinymce a {
		color: white;
	}

	.blocks-editable__tinymce:focus a[data-mce-selected] {
		padding: 0 2px;
		margin: 0 -2px;
		border-radius: 2px;
		box-shadow: none;
		background: rgba( 255, 255, 255, 0.3 );
	}

	.blocks-editable strong {
		font-weight: 300;
	}
}
