.wp-block-cover-image {
	margin: 0;

	.blocks-rich-text__tinymce[data-is-empty="true"]:before {
		position: inherit;
	}

	.blocks-rich-text__tinymce:focus a[data-mce-selected] {
		padding: 0 2px;
		margin: 0 -2px;
		border-radius: 2px;
		box-shadow: none;
		background: rgba( 255, 255, 255, 0.3 );
	}

	.blocks-rich-text strong {
		font-weight: 300;
	}

	&.components-placeholder h2 {
		color: inherit;
	}

	&.has-left-content .block-rich-text__inline-toolbar {
		display: inline-block;
	}

	&.has-right-content .block-rich-text__inline-toolbar{
		display: inline-block;
	}

	.editor-block-list__layout {
		width: 100%;
		.editor-block-list__block:not(.is-multi-selected) .wp-block-paragraph {
			background: none;
		}
	}


}
