.dataviews-wrapper {
	width: 100%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;

	> div {
		min-height: 100%;
	}
}

.dataviews__filters-view-actions {
	padding: $grid-unit-15 $grid-unit-40;
}

.dataviews-pagination {
	margin-top: auto;
	position: sticky;
	bottom: 0;
	background-color: $white;
	padding: $grid-unit-15 $grid-unit-40;
	border-top: $border-width solid $gray-100;
	color: $gray-700;
}

.dataviews-filters-options {
	margin: $grid-unit-40 0 $grid-unit-20;
}

.dataviews-table-view {
	width: 100%;
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
	position: relative;
	color: $gray-700;

	a {
		text-decoration: none;
		color: $gray-900;
		font-weight: 500;
	}
	th {
		text-align: left;
		color: var(--wp-components-color-foreground, $gray-900);
		font-weight: normal;
		font-size: $default-font-size;
	}
	td,
	th {
		padding: $grid-unit-15;
		min-width: 160px;
		&[data-field-id="actions"] {
			text-align: right;
		}
	}
	tr {
		border-bottom: 1px solid $gray-100;

		td:first-child,
		th:first-child {
			padding-left: $grid-unit-40;
		}

		td:last-child,
		th:last-child {
			padding-right: $grid-unit-40;
		}

		&:last-child {
			border-bottom: 0;
		}
	}
	thead {
		tr {
			border: 0;
		}
		th {
			position: sticky;
			top: -1px;
			background-color: lighten($gray-100, 4%);
			box-shadow: inset 0 -#{$border-width} 0 $gray-100;
			border-top: 1px solid $gray-100;
			padding-top: $grid-unit-05;
			padding-bottom: $grid-unit-05;
		}
	}
}

.dataviews-grid-view {
	margin-bottom: $grid-unit-30;
	grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
	padding: 0 $grid-unit-40;

	@include break-xlarge() {
		grid-template-columns: repeat(3, minmax(0, 1fr)) !important; // Todo: eliminate !important dependency
	}

	@include break-huge() {
		grid-template-columns: repeat(4, minmax(0, 1fr)) !important; // Todo: eliminate !important dependency
	}

	.dataviews-view-grid__card {
		h3 { // Todo: A better way to target this
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.dataviews-view-grid__media {
		width: 100%;
		min-height: 200px;
		aspect-ratio: 1/1;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
		border-radius: $radius-block-ui * 2;
		overflow: hidden;

		> * {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.dataviews-view-grid__primary-field {
		min-height: $grid-unit-30;

		a {
			color: $gray-900;
			text-decoration: none;
			font-weight: 500;
		}
	}

	.dataviews-view-grid__fields {
		position: relative;
		font-size: 12px;
		line-height: 16px;

		.dataviews-view-grid__field {
			.dataviews-view-grid__field-header {
				color: $gray-700;
			}
			.dataviews-view-grid__field-value {
				color: $gray-900;
			}
		}
	}
}

.dataviews-list-view {
	margin: 0;

	li {
		border-bottom: $border-width solid $gray-100;
		margin: 0;
		&:first-child {
			border-top: $border-width solid $gray-100;
		}
		&:last-child {
			border-bottom: 0;
		}
	}

	.dataviews-list-view__item {
		padding: $grid-unit-15 $grid-unit-40;
		cursor: default;
		&:focus,
		&:hover {
			background-color: lighten($gray-100, 3%);
		}
		&:focus {
			box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
		}
		h3 {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.dataviews-list-view__item-selected,
	.dataviews-list-view__item-selected:hover {
		background-color: $gray-100;

		&:focus {
			box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
		}
	}

	.dataviews-list-view__media-wrapper {
		min-width: $grid-unit-40;
		height: $grid-unit-40;
		border-radius: $grid-unit-05;
		overflow: hidden;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: inset 0 0 0 $border-width rgba(0, 0, 0, 0.1);
			border-radius: $grid-unit-05;
		}
	}

	.edit-site-page-pages__featured-image,
	.dataviews-list-view__media-placeholder {
		min-width: $grid-unit-40;
		height: $grid-unit-40;
	}

	.dataviews-list-view__media-placeholder {
		background-color: $gray-200;
	}

	.dataviews-list-view__fields {
		color: $gray-700;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		.dataviews-list-view__field {
			margin-right: $grid-unit-15;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.dataviews-action-modal {
	z-index: z-index(".dataviews-action-modal");
}

.dataviews-no-results,
.dataviews-loading {
	padding: 0 $grid-unit-40;
}
