.edit-post-document-title {
	display: flex;
	align-items: center;
	gap: $grid-unit;
	height: $button-size;
	justify-content: space-between;
	// Flex items will, by default, refuse to shrink below a minimum
	// intrinsic width. In order to shrink this flexbox item, and
	// subsequently truncate child text, we set an explicit min-width.
	// See https://dev.w3.org/csswg/css-flexbox/#min-size-auto
	min-width: 0;
	background: $gray-100;
	border-radius: 4px;
	width: min(100%, 450px);

	&:hover {
		color: currentColor;
		background: $gray-200;
	}
}

.edit-post-document-title__title.components-button {
	flex-grow: 1;
	color: var(--wp-block-synced-color);
	overflow: hidden;

	&:hover {
		color: var(--wp-block-synced-color);
	}

	h1 {
		color: var(--wp-block-synced-color);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.edit-post-document-title__shortcut {
	color: $gray-800;
	text-align: right;

	.edit-post-document-title__shortcut:hover & {
		color: $gray-900;
	}
}

.edit-post-document-title__left {
	min-width: $button-size;
	flex-shrink: 0;

	.components-button.has-icon.has-text {
		color: $gray-700;
		gap: 0;

		&:hover {
			color: currentColor;
		}
	}
}
