@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.editor-error-boundary {
	font-family: $default-font;
	margin: auto;
	max-width: 720px;
	padding: $grid-unit-20;
	margin-top: $header-height;
	box-shadow: $elevation-large;
	border: $border-width solid $gray-900;
	border-radius: $radius-small;
	background-color: $white;
}

.editor-error-boundary__details [data-panel-open] svg {
	transform: rotate(180deg);
}

.editor-error-boundary__details [data-open] {
	padding-top: $grid-unit-15;
}

.editor-error-boundary__report {
	max-height: 320px;
	padding: $grid-unit-15;
	overflow: auto;
	overflow-anchor: none;
	color: $gray-200;
	background-color: $gray-800;
	border-radius: $radius-medium;
}

.editor-error-boundary__report-section {
	margin: 0;
	font-family: $font-family-mono;
	font-size: $helptext-font-size;
	line-height: 1.6;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
