.editor-visual-editor__block[data-type="core/heading"] {
	padding-top: 0;
	padding-bottom: 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		// for this block only we change the block padding to reflect margin instead
		margin: 0;
		padding: .5em 0;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1.2em;
	}

	h5 {
		font-size: 1.1em;
	}

	h6 {
		font-size: 1em;
	}
}
