.interface-pinned-items {
	display: flex;

	// We intentionally hide pinned items (plugins) on mobile, and unhide them at desktop breakpoints.
	// Otherwise the list can wreak havoc on the layout.
	.components-button:not(:first-child) {
		display: none;

		@include break-small() {
			display: flex;
		}
	}

	// Gap between pinned items.
	gap: $grid-unit-05;

	// Account for larger grid from parent container gap.
	margin-right: -$grid-unit-05;

	.components-button {
		margin: 0;

		svg {
			max-width: $icon-size;
			max-height: $icon-size;
		}
	}
}
