.editor-post-url__panel-dropdown {
	width: 100%;
}

.editor-post-url__panel-dialog .editor-post-url {
	// sidebar width - popover padding - form margin
	min-width: $sidebar-width - $grid-unit-20 - $grid-unit-20;
	margin: $grid-unit-10;
}

/* rtl:begin:ignore */
.editor-post-url__link {
	direction: ltr;
	word-break: break-word;
}
/* rtl:end:ignore */

.editor-post-url__link-slug {
	font-weight: 600;
}

.editor-post-url__panel-toggle {
	word-break: break-word;
}
