// dirty hack to clean up modal
.commands-command-menu {
	padding: 0;
	width: 100%;
	max-width: 680px;
	position: relative;
	top: 15%;

	.components-modal__content {
		margin: 0;
		padding: 0;
	}
}

.commands-command-menu__overlay {
	display: block;
	align-items: start;
}

.commands-command-menu__header {
	display: flex;
	align-items: center;
	margin: $grid-unit-15 $grid-unit-15 0 $grid-unit-15;

	.components-button {
		height: $grid-unit-70;
		width: $grid-unit-70;
		border: 1px solid $gray-600;
		border-right: 0;
		justify-content: center;
		border-radius: $radius-block-ui 0 0 $radius-block-ui;

		& + [cmdk-input] {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.commands-command-menu__container {
	[cmdk-linear-badge] {
		height: 24px;
		padding: 0 8px;
		font-size: 12px;
		color: $gray-800;
		background: $gray-300;
		border-radius: 4px;
		width: fit-content;
		display: flex;
		align-items: center;
		margin: $grid-unit-20 $grid-unit-20 0;
	}

	[cmdk-linear-shortcuts] {
		display: flex;
		margin-left: auto;
		gap: $grid-unit-10;

		kbd {
			color: $gray-800;
		}
	}

	[cmdk-input] {
		border: 1px solid $gray-600;
		width: 100%;
		padding: $grid-unit-15 $grid-unit-20;
		min-height: $grid-unit-70;
		outline: none;
		color: $gray-900;
		margin: 0;
		border-radius: $radius-block-ui;

		&::placeholder {
			color: $gray-600;
		}

		&:focus {
			outline: 2px solid transparent;
			border-color: var(--wp-admin-theme-color);
			box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
		}
	}

	[cmdk-item] {
		content-visibility: auto;
		border-radius: $radius-block-ui;
		cursor: pointer;
		height: $grid-unit-50;
		display: flex;
		align-items: center;
		gap: $grid-unit-15;
		padding: 0 $grid-unit-20;
		color: $gray-900;
		user-select: none;
		will-change: background, color;
		transition: all 150ms ease;
		transition-property: none;
		position: relative;

		&[aria-selected="true"] {
			background: rgba(var(--wp-admin-theme-color--rgb), 0.04);
			color: var(--wp-admin-theme-color);

			svg {
				color: var(--wp-admin-theme-color);
			}
		}

		&[aria-disabled="true"] {
			color: $gray-600;
			cursor: not-allowed;
		}

		&:active {
			transition-property: background;
			background: rgba(var(--wp-admin-theme-color--rgb), 0.08);
		}

		& + [cmdk-item] {
			margin-top: $grid-unit-05;
		}

		svg,
		.dashicon {
			width: $grid-unit-20;
			height: $grid-unit-20;
			color: $gray-800;
		}
	}

	[cmdk-root] > [cmdk-list] {
		min-height: 300px;
		max-height: 400px;
		overflow: auto;
		overscroll-behavior: contain;
		transition: 100ms ease;
		transition-property: height;
		margin: $grid-unit-15;
	}

	[cmdk-group-heading] {
		user-select: none;
		color: $gray-700;
		padding: $grid-unit-30 $grid-unit-20 $grid-unit-20;
		display: flex;
		align-items: center;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 500;
		position: sticky;
		top: 0;
		background: $white;
		z-index: 1;
	}

	[cmdk-empty] {
		display: flex;
		align-items: center;
		justify-content: center;
		height: $grid-unit-80;
		white-space: pre-wrap;
		color: $gray-800;
	}

	[cmdk-loading] {
		padding: $grid-unit-20;
	}

	[cmdk-list-sizer] {
		position: relative;
	}
}

.commands-command-menu__item mark {
	color: inherit;
	background: unset;
	font-weight: 600;
}
