.wp-block-navigation-menu {
	&.is-horizontal {
		display: flex;
		flex-wrap: wrap;

		ul {
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			margin: 0;
			padding: 0 10px 10px;

			ul {
				position: static;
				left: 0;
				top: 0;
				padding: 0 0 0 10px;
			}

			li {
				margin: 0;
			}

			a {
				width: 160px;
			}
		}

		li {
			float: left;
			position: relative;
			margin: 0 16px 16px 0;
			list-style: none;
			width: auto;

			&:hover > ul,
			&.focus > ul {
				left: auto;
				display: block;
			}
		}

		.menu-item-has-children > a:after {
			content: "\f347";
			display: inline-block;
			width: 10px;
			height: 10px;
			font-size: 10px;
			line-height: 1;
			font-family: dashicons;
			text-decoration: inherit;
			vertical-align: baseline;
			text-align: center;
			padding-left: 6px;
		}

		a {
			display: block;
			text-decoration: none;
		}
	}

	&.alignfull {
		padding-left: 2em;
		padding-right: 2em;
	}
}
