.components-base-control {
	font-family: $default-font;
	font-size: $default-font-size;

	.components-base-control__field {
		margin-bottom: $grid-size;

		.components-panel__row & {
			margin-bottom: inherit;
		}
	}

	.components-base-control__label {
		display: block;
		margin-bottom: $grid-size-small;
	}

	.components-base-control__help {
		margin-top: -$grid-size;
		font-style: italic;
	}
}

.components-base-control + .components-base-control {
	margin-bottom: $grid-size-large;
}
