.edit-site-mosaic-view {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, 400px);
	grid-template-rows: repeat(auto-fit, 400px);
	grid-gap: $grid-unit-40;
	background-color: $white;
	padding: $grid-unit-40;
	justify-content: center;
	min-height: 100%;
	overflow: auto;
}

.edit-site-mosaic-view__mosaic-item {
	height: 400px;
	display: grid;
	grid-template-columns: auto $button-size+$border-width-focus;
	grid-template-rows: minmax(auto, calc(100% - 80px)) minmax(auto, 80px);
	grid-gap: $grid-unit-20;
	.components-base-control__help {
		margin-left: $grid-unit-40;
	}
	&:focus {
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
		// Windows High Contrast mode will show this outline, but not the box-shadow.
		outline: 2px solid transparent;
	}
}

.edit-site-mosaic-view__template-preview {
	border: $border-width solid $gray-400;
	border-radius: $radius-block-ui;
	color: $gray-900;
	grid-column: span 2;
	overflow: hidden;
	.components-spinner {
		position: relative;
		top: calc(50% - #{ math.div($spinner-size, 2) });
		left: calc(50% - #{ math.div($spinner-size, 2) });
	}

	.block-editor-block-preview__container {
		// We have a bug on packages/block-editor/src/components/block-preview/auto.js.
		// Because of some reason contentHeight is always 0. Even thought the iframe used for the computation has an height.
		// It seems like useResizeObserver is not rerunning on this case.
		// This rule should be removed after the bug is addressed.
		height: 100% !important;
	}
}

.edit-site-mosaic-view__added-by-text {
	margin-left: $grid-unit;
}

.edit-site-mosaic-view__template-actions-disabled {
	.components-base-control__label,
	.components-base-control__help {
		margin-left: $grid-unit-10;
	}
}
