.edit-site-mosaic-view {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, 400px);
	grid-template-rows: repeat(auto-fit, 400px);
	grid-gap: $grid-unit-60;

}

.edit-site-mosaic-view__mosaic-item {
	border: $border-width solid $gray-400;
	box-shadow: $shadow-popover;
	border-radius: $radius-block-ui;
	color: $gray-900;
	height: 400px;
	overflow: hidden;
}
