.edit-site-mosaic-view {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	background-color: $gray-800;
	color: $gray-200;
	grid-gap: $grid-unit-20;
	padding: $grid-unit-20;
	justify-content: center;
	min-height: 100%;
	overflow: auto;
	align-items: end;

	@include break-small() {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	@include break-xlarge() {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-gap: $grid-unit-50;
		padding: $grid-unit-50;
	}

	@include break-wide() {
		grid-gap: $grid-unit-50 + $grid-unit-20;
		padding: $grid-unit-50 * 2;
	}

	@include break-huge() {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

.edit-site-mosaic-view__mosaic-item {
	display: grid;
	grid-template-columns: auto $button-size;
	grid-template-rows: auto auto;
	grid-gap: $grid-unit-20;

	.components-base-control__help {
		margin-left: $grid-unit-40;
		color: $gray-600;
	}
}

.edit-site-mosaic-view__template-preview {
	color: $gray-900;
	grid-column: span 2;
	display: flex;

	.components-spinner {
		position: relative;
		top: calc(50% - #{ math.div($spinner-size, 2) });
		left: calc(50% - #{ math.div($spinner-size, 2) });
	}

	.block-editor-block-preview__container {
		align-self: flex-end;
		border-radius: $radius-block-ui;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 0 $border-width var(--wp-admin-theme-color);
		}

		&:focus {
			box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
			// Windows High Contrast mode will show this outline, but not the box-shadow.
			outline: 2px solid transparent;
		}
	}
}

.edit-site-mosaic-view__added-by-text {
	margin-left: 0;
}

.edit-site .components-popover__content {
	min-width: 240px;
}

.edit-site-mosaic-view__template-actions .components-button {
	color: $gray-200;
}
