.editor-styles-wrapper {
	ul.wp-block-post-template {
		padding-left: 0;
		margin-left: 0;
		list-style: none;
	}

	.wp-block-post-template {
		.is-root-container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
