.wp-block-post-template {
	margin-top: 0;
	margin-bottom: 0;
	max-width: 100%;
	list-style: none;
	padding: 0;

	// Unset background colors that can be inherited from Global Styles with extra specificity.
	&.wp-block-post-template {
		background: none;
	}
	// These rules no longer apply but should be kept for backwards compatibility.
	&.is-flex-container {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		gap: 1.25em;

		> li {
			margin: 0;
			width: 100%;
		}

		@include break-small {
			@for $i from 2 through 6 {
				&.is-flex-container.columns-#{ $i } > li {
					width: calc((100% / #{ $i }) - 1.25em + (1.25em / #{ $i }));
				}
			}
		}
	}

	&.fade-out {
		animation: wp-block-post-template__fade-out 150ms ease-in forwards;
	}

	&.fade-in {
		animation: wp-block-post-template__fade-in 150ms ease-out forwards;
	}

	@keyframes wp-block-post-template__fade-out {
		0% {
			transform: translateX(0);
			opacity: 1;
		}

		100% {
			transform: translateX(-5px);
			opacity: 0.7;
		}
	}

	@keyframes wp-block-post-template__fade-in {
		0% {
			transform: translateX(5px);
			opacity: 0.7;
		}

		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

@media ( max-width: $break-small ) {
	// Temporary specificity bump until "wp-container" layout specificity is revisited.
	.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
		grid-template-columns: 1fr;
	}
}

@media (prefers-reduced-motion: reduce) {
	.wp-block-post-template {
		&.fade-in,
		&.fade-out {
			transition-duration: 0s;
			transition-delay: 0s;
			animation-duration: 1ms;
			animation-delay: -1ms;
		}
	}
}
