@use "@wordpress/base-styles/mixins" as *;
@use "@wordpress/base-styles/default-custom-properties";

@use "@wordpress/admin-ui/build-style/style.css" as admin-ui;
@use "@wordpress/dataviews/build-style/style.css" as dataviews;
@use "./components/layout/style.scss" as *;
@use "./components/save-hub/style.scss" as *;
@use "./components/save-panel/style.scss" as *;
@use "./components/sidebar/style.scss" as *;
@use "./components/site-hub/style.scss" as *;
@use "./components/site-icon/style.scss" as *;
@use "./components/editor-canvas-container/style.scss" as *;
@use "./components/post-list/style.scss" as *;
@use "./components/resizable-frame/style.scss" as *;

@include wordpress-admin-schemes();

#wpadminbar,
#adminmenumain {
	display: none;
}
#wpcontent {
	margin-left: 0;
}
body.js #wpbody {
	padding-top: 0;
}
body {
	@include wp-admin-reset("#gutenberg-posts-dashboard");
}
#gutenberg-posts-dashboard {
	@include reset;
	height: 100vh;

	// On mobile the main content area has to scroll, otherwise you can invoke
	// the over-scroll bounce on the non-scrolling container, for a bad experience.
	@include break-small {
		bottom: 0;
		left: 0;
		min-height: 100vh;
		position: fixed;
		right: 0;
		top: 0;
	}

	.no-js & {
		min-height: 0;
		position: static;
	}

	.components-editor-notices__snackbar {
		position: fixed;
		right: 0;
		bottom: 16px;
		padding-left: 16px;
		padding-right: 16px;
	}
}
