@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/mixins" as *;
@use "@wordpress/base-styles/default-custom-properties";
@use "@wordpress/admin-ui/build-style/style.css" as admin-ui;
@use "@wordpress/dataviews/build-style/style.css" as dataviews;
@use "@wordpress/fields/build-style/style.css" as fields;
@use "./components/add-new-template/style.scss" as *;
@use "./components/block-editor/style.scss" as *;
@use "./components/canvas-loader/style.scss" as *;
@use "./components/global-styles/style.scss" as *;
@use "./components/global-styles/screen-revisions/style.scss" as *;
@use "./components/global-styles-sidebar/style.scss" as *;
@use "./components/page-patterns/style.scss" as *;
@use "./components/page-templates/style.scss" as *;
@use "./components/editor/style.scss" as *;
@use "./components/welcome-guide/style.scss" as *;
@use "./components/layout/style.scss" as *;
@use "./components/save-hub/style.scss" as *;
@use "./components/save-panel/style.scss" as *;
@use "./components/sidebar/style.scss" as *;
@use "./components/sidebar-button/style.scss" as *;
@use "./components/sidebar-navigation-item/style.scss" as *;
@use "./components/sidebar-navigation-screen/style.scss" as *;
@use "./components/sidebar-navigation-screen-details-footer/style.scss" as *;
@use "./components/sidebar-navigation-screen-navigation-menu/style.scss" as *;
@use "./components/sidebar-navigation-screen-patterns/style.scss" as *;
@use "./components/sidebar-navigation-screen-navigation-menus/style.scss" as *;
@use "./components/sidebar-navigation-screen-main/style.scss" as *;
@use "./components/sidebar-navigation-screen-templates-browse/style.scss" as *;
@use "./components/sidebar-dataviews/style.scss" as *;
@use "./components/site-hub/style.scss" as *;
@use "./components/site-icon/style.scss" as *;
@use "./components/style-book/style.scss" as *;
@use "./components/editor-canvas-container/style.scss" as *;
@use "./components/post-edit/style.scss" as *;
@use "./components/post-list/style.scss" as *;
@use "./components/resizable-frame/style.scss" as *;
@use "./hooks/push-changes-to-global-styles/style.scss" as *;
@use "./components/global-styles/font-library-modal/style.scss" as *;
@use "./components/pagination/style.scss" as *;
@use "./components/global-styles/variations/style.scss" as *;
@use "./components/sidebar-global-styles-wrapper/style.scss" as *;

/* stylelint-disable -- Disable reason: View Transitions not supported properly by stylelint. */
::view-transition-image-pair(root) {
	isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
	display: block;
}

/* stylelint-enable */

body.js #wpadminbar {
	display: none;
}

body.js #wpbody {
	padding-top: 0;
}

body.js.appearance_page_gutenberg-template-parts,
body.js.site-editor-php {
	@include wp-admin-reset(".edit-site");
}

body.js.site-editor-php {
	background: $gray-900;
}

.edit-site {
	@include reset;
	height: 100vh;

	// On mobile the main content area has to scroll, otherwise you can invoke
	// the over-scroll bounce on the non-scrolling container, for a bad experience.
	@include break-small {
		bottom: 0;
		left: 0;
		min-height: 100vh;
		position: fixed;
		right: 0;
		top: 0;
	}

	.no-js & {
		min-height: 0;
		position: static;
	}

	.interface-interface-skeleton {
		top: 0;
	}
}

@include wordpress-admin-schemes();
