.dashboard-grid__item-content {
	transition: transform 200ms ease, box-shadow 200ms ease;
}

.dashboard-grid__item--is-dragging .dashboard-grid__item-content {
	transform: scale(1.05);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.dashboard-grid__preview-overlay {
	border: 2px dashed var(--wpds-color-stroke-interactive-brand);
	background: transparent;
}
