.resize-handle {
	position: absolute;
	bottom: 0;
	inset-inline-end: 0;
	width: 0;
	height: 0;
	z-index: 1;
	cursor: nwse-resize;
	border-block-end: 12px solid var(--wpds-color-fg-interactive-brand);
	border-inline-start: 12px solid transparent;
}

.is-horizontal-only {
	cursor: ew-resize;
}
