.resize-handle {
	position: absolute;
	bottom: 0;
	inset-inline-end: 0;
	width: 0;
	height: 0;
	z-index: 1;
	cursor: nwse-resize;
	border-style: solid;
	border-width: 0;
	border-block-end-width: 12px;
	border-inline-start-width: 12px;
	border-color: transparent;
	border-block-end-color: var(--wpds-color-fg-interactive-brand);
}

.is-horizontal-only {
	cursor: ew-resize;
}

.is-disabled {
	display: none;
}
