.dataforms-layouts-regular__field {
	width: 100%;
	min-height: calc(var(--wpds-dimension-base) * 8);
	justify-content: flex-start !important;
	align-items: flex-start !important;
}

.dataforms-layouts-regular__field-label {
	width: 38%;
	flex-shrink: 0;
	min-height: calc(var(--wpds-dimension-base) * 8);
	display: flex;
	align-items: center;
	line-height: var(--wpds-font-line-height-sm);
	hyphens: auto;

	&--label-position-side {
		align-self: center;
	}
}

.dataforms-layouts-regular__field-control {
	flex-grow: 1;
	min-height: calc(var(--wpds-dimension-base) * 8);
	display: flex;
	align-items: center;
}
