.edit-post-sidebar__panel-tabs {
	ul {
		width: 100%;
		margin-right: $grid-unit-20;
		position: relative;
	}

	li {
		width: 50%;
	}

	// Tab indicator
	li:last-child::before {
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0;
		width: calc(50% - #{ $grid-unit-20 + $grid-unit-20 });
		margin-left: $grid-unit-20;
		bottom: $grid-unit-10 + $border-width;
		border-bottom: $border-width-tab solid var(--wp-admin-theme-color);

		transition: all 0.1s ease;
		@include reduce-motion("transition");
	}

	// Position tab indicator under active tab.
	li:nth-child(1).is-active ~ li:last-child::before {
		left: 0;
	}

	li:nth-child(2).is-active::before {
		left: 50%;
	}

	.components-button.edit-post-sidebar__panel-tab {
		width: 100%;
		text-align: left;
		position: relative;
		border-radius: 0;
		height: $grid-unit-60;
		background: transparent;
		border: none;
		box-shadow: none;
		cursor: pointer;
		display: inline-block;
		padding: 3px $grid-unit-20; // Use padding to offset the is-active border, this benefits Windows High Contrast mode
		margin-left: 0;
		font-weight: 500;

		&::after {
			content: "";
			position: absolute;
			background: transparent;
			bottom: $grid-unit-10 - $border-width-tab;
			left: $grid-unit-20;
			right: $grid-unit-20;
			height: $border-width-tab;
			box-shadow: 0 0 0 0 var(--wp-admin-theme-color);
			transition: all 0.2s ease;
			@include reduce-motion("transition");
		}

		&:focus::after {
			box-shadow: 0 -#{$border-width-focus} 0 0 var(--wp-admin-theme-color);
		}
	}
}
