.components-panel__header.edit-post-sidebar__panel-tabs {
	justify-content: flex-start;
	padding-left: 0;
	padding-right: $grid-size-small;
	border-top: 0;
	position: sticky;
	z-index: z-index(".components-panel__header.edit-post-sidebar__panel-tabs");
	top: 0;
}
