.components-color-list-picker,
.components-color-list-picker__swatch-button {
	width: 100%;
}

.components-color-list-picker__color-picker {
	margin: $grid-unit-10 0;
}

.components-color-list-picker__swatch-button {
	// Used to simulate styles as a .button.has-icon (which this component can't
	// opt into, because it has to show more than a simple SVG as the "icon")
	padding: 6px;
}

.components-color-list-picker__swatch-color {
	// Match the 24px size of the `swatch` icon (used when no color is set)
	margin: 2px;
}
