.edit-site-header-wrapper {
	height: $header-height;
	display: flex;
	align-items: center;

	&.is-canvas-mode-view {
		padding: 0 $grid-unit-20;
	}

	// Leave room for the site editor toggle
	&.is-canvas-mode-edit {
		padding-left: $header-height;
	}
}
