iframe[name="editor-canvas"] {
	width: 100%;
	height: 100%;
	display: block;
}

iframe[name="editor-canvas"]:not(.has-editor-padding) {
	background-color: $white;
}

iframe[name="editor-canvas"].has-editor-padding {
	padding: $grid-unit-60 $grid-unit-60 0;
}
