iframe[name="editor-canvas"] {
	position: relative;
	inset-block: 0;
	flex: 0 0 auto;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: block;
	background-color: transparent;
	transition: all 0.5s cubic-bezier(0.65, 0, 0.45, 1);
	@include reduce-motion("transition");
	transform-origin: 50% 0;
}

iframe[name="editor-canvas"].is-zoomed-out {
	$max-width: 750px; // This is also hardcoded as ZOOM_OUT_MAX_WIDTH in the iframe component and needs to be manually kept in sync.
	$scale: var(--wp-block-editor-iframe-zoom-out-scale);
	$inset: var(--wp-block-editor-iframe-zoom-out-inset);
	inset-block: $inset 0;
	filter: drop-shadow(0 0 $grid-unit-05 rgba($color: #000, $alpha: 0.133)); // 0.133 = $gray-200 but with alpha.
	transform: scale(#{$scale});
	flex-basis: calc((100% - #{$inset} * 2) / #{$scale});
	height: calc((100% - #{$inset} * 2) / #{$scale});
	$inset-max-width: "(#{$max-width} - #{$inset} * 2)";
	max-width: calc(#{$inset-max-width} / #{$scale});
}
