iframe[name="editor-canvas"] {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: block;
	// Handles transitions between device previews
	@media not ( prefers-reduced-motion ) {
		transition: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
	}
	background-color: $gray-300;
}
