.editor-visual-editor {
	margin: 0 auto;
	padding: 50px 10px;	/* Floating up/down arrows invisible */

	&,
	& p {
		font-family: $editor-font;
		font-size: $editor-font-size;
		line-height: $editor-line-height;
	}

	@include break-small() {
		padding: 50px 0 50px #{ $block-padding + $block-mover-margin };		/* Floating up/down appear, also compensate for mover */
	}

	@include break-large() {
		padding: 60px 0 60px #{ $block-padding + $block-mover-margin };		/* Compensate for mover on the left side */
	}
}

/* "Hassle-free full bleed" from CSS Tricks */
.editor-visual-editor > *:not( [data-align="wide"] ) {
	max-width: $visual-editor-max-width;
	margin-left: auto;
	margin-right: auto;
}

.editor-visual-editor__block {
	position: relative;
	left: -#{ $block-padding + $block-mover-margin };	/* Make room for the mover */
	padding: $block-padding $block-padding  $block-padding #{ $block-padding * 2 + $block-mover-margin };	/* Compensate for mover */
	margin-right: #{ $block-padding + $block-mover-margin };
	transition: 0.2s border-color;

	&:before {
		z-index: z-index( '.editor-visual-editor__block:before' );
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: #{ $block-padding + $block-mover-margin };	/* Compensate for mover */
		right: 0;
		border: 2px solid transparent;
		transition: 0.2s border-color;
	}

	&.is-hovered:before {
		border-left-color: $light-gray-500;
	}

	&.is-selected:before {
		border-color: $light-gray-500;
	}

	&.is-multi-selected *::selection {
		background: transparent;
	}

	&.is-multi-selected:before {
		background: $blue-medium-100;
		border: 2px solid $blue-medium-200;
	}

	.iframe-overlay {
		position: relative;
	}

	.iframe-overlay:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&.is-selected .iframe-overlay:before {
		display: none;
	}
}

.editor-visual-editor__block-controls {
	display: flex;
	position: sticky;
	z-index: z-index( '.editor-visual-editor__block-controls' );
	margin-top: -$block-controls-height - $item-spacing;
	margin-bottom: $item-spacing + 20px;	// 20px is the offset from the bottom of the selected block where it stops sticking
	height: $block-controls-height;
	width: 0;
	white-space: nowrap;

	top: $header-height + $admin-bar-height-big + $item-spacing;

	@include break-medium() {
		top: $header-height + $admin-bar-height + $item-spacing;
	}

	&.is-appearing-active {
		@include animate_fade;
	}
}

.editor-visual-editor__block-controls + div {
	margin-top: -20px;

	// prevent collapsing margins between the block and the toolbar
	&:before {
		content: "";
		display: table;
		clear: both;
	}
}

.editor-visual-editor__block-controls .components-toolbar {
	display: inline-flex;
	margin-right: $item-spacing;
}

.editor-visual-editor__block-controls .editor-block-switcher {
	display: inline-flex;
}

.editor-visual-editor .editor-inserter {
	margin: $item-spacing $item-spacing $item-spacing calc( 50% - #{ $visual-editor-max-width / 2 } );	// account for full-width trick
}

.editor-visual-editor .editor-visual-editor__insertion-point {
	position: relative;
	margin-right: #{ ( $block-padding + $block-mover-margin) * 2 };

	&:before {
		position: absolute;
		top: 6px;
		height: 3px;
		left: 0;
		right: 0;
		background: $blue-medium-500;
		content: '';
	}
}
