.editor-visual-editor {
	position: relative;
	height: 100%;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0 0;

	&,
	& p {
		font-family: $editor-font;
		font-size: $editor-font-size;
		line-height: $editor-line-height;
	}
}

.editor-visual-editor .editor-block-list__block {
	margin-left: auto;
	margin-right: auto;
	max-width: $visual-editor-max-width + ( 2 * $block-mover-padding-visible );

	&[data-align="wide"] {
		max-width: 1100px;
	}

	&[data-align="full"] {
		max-width: 100%;
	}

	&[data-align="full"],
	&[data-align="wide"] {
		.editor-block-contextual-toolbar {
			@include break-small() {
				width: $visual-editor-max-width - $block-padding - $block-padding;
			}
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.editor-visual-editor .editor-inserter {
	margin: $item-spacing;

	.editor-inserter__toggle {
		color: $dark-gray-300;
		margin: 4px 0 0 -4px;	// align better with text blocks
	}

	.editor-inserter__toggle.components-icon-button:not(:disabled):hover {
		@include button-style__hover;
	}
}

.editor-visual-editor .editor-visual-editor__insertion-point {
	position: relative;
	width: $visual-editor-max-width - $block-padding - $block-padding;
	margin-left: auto;
	margin-right: auto;

	&:before {
		position: absolute;
		top: -1px;
		height: 2px;
		left: 0;
		right: 0;
		background: $blue-medium-500;
		content: '';
	}
}

.editor-visual-editor__inserter {
	display: flex;
	align-items: baseline;
	max-width: $visual-editor-max-width + ( 2 * $block-mover-padding-visible );
	margin: 0 auto;
	clear: both;

	padding: 0;
	@include break-small() {
		padding: 0 ( $block-mover-padding-visible );
	}

	> .editor-inserter__block {
		flex-direction: row;
		opacity: 0;
		transition: opacity 150ms;
		margin: 0 10px;
		width: auto;
		font-family: $default-font;
		font-size: $default-font-size;
		box-shadow: none;
		padding: 6px;
		align-items: center;
	}

	&:hover > .editor-inserter__block,
	&.is-showing-controls > .editor-inserter__block {
		opacity: 1;
	}
}

.editor-visual-editor__inserter-block-icon {
	display: inline-block;
	margin-right: 8px;
	height: 20px;
}

.editor-visual-editor .editor-post-title {
	margin-left: auto;
	margin-right: auto;
	max-width: $visual-editor-max-width + ( 2 * $block-mover-padding-visible );

	.editor-post-permalink {
		left: $block-padding;
		right: $block-padding;
	}

	@include break-small() {
		padding: 5px ( $block-mover-padding-visible );

		.editor-post-permalink {
			left: $block-mover-padding-visible;
			right: $block-mover-padding-visible;
		}
	}
}
