.interface-complementary-area {
	background: $white;
	color: $dark-gray-primary;
	overflow: visible;

	@include break-small() {
		z-index: auto;
		height: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	@include break-medium() {
		width: $sidebar-width;
	}

	> .components-panel {
		border-left: none;
		border-right: none;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		height: auto;
		max-height: calc(100vh - #{ $admin-bar-height-big + $panel-header-height + $panel-header-height });
		margin-top: -1px;
		margin-bottom: -1px;
		position: relative;

		@include break-small() {
			overflow: visible;
			height: auto;
			max-height: none;
		}
	}

	> .components-panel .components-panel__header {
		position: fixed;
		z-index: z-index(".components-panel__header");
		top: 0;
		left: 0;
		right: 0;
		height: $panel-header-height;

		@include break-small() {
			position: inherit;
			top: auto;
			left: auto;
			right: auto;
		}
	}

	p {
		margin-top: 0;
	}

	h2,
	h3 {
		font-size: $default-font-size;
		color: $dark-gray-primary;
		margin-bottom: 1.5em;
	}

	hr {
		border-top: none;
		border-bottom: 1px solid $light-gray-500;
		margin: 1.5em 0;
	}

	div.components-toolbar-group,
	div.components-toolbar {
		box-shadow: none;
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.block-editor-skip-to-selected-block:focus {
		top: auto;
		right: 10px;
		bottom: 10px;
		left: auto;
	}
}
