.font-library-modal__tab-layout footer{
    border-top: 1px solid #e5e5e5;
    margin: 0 -32px -32px;
    padding: 16px 32px;
    position: absolute;
    bottom: 32px;
    width: 100%;
    background-color: #fff;
}
