.block-editor-responsive-block-control {
	margin-bottom: $block-padding*2;
	border-bottom: 1px solid $gray-400;
	padding-bottom: $block-padding;

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.block-editor-responsive-block-control__title {
	margin: 0;
	margin-bottom: 0.6em;
	margin-left: -3px;
}

.block-editor-responsive-block-control__label {
	font-weight: 600;
	margin-bottom: 0.6em;
	margin-left: -3px; // visual compensation
}

.block-editor-responsive-block-control__inner {
	margin-left: -1px; // visual compensation
}

.block-editor-responsive-block-control__toggle {
	margin-left: 1px;
}

.block-editor-responsive-block-control .components-base-control__help {
	@include screen-reader-text();
}
