
.wp-block-social-links div.editor-url-input {
	display: inline-block;
	margin-left: 8px;
}

.wp-block-social-links .editor-block-list__layout,
.wp-block-social-links .editor-block-list__layout {
	display: flex;
	justify-content: flex-start;
}
