@import "./social";

.wp-block-social-links {
	display: flex;
	justify-content: flex-start;
	padding-left: 0;
	padding-right: 0;
	// Some themes give all <ul> default margin instead of padding.
	margin-left: 0;

	// Some themes add underlines, false underlines (via shadows), and borders to <a>.
	.wp-social-link a,
	.wp-social-link a:hover {
		text-decoration: none;
		border-bottom: 0;
		box-shadow: none;
	}
}

.wp-social-link {
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 36px; // This makes it pill-shaped instead of oval, in cases where the image fed is not perfectly sized.
	margin-right: 8px;
	transition: transform 0.1s ease;
	@include reduce-motion("transition");

	a {
		padding: 6px;
		display: block;
		line-height: 0;
		transition: transform 0.1s ease;
	}

	a,
	a:hover,
	a:active,
	a:visited,
	svg {
		color: currentColor;
		fill: currentColor;
	}

	&:hover {
		transform: scale(1.1);
	}
}

// Center flex items. This has an equivalent in editor.scss.
// It also needs to override some of the default classes usually applied to the centering class.
.wp-block-social-links.aligncenter {
	justify-content: center;
	display: flex;
}

// Provide colors for a range of icons.
.wp-block-social-links:not(.is-style-logos-only) {
	// Generic items such as mail, feed, etc.
	.wp-social-link {
		background-color: $link-color;
		color: #444;
	}

	.wp-social-link-amazon {
		background-color: $amazon-color;
		color: #fff;
	}

	.wp-social-link-bandcamp {
		background-color: $bandcamp-color;
		color: #fff;
	}

	.wp-social-link-behance {
		background-color: $behance-color;
		color: #fff;
	}

	.wp-social-link-codepen {
		background-color: $codepen-color;
		color: #fff;
	}

	.wp-social-link-deviantart {
		background-color: $deviantart-color;
		color: #fff;
	}

	.wp-social-link-dribbble {
		background-color: $dribbble-color;
		color: #fff;
	}

	.wp-social-link-dropbox {
		background-color: $dropbox-color;
		color: #fff;
	}

	.wp-social-link-etsy {
		background-color: $etsy-color;
		color: #fff;
	}

	.wp-social-link-facebook {
		background-color: $facebook-color;
		color: #fff;
	}

	.wp-social-link-fivehundredpx {
		background-color: $fivehundredpx-color;
		color: #fff;
	}

	.wp-social-link-flickr {
		background-color: $flickr-color;
		color: #fff;
	}

	.wp-social-link-foursquare {
		background-color: $foursquare-color;
		color: #fff;
	}

	.wp-social-link-github {
		background-color: $github-color;
		color: #fff;
	}

	.wp-social-link-goodreads {
		background-color: $goodreads-color;
		color: #382110;
	}

	.wp-social-link-google {
		background-color: $google-color;
		color: #fff;
	}

	.wp-social-link-instagram {
		background-color: $instagram-color;
		color: #fff;
	}

	.wp-social-link-lastfm {
		background-color: $lastfm-color;
		color: #fff;
	}

	.wp-social-link-linkedin {
		background-color: $linkedin-color;
		color: #fff;
	}

	.wp-social-link-mastodon {
		background-color: $mastodon-color;
		color: #fff;
	}

	.wp-social-link-medium {
		background-color: $medium-color;
		color: #fff;
	}

	.wp-social-link-meetup {
		background-color: $meetup-color;
		color: #fff;
	}

	.wp-social-link-pinterest {
		background-color: $pinterest-color;
		color: #fff;
	}

	.wp-social-link-pocket {
		background-color: $pocket-color;
		color: #fff;
	}

	.wp-social-link-reddit {
		background-color: $reddit-color;
		color: #fff;
	}

	.wp-social-link-skype {
		background-color: $skype-color;
		color: #fff;
	}

	.wp-social-link-snapchat {
		background-color: $snapchat-color;
		color: #fff;
		stroke: #000;
	}

	.wp-social-link-soundcloud {
		background-color: $soundcloud-color;
		color: #fff;
	}

	.wp-social-link-spotify {
		background-color: $spotify-color;
		color: #fff;
	}

	.wp-social-link-tumblr {
		background-color: $tumblr-color;
		color: #fff;
	}

	.wp-social-link-twitch {
		background-color: $twitch-color;
		color: #fff;
	}

	.wp-social-link-twitter {
		background-color: $twitter-color;
		color: #fff;
	}

	.wp-social-link-vimeo {
		background-color: $vimeo-color;
		color: #fff;
	}

	.wp-social-link-vk {
		background-color: $vk-color;
		color: #fff;
	}

	.wp-social-link-wordpress {
		background-color: $wordpress-color;
		color: #fff;
	}

	.wp-social-link-yelp {
		background-color: $yelp-color;
		color: #fff;
	}

	.wp-social-link-youtube {
		background-color: $youtube-color;
		color: #fff;
	}
}

// Treatment for logos only style.
.wp-block-social-links.is-style-logos-only {
	.wp-social-link {
		background: none;

		// Make these bigger.
		padding: 4px;
		svg {
			width: 28px;
			height: 28px;
		}
	}

	.wp-social-link-amazon {
		color: $amazon-color;
	}

	.wp-social-link-bandcamp {
		color: $bandcamp-color;
	}

	.wp-social-link-behance {
		color: $behance-color;
	}

	.wp-social-link-codepen {
		color: $codepen-color;
	}

	.wp-social-link-deviantart {
		color: $deviantart-color;
	}

	.wp-social-link-dribbble {
		color: $dribbble-color;
	}

	.wp-social-link-dropbox {
		color: $dropbox-color;
	}

	.wp-social-link-etsy {
		color: $etsy-color;
	}

	.wp-social-link-facebook {
		color: $facebook-color;
	}

	.wp-social-link-fivehundredpx {
		color: $fivehundredpx-color;
	}

	.wp-social-link-flickr {
		color: $flickr-color;
	}

	.wp-social-link-foursquare {
		color: $foursquare-color;
	}

	.wp-social-link-github {
		color: $github-color;
	}

	.wp-social-link-goodreads {
		color: $goodreads-color;
	}

	.wp-social-link-google {
		color: $google-color;
	}

	.wp-social-link-instagram {
		color: $instagram-color;
	}

	.wp-social-link-lastfm {
		color: $lastfm-color;
	}

	.wp-social-link-linkedin {
		color: $linkedin-color;
	}

	.wp-social-link-mastodon {
		color: $mastodon-color;
		background: url($mastodon-logo) no-repeat center center;
	}

	.wp-social-link-medium {
		color: $medium-color;
	}

	.wp-social-link-meetup {
		color: $meetup-color;
	}

	.wp-social-link-pinterest {
		color: $pinterest-color;
	}

	.wp-social-link-pocket {
		color: $pocket-color;
	}

	.wp-social-link-reddit {
		color: $reddit-color;
	}

	.wp-social-link-skype {
		color: $skype-color;
	}

	.wp-social-link-snapchat {
		color: $snapchat-color;
	}

	.wp-social-link-soundcloud {
		color: $soundcloud-color;
	}

	.wp-social-link-spotify {
		color: $spotify-color;
	}

	.wp-social-link-tumblr {
		color: $tumblr-color;
	}

	.wp-social-link-twitch {
		color: $twitch-color;
	}

	.wp-social-link-twitter {
		color: $twitter-color;
		background: url($twitter-logo) no-repeat center center;
	}

	.wp-social-link-vimeo {
		color: $vimeo-color;
	}

	.wp-social-link-vk {
		color: $vk-color;
	}

	.wp-social-link-wordpress {
		color: $wordpress-color;
		background: url($wordpress-logo) no-repeat center center;
	}

	.wp-social-link-yelp {
		color: $yelp-color;
	}

	.wp-social-link-youtube {
		color: $youtube-color;
	}
}

// Treatment for pill shape style.
.wp-block-social-links.is-style-pill-shape {
	.wp-social-link {
		width: auto;
	}

	.wp-social-link a {
		padding-left: 16px;
		padding-right: 16px;
	}
}

