.block-editor-block-mover {
	display: inline-flex;
	@include break-medium() {
		cursor: grab;
	}
	flex-direction: row;
}

.block-editor-block-mover .components-toolbar {
	@include break-medium() {
		flex-direction: column;
	}
}

.block-editor-block-mover__control {
	@include break-medium() {
		cursor: grab !important;

		&:not(:disabled):not([aria-disabled="true"]):active {
			cursor: grabbing;
		}
	}

	@include break-medium() {
		height: 18px;
	}
}

.block-editor-block-mover__description {
	display: none;
}

.block-editor-block-mover.is-horizontal .block-editor-block-mover__control-drag-handle {
	display: none;
}
