body.is-fullscreen-mode {
	@include break-medium {
		// Reset the html.wp-topbar padding.
		// Because this uses negative margins, we have to compensate for the height.
		margin-top: -$admin-bar-height;
		height: calc(100% + #{ $admin-bar-height });

		// Hide the top adminbar toolbar.
		#wpadminbar,
		// The sidebar background div is strange and seems entirely useless. Plus it
		// has some strange rendering bugs in Safari with regards to transitions.
		#adminmenuback {
			display: none;
		}

		// Setup the transition
		#adminmenumain {
			position: relative;
			left: -160px;
			transition: all 0.12s ease-in-out;

			.wp-submenu {
				display: none;
			}
		}

		#adminmenu {
			margin-top: 60px;
		}

		// This ensure's the sidebar's background color is always using
		// all vertical space.
		#adminmenuwrap {
			min-height: 100vh;
		}

		.interface-interface-skeleton__header {
			// Make room for the admin-menu-toggle button
			margin-left: 60px;

			transition: margin-left 0.12s ease-in-out;
		}

		.interface-interface-skeleton__body,
		.interface-interface-skeleton__footer {
			transition: margin-left 0.12s ease-in-out;
		}

		#adminmenu .wp-submenu li.current a {
			font-weight: inherit;
		}

		// Hide the little triangle on the currently
		// selected menu item.
		#adminmenu a.wp-has-current-submenu::after,
		#adminmenu > li.current > a.current::after {
			display: none;
		}
	}
}

body.is-showing-admin-menu {
	// Bring the sidebar into view.
	#adminmenumain {
		left: 0;

		.wp-submenu {
			display: block;
		}
	}

	// Make room for the sidebar by moving the skeleton elements over
	.interface-interface-skeleton__header,
	.interface-interface-skeleton__body,
	.interface-interface-skeleton__footer {
		margin-left: 160px;
	}
}


// The sidebar menu can be collapsed to show only icons.
body.is-showing-admin-menu.folded {
	.interface-interface-skeleton__header {
		margin-left: 60px;
	}

	.interface-interface-skeleton__body,
	.interface-interface-skeleton__footer {
		margin-left: 36px;
	}
}
