body.is-fullscreen-mode {
	@include break-medium {
		// Reset the html.wp-topbar padding.
		// Because this uses negative margins, we have to compensate for the height.
		margin-top: -$admin-bar-height;
		height: calc(100% + #{ $admin-bar-height });

		// Hide the top adminbar toolbar.
		#wpadminbar {
			display: none;
		}

		// Setup the transition
		#adminmenumain {
			position: relative;
			left: -160px;
			transition: left 0.12s ease-in-out;
		}

		#adminmenu {
			margin-top: 60px;
		}

		.interface-interface-skeleton__header {
			margin-left: 60px;
			transition: margin-left 0.12s ease-in-out;
		}

		.interface-interface-skeleton__body,
		.interface-interface-skeleton__footer {
			transition: margin-left 0.12s ease-in-out;
		}

		#adminmenu .wp-submenu li.current a {
			font-weight: inherit;
		}

		// Hide the little triangle on the currently
		// selected menu item.
		#adminmenu a.wp-has-current-submenu::after,
		#adminmenu > li.current > a.current::after {
			display: none;
		}
	}
}

body.is-showing-admin-menu {
	// Bring the sidebar into view.
	#adminmenumain {
		left: 0;
	}

	.interface-interface-skeleton__header,
	.interface-interface-skeleton__body,
	.interface-interface-skeleton__footer {
		margin-left: 160px;
	}
}


body.is-showing-admin-menu.folded {
	.interface-interface-skeleton__header {
		margin-left: 60px;
	}

	.interface-interface-skeleton__body,
	.interface-interface-skeleton__footer {
		margin-left: 36px;
	}
}
