.editor-post-featured-image {
	padding: 0;

	.spinner {
		margin: 0;
	}

	// Space consecutive buttons evenly.
	.components-button + .components-button {
		margin-top: 1em;
	}

	// Don't size up images beyond their intrinsic size.
	.components-responsive-wrapper__content {
		max-width: 100%;
		width: auto;
	}
}

.editor-post-featured-image__toggle,
.editor-post-featured-image__preview {
	display: block;
	width: 100%;
	padding: 0;
}

.editor-post-featured-image__toggle {
	border: 1px dashed $light-gray-900;
	background-color: $light-gray-300;
	line-height: 20px;
	padding: $item-spacing 0;
	text-align: center;

	&:hover {
		background-color: $light-gray-100;
	}
}

.editor-post-featured-image__preview {

}
