.editor-post-featured-image {
	padding: 0;

	.spinner {
		margin: 0;
	}

	.button {
		margin: 0 8px 8px 0;
	}
}

.editor-post-featured-image__toggle,
.editor-post-featured-image__preview {
	display: block;
	width: 100%;
	margin-bottom: 1em;
	padding: 0;
}

.editor-post-featured-image__toggle {
	border: 1px dashed $light-gray-900;
	background-color: $light-gray-300;
	line-height: 20px;
	padding: $item-spacing 0;
	text-align: center;
}

.editor-post-featured-image__howto {
	color: $dark-gray-300;
	font-style: italic;
	margin: 10px 0;
}
