$empty-paragraph-height: $text-editor-font-size * 4;

.editor-default-block-appender {
	.editor-default-block-appender__content {
		height: $empty-paragraph-height;
		color: $dark-gray-300;
		outline: 1px solid transparent;
		transition: 0.2s outline;
	}

	.editor-inserter__toggle {
		border-radius: 50%;
	}

	.editor-inserter-with-shortcuts {
		position: absolute;
			top: 10px;
			right: 58px;
		display: none;

		.components-icon-button {
			color: $light-gray-700;
			transition: color 0.2s;
		}

		@include break-small {
			display: flex;
		}
	}

	&:hover {
		.editor-inserter-with-shortcuts {
			opacity: 1;

			.components-icon-button {
				color: $dark-gray-500;
			}
		}

		.editor-inserter {
			opacity: 1;
		}
	}

	.editor-inserter {
		opacity: 0;
		position: absolute;
			top: 10px;
			right: 10px;
		transition: opacity 0.2s;

		@include break-small {
			left: 10px;
			right: auto;
		}
	}
}

.editor-default-block-appender__content,
input[type=text].editor-default-block-appender__content {
	border: none;
	background: none;
	box-shadow: none;
	display: block;
	width: 100%;
	height: $empty-paragraph-height;
	font-size: $editor-font-size;
	cursor: text;
	margin: 0;
	max-width: none;	// fixes a bleed issue from the admin

	&:focus {
		outline: 1px solid $light-gray-500;
	}
}

.editor-default-block-appender .components-drop-zone__content-icon {
	display: none;
}
