$empty-paragraph-height: $text-editor-font-size * 4;

.editor-default-block-appender {
	input[type=text].editor-default-block-appender__content { // needs specificity
		border: none;
		background: none;
		box-shadow: none;
		display: block;
		margin: 0;
		max-width: none; // fixes a bleed issue from the admin
		padding: $block-padding;
		font-size: $editor-font-size;
		font-family: $editor-font;
		cursor: text;
		width: 100%;
		font-family: $editor-font;
		outline: 1px solid transparent;
		transition: 0.2s outline;

		// match the height of an empty paragraph
		// to prevent margins from collapsing we add 1px padding top and bottom to both .editor-block-list__block and .editor-block-list__block-edit (coming to a total of 4px extra)
		// @todo: revisit when we allow margins to collapse
		height: $empty-paragraph-height + 4px;

		// use opacity to work in various editor styles
		color: $dark-opacity-300;

		.is-dark-theme & {
			color: $light-opacity-300;
		}
	}

	// Show quick insertion icons faded until hover
	.editor-inserter-with-shortcuts {
		opacity: .5;
		transition: opacity 0.2s;

		.components-icon-button:not( :hover ) {
			// use opacity to work in various editor styles
			color: $dark-opacity-500;

			.is-dark-theme & {
				color: $light-opacity-500;
			}
		}
	}

	&:hover .editor-inserter-with-shortcuts {
		opacity: 1;
	}

	// Show the inserter if mousing over or there is a tip
	&:not( .has-tip ) {
		.editor-inserter__toggle:not( [aria-expanded="true"] ) {
			opacity: 0;
		}

		&:hover .editor-inserter__toggle {
			opacity: 1;
		}
	}

	// Dropzone
	.components-drop-zone__content-icon {
		display: none;
	}
}

// Left side inserter icon
.editor-block-list__empty-block-inserter,
.editor-default-block-appender .editor-inserter {
	position: absolute;
	top: $item-spacing;
	right: $item-spacing;	// show on the right on mobile

	@include break-small {
		left: -$block-side-ui-width - $block-padding - $block-side-ui-clearance;
		right: auto;
	}

	&:disabled {
		display: none;
	}

	.editor-inserter__toggle {
		transition: opacity 0.2s;
		border-radius: 50%;
		width: $block-side-ui-width;
		height: $block-side-ui-width;
		top: 4px;
		padding: 4px;

		// use opacity to work in various editor styles
		&:not( :hover ) {
			color: $dark-opacity-500;

			.is-dark-theme & {
				color: $light-opacity-500;
			}
		}
	}
}

// Quick block insertion icons on the right
.editor-inserter-with-shortcuts {
	position: absolute;
	top: $item-spacing;
	right: $block-padding;
	display: none;

	@include break-small {
		right: 0;
		display: flex;
	}
}
