.contentContainer {
	flex-direction: row;
	padding: 0 $grid-unit-20;
}

.verticalSeparator {
	border-width: $border-width * 0.5;
	border-color: $light-gray-400;
	height: 38px;
	margin-right: $grid-unit-20 * 0.5;
	align-self: center;
}

.verticalSeparatorDark {
	border-color: $gray-70;
}

.colorIndicator {
	margin-top: 12px;
	margin-bottom: 12px;
}

.customIndicatorWrapper {
	flex-direction: row;
	align-items: center;
}

.customText {
	font-size: 16px;
	color: $gray-dark;
}

.customTextDark {
	color: $white;
}

.customTextAndroid {
	letter-spacing: 1.25;
	font-weight: 500;
}

.headerText {
	color: $gray;
	padding-top: 8;
	font-size: 14;
	font-weight: 500;
	padding-left: $grid-unit-20;
	padding-right: $grid-unit-20;
}
