@import "./archives/editor.scss";
@import "./audio/editor.scss";
@import "./block/editor.scss";
@import "./button/editor.scss";
@import "./buttons/editor.scss";
@import "./categories/editor.scss";
@import "./columns/editor.scss";
@import "./cover/editor.scss";
@import "./embed/editor.scss";
@import "./file/editor.scss";
@import "./freeform/editor.scss";
@import "./gallery/editor.scss";
@import "./group/editor.scss";
@import "./html/editor.scss";
@import "./image/editor.scss";
@import "./latest-posts/editor.scss";
@import "./media-text/editor.scss";
@import "./more/editor.scss";
@import "./navigation/editor.scss";
@import "./navigation-link/editor.scss";
@import "./navigation-submenu/editor.scss";
@import "./nextpage/editor.scss";
@import "./page-list/editor.scss";
@import "./paragraph/editor.scss";
@import "./post-excerpt/editor.scss";
@import "./post-author/editor.scss";
@import "./pullquote/editor.scss";
@import "./rss/editor.scss";
@import "./search/editor.scss";
@import "./separator/editor.scss";
@import "./shortcode/editor.scss";
@import "./site-logo/editor.scss";
@import "./site-tagline/editor.scss";
@import "./site-title/editor.scss";
@import "./social-link/editor.scss";
@import "./social-links/editor.scss";
@import "./spacer/editor.scss";
@import "./table/editor.scss";
@import "./template-part/editor.scss";
@import "./text-columns/editor.scss";
@import "./video/editor.scss";
@import "./query-title/editor.scss";
@import "./post-template/editor.scss";
@import "./query/editor.scss";
@import "./query-pagination/editor.scss";
@import "./query-pagination-numbers/editor.scss";
@import "./post-featured-image/editor.scss";
@import "./term-description/editor.scss";

:root .editor-styles-wrapper {
	@include background-colors-deprecated();
	@include foreground-colors-deprecated();
	@include gradient-colors-deprecated();
}

// Font sizes.
// The reason we add the editor class wrapper here is
// to avoid enqueing the classes twice: here and in ./editor.scss
.editor-styles-wrapper .has-small-font-size {
	font-size: 13px;
}

.editor-styles-wrapper .has-regular-font-size, // Not used now, kept because of backward compatibility.
.editor-styles-wrapper .has-normal-font-size {
	font-size: 16px;
}

.editor-styles-wrapper .has-medium-font-size {
	font-size: 20px;
}

.editor-styles-wrapper .has-large-font-size {
	font-size: 36px;
}

.editor-styles-wrapper .has-larger-font-size, // Not used now, kept because of backward compatibility.
.editor-styles-wrapper .has-huge-font-size {
	font-size: 42px;
}

// Mark empty links with a red squiggly underline to indicate an error
.editor-styles-wrapper.editor-styles-wrapper a[href=""] {
	$blur: 10%;
	$width: 6%;
	$stop1: 30%;
	$stop2: 64%;
	$angle: 45deg;

	background-image:
		linear-gradient($angle, transparent ($stop1 - $blur), currentColor $stop1, currentColor ($stop1 + $width), transparent ($stop1 + $width + $blur)),
		linear-gradient(($angle * 3), transparent ($stop2 - $blur), currentColor $stop2, currentColor ($stop2 + $width), transparent ($stop2 + $width + $blur));
	background-position: 0 100%;
	background-size: 6px 3px;
	background-repeat: repeat-x;

	color: #f00;
	text-decoration-line: none;
}

/**
 * Editor Normalization Styles
 *
 * These are only output in the editor, but styles here are NOT prefixed .editor-styles-wrapper.
 * This allows us to create normalization styles that are easily overridden by editor styles.
 */
