.editor-sidebar {
	position: fixed;
	z-index: z-index( '.editor-sidebar' );
	top: 0;
	right: 0;
	bottom: 0;
	width: $sidebar-width;
	border-left: 1px solid $light-gray-500;
	background: $light-gray-300;
	color: $dark-gray-500;
	height: 100vh;
	overflow: hidden;

	@include break-small() {
		top: $admin-bar-height-big + $header-height;
		z-index: auto;
		height: auto;
		overflow: auto;
	}

	@include break-medium() {
		top: $admin-bar-height + $header-height;
	}

	> .components-panel {
		border-left: none;
		border-right: none;
		overflow: auto;
		height: 100%;
		padding-top: $sidebar-panel-header-height;
		margin-top: -1px;
		margin-bottom: -1px;

		@include break-small() {
			overflow: inherit;
			height: auto;
			padding-top: 0;
		}
	}

	> .components-panel .components-panel__header {
		position: fixed;
		z-index: z-index( '.components-panel__header' );
		top: 0;
		left: 0;
		right: 0;
		height: $sidebar-panel-header-height;

		@include break-small() {
			position: inherit;
			top: auto;
			left: auto;
			right: auto;
		}
	}

	p {
		margin-top: 0;
	}

	h3 {
		font-size: $default-font-size;
		color: $dark-gray-500;
		margin-bottom: 1.5em;
	}

	hr {
		border-top: none;
		border-bottom: 1px solid $light-gray-500;
		margin: 1.5em 0;
	}

	ul.components-toolbar {
		box-shadow: none;
		margin-bottom: 1.5em;
	}

	p + ul.components-toolbar {
		margin-top: -1em;
	}
}

/* Visual and Text editor both */
.editor-layout.is-sidebar-opened .editor-layout__content {
	@include break-medium() {
		margin-right: $sidebar-width;
	}
}

.editor-layout.is-sidebar-opened .editor-sidebar {
	/* Sidebar covers screen on mobile */
	width: 100%;

	/* Sidebar sits on the side on larger breakpoints */
	@include break-medium() {
		width: $sidebar-width;
	}
}

/* Text Editor specific */
.editor-layout.is-sidebar-opened .editor-text-editor__formatting {
	margin-right: $sidebar-width;
}

.components-panel__header.editor-sidebar__panel-tabs {
	justify-content: flex-start;
	padding-left: 0;
	padding-right: $panel-padding / 2;
	border-top: 0;

	.components-icon-button {
		margin-left: auto;
	}
}

.editor-sidebar__panel-tab {
	background: transparent;
	border: none;
	border-bottom: 3px solid transparent;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	margin-left: 0;
	font-weight: 400;

	&.is-active {
		border-bottom-color: $blue-medium-500;
		font-weight: 600;
	}

	&:focus {
		box-shadow: $button-focus-style;
		outline: none;
	}
}
