.block-library-template-part__selection-list-item {
	cursor: pointer;

	&:hover {
		.block-editor-block-preview__container {
			border: $border-width solid var(--wp-admin-theme-color);
		}
		.block-library-template-part__selection-list-item-title {
			color: var(--wp-admin-theme-color);
		}
	}

	&:focus {
		.block-editor-block-preview__container {
			box-shadow: inset 0 0 0 1px $white, 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);

			// Windows High Contrast mode will show this outline, but not the box-shadow.
			outline: 2px solid transparent;
		}
	}

	&.is-placeholder {
		min-height: 100px;
	}

	.block-editor-block-preview__container {
		border-radius: $radius-block-ui;
		transition: all 0.05s ease-in-out;
		border: $border-width solid $gray-300;
	}
}

.block-library-template-part__selection-list-item-title {
	padding: $grid-unit-05;
	font-size: $helptext-font-size;
	text-align: center;
}

.block-editor-template-part-placeholder__modal {
	@include break-medium() {
		width: $break-medium - $grid-unit-20 * 2;
	}
}

.block-library-template-part__selection-patterns .block-editor-block-patterns-list,
.block-library-template-part__selection-list-items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: $grid-unit-10;

	.block-library-template-part__selection-list-item,
	.block-editor-block-patterns-list__list-item {
		margin-bottom: 0;
	}
}
