body {
	font-family: $editor-font;
	font-size: $editor-font-size;
	line-height: $editor-line-height;
	color: $dark-gray-900;
}

p {
	font-size: inherit;
	line-height: inherit;
}

ul,
ol {
	margin: 0;
	padding: 0;

	li {
		// This overrides a bottom margin globally applied to list items in wp-admin.
		margin-bottom: initial;
	}
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

ul ul,
ol ul {
	list-style-type: circle;
}

// Supply caption styles even if the theme hasn't opted in.
// Reason being: the figcaption element is not likely to be styled in the majority of existing themes,
// so we supply the styles so as to not appear broken or unstyled in those themes.
figcaption {
	margin-top: 0.5em;
	margin-bottom: 1em;
}
