.wp-block {
	width: $content-width;
}

body {
	font-family: $editor-font;
	line-height: $editor-line-height;
	color: $dark-gray-900;
	font-size: $editor-font-size;
}

p {
	font-size: $editor-font-size;
	line-height: $editor-line-height;
}


ul,
ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

ul ul,
ol ul {
	list-style-type: circle;
}
