body {
	font-family: $editor-font;
	line-height: $editor-line-height;
	color: $dark-gray-700;
	font-size: $editor-font-size;
}

p {
	font-size: $editor-font-size;
}


ul,
ol {
	margin: 0;
	padding: 0;
}

ul:not(.wp-block-gallery) {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}
