.wp-block-search {
	&__input {
		border-radius: $radius-round-rectangle;
		border: 1px solid $dark-gray-200;
		color: $dark-opacity-300;
		font-family: $default-font;
		font-size: $default-font-size;
		padding: $grid-size;

		&:focus {
			outline: none;
		}
	}

	&__button {
		background: #f7f7f7;
		border-radius: $radius-round-rectangle;
		border: 1px solid #ccc;
		box-shadow: inset 0 -1px 0 #ccc;
		font-family: $default-font;
		font-size: $default-font-size;
		padding: 6px 10px;
	}
}
