.searchLabel {
	margin-top: $grid-unit-10;
	margin-bottom: $grid-unit-10;
	background-color: transparent;
}

.searchButton {
	padding: 0;
	padding-left: $grid-unit-10;
	padding-right: $grid-unit-10;
	background-color: transparent;
	margin-right: $grid-unit-10;
	margin-left: $grid-unit-10;
}
