.searchLabel {
	margin-top: $grid-unit-10;
	margin-bottom: $grid-unit-10;
	background-color: transparent;
}

.searchButton {
	margin-left: $grid-unit-10;
	margin-right: $grid-unit-10;
	background-color: transparent;
}
