.searchLabel {
	background-color: transparent;
	margin-top: $grid-unit-10;
	margin-bottom: $grid-unit-10;
}

.searchButton {
	padding: 0;
	font-size: 16px;
	padding-left: $grid-unit-10;
	padding-right: $grid-unit-10;
	background-color: transparent;
}
