.searchLabel {
	background-color: transparent;
	margin-top: $grid-unit-10;
	margin-bottom: $grid-unit-10;
}

.searchButton {
	background-color: transparent;
	padding-left: $grid-unit-10;
	padding-right: $grid-unit-10;
	text-align: center;
}
