.searchBlockContainer {
	flex: 1;
	flex-direction: column;
}

.searchBarContainer {
	flex: 1;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}

.border {
	border: $border-width solid #e5e5e5;
	border-radius: 4px;
	padding-left: $grid-unit-10;
	padding-right: $grid-unit-05;
	padding-top: $grid-unit-05;
	padding-bottom: $grid-unit-05;
	background-color: $white;
}

.borderDark {
	border: $border-width solid #373737;
	background-color: transparent;
}

.buttonContainer {
	background: #595959;
	padding-left: $grid-unit-10;
	padding-right: $grid-unit-10;
	padding-top: $grid-unit-10;
	padding-bottom: $grid-unit-10;
	border: $border-width solid #595959;
	margin-left: 4px;
	border-radius: 4px;
	align-content: center;
	align-items: center;
	flex-shrink: 1;
}

.icon {
	fill: $white;
	background-color: transparent;
}

.richTextLabel {
	background-color: transparent;
	margin-top: $grid-unit-10;
	margin-bottom: $grid-unit-10;
	font-size: 16px;
	font-weight: 400;
	font-family: $default-regular-font;
	width: 100%;
}

.richTextButton {
	color: $white;
	font-size: 16px;
	font-weight: 400;
	background-color: transparent;
	font-family: $default-regular-font;
	padding: 0;
	margin: 0;
	text-align: center;
	min-height: 24px;
}

.richTextButtonCursor {
	color: #ddd;
}

.plainTextInput {
	flex-grow: 1;
	flex-shrink: 1;
	min-height: 42px;
	padding-left: 0;
	padding-right: $grid-unit-05;
	padding-top: $grid-unit-05;
	padding-bottom: $grid-unit-05;
	font-family: $default-regular-font;
	box-shadow: none;
	color: #212121;
}

.plainTextInputDark {
	color: #ddd;
}

.plainTextPlaceholder {
	color: $gray;
}

.plainTextPlaceholderDark {
	color: $gray-50;
}
