.wp-block-search {
	display: flex;
	flex-wrap: wrap;

	.wp-block-search__label {
		width: 100%;
	}

	.wp-block-search__input {
		flex-grow: 1;
		max-width: 360px;
	}

	.wp-block-search__button {
		margin-left: 10px;
	}
}
