.block-editor-format-toolbar__image-popover {
	z-index: z-index(".block-editor-format-toolbar__image-popover");

	.block-editor-format-toolbar__image-container-content {
		width: 260px;
		padding: $grid-unit-20;
	}
}
