.block-editor-format-toolbar__image-container-content {
	display: flex;

	.components-button {
		align-self: flex-end;
		height: $grid-size * 4 - ($border-width * 2);
		margin-bottom: $grid-size;
		margin-right: $grid-size;
		padding: 0 6px;
	}
}

.block-editor-format-toolbar__image-container-value {
	margin: $grid-size - $border-width;
	flex-grow: 1;
	flex-shrink: 1;
	white-space: nowrap;
	min-width: 150px;
	max-width: 500px;

	&.components-base-control {
		.components-base-control__field {
			margin-bottom: 0;
		}

		.components-base-control__label {
			display: block;
		}
	}
}
