.wp-block-file {
	.wp-block[data-align="left"] > &,
	.wp-block[data-align="right"] > & {
		// Stop file block from collapsing when floated.
		height: auto;
	}

	.components-resizable-box__container {
		margin-bottom: 1em;
	}

	.wp-block-file__preview {
		margin-bottom: 1em;
		width: 100%;
		height: 100%;
	}

	.wp-block-file__preview-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	// This is an extra container present only in the editor view.
	.wp-block-file__content-wrapper {
		display: flex;
		flex: 1;
		align-items: center;
	}

	// This is the editable filename on the left.
	// Make sure it matches the styling on the frontend.
	// Except for flex-grow, it is useful to have an easily selectable block.
	a {
		min-width: 2em !important;
	}

	// This element maps to the Download button link on the right.
	.wp-block-file__button-richtext-wrapper {
		margin-left: auto;
	}

	// The file block already has a border, so don't show the extra border of the placceholder.
	.components-placeholder.components-placeholder {
		box-shadow: none;
	}
}
