.wp-block-file {
	/* prettier-ignore */
	.wp-block[data-align="left"] > &,
	.wp-block[data-align="right"] > & {
		// Stop file block from collapsing when floated.
		height: auto;
	}

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;

	.components-resizable-box__container {
		margin-bottom: 1em;
	}

	.wp-block-file__preview {
		margin-bottom: 1em;
		width: 100%;
		height: 100%;
	}

	.wp-block-file__preview-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.wp-block-file__content-wrapper {
		display: flex;
		align-items: center;
		flex-grow: 1;
		textarea {
			width: min-content;
			&:focus {
				border: none;
				box-shadow: none;
			}
		}
	}

	a {
		min-width: 1em;
	}

	.wp-block-file__button-richtext-wrapper {
		display: inline-block;
		margin-left: 0.75em;
	}
}
