.wp-block-file {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}

	.wp-block-file__embed {
		margin-bottom: 1em;
	}

	.wp-block-file__button {
		margin-left: auto;
	}
}
