.edit-post-text-editor__body textarea.editor-post-text-editor {
	border: $border-width solid $light-gray-secondary;
	display: block;
	margin: 0;
	width: 100%;
	box-shadow: none;
	resize: none;
	overflow: hidden;
	font-family: $editor-html-font;
	line-height: 150%;
	border-radius: 0;
	padding: $grid-unit-20;
	min-height: 200px;

	/* Fonts smaller than 16px causes mobile safari to zoom. */
	font-size: $mobile-text-min-font-size !important;
	@include break-small {
		font-size: $text-editor-font-size !important;
	}

	&:focus {
		border: $border-width solid $dark-gray-primary;
		box-shadow: none;

		// Elevate the z-index on focus so the focus style is uncropped.
		position: relative;
	}
}
