.blocks-block-autocomplete .dashicon {
	margin-right: 8px;
}

.blocks-user-autocomplete {
	img {
		margin-right: 8px;
	}
	.slug {
		margin-left: 8px;
		color: $dark-gray-100;
	}
	.components-autocomplete__result:hover .slug {
		color: $blue-medium-300;
	}
} 
