.block-editor-color-gradient-control {
	.block-editor-color-gradient-control__color-indicator {
		margin-bottom: $grid-unit-15;
	}
}

.block-editor-panel-color-gradient-settings {
	.component-color-indicator {
		vertical-align: text-bottom;
	}

	&__panel-title {
		.component-color-indicator {
			display: inline-block;
		}
	}

	&.is-opened &__panel-title .component-color-indicator {
		display: none;
	}

	// Must equal $color-palette-circle-size from:
	// @wordpress/components/src/circular-option-picker/style.scss
	$swatch-size: 28px;

	@media screen and (min-width: $break-medium) {
		.components-circular-option-picker__swatches {
			display: grid;
			grid-template-columns: repeat(6, $swatch-size);
			justify-content: space-between;
		}
	}

	// This shouldn't be needed but there's a rule in the inspector controls
	// overriding this causing too much spacing.
	// That generic rule should ideally be removed.
	.block-editor-block-inspector & .components-base-control {
		margin-bottom: inherit;
	}
}
