.block-directory-downloadable-block-icon {
	width: $button-size;
	height: $button-size;

	.block-editor-block-icon {
		width: $button-size;
		height: $button-size;
		font-size: $button-size;
		background-color: $gray-300;
	}

	> img {
		width: 100%;
	}
}
