.components-dropdown {
	display: inline-block;
}

.components-dropdown__content {
	.components-popover__content {
		padding: $grid-unit-10;
	}

	[role="menuitem"] {
		white-space: nowrap;
	}

	.components-menu-group {
		padding: $grid-unit-10;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: -$grid-unit-10;
		margin-right: -$grid-unit-10;

		&:first-child {
			margin-top: -$grid-unit-10;
		}

		&:last-child {
			margin-bottom: -$grid-unit-10;
		}
	}

	.components-menu-group + .components-menu-group {
		margin-top: 0;
		border-top: $border-width solid $gray-400;
		padding: $grid-unit-10;
	}

	&.is-alternate .components-menu-group + .components-menu-group {
		border-color: $gray-900;
	}
}
