.block-editor-block-variation-transforms {
	box-sizing: border-box;
	padding: 0 $grid-unit-20 $grid-unit-20 52px;

	&:where(fieldset) {
		// Reset `fieldset` browser defaults.
		border: 0;
		padding: 0;
		margin: 0;
	}
}

.block-editor-block-variation-transforms__button {
	border: $border-width solid $gray-700;
	width: 100%;

	&:focus:not(:disabled) {
		border-color: var(--wp-admin-theme-color);
		box-shadow: 0 0 0 calc(var(--wp-admin-border-width-focus) - #{ $border-width }) var(--wp-admin-theme-color);
	}

	svg {
		margin-left: auto;
	}
}
