/** @format */

$title-height: 32;

.htmlView {
	font-family: $default-monospace-font;
	background-color: white;
	padding-left: 8;
	padding-right: 8;
	padding-bottom: $title-height + 8;
}

.htmlViewTitle {
	font-family: $default-monospace-font;
	background-color: white;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
	padding-bottom: 8;
	height: $title-height;
	
}

.container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

