.edit-site-page-switcher__menu {
	.block-editor-link-control {
		width: 100%;
	}

	.block-editor-link-control .block-editor-link-control__search-input.block-editor-link-control__search-input input[type="text"] {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.block-editor-link-control__search-actions {
		right: 3px;
	}

	.block-editor-link-control__settings {
		padding-left: 0;
		padding-right: 0;
	}
}
