.editor-post-preview__dropdown {
	display: none;
	margin-right: $grid-unit-15;
	box-shadow: inset 0 0 0 $border-width $light-gray-secondary;
	border-radius: $radius-block-ui;
	padding: 0;
}

.editor-post-preview__button-toggle {
	display: flex;
	justify-content: space-between;
	padding: 0 0 0 $grid-unit-15;

	&:focus:not(:disabled) {
		box-shadow: inset 0 0 0 1px $white, 0 0 0 2px color($theme-color);
	}
}

.editor-post-preview__button-resize.editor-post-preview__button-resize {
	padding-left: $button-size-small + $grid-unit-10 + $grid-unit-10;

	&.has-icon {
		padding-left: $grid-unit-10;
	}
}

.editor-post-preview__button-separator {
	border-left: $border-width solid $light-gray-secondary;
	padding: 6px;
	margin-left: $grid-unit-15;
	display: flex;
	align-items: center;
	justify-content: center;
}

.editor-post-preview__dropdown-content {
	.components-popover__content {
		overflow-y: visible;
		padding-bottom: 0;
	}

	.components-menu-group + .components-menu-group {
		border-top: $border-width solid $light-gray-secondary;
		padding: $grid-unit-10 $grid-unit-15;
		margin-left: -$grid-unit-15;
		margin-right: -$grid-unit-15;
	}
}

.editor-post-preview__grouping-external {
	display: flex;
	position: relative;
}

.editor-post-preview__button-external {
	padding-left: $button-size-small + $grid-unit-10 + $grid-unit-10;
	margin-right: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

@include break-small() {
	.editor-post-preview {
		display: none;
	}

	.editor-post-preview__dropdown {
		display: flex;
	}
}
