.dataviews-wrapper {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: $grid-unit-40;

	> div {
		min-height: 100%;
	}
}

.dataviews-pagination {
	margin-top: auto;
}

.dataviews-list-view {
	width: 100%;
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
	position: relative;
	a {
		text-decoration: none;
	}
	th {
		text-align: left;
		font-weight: normal;
		padding: 0 $grid-unit-20 $grid-unit-20;
		color: $gray-700;
	}
	td,
	th {
		padding: $grid-unit-15;
		&:last-child {
			text-align: right;
		}
	}
	tr {
		border-bottom: 1px solid $gray-100;
	}
}

.dataviews-view-grid__media {
	width: 100%;
	min-height: 200px;

	> * {
		max-width: 100%;
		object-fit: cover;
	}
}
