.dataviews-wrapper {
	width: 100%;
	height: calc(100% - #{$grid-unit-40} * 2);
	overflow: auto;
	padding: $grid-unit-40 $grid-unit-40 0;

	> div {
		min-height: 100%;
	}
}

.dataviews-pagination {
	margin-top: auto;
	position: sticky;
	bottom: 0;
	background-color: $white;
	padding: $grid-unit-20 0;
	border-top: $border-width solid $gray-200;
}

.dataviews-filters-options {
	margin: $grid-unit-40 0 $grid-unit-20;
}

.dataviews-list-view {
	width: 100%;
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
	position: relative;

	a {
		text-decoration: none;
	}
	th {
		text-align: left;
		font-weight: normal;
		padding: 0 $grid-unit-20 $grid-unit-20;
		color: $gray-700;
	}
	td,
	th {
		padding: $grid-unit-15;
		&[data-field-id="actions"] {
			text-align: right;
		}
	}
	tr {
		border-bottom: 1px solid $gray-100;

		&:last-child {
			border-bottom: 0;
		}
	}
	thead {
		tr {
			border: 0;
		}
		th {
			position: sticky;
			top: - #{$grid-unit-40}; // Offset the container padding
			background-color: $white;
			box-shadow: inset 0 -#{$border-width} 0 $gray-200;
		}
	}
}

.dataviews-view-grid__media {
	width: 100%;
	min-height: 200px;

	> * {
		max-width: 100%;
		object-fit: cover;
	}
}

.dataviews-action-modal {
	z-index: z-index(".dataviews-action-modal");
}
