.edit-site-document-actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	// Flex items will, by default, refuse to shrink below a minimum
	// intrinsic width. In order to shrink this flexbox item, and
	// subsequently truncate child text, we set an explicit min-width.
	// See https://dev.w3.org/csswg/css-flexbox/#min-size-auto
	min-width: 0;

	.edit-site-document-actions__title-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		transition: transform 0.2s;
		@include reduce-motion(transition);

		// See comment above about min-width
		min-width: 0;

		// Since part of the dropdown button width is blank space, visually,
		// it looks off-center. This offsets that blank space.
		margin-left: 12px;
	}

	.edit-site-document-actions__title-wrapper > h1 {
		display: flex;
		justify-content: center;
		margin: 0;

		// See comment above about min-width
		min-width: 0;
	}

	.edit-site-document-actions__title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.edit-site-document-actions__secondary-item {
		opacity: 0;
		transform: translateY(0);
		transition: transform 0.2s;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		@include reduce-motion(transition);
	}

	&.has-secondary-label {
		transform: translateY(10px);

		.edit-site-document-actions__title-wrapper {
			transform: translateY(-12px);
		}

		.edit-site-document-actions__secondary-item {
			opacity: 1;
			transform: translateY(-16px);
		}
	}
}

.edit-site-document-actions__info-dropdown > .components-popover__content > div {
	padding: 0;
}
