.edit-site-document-actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;

	.edit-site-document-actions__label {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.has-secondary-label {
		.edit-site-document-actions__title {
			animation: titleAnimation 0.2s;
			color: $gray-900;
			font-weight: bold;
			transform: translateY(-12px);

			&.is-secondary-title-active {
				color: $gray-700;
				font-weight: normal;
			}
		}

		.edit-site-document-actions__secondary-item {
			animation: secondaryTitleAnimation 0.2s;
			color: $gray-700;
			font-weight: normal;
			position: absolute;
			transform: translateY(12px);

			&.is-secondary-title-active {
				color: $gray-900;
				font-weight: bold;
			}
		}
	}
}

@keyframes titleAnimation {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-12px);
	}
}

@keyframes secondaryTitleAnimation {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(12px);
	}
}
