.container {
	padding: 16px;
}

.backgroundSolid {
	background-color: $gray-lighten-30;
}

.backgroundSolidDark {
	background-color: $background-dark-secondary;
}

.media {
	flex-direction: row;
	justify-content: center;
}

.mediaContainer {
	position: relative;
	max-height: 200px;
}

.mediaPlaceholder {
	min-width: 100%;
}

.video {
	border: 2px solid $blue-medium;
}

.focalPointGroup {
	left: 0;
	position: absolute;
	top: 0;
}

.focalPoint {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
}

.focalPointIconPathOutline {
	fill: $white;
}

.focalPointIconPathFill {
	fill: $blue-wordpress;
}
