.container {
	padding: 16px;
}

.media {
	flex-direction: row;
	justify-content: center;
}

.imageContainer {
	border: 1px solid $blue-medium;
	position: relative;
	max-height: 200px;
}

.imagePlaceholder {
	min-width: 100%;
}

.focalPointGroup {
	left: 0;
	position: absolute;
	top: 0;
}

.focalPointConstraint {
	height: 50px;
	margin: -25px 0 0 -25px;
	position: absolute;
	width: 50px;
}

.focalPointIcon {
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
}

.focalPointIconPathOutline {
	fill: $white;
}

.focalPointIconPathFill {
	fill: $blue-wordpress;
}
