.edit-site-page-filter-bar {
	margin-bottom: $grid-unit-30;
	.components-text-control__input {
		background: $gray-800;
		border: 1px solid $gray-700;
		color: $gray-100;
	}
	.components-toggle-group-control {
		border: none;
		background: $gray-800;
		box-shadow: none;
	}
	.components-base-control__field {
		margin: 0;
		.components-toggle-group-control-option-base {
			color: $gray-400;
		}
	}
}

.edit-site-page-filter-bar__search {
	flex-grow: 1;
	svg {
		fill: $gray-400;
	}
	input[type="search"].components-search-control__input {
		background: $gray-800;
		color: $gray-100;
		height: 40px;
		border: none;
		&:focus {
			background: $gray-800;
			border: 1px solid $gray-700;
			box-shadow: none;
		}
	}
}
