.patterns-menu-items__convert-modal {
	z-index: z-index(".patterns-menu-items__convert-modal");

	// Fix the modal width to prevent added categories from stretching the modal.
	[role="dialog"] > [role="document"] {
		width: 350px;
	}

	.patterns-menu-items__convert-modal-categories {
		max-width: 300px;
	}
	.components-form-token-field__suggestions-list {
		position: absolute;
		z-index: 1;
		background-color: $white;
		width: 295px;
		min-width: initial;
		border: 1px solid $gray-600;
	}
}

.patterns-create-modal__name-input input[type="text"] {
	// Match the minimal height of the category selector.
	min-height: 40px;
	// Override the default 1px margin-x.
	margin: 0;
}
