.patterns-menu-items__convert-modal {
	z-index: z-index(".patterns-menu-items__convert-modal");

	// Fix the modal width to prevent added categories from stretching the modal.
	[role="dialog"] > [role="document"] {
		width: 350px;
	}

	.patterns-menu-items__convert-modal-categories {
		width: 100%;
		position: relative;
		min-height: 40px;
	}
	.components-form-token-field__suggestions-list {
		position: absolute;
		box-sizing: border-box;
		z-index: 1;
		background-color: $white;
		// Account for the border width of the token field.
		width: calc(100% + 2px);
		left: -1px;
		min-width: initial;
		border: 1px solid var(--wp-admin-theme-color);
		border-top: none;
		box-shadow: 0 0 0 0.5px var(--wp-admin-theme-color);
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

.patterns-create-modal__name-input input[type="text"] {
	// Match the minimal height of the category selector.
	min-height: 40px;
	// Override the default 1px margin-x.
	margin: 0;
}
