.editor-post-title {
	position: relative;
	padding: 5px 0;

	.editor-post-title__input {
		display: block;
		width: 100%;
		padding: #{ $block-padding + 5px } $block-padding;
		margin: 0;
		box-shadow: none;
		border: 1px solid transparent;
		font-size: 2em;
		font-family: $editor-font;
		line-height: $default-line-height;

		// inherited from h1
		font-weight: 600;
	}

	&.is-selected .editor-post-title__input,
	.editor-post-title__input:focus {
		border: 1px solid $light-gray-500;
	}
}

.editor-post-title .editor-post-permalink {
	font-size: $default-font-size;
	position: absolute;
	top: -34px;
	left: 0;
	right: 0;
}
