.block-library-html__edit {
	.block-library-html__preview-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	// The editing view for the HTML block is equivalent to block UI.
	// Therefore we increase specificity to avoid theme styles bleeding in.
	.block-editor-plain-text {
		box-sizing: border-box;
		max-height: 250px;
		@include editor-input-reset();
		// HTML input is always LTR regardless of language.
		/*rtl:ignore*/
		direction: ltr;
	}
}
