/**
 * Basic
 */

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	font: 13px / 1.8 "Merriweather", serif;
	width: 90%;
	max-width: 1280px;
	margin: 2rem auto;
	color: #12181e;
}

img {
	max-width: 100%;
	height: auto;
}

h2 {
	font-weight: 900;
	font-size: 28px;
}

p {
	margin: 28px 0;
	font-size: 16px;
}

blockquote {
	font-size: 20px;
	border-left: 4px solid #12181e;
	margin: 8px 12px;
	padding-left: 12px;
	font-style: italic;
}

blockquote p {
	margin: 0;
}

blockquote p + p {
	margin-top: 28px;
}

.displays {
	position: relative;
	display: flex;
	min-height: 100%;
}

.displays::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
	width: 4px;
	background-color: #f0f2f4;
}

.displays > #html,
.displays > #editor {
	flex-basis: 50%;
	margin: 0 3rem;
	padding: 2rem 0;
}

.displays > #html {
    margin-left: 0;
}

.displays > #editor {
	margin-right: 0;
}

#textarea {
	display: block;
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	border: 2px solid transparent;
	outline: none;
	padding: .8rem 1.2rem;
	transition: border-color .2s;
	font-family: Courier\ 10 Pitch, Courier, monospace;
	font-size: 14px;
	line-height: 1.3;
}

#textarea:hover {
	border-color: #d6d9dd;
}

.block {
	position: relative;
	margin: 28px 0;
	padding: 4px 8px;
	border: 2px dashed #e0e5e9;
}

.block::before {
	content: attr( data-type );
	position: absolute;
	bottom: 100%;
	left: -2px;
	margin-bottom: 2px;
	padding: 2px 6px;
	background-color: #e0e5e9;
	text-transform: uppercase;
	font-family: monospace;
	font-style: normal;
	font-size: 11px;
}

.block > p,
.block > h2 {
	margin: 0;
}
