@keyframes slideRight {
	from {
		inset-inline-start: 4px;
	}
	to {
		inset-inline-start: calc(100% - 36px);
	}
}

.label {
	font-family: var(--wpds-font-family-mono);
	font-size: var(--wpds-font-size-sm);
	color: var(--wpds-color-fg-content-neutral);
}

.description {
	font-family: var(--wpds-font-family-body);
	font-size: var(--wpds-font-size-xs);
	color: var(--wpds-color-fg-content-neutral-weak);
}

.track {
	position: relative;
	height: 40px;
	border-radius: var(--wpds-border-radius-sm);
	background-color: var(--wpds-color-bg-surface-neutral-weak);
	overflow: hidden;
	flex: 1;
}

.dot {
	position: absolute;
	top: 4px;
	inset-inline-start: 4px;
	width: 32px;
	height: 32px;
	border-radius: var(--wpds-border-radius-sm);
	background-color: var(--wpds-color-bg-interactive-brand-strong);
	animation-name: slideRight;
	animation-fill-mode: forwards;
}
