.editor-post-card-panel {
	&__content {
		flex-grow: 1;
	}

	&__title {
		width: 100%;

		&.editor-post-card-panel__title {
			@include heading-medium();
			margin: 0;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			column-gap: $grid-unit-10;
			row-gap: $grid-unit-05;
			word-break: break-word;
		}
	}

	&__icon {
		flex: 0 0 $icon-size;
		width: $icon-size;
		height: $icon-size;
	}

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&.has-description &__header {
		margin-bottom: $grid-unit-10;
	}

	.editor-post-card-panel__title-name {
		padding: 2px 0;
	}

	.editor-post-card-panel__description {
		color: $gray-700;
	}
}
