.editor-post-card-panel {
	&__content {
		flex-grow: 1;
	}

	&__title {
		width: 100%;

		&.editor-post-card-panel__title {
			margin: 0;
			padding: 2px 0;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			column-gap: $grid-unit-10;
			row-gap: $grid-unit-05;
		}
	}

	&__icon {
		flex: 0 0 $icon-size;
		width: $icon-size;
		height: $icon-size;
	}

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&.has-description &__header {
		margin-bottom: $grid-unit-10;
	}
}

.editor-post-card-panel__icon.is-sync {
	fill: var(--wp-block-synced-color);
}

.editor-post-card-panel__title-badge {
	background: $gray-100;
	color: $gray-700;
	padding: 0 $grid-unit-05;
	border-radius: $radius-block-ui;
	font-size: 12px;
	font-weight: 400;
	flex-shrink: 0;
	line-height: $grid-unit-05 * 5;
	display: inline-block;
}
