.editor-post-locked-modal {
	@include break-small() {
		max-width: $break-mobile;
	}
}

.editor-post-locked-modal__buttons {
	margin-top: $grid-unit-30;
}

.editor-post-locked-modal__avatar {
	float: left;
	margin: $grid-unit-10;
	margin-right: $grid-unit-15;
}
