.components-inline-color--is-active {
	border-radius: 18px;
}

.components-inline-color__outline {
	border-color: $light-quaternary;
	top: 6px;
	bottom: 6px;
	left: 11px;
	right: 11px;
	border-radius: 24px;
	position: absolute;
	z-index: 2;
}

.components-inline-color__outline--dark {
	border-color: $dark-quaternary;
}

.components-inline-color__button-container {
	padding: 6px;
}
