.components-inline-color__indicator {
	position: absolute;
	background: #000;
	height: 3px;
	width: 20px;
	bottom: 6px;
	left: auto;
	right: auto;
	margin: 0 5px;
}

.components-inline-color-popover {

	.components-popover__content {
		padding: 20px 18px;

		.components-color-palette {
			margin-top: 0.6rem;
		}

		.components-base-control__title {
			display: block;
			margin-bottom: 16px;
			font-weight: 600;
			color: #191e23;
		}

		.component-color-indicator {
			vertical-align: text-bottom;
		}
	}
}

.format-library-text-color-button {
	position: relative;
}
.format-library-text-color-button__indicator {
	height: 4px;
	width: 20px;
	position: absolute;
	bottom: 6px;
	left: 8px;
}
