@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;
@use "../../collaborators-overlay/collaborator-mixins" as *;

.editor-collaborators-presence__avatar {
	@include collaborator-avatar();
	border-color: $gray-300;
	font-size: 0;

	&--small {
		width: $button-size-small;
		height: $button-size-small;
	}

	&--medium {
		width: $button-size-compact;
		height: $button-size-compact;
	}

	&--with-color-border {
		border-color: var(--collaborator-color);
		@include collaborator-contrast-shadow();
	}
}
