.wp-block-legacy-widget__edit-form {
	background: $white;
	border-radius: $radius-block-ui;
	border: $border-width solid $gray-900;
	padding: $grid-unit-10 $block-padding;

	.wp-block-legacy-widget__edit-form-title {
		border-bottom: $border-width solid $gray-900;
		color: $black;
		font-family: $default-font;
		font-size: $default-font-size;
		font-weight: 600;
		margin: (-$grid-unit-10) (-$block-padding) 0;
		padding: $block-padding 18px;
	}

	.widget-inside {
		border: none;
		box-shadow: none;
		display: block;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	}

	// Reset z-index set on https://github.com/WordPress/wordpress-develop/commit/f26d4d37351a55fd1fc5dad0f5fef8f0f964908c.
	.widget.open {
		z-index: 0;
	}
}

.wp-block-legacy-widget__edit-preview {
	overflow: auto;
}

.wp-block-legacy-widget-inspector-card {
	// Padding left = an icon, some margin and some padding
	padding: 0 $grid-unit-20 $grid-unit-20 ( $icon-size + $grid-unit-40 + $grid-unit-05 );
}

.interface-complementary-area .wp-block-legacy-widget-inspector-card__name {
	margin: 0 0 5px;
	font-weight: 500;
}
