.wp-block-legacy-widget__edit-container,
.wp-block-legacy-widget__preview {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

.wp-block-legacy-widget__edit-container {
	.widget-inside {
		border: none;
		display: block;
		box-shadow: none;
	}
}

.wp-block-legacy-widget__update-button {
	margin-left: auto;
	display: block;
}

.wp-block-legacy-widget__preview {
	overflow: auto;
}
