.components-modal {
	align-items: center;
	background: rgba($light-gray-900, 0.1);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: z-index( '.components-popover' );

	@include break-small() {
		top: $admin-bar-height-big + $header-height;
	}

	@include break-medium() {
		left: $admin-sidebar-width-collapsed;
		top: $admin-bar-height + $header-height;

		&.is-sidebar-open {
			right: $sidebar-width;
		}
	}

	@include break-large() {
		left: $admin-sidebar-width;
	}
}

.components-modal__content {
	background: $white;
	border: 1px solid $light-gray-500;
	box-shadow: $shadow-popover;
	width: calc( 100vw - 20px );

	@include break-medium {
		width: 400px;
	}
}
