.edit-site-sidebar-navigation-item.components-item {
	color: $gray-600;

	&:hover,
	&:focus {
		color: $white;
		background: $gray-800;
	}

	&[aria-current] {
		color: $white;
		background: $black;
	}
}
