.edit-site-sidebar-navigation-item.components-item {
	color: var(--wp-components-color-gray-text);
	// 6px right padding to align with + button
	padding: $grid-unit-10 6px $grid-unit-10 $grid-unit-20;
	border: none;
	min-height: $grid-unit-50;
	border-radius: $radius-block-ui;

	&:hover,
	&:focus,
	&[aria-current] {
		color: var(--wp-components-color-gray-contrast);
		background: var(--wp-components-color-gray-component-background-hover);

		.edit-site-sidebar-navigation-item__drilldown-indicator {
			fill: var(--wp-components-color-gray-text);
		}
	}

	&[aria-current] {
		background: var(--wp-components-color-gray-component-background-active);
		color: var(--wp-components-color-gray-background-contrast);
	}

	.edit-site-sidebar-navigation-item__drilldown-indicator {
		fill: var(--wp-components-color-gray-text);
	}

	&.with-suffix {
		padding-right: $grid-unit-20;
	}
}

.edit-site-sidebar-navigation-screen__content .block-editor-list-view-block-select-button {
	cursor: grab;
	padding: $grid-unit-10;
}
