.editor-inserter-with-shortcuts {
	display: flex;
	align-items: center;

	.components-icon-button {
		border-radius: $radius-round-rectangle;

		svg:not(.dashicon) {
			height: 24px;
			width: 24px;
		}
	}
}

.editor-inserter-with-shortcuts__block {
	margin-right: $block-spacing;
	width: $icon-button-size;
	height: $icon-button-size;
	padding-top: 8px;

	// Use opacity to work in various editor styles.
	color: $dark-opacity-500;
	.is-dark-theme & {
		color: $light-opacity-500;
	}
}
