.scrollable {
	overflow: auto;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.content {
	flex-grow: 1;
	contain: content;
	position: relative;
}

.footer {
	padding-block: var(--wpds-dimension-padding-lg) var(--wpds-dimension-padding-sm);
	padding-inline: var(--wpds-dimension-padding-sm) var(--wpds-dimension-padding-lg);
}

.back-button {
	margin-block: var(--wpds-dimension-gap-lg) var(--wpds-dimension-gap-sm);
	margin-inline: var(--wpds-dimension-gap-md);
}
