.nav-bar {
	align-items: center;
	flex-direction: row;
	height: 44px;
	justify-content: center;
}

.heading {
	color: $light-primary;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	position: absolute;
	width: 100%;
}

.heading-dark {
	color: $dark-primary;
}

.action-button {
	align-items: center;
	flex-direction: row;
	height: 100%;
	justify-content: center;
	min-width: 44px;
	padding-left: $grid-unit-20;
	padding-right: $grid-unit-20;
}

.back-button {
	align-items: flex-start;
	flex: 1;
	justify-content: center;
	z-index: 2;
}

.apply-button {
	align-items: flex-end;
	flex: 1;
	justify-content: center;
	z-index: 2;
}

.button-text {
	color: $blue-50;
	font-size: 16px;
}

.button-text-dark {
	color: $blue-30;
}

.chevron-left-icon {
	color: $blue-50;
	margin-left: -11px;
}

.chevron-left-icon-dark {
	color: $blue-30;
}

.arrow-left-icon {
	color: $gray-60;
}

.arrow-left-icon-dark {
	color: $dark-secondary;
}
