@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.edit-site-styles {
	.edit-site-global-styles-screen-root {
		box-shadow: none;
		& > div > hr {
			display: none;
		}
	}
	.edit-site-global-styles-sidebar__navigator-provider {
		.components-tools-panel {
			border-top: none;
		}
		overflow-y: auto;
		padding-left: 0;
		padding-right: 0;

		.edit-site-global-styles-sidebar__navigator-screen {
			padding-top: $grid-unit-15;
			padding-left: $grid-unit-15;
			padding-right: $grid-unit-15;
			padding-bottom: $grid-unit-15;
			outline: none;
		}
	}
	.edit-site-sidebar-button {
		color: $gray-900;
	}
}

