$surface-background-color: var(--wpds-color-background-surface-neutral-strong);
$surface-background-tint-color: #f5f5f5;
$surface-border-color: rgba(0, 0, 0, 0.1);
$surface-border-bold-color: rgba(0, 0, 0, 0.15);
$surface-border-subtle-color: rgba(0, 0, 0, 0.05);
$surface-color: var(--wpds-color-foreground-content-neutral);

.surface {
	background-color: $surface-background-color;
	color: $surface-color;
	position: relative;
}

.borderBottom {
	border-block-end: var(--wpds-border-width-xs) solid $surface-border-color;
}

.borderLeft {
	border-inline-start: var(--wpds-border-width-xs) solid $surface-border-color;
}

.borderRight {
	border-inline-end: var(--wpds-border-width-xs) solid $surface-border-color;
}

.borderTop {
	border-block-start: var(--wpds-border-width-xs) solid $surface-border-color;
}

.secondary {
	background: $surface-background-tint-color;
}

.tertiary {
	background: $surface-background-color;
}

.dotted {
	background:
		linear-gradient(90deg, $surface-background-color
		var(--wp-components-surface-background-size-dotted), transparent 1%)
		center,
		linear-gradient($surface-background-color
		var(--wp-components-surface-background-size-dotted), transparent 1%)
		center,
		$surface-border-bold-color;
	background-size:
		var(--wp-components-surface-background-size)
		var(--wp-components-surface-background-size);
}

.grid {
	background: $surface-background-color;
	background-image:
		linear-gradient($surface-border-subtle-color 1px, transparent 1px),
		linear-gradient(90deg, $surface-border-subtle-color 1px, transparent 1px);
	background-size:
		var(--wp-components-surface-background-size)
		var(--wp-components-surface-background-size);
}
