.wp-block-calendar {
	text-align: center;

	th,
	td {
		padding: 0.25em;
		border: 1px solid;
	}

	table {
		width: 100%;
		border-collapse: collapse;

		// Keep the hard-coded header background color for backward compatibility.
		&:not(.has-text-color):not(.has-background) th {
			background: $gray-300;
		}
	}

	thead {
		border-bottom: 3px solid;
	}
}
