.wp-block-prc-block-dialog-trigger {
	display: block;
	width: 100%;
}

button.wp-block-prc-block-dialog-trigger {
	appearance: none;
	padding: 0px;
	margin: 0px;
	border: none;
	background: none;
	text-align: inherit;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	cursor: pointer;
	&:focus {
		outline: none;
	}
}
