.components-button.edit-post-post-template__toggle {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.edit-post-post-template__dialog {
	z-index: z-index(".edit-post-post-template__dialog");
}

.edit-post-post-template__form {
	// sidebar width - popover padding - form margin
	min-width: $sidebar-width - $grid-unit-20 - $grid-unit-20;
	margin: $grid-unit-10;
}

.edit-post-post-template__create-form {
	@include break-medium() {
		width: $grid-unit * 40;
	}
}
