.edit-post-header {
	height: $header-height;
	background: $white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	// The header should never be wider than the viewport, or buttons might be hidden. Especially relevant at high zoom levels. Related to https://core.trac.wordpress.org/ticket/47603#ticket.
	max-width: 100vw;

	// Make toolbar sticky on larger breakpoints
	@include break-zoomed-in {
		flex-wrap: nowrap;
	}

	// Some browsers, most notably IE11, honor an older version of the flexbox spec
	// which takes absolutely positioned items into account when calculating `space-between`.
	// https://www.w3.org/TR/2012/WD-css3-flexbox-20120612/#abspos-flex-items
	//
	// This difference is causing our header layout to break when focused in IE11.
	// Our focused region styles use an absolutely positioned :after pseudo element to draw an outline,
	// and IE11 is adding space between it and our last real child, shifting righthand UI elements
	// to the left. For a workaround, we change the flex order to move the undesired spacing to the middle
	// where it is no longer noticeable.
	> .edit-post-header__settings {
		order: 1;

		// Restore default order for all other browsers
		@supports (position: sticky) {
			order: initial;
		}
	}
}

.edit-post-header__toolbar {
	display: flex;
	flex-grow: 1;

	.table-of-contents {
		display: none;

		@include break-small() {
			display: block;
		}
	}
}

.edit-post-header__settings {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	padding-right: $grid-unit-05;

	@include break-small () {
		padding-right: $grid-unit-20;
	}

	/**
	 * Buttons in the Toolbar
 	 */

	// Adjust button paddings to scale better to mobile.
	.editor-post-saved-state,
	.components-button.components-button {
		margin-right: $grid-unit-05;

		@include break-small() {
			margin-right: $grid-unit-15;
		}
	}

	.editor-post-saved-state,
	.components-button.is-tertiary {
		padding: 0 #{ $grid-unit-15 / 2 };
	}

	.edit-post-more-menu .components-button,
	.interface-pinned-items .components-button {
		margin-right: 0;
	}
}

.edit-post-header-preview__grouping-external {
	display: flex;
	position: relative;
	padding-bottom: 0;
}

.edit-post-header-preview__button-external {
	padding-left: $grid-unit-10;

	margin-right: auto;
	width: 100%;
	display: flex;
	justify-content: flex-start;

	svg {
		margin-left: auto;
	}
}

.edit-post-post-preview-dropdown {
	.components-popover__content > div {
		padding-bottom: 0;
	}
}

.show-icon-labels.interface-pinned-items,
.show-icon-labels .edit-post-header,
.edit-post-header__dropdown {
	.components-button.has-icon {
		width: auto;

		// Hide the button icons when labels are set to display...
		svg {
			display: none;
		}
		// ... and display labels.
		&::after {
			content: attr(aria-label);
		}
		&[aria-disabled="true"] {
			background-color: transparent;
		}
	}
	.is-tertiary {
		&:active {
			box-shadow: 0 0 0 1.5px var(--wp-admin-theme-color);
			background-color: transparent;
		}
	}
	// Exception for drodpdown toggle buttons.
	// Exception for the fullscreen mode button.
	.edit-post-fullscreen-mode-close.has-icon,
	.components-button.has-icon.button-toggle {
		svg {
			display: block;
		}
		&::after {
			content: none;
		}
	}
	// Undo the width override for fullscreen mode button.
	.edit-post-fullscreen-mode-close.has-icon {
		width: $header-height;
	}
	// Don't hide MenuItemsChoice check icons
	.components-menu-items-choice .components-menu-items__item-icon.components-menu-items__item-icon {
		display: block;
	}
	.edit-post-header-toolbar__inserter-toggle.edit-post-header-toolbar__inserter-toggle,
	.interface-pinned-items .components-button {
		padding-left: $grid-unit;
		padding-right: $grid-unit;

		@include break-small {
			padding-left: $grid-unit-15;
			padding-right: $grid-unit-15;
		}
	}
	.components-dropdown-menu__toggle {
		margin-left: $grid-unit;
		padding-left: $grid-unit;
		padding-right: $grid-unit;

		@include break-small {
			margin-left: $grid-unit-15;
			padding-left: $grid-unit-15;
			padding-right: $grid-unit-15;
		}
	}
	// The inserter has a custom label, different from its aria-label, so we don't want to display both.
	.edit-post-header-toolbar__inserter-toggle.edit-post-header-toolbar__inserter-toggle {
		&::after {
			content: none;
		}
	}
	// The post saved state button has a custom label only on small breakpoint
	.editor-post-save-draft.editor-post-save-draft {
		&::after {
			content: none;
		}
		@include break-small {
			&::after {
				content: attr(aria-label);
			}
		}
	}
}

.edit-post-header__dropdown {
	.components-menu-item__button.components-menu-item__button,
	.components-button.editor-history__undo,
	.components-button.editor-history__redo,
	.table-of-contents .components-button,
	.components-button.block-editor-list-view {
		margin: 0;
		padding: 6px 6px 6px $grid-unit-50;
		width: 14.625rem;
		text-align: left;
		justify-content: flex-start;
	}
}

.show-icon-labels.interface-pinned-items {
	padding: 6px $grid-unit-15 $grid-unit-15;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -$grid-unit-15;
	margin-right: -$grid-unit-15;
	border-bottom: 1px solid $gray-400;
	display: block;

	> .components-button.has-icon {
		margin: 0;
		padding: 6px 6px 6px $grid-unit;
		width: 14.625rem;
		justify-content: flex-start;

		&[aria-expanded="true"] svg {
			display: block;
			max-width: $grid-unit-30;
		}
		&[aria-expanded="false"] {
			padding-left: $grid-unit-50;
		}
		svg {
			margin-right: 8px;
		}
	}
}
