.components-menu-item__button,
.components-menu-item__button.components-button {
	width: 100%;

	// Target plugin icons that can have arbitrary classes by using an aggressive selector.
	// @todo: is this still necessary?
	.dashicon,
	.components-menu-items__item-icon,
	svg.components-menu-items__item-icon,
	> span > svg {
		margin-right: $grid-unit-10;
	}

	.components-menu-items__item-icon {
		display: inline-block;
		flex: 0 0 auto;
	}
}

.components-menu-item__info-wrapper {
	display: flex;
	flex-direction: column;
}

.components-menu-item__info {
	margin-top: $grid-unit-05;
	font-size: $default-font-size - 1px;
	color: $medium-gray-text;
}

.components-menu-item__shortcut {
	align-self: center;
	margin-right: 0;
	margin-left: auto;
	padding-left: $grid-unit-15;
	color: currentColor;

	// Hide the keyboard shortcuts on mobile, because they aren't super-useful
	// for most mobile users and it frees up screen space for any item
	// with a long description.
	display: none;
	@include break-mobile() {
		display: inline;
	}
}

