.wp-block-details {
	::marker {
		font-size: var(--wp--preset--font-size--medium, $default-font-size);
	}
	.wp-block-details__summary {
		font-size: var(--wp--preset--font-size--medium, $default-font-size);
		> * {
			display: inline;
			margin-left: 8px;
		}
	}
}
