.wp-block-video .components-placeholder__input {
	margin-top: 0.5em;
}

.wp-block-video .button.button-large {
	margin-top: 0.5em;
}

.wp-block-video audio {
	width: 100%;
}

.wp-block-video .components-placeholder__fieldset {
	display: block;
	max-width: 400px;

	form {
		max-width: none;
	}
}
