.components-button-group {
	display: inline-block;
	border-radius: $radius-block-ui;
	border: $border-width solid $theme-color;

	.components-button {
		border-radius: 0;
		display: inline-flex;
		color: $theme-color;

		& + .components-button {
			margin-left: -1px;
		}

		// The focused button should be elevated so the focus ring isn't cropped,
		// as should the active button, because it has a different border color.
		&:focus,
		&.is-primary {
			position: relative;
			z-index: z-index(".components-button {:focus or .is-primary}");
		}

		// The active button should look pressed.
		&.is-primary {
			box-shadow: none;
		}
	}
}
