.components-toolbar {
	margin: 0;
	border: 1px solid $light-gray-500;
	background-color: $white;
	display: inline-flex;
}

div.components-toolbar {
	&> div {
		display: inline-flex;
		margin: 0;
	}

	&> div + div {
		margin-left: -3px;

		&.has-left-divider {
			margin-left: 6px;
			position: relative;
			overflow: visible;
		}

		&.has-left-divider:before {
			display: inline-block;
			content: '';
			box-sizing: content-box;
			background-color: $light-gray-500;
			position: absolute;
			top: 8px;
			left: -3px;
			width: 1px;
			height: $icon-button-size - 16px;
		}
	}
}

.components-toolbar__control.components-button {
	display: inline-flex;
	align-items: flex-end;
	margin: 0;
	padding: 3px;
	outline: none;
	cursor: pointer;
	position: relative;
	width: $icon-button-size;
	height: $icon-button-size;

	&:disabled {
		cursor: default;
	}

	& > svg {
		padding: 5px;
		box-sizing: content-box;
		border-radius: $button-style__radius-roundrect;
	}

	// subscript for numbered icon buttons, like headings
	&[data-subscript] svg {
		padding: 4px 8px 4px 0px;
	}

	&[data-subscript]:after {
		content: attr( data-subscript );
		font-family: $default-font;
		font-size: $default-font-size;
		font-weight: bold;
		position: absolute;
		right: 8px;
		bottom: 8px;
	}

	// special hover style
	&:not(:disabled) {
		&.is-active > svg,
		&:hover > svg {
			box-shadow: inset 0 0 0 1px $dark-gray-500;
		}
	}

	// special active style
	&.is-active {
		color: $white;
		> svg {
			background: $dark-gray-500;
		}
	}

	// focus style
	&:hover,
	&:focus {
		outline: none;
		box-shadow: none;
		background: none;
	}

	&:focus > svg {
		@include button-style__focus-active;
	}
	&:focus:hover > svg {
		@include button-style__focus-active;
	}

	// active focus style
	&.is-active:focus > svg {
		background: $dark-gray-500;
		color: $white;
		box-shadow: inset 0 0 0 1px $dark-gray-500, inset 0 0 0 2px $white;
	}
}

.components-toolbar__control .dashicon {
	display: block;
}
