@use "@wordpress/base-styles/variables" as *;

.edit-site-site-hub {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: $grid-unit-10;
	margin-right: $grid-unit-15;
	height: $header-height;
}

.edit-site-site-hub__view-mode-toggle-container {
	height: $header-height;
	width: $header-height;
	flex-shrink: 0;

	&.has-transparent-background .edit-site-layout__view-mode-toggle-icon {
		background: transparent;
	}
}
