// Hack to hide when the media modal is open
// Otherwise in Firefox the popover remains visible on top of the modal
// Changing the z-index of Popovers have wider implications.
.modal-open .block-editor-media-replace-flow__options {
	display: none;
}

.block-editor-media-replace-flow__indicator {
	margin-left: 4px;

	&::after {
		@include dropdown-arrow();
	}
}

.block-editor-media-flow__url-input {
	padding: 0 15px;
	max-width: 255px;
	padding-bottom: 10px;

	input {
		max-width: 180px;
	}
}

.block-editor-media-replace-flow__link-viewer {
	// Overflow is not working properly if we show the icon.
	.components-external-link__icon {
		display: none;
	}
	.components-visually-hidden {
		position: initial;
	}
	.components-button {
		flex-shrink: 0;
	}
}
