@import url( 'https://wordpress.org/wp-admin/load-styles.php?c=0&dir=ltr&load%5B%5D=common,buttons,dashicons,forms' );

html {
	height: auto;
}

body {
	background: none;
	padding: 20px;
	margin: 0;
}

p, h1, h2, li {
	// Match Info Addon Styling
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	color: rgb(68, 68, 68);
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 1.45;
	font-size: 15px;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
	font-weight: 600;
}

h2 {
	margin: 0px 0px 10px;
	padding: 0px;
	font-weight: 400;
	font-size: 22px;
}

pre {
	font-size: 0.88em;
	font-family: Menlo, Monaco, "Courier New", monospace;
	background-color: rgb(250, 250, 250);
	padding: 0.5rem;
	line-height: 1.5;
	overflow-x: auto !important; // Overrides the Info Addon Styling

	&:before, &:after {
		background: red;
	}
}

code {
	font-family: Menlo, Monaco, "Courier New", monospace;
	background-color: rgb(250, 250, 250);
}
