.edit-site-template-switcher__popover .components-popover__content {
	overflow: visible;
}

.edit-site-template-switcher__popover .components-menu-item__button {
	position: relative;
}

.edit-site-template-switcher__label-home-icon {
	width: 24px;
	height: 24px;
	position: absolute;
	right: 20px;
}

.edit-site-template-switcher__label-customized-dot {
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -4px;
	width: 8px;
	height: 8px;
	display: block;
	background: var(--wp-admin-theme-color);
	border-radius: 50%;
}

.edit-site-template-switcher__label-customized-icon-icon {
	width: 100%;
}

/*
 * This doesn't contain anything but it's needed because of dropdown jumpiness
 * when there's a div after the last menu group.
 */
.edit-site-template-switcher__footer {
	margin-bottom: -$grid-unit-15;
}

.edit-site-template-switcher__template-preview,
.edit-site-template-switcher__theme-preview {
	display: none;
	border: $border-width solid $light-gray-secondary;
	width: 300px;
	padding: $grid-unit-20;
	background: $white;
	box-shadow: $shadow-popover;
	border-radius: $radius-block-ui;
	position: absolute;
	top: -$border-width;
	left: calc(100% + #{$grid-unit-15});

	@include break-medium {
		display: block;
	}
}

.edit-site-template-switcher__theme-preview-name {
	font-weight: 500;
	font-size: $big-font-size;
}

.edit-site-template-switcher__theme-preview-screenshot {
	margin-bottom: $grid-unit-15;
	margin-top: $grid-unit-15;
	max-width: 100%;
}
