//Image Viewer

.bottomModal {
	justify-content: center;
	margin: 0;
	align-items: center;
}

.background {
	background-color: $black;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	width: 100%;
	max-width: 512;
	padding-bottom: 0;
}

.content {
	padding: 0 0 0 0;
	justify-content: center;

}
