.half-image__content-area {
	margin-left: 28px;
}

.half-media,
.half-media.aligncenter {
	display: flex;
}

.half-media__content {
	flex: 1;
	word-break: break-word;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
}

.half-media__media {
	flex: 1;
	margin-top: auto;
	margin-bottom: auto;
}

.half-media.has-media-on-the-right {
	flex-direction: row-reverse;
	.half-media__media > * {
		float: right;
	}
}
