.post-locked-modal {
	max-height: 152px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;

	button.button,
	button.components-button {
		margin: 5px;
	}
	img.components-modal__image {
		float: left;
		margin: 8px;
		margin-right: 15px;
	}

	.components-modal__header {
		height: 36px;
	}
	.components-modal__content {
		overflow: hidden;
	}
}
