.edit-post-block-manager__no-results {
	font-style: italic;
	padding: $grid-unit-30 0;
	text-align: center;
}

.edit-post-block-manager__search {
	margin: $grid-unit-20 0;

	.components-base-control__field {
		margin-bottom: 0;
	}

	.components-base-control__label {
		margin-top: -0.25 * $grid-unit-20;
	}

	input[type="search"].components-text-control__input {
		padding: $grid-unit-10;
		border-radius: $radius-block-ui;
	}
}

.edit-post-block-manager__disabled-blocks-count {
	border: 1px solid $gray-300;
	border-width: 1px 0;
	// Cover up horizontal areas off the sides of the box rectangle
	box-shadow: -$grid-unit-40 0 0 0 $white, $grid-unit-40 0 0 0 $white;
	padding: $grid-unit-10;
	background-color: $white;
	text-align: center;
	font-style: italic;
	position: sticky;
	// When sticking, tuck the top border beneath the modal header border
	top: -1px;
	z-index: z-index(".edit-post-block-manager__disabled-blocks-count");

	// Stick the category titles to the bottom
	~ .edit-post-block-manager__results .edit-post-block-manager__category-title {
		top: 35px;
	}
}

.edit-post-block-manager__category {
	margin: 0 0 2rem 0;
}

.edit-post-block-manager__category-title {
	position: sticky;
	top: 0;
	padding: $grid-unit-20 0;
	background-color: $white;
	z-index: z-index(".edit-post-block-manager__category-title");

	.components-base-control__field {
		margin-bottom: 0;
	}

	.components-checkbox-control__label {
		font-size: 0.9rem;
		font-weight: 600;
	}
}

.edit-post-block-manager__show-all {
	margin-right: $grid-unit-10;
}

.edit-post-block-manager__checklist {
	margin-top: 0;
}

.edit-post-block-manager__category-title,
.edit-post-block-manager__checklist-item {
	border-bottom: 1px solid $gray-300;
}

.edit-post-block-manager__checklist-item {
	margin-bottom: 0;
	padding-left: $grid-unit-20;

	.components-base-control__field {
		align-items: center;
		display: flex;
		margin: 0;
	}

	.components-modal__content &.components-checkbox-control__input-container {
		margin: 0 $grid-unit-10;
	}

	.components-checkbox-control__label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		padding: $grid-unit-10 0;
	}

	.block-editor-block-icon {
		margin-right: 10px;
		fill: $gray-900;
	}
}

.edit-post-block-manager__results {
	border-top: $border-width solid $gray-300;
}

// Remove the top border from results when adjacent to the disabled block count
.edit-post-block-manager__disabled-blocks-count + .edit-post-block-manager__results {
	border-top-width: 0;
}
