.edit-post-block-manager__no-results {
	font-style: italic;
	padding: $grid-unit-30 0;
	text-align: center;
}

.edit-post-block-manager__search {
	margin: $grid-unit-20 0;
}

.edit-post-block-manager__disabled-blocks-count {
	border: 1px solid $gray-300;
	border-width: 1px 0;
	// Cover up horizontal areas off the sides of the box rectangle
	box-shadow: -$grid-unit-40 0 0 0 $white, $grid-unit-40 0 0 0 $white;
	padding: $grid-unit-10;
	background-color: $white;
	text-align: center;
	position: sticky;
	// When sticking, tuck the top border beneath the modal header border
	top: -1px;
	z-index: z-index(".edit-post-block-manager__disabled-blocks-count");

	// Stick the category titles to the bottom
	~ .edit-post-block-manager__results .edit-post-block-manager__category-title {
		top: 35px;
	}
	.is-link {
		margin-left: 12px;
	}
}

.edit-post-block-manager__category {
	margin: 0 0 $grid-unit-30 0;
}

.edit-post-block-manager__category-title {
	position: sticky;
	top: 0;
	padding: $grid-unit-20 0;
	background-color: $white;
	z-index: z-index(".edit-post-block-manager__category-title");

	.components-checkbox-control__label {
		font-weight: 600;
	}
}

.edit-post-block-manager__checklist {
	margin-top: 0;
}

.edit-post-block-manager__category-title,
.edit-post-block-manager__checklist-item {
	border-bottom: 1px solid $gray-300;
}

.edit-post-block-manager__checklist-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
	padding: $grid-unit-10 0 $grid-unit-10 $grid-unit-20;

	.components-modal__content &.components-checkbox-control__input-container {
		margin: 0 $grid-unit-10;
	}

	.block-editor-block-icon {
		margin-right: 10px;
		fill: $gray-900;
	}
}

.edit-post-block-manager__results {
	border-top: $border-width solid $gray-300;
}

// Remove the top border from results when adjacent to the disabled block count
.edit-post-block-manager__disabled-blocks-count + .edit-post-block-manager__results {
	border-top-width: 0;
}
