.staticSpacer {
	height: 20px;
	background-color: transparent;
	border: $border-width dashed $spacer-color;
	border-radius: 1px;
}

.staticDarkSpacer {
	border: $border-width dashed $spacer-color-dark;
}

.selectedSpacer {
	border: $border-width * 2 solid $blue-30;
}

.rangeCellContainer {
	padding-bottom: 16px;
}
