$blocks-button__height: 46px;

.wp-block-button {
	font-family: $default-font;
	display: inline-block;
	text-decoration: none;
	font-size: $big-font-size;
	margin: 0;
	padding: 0 24px;
	height: $blocks-button__height;
	line-height: $blocks-button__height;
	cursor: default;
	border-radius: $blocks-button__height / 2;
	white-space: nowrap;
	background: $blue-medium-400;
	color: $white;
	vertical-align: top;
	position: relative;

	a {
		box-shadow: none !important;
		color: $white;
		cursor: pointer;
		text-decoration: none !important;
	}

	&:hover {
		color: $white;
	}

	&.aligncenter {
		display: inline-block;
	}
}
