.editor-block-toolbar {
	display: flex;
	flex-grow: 1;
	width: 100%;
	overflow: auto; // Allow horizontal scrolling on mobile.
	position: relative;
	background: $white;

	// Avoid right border on the container
	border-top: $border-width solid $light-gray-500;
	border-bottom: $border-width solid $light-gray-500;
	border-left: $border-width solid $light-gray-500;

	// Allow overflow on desktop.
	@include break-small() {
		overflow: inherit;
	}

	// The component is born with a border, but we only need some of them.
	.components-toolbar {
		border: 0;

		// Add a right border to show as separator in the block toolbar.
		border-right: $border-width solid $light-gray-500;
	}

	// This should be refactored to have its own class to target.
	> div {
		// IE11 does not support `position: sticky`, or Flex very well, so use block.
		display: block;
		@supports (position: sticky) {
			display: flex;
		}
	}
}

.editor-block-toolbar__tools {
	display: inline-block;
	width: calc(100% - 36px);
}

.editor-block-toolbar__tools-dropdown .components-popover__content {
	display: flex;
	flex-wrap: wrap;
}
