.emptyStateContainer {
	align-items: center;
	background-color: #f2f2f2;
	padding-left: 12;
	padding-right: 12;
	padding-top: 12;
	padding-bottom: 12;
}

.emptyStateTitle {
	text-align: center;
	font-weight: 600;
	padding-bottom: 12;
}

.emptyStateDescription {
	text-align: center;
}

.emptyStateButtonsContainer {
	flex-direction: row;
	align-items: center;
}
