.editor-block-list__block[data-type="core/freeform"] .blocks-editable__tinymce {
	margin-top: $item-spacing;

	p {
		line-height: $editor-line-height;
	}

	ul, ol {
		padding-left: 2.5em;
		margin-left: 0;
	}

	blockquote {
		margin: 0;
		box-shadow: inset 0px 0px 0px 0px $light-gray-500;
		border-left: 4px solid $black;
		padding-left: 1em;
	}

	pre {
		white-space: pre-wrap;
		font-family: $editor-html-font;
		font-size: $text-editor-font-size;
		color: $dark-gray-800;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1.2em;
	}

	h5 {
		font-size: 1.1em;
	}

	h6 {
		font-size: 1em;
	}

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&.mce-edit-focus {
		outline: none;
	}

	a {
		color: $blue-medium-500;
	}

	&:focus a[data-mce-selected] {
		padding: 0 2px;
		margin: 0 -2px;
		border-radius: 2px;
		box-shadow: 0 0 0 1px $blue-medium-100;
		background: $blue-medium-100;
	}

	code {
		padding: 2px;
		border-radius: 2px;
		color: $dark-gray-800;
		background: $light-gray-200;
		font-family: $editor-html-font;
		font-size: 14px;
	}

	&:focus code[data-mce-selected] {
		background: $light-gray-400;
	}
}

.freeform-toolbar {
	position: sticky;
	width: auto;
	top: $header-height;
	margin: 0;
	margin-top: -$block-controls-height;
	border: 1px solid $light-gray-500;
	z-index: z-index( '.freeform-toolbar' );
	background-color: $white;
	min-height: $block-controls-height;

	@include break-medium() {
		top: $item-spacing;
	}

	@include break-small() {
		margin-left: - $block-padding - 1px;
		margin-right: - $block-padding - 1px;
	}
}

// Overwrite inline styles.
.freeform-toolbar .mce-tinymce-inline,
.freeform-toolbar .mce-tinymce-inline > div,
.freeform-toolbar div.mce-toolbar-grp,
.freeform-toolbar div.mce-toolbar-grp > div,
.freeform-toolbar .mce-menubar,
.freeform-toolbar .mce-menubar > div {
	height: auto !important;
	width: 100% !important;
}

.freeform-toolbar .mce-tinymce-inline .mce-flow-layout {
    white-space: normal;
}

.freeform-toolbar .mce-container-body.mce-abs-layout {
	overflow: visible;
}

.freeform-toolbar .mce-menubar {
	position: static;
}

.freeform-toolbar div.mce-toolbar-grp {
	background-color: transparent;
	border: none;
	position: static;
}

.freeform-toolbar div.mce-toolbar-grp > div {
    padding: 0;
}

.freeform-toolbar .mce-toolbar-grp .mce-toolbar:not(:first-child) {
	display: none;
	border-top: 1px solid $light-gray-500;
}

.freeform-toolbar.has-advanced-toolbar .mce-toolbar-grp .mce-toolbar {
	display: block;
}

.freeform-toolbar.has-advanced-toolbar {
	margin-top: -85px;	/* Pull upwards the classic text toolbar when enabled */
}

.freeform-toolbar div.mce-btn-group {
	padding: 0;
	margin: 0;
	border: 0;
}

.freeform-toolbar .mce-toolbar-grp .mce-toolbar .mce-btn {
	margin: 0;
	padding: 3px;
	background: none;
	outline: none;
	color: $dark-gray-500;
	cursor: pointer;
	position: relative;
	width: $icon-button-size;
	height: $icon-button-size;

	// Overwrite
	border: none;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;

	&:hover,
	/* the ":not(:disabled)" is needed to make it specific enough */
	&:hover:not(:disabled),
	&:focus,
	&:focus:active {
		color: $dark-gray-500;
		outline: none;
		box-shadow: none;
		background: inherit;
	}

	&.mce-active,
	&.mce-active:hover {
		background: none;
		color: $white;
	}

	&:disabled {
		cursor: default;
	}

	&> button {
		border: 1px solid transparent;
		padding: 4px;
		box-sizing: content-box;
	}

	&:hover button,
	&:focus button {
		color: $dark-gray-500;
	}

	&:not(:disabled) {
		&.mce-active button,
		&:hover button,
		&:focus button {
			border: 1px solid $dark-gray-500;
		}
	}

	&.mce-active button,
	&.mce-active:hover button {
		background-color: $dark-gray-500;
		color: $white;
	}

	&.mce-active .mce-ico {
		color: $white;
	}

	&.mce-listbox,
	&.mce-colorbutton {
		width: auto;
		border: none;
		box-shadow: none;
	}

	&.mce-colorbutton .mce-preview {
		bottom: 8px;
		left: 8px;
	}
}

.mce-tooltip {
	display: none;
}

.components-toolbar__control .dashicon {
	display: block;
}
