.editor-visual-editor__block[data-type="core/freeform"] .blocks-editable__tinymce {
	ul, ol {
		padding-left: 2.5em;
		margin-left: 0;
	}
	blockquote {
		margin: 0;
		box-shadow: inset 0px 0px 0px 0px $light-gray-500;
		border-left: 4px solid $black;
		padding-left: 1em;
	}
}

// Slot creates a div which has no class on it, I need it to be flex
.editor-visual-editor__block[data-type="core/freeform"] .editor-visual-editor__block-controls > div {
	display: flex;
}