// The scrim behind the modal window.
.components-modal__screen-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba($black, 0.7);
	z-index: z-index(".components-modal__screen-overlay");

	// This animates the appearance of the white background.
	@include edit-post__fade-in-animation();
}

// The modal window element.
.components-modal__frame {
	// On small screens the content needs to be full width because of limited
	// space.
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	margin: 0;
	border: $border-width solid $light-gray-500;
	background: $white;
	box-shadow: $shadow-modal;
	overflow: auto;

	// Show a centered modal on bigger screens.
	@include break-small() {
		top: 50%;
		right: auto;
		bottom: auto;
		left: 50%;
		min-width: $modal-min-width;
		max-width: calc(100% - #{ $grid-size-large } - #{ $grid-size-large });
		max-height: calc(100% - #{ $header-height } - #{ $header-height });
		transform: translate(-50%, -50%);

		// Animate the modal frame/contents appearing on the page.
		animation: components-modal__appear-animation 0.1s ease-out;
		animation-fill-mode: forwards;
		@include reduce-motion("animation");
	}
}

@keyframes components-modal__appear-animation {
	from {
		margin-top: $grid-size * 4;
	}
	to {
		margin-top: 0;
	}
}

// Fix header to the top so it is always there to provide context to the modal
// if the content needs to be scrolled (for example, on the keyboard shortcuts
// modal screen).
.components-modal__header {
	box-sizing: border-box;
	border-bottom: $border-width solid $light-gray-500;
	padding: 0 $grid-size-xlarge;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: $white;
	align-items: center;
	height: $header-height;
	z-index: z-index(".components-modal__header");
	// For z-index to take effect, the element must be positioned. A "sticky"
	// element is positioned, but since this is not supported in IE11,
	// "relative" is used as a fallback.
	position: relative;
	position: sticky;
	top: 0;
	margin: 0 -#{$grid-size-xlarge} $grid-size-xlarge;

	// Rules inside this query are only run by Microsoft Edge.
	// Edge has bugs around position: sticky;, so it needs a separate top rule.
	// See also https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17555420/.
	@supports (-ms-ime-align:auto) {
		position: fixed;
		width: 100%;
	}

	.components-modal__header-heading {
		font-size: 1rem;
		font-weight: 600;
	}

	h1 {
		line-height: 1;
		margin: 0;
	}

	.components-button {
		position: relative;
		left: $grid-size;
	}
}

.components-modal__header-heading-container {
	align-items: center;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.components-modal__header-icon-container {
	display: inline-block;

	svg {
		max-width: $icon-button-size;
		max-height: $icon-button-size;
		padding: $grid-size;
	}
}

// Modal contents.
.components-modal__content {
	box-sizing: border-box;
	height: 100%;
	padding: 0 $grid-size-xlarge $grid-size-xlarge;

	// Rules inside this query are only run by Microsoft Edge.
	// This is a companion top padding to the fixed rule in line 77.
	@supports (-ms-ime-align:auto) {
		padding-top: $header-height;
	}
}
