.block-editor-date-format-picker {
	margin: 0 0 $grid-unit-20;
	padding: 0;
	border: none;
}

.block-editor-date-format-picker__custom-format-select-control__custom-option {
	border-top: 1px solid $gray-300;
}
