.components-menu-group {
	width: 100%;
	padding: ($grid-size - $border-width) 0;
}

.components-menu-group__label {
	margin-bottom: $grid-size;
	color: $dark-gray-300;
	padding: 0 ($grid-size - $border-width);
}
