.components-menu-group + .components-menu-group {
	margin-top: $grid-unit-10;
	padding-top: $grid-unit-10;
	border-top: $border-width solid $dark-gray-primary;
}

.components-menu-group__label {
	padding: 0;
	margin-bottom: $grid-unit-15;
	color: $medium-gray-text;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
}
