.components-menu-group + .components-menu-group {
	margin-top: $grid-unit-10;
	padding-top: $grid-unit-10;
	border-top: $border-width solid $dark-gray-primary;
}

.components-menu-group__label {
	margin-bottom: $grid-unit-10;
	color: $medium-gray-text;
	padding: 0;
}
