$vertical-tabs-width: 160px;

.interface-preferences-modal {
	// To keep modal dimensions consistent as subsections are navigated, width
	// and height are used instead of max-(width/height).
	@include break-small() {
		width: calc(100% - #{ $grid-unit-20 * 2 });
		height: calc(100% - #{ $header-height * 2 });
	}
	@include break-medium() {
		width: $break-medium - $grid-unit-20 * 2;
	}
	@include break-large() {
		height: 70%;
	}

	// Clears spacing to flush fit the navigator component to the modal edges.
	@media (max-width: #{ ($break-medium - 1) }) {
		.components-modal__content {
			padding: 0;

			&::before {
				content: none;
			}
		}
		// Keep the navigator component from overflowing the modal content area
		// to ensure that sticky position elements stick where intended.
		.components-navigator-provider {
			height: 100%;
		}
	}

	.interface-preferences__tabs {
		.components-tab-panel__tabs {
			position: absolute;
			top: $header-height + $grid-unit-30;
			// Aligns button text instead of button box.
			left: $grid-unit-20;
			width: $vertical-tabs-width;
			.components-tab-panel__tabs-item {
				border-radius: $radius-block-ui;
				font-weight: 400;
				&.is-active {
					background: $gray-100;
					box-shadow: none;
					font-weight: 500;
				}
				&:focus:not(:disabled) {
					box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
				}
			}
		}
		.components-tab-panel__tab-content {
			padding-left: $grid-unit-30;
			margin-left: $vertical-tabs-width;
		}
	}

	.components-base-control__help {
		margin: -$grid-unit-10 0 $grid-unit-10 58px;
		font-size: $helptext-font-size;
		font-style: normal;
		color: $gray-700;
	}
}

.interface-preferences-modal__section {
	margin: 0 0 2.5rem 0;

	&:last-child {
		margin: 0;
	}
}

.interface-preferences-modal__section-title {
	font-size: 0.9rem;
	font-weight: 600;
	margin-top: 0;
}

.interface-preferences-modal__section-description {
	margin: -$grid-unit-10 0 $grid-unit-10 0;
	font-size: $helptext-font-size;
	font-style: normal;
	color: $gray-700;
}

.interface-preferences-modal__option {
	.components-base-control {
		.components-base-control__field {
			align-items: center;
			display: flex;
			margin-bottom: 0;

			& > label {
				flex-grow: 1;
				padding: 0.6rem 0 0.6rem 10px;
			}
		}
	}
}
