.components-tip {
	display: flex;
	color: $dark-gray-500;

	svg {
		align-self: center;
		fill: $alert-yellow;
		flex-shrink: 0;
		margin-right: $grid-size-large;
	}

	p {
		margin: 0;
	}

	kbd {
		font-weight: 600;
		padding: 0.25rem 0.5rem;
		border-radius: 8%;
		margin: 0 0.2rem 0 0.2rem;
	}
}
