@import "./components/back-button/style.scss";
@import "./components/layout/style.scss";
@import "./components/meta-boxes/meta-boxes-area/style.scss";
@import "./components/welcome-guide/style.scss";

body.js.block-editor-page {
	@include wp-admin-reset( ".block-editor" );
}

// Fix issue with wp-admin menu not scrolling between 170% and 200% zoom.
.block-editor-page #wpwrap {
	overflow-y: auto;
	@include break-medium() {
		overflow-y: initial;
	}
}

// Target the editor UI excluding the non-iframed visual editor contents, metaboxes
//  and custom fields areas.
.editor-header,
.editor-text-editor,
.editor-sidebar,
.editor-post-publish-panel,
.edit-post-visual-editor.is-iframed {
	@include reset;
}

.block-editor__container {
	// On mobile the main content area has to scroll, otherwise you can invoke
	// the overscroll bounce on the non-scrolling container, for a bad experience.
	@include break-small {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: calc(100vh - #{$admin-bar-height-big});
	}

	// The WP header height changes at this breakpoint.
	@include break-medium {
		min-height: calc(100vh - #{$admin-bar-height});

		body.is-fullscreen-mode & {
			min-height: 100vh;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

@include wordpress-admin-schemes();
