.block-editor-duotone-toolbar__swatch {
	width: $icon-size;
	height: $icon-size;
	border-radius: 50%;
	color: transparent;
	background: transparent;

	// Regular border doesn't seem to work in the toolbar button, but pseudo-selector border does.
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border: 1px solid rgba( 0, 0, 0, 0.2 );
		border-radius: 50%;
	}
}

.block-editor-duotone-toolbar__label {
	display: inline-block;
	margin-bottom: $grid-unit-10;
}

.block-editor-duotone-toolbar__popover {
	$popover-padding: 6px;

	.block-editor-duotone-toolbar__custom-color {
		width: 100%;
		padding: $popover-padding;
	}

	.components-circular-option-picker__swatches {
		padding: $popover-padding;
	}
}

.components-button.has-icon.has-text .block-editor-duotone-toolbar__swatch {
	margin-right: $grid-unit;
}
