.block-editor-duotone-toolbar__custom-color {
	width: 100%;
	height: $button-size;
	padding: $grid-unit 0;
	display: inline-flex;
	align-items: center;

	& > svg,
	& > .block-editor-duotone-toolbar__swatch {
		margin-right: $grid-unit;
	}
}

.block-editor-duotone-toolbar__swatch {
	width: $icon-size;
	height: $icon-size;
	border-radius: 50%;
	color: transparent;
	background: transparent;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border: 1px solid rgba( 0, 0, 0, 0.2 );
		border-radius: 50%;
	}
}

.block-editor-duotone-toolbar__label {
	display: inline-block;
	margin-bottom: $grid-unit-10;
}
