.editor-block-styles {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60px;
	grid-gap: $item-spacing;
}

.editor-block-styles__item {
	cursor: pointer;
	outline: 1px solid transparent; // Shown in Windows High Contrast mode.
	box-shadow: inset 0 0 0 1px rgba( $dark-gray-900, .2 );
	overflow: hidden;
	padding: 0;
	text-align: initial;
	border-radius: $button-style__radius-roundrect;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	> * {
		transform: scale( 0.7 );
		transform-origin: center center;
		font-family: $editor-font;
	}

	// Make vertical centering easier.
	> blockquote.wp-block-quote,
	> * p:last-child {
		margin-bottom: 0;
	}

	&.is-selected {
		@include block-style__focus-active();
	}

	&:hover {
		@include block-style__hover;
	}
}
