.textEditor {
	padding: 14px 0;
	height: 80px;
}

.textEditorDark {
	color: $white;
}

.textFooternote {
	padding: 0 16px 24px;
}

.horizontalBorder {
	border-top-width: $border-width;
	border-bottom-width: $border-width;
	border-color: $light-gray-400;
}

.horizontalBorderDark {
	border-color: $gray-70;
}
