.textEditor {
	min-height: 80px;
	max-height: 200px;
	padding-top: 0;
	padding-bottom: 14px;
}

.textEditorDark {
	color: $white;
}

.textEditorContainer {
	padding-top: 14px;
}

.textFooternote {
	padding: 0 16px 24px;
}

.horizontalBorder {
	border-top-width: $border-width;
	border-bottom-width: $border-width;
	border-color: $light-gray-400;
}

.horizontalBorderDark {
	border-color: $gray-70;
}
