.textEditor {
	padding: 14px 0;
	height: 80px;
}

.textEditorDark {
	color: $white;
}

.textFootnote {
	font-size: 12px;
	color: $gray-text-min;
	padding: 8px 16px 24px;
}

.textLink {
	color: $blue-50;
}

.textLinkDark {
	color: $blue-30;
}

.horizontalBorder {
	border-top-width: $border-width;
	border-bottom-width: $border-width;
	border-color: $light-gray-400;
}

.horizontalBorderDark {
	border-color: $gray-70;
}
