.edit-site-template-switcher__navigation-item {
	position: relative;

	.edit-site-template-switcher__navigation-item-icon svg path {
		color: inherit;
	}
}

.edit-site-template-switcher__navigation-item-icon {
	width: 24px;
	height: 24px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
