.flex {
	align-items: var(--wp-components-flex-align);
	display: flex;
	flex-direction: var(--wp-components-flex-direction);
	flex-wrap: var(--wp-components-flex-wrap);
	gap: var(--wp-components-flex-gap);
	justify-content: var(--wp-components-flex-justify);
}

.expandedColumn {
	height: 100%;
}

.expandedRow {
	width: 100%;
}

.item {
	display: var(--wp-components-flex-item-display, block);
	max-height: 100%;
	max-width: 100%;
	min-height: 0;
	min-width: 0;
}

.block {
	flex: 1;
}

.itemsColumn {
	> * {
		min-height: 0;
	}
}

.itemsRow {
	> * {
		min-width: 0;
	}
}
