.components-flex {
	display: flex;

	* {
		box-sizing: border-box;
	}

	> * {
		min-width: 0;
		max-width: 100%;
	}

	// Modifiers
	&.is-align-top {
		align-items: flex-start;
	}
	&.is-align-center {
		align-items: center;
	}
	&.is-align-bottom {
		align-items: flex-end;
	}

	&.is-justify-space-between {
		justify-content: space-between;
	}
	&.is-justify-left {
		justify-content: flex-start;
	}
	&.is-justify-center {
		justify-content: center;
	}
	&.is-justify-right {
		justify-content: flex-end;
	}

	&.is-gap-large {
		& > * {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
	&.is-gap-medium {
		& > * {
			margin-right: 16px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
	&.is-gap-small {
		& > * {
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
	&.is-gap-extraSmall {
		& > * {
			margin-right: 4px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	// Elements
	&__block {
		flex: 1;
	}
}
