.edit-post-manage-blocks-modal {
	@include break-small() {
		width: 485px;
		height: calc(100% - #{ $header-height } - #{ $header-height });
	}
}

.edit-post-manage-blocks-modal .components-modal__content {
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
}

.edit-post-manage-blocks-modal .components-modal__header {
	flex-shrink: 0;
	margin-bottom: 0;
}

.edit-post-manage-blocks-modal__hide-all .components-base-control__field {
	margin-top: $grid-size-small * 3;
}

.edit-post-manage-blocks-modal__content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.edit-post-manage-blocks-modal__search {
	margin: $grid-size-large 0;

	.components-base-control__field {
		margin-bottom: 0;
	}

	.components-base-control__label {
		margin-top: -0.25 * $grid-size-large;
	}

	input[type="search"].components-text-control__input {
		padding: 0.75 * $grid-size-large;
		border-radius: $radius-round-rectangle;
	}
}

.edit-post-manage-blocks-modal__results {
	height: 100%;
	overflow: auto;
	margin-left: -1 * $grid-size-large;
	margin-right: -1 * $grid-size-large;

	.editor-block-types-list__item[data-hidden] {
		position: relative;
		background-color: $light-gray-200;

		&::after {
			content: attr(data-hidden);
			position: absolute;
			top: 0;
			right: 0;
			background-color: $blue-medium-500;
			color: $white;
			padding: 0 $grid-size-small;
		}
	}
}
