.edit-post-manage-blocks-modal {
	@include break-small() {
		height: calc(100% - #{ $header-height } - #{ $header-height });
	}
}

.edit-post-manage-blocks-modal .components-modal__content {
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
}

.edit-post-manage-blocks-modal .components-modal__header {
	flex-shrink: 0;
	margin-bottom: 0;
}

.edit-post-manage-blocks-modal__content {
	display: flex;
	flex-direction: column;
	flex: 0 1 100%;
	min-height: 0;
}

.edit-post-manage-blocks-modal__no-results {
	font-style: italic;
	padding: 24px 0;
	text-align: center;
}

.edit-post-manage-blocks-modal__search {
	margin: $grid-unit-20 0;

	.components-base-control__field {
		margin-bottom: 0;
	}

	.components-base-control__label {
		margin-top: -0.25 * $grid-unit-20;
	}

	input[type="search"].components-text-control__input {
		padding: 0.75 * $grid-unit-20;
		border-radius: $radius-round-rectangle;
	}
}

.edit-post-manage-blocks-modal__disabled-blocks-count {
	border-top: 1px solid $light-gray-500;
	margin-left: -$grid-unit-30;
	margin-right: -$grid-unit-30;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: $grid-unit-30;
	padding-right: $grid-unit-30;
	background-color: $light-gray-200;
}

.edit-post-manage-blocks-modal__category {
	margin: 0 0 2rem 0;
}

.edit-post-manage-blocks-modal__category-title {
	position: sticky;
	top: 0;
	padding: $grid-unit-20 0;
	background-color: $white;
	z-index: z-index(".edit-post-manage-blocks-modal__category-title");

	.components-base-control__field {
		margin-bottom: 0;
	}

	.components-checkbox-control__label {
		font-size: 0.9rem;
		font-weight: 600;
	}
}

.edit-post-manage-blocks-modal__show-all {
	margin-right: $grid-unit-10;
}

.edit-post-manage-blocks-modal__checklist {
	margin-top: 0;
}

.edit-post-manage-blocks-modal__checklist-item {
	margin-bottom: 0;
	padding-left: $grid-unit-20;
	border-top: 1px solid $light-gray-500;

	&:last-child {
		border-bottom: 1px solid $light-gray-500;
	}

	.components-base-control__field {
		align-items: center;
		display: flex;
		margin: 0;
	}

	.components-modal__content &.components-checkbox-control__input-container {
		margin: 0 $grid-unit-10;
	}

	.components-checkbox-control__label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		padding: 0.6rem 0 0.6rem 10px;
	}

	.block-editor-block-icon {
		margin-right: 10px;
		fill: $dark-gray-500;
	}
}

.edit-post-manage-blocks-modal__results {
	height: 100%;
	overflow: auto;
	margin-left: -$grid-unit-30;
	margin-right: -$grid-unit-30;
	padding-left: $grid-unit-30;
	padding-right: $grid-unit-30;
	border-top: $border-width solid $light-gray-500;
}
