// @format

$play-icon-size: 50;

.videoContainer {
	flex: 1;
	justify-content: center;
	align-items: center;
}

.overlayContainer {
	justify-content: center;
	align-items: center;
	align-self: center;
	position: absolute;
}

.blackOverlay {
	width: 100%;
	height: 100%;
	background-color: $black;
	opacity: 0.4;
}

.playIcon {
	position: absolute;
	opacity: 0.7;
	size: 64;
}
