.edit-post-options-modal {
	&__section {
		margin: 0 0 2rem 0;
	}

	&__section-title {
		font-size: 0.9rem;
		font-weight: 600;
	}

	&__option {
		border-top: 1px solid $light-gray-500;

		&:last-child {
			border-bottom: 1px solid $light-gray-500;
		}

		.components-base-control__field {
			align-items: center;
			display: flex;
			margin: 0;
		}

		.components-checkbox-control__label {
			flex-grow: 1;
			padding: 0.6rem 0 0.6rem 10px;
		}
	}

	&__custom-fields-confirmation-message,
	&__custom-fields-confirmation-button {
		margin: 0 0 0.6rem 48px;

		@include break-medium() {
			margin-left: 38px;
		}
		@include break-small() {
			max-width: 300px;
		}
	}
}
