.components-snackbar {
	font-family: $default-font;
	font-size: $default-font-size;
	background-color: $dark-gray-800;
	border-radius: $radius-round-rectangle;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	color: $white;
	padding: 10px;
	min-width: 200px;
	max-width: 400px;

	&.is-success {
		background-color: $alert-green;
	}

	&.is-warning {
		background-color: $alert-yellow;
	}

	&.is-error {
		background-color: $alert-red;
	}

	&:focus {
		@include menu-style__focus;
	}
}

.components-snackbar__action.components-button {
	margin-left: 20px;
	color: $white;
}

.components-snackbar__content {
	display: flex;
	align-items: center;
}

.components-snackbar-list {
	position: absolute;
	z-index: z-index(".components-snackbar-list");

	.components-snackbar {
		margin-top: 10px;
	}
}
