.components-snackbar-list {
	position: absolute;
	z-index: z-index(".components-snackbar-list");
	width: 100%;
	box-sizing: border-box;
}

.components-snackbar-list__notice-container {
	position: relative;
	padding-top: 8px;
}
