.editor-post-author__select {
	margin: -5px 0;
	border: none;
	width: 150px;
	padding: 4px;
	display: inline-block;
    width: auto;
    max-width: 100%;
    line-height: 24px;
    background: inherit;
    font-size: 13px;
    color: #23282d;
    box-shadow: none;
}
