/** @format */

// Fonts
$default-monospace-font: courier;
$default-regular-font: 'Noto Serif';
$title-block-padding-top: 12;
$title-block-padding-bottom: 12;

$min-height-title: 30;
$min-height-paragraph: 24;
$min-height-heading: 30;

$floating-toolbar-height: 44;
