/** @format */

// Fonts
$default-monospace-font: monospace;
$default-regular-font: serif;
$title-block-padding-top: 0;
$title-block-padding-bottom: 0;

$min-height-title: 53;
$min-height-paragraph: 50;
$min-height-heading: 60;

$floating-toolbar-height: 44;
