@use "@wordpress/base-styles/z-index" as *;
@use "@wordpress/base-styles/variables" as *;

.block-editor-block-visibility-breakpoints-modal {
	z-index: z-index(".block-editor-block-rename-modal");

	&__hide-everywhere {
		font-weight: $font-weight-medium;
	}

	&__breakpoints {
		margin-inline-start: 32px;

		// Make the label span remaining width and fix vertical alignment
		.components-flex {
			align-items: center;
		}
		.components-checkbox-control__label {
			flex: 1;
			min-width: 0;
			line-height: 1;
			display: flex;
			align-items: center;
		}
	}

	&__label {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__icon {
		flex-shrink: 0;
		margin-inline-start: 8px;
	}
}

