.richimage-filter__black-and-white img {
	filter: grayscale(100%) contrast(1.5);
}

.richimage-filter__technicolor img {
	filter: contrast(1.4) brightness(1.3) saturate(0.8) hue-rotate(-15deg) sepia(0.3);
}

.richimage-filter__sunshine img {
	filter: sepia(0.45) contrast(1.25) brightness(1.75) saturate(1.3) hue-rotate(-5deg);
}

.richimage-filter__aviator img {
	filter: sepia(0.2) contrast(1.2) brightness(1.4) hue-rotate(25deg) saturate(0.7);
}

.richimage-filter__polar-vortex img {
	filter: sepia(1) contrast(1.2) brightness(1.05) saturate(1.3) hue-rotate(145deg);
}

.richimage-filter__rocketeer img {
	filter: sepia(0.5) contrast(1.15) saturate(2);
}

.richimage-filter__black-hole img {
	filter: contrast(1.7) brightness(0.9) saturate(0.8) hue-rotate(-15deg);
}
