.edit-site-sidebar-navigation-screen-templates__templates-group-title.components-item {
	text-transform: uppercase;
	color: $gray-200;
	// 6px right padding to align with + button
	padding: $grid-unit-30 6px $grid-unit-20 $grid-unit-20;
	border-top: 1px solid $gray-800;
	font-size: 11px;
	font-weight: 500;
}
