.editor-post-panel__row {
	width: 100%;
	min-height: $grid-unit-40;
	justify-content: flex-start !important;
	align-items: flex-start !important;
}

.editor-post-panel__row-label {
	width: 30%;
	flex-shrink: 0;
	min-height: $grid-unit-40;
	display: flex;
	align-items: center;
}

.editor-post-panel__row-control {
	flex-grow: 1;
	min-height: $grid-unit-40;
	display: flex;
	align-items: center;
}
