.badge {
	background-color: $gray-dark;
	border-color: $gray-dark;
	border-radius: 3px;
	color: $white;
	overflow: hidden;
	padding: 3px 6px;
	position: absolute;
}

.badge--small {
	font-size: 12px;
	padding: 2px 5px;
}
