.components-toolbar__control--light {
	color: $black;
}

.components-toolbar__control--dark {
	color: $white;
}

.components-dropdown-menu__toggle--light {
	color: $black;
}

.components-dropdown-menu__toggle--dark {
	color: $white;
}
