.components-button {
	&.is-small {
		height: 24px;
		line-height: 22px;
		padding: 0 8px;
		font-size: 11px;

		&.has-icon:not(.has-text) {
			padding: 0 8px;
			width: 24px;
		}
	}

	&.has-icon {
		padding: 6px; // Works for 24px icons. Smaller icons are vertically centered by flex alignments.

		// Icon buttons are square.
		min-width: $button-size;
		justify-content: center;

		.dashicon {
			display: inline-block;
			flex: 0 0 auto;
		}

		&.has-text {
			justify-content: left;
		}

		&.has-text svg {
			margin-right: 8px;
		}
	}

	// Toggled style.
	&.is-pressed {
		color: $white;
		background: $gray-900;

		&:focus:not(:disabled) {
			box-shadow: inset 0 0 0 1px $white, 0 0 0 $border-width-focus var(--wp-admin-theme-color);

			// Windows High Contrast mode will show this outline, but not the box-shadow.
			outline: 2px solid transparent;
		}

		&:hover:not(:disabled) {
			color: $white;
			background: $gray-900;
		}
	}

}
