.components-button-light--active {
	border-color: $light-dim;
	background-color: $light-dim;
}

.components-button-dark--active {
	border-color: $dark-quaternary;
	background-color: $dark-quaternary;
}
