.components-button {
	@include appearance-button;

	&.is-unstyled {
		padding: 0;
		line-height: $default-line-height;
		height: auto;
		border-radius: none;
		white-space: normal;
		border-width: 0;
		border-style: none;
	}

	/* Buttons that look like links, for a cross of good semantics with the visual */
	&.has-link-appearance {
		@include appearance-link;
	}

	/* Link buttons that are red to indicate destructive behavior. */
	&.has-link-appearance.is-destructive {
		color: $alert-red;
	}
}
