$dot-size: 8px; // Size of the indicator dot
$dot-scale: 3;  // How much the pulse animation should scale up by in size

.nux-dot-tip {
	&:before,
	&:after {
		border-radius: 100%;
		content: ' ';
		pointer-events: none;
		position: absolute;
	}

	&:before {
		animation: nux-pulse 1.6s infinite cubic-bezier( 0.17, 0.67, 0.92, 0.62 );
		background: rgba( $blue-medium-800, 0.9 );
		height: $dot-size * $dot-scale;
		left: -( $dot-size * $dot-scale ) / 2;
		top: -( $dot-size * $dot-scale ) / 2;
		transform: scale( ( 1 / $dot-scale ) );
		width: $dot-size * $dot-scale
	}
		
	&:after {
		background: $blue-medium-800;
		height: $dot-size;
		left: -$dot-size / 2;
		top: -$dot-size / 2;
		width: $dot-size;
	}

	@keyframes nux-pulse {
		100% {
			background: rgba( $blue-medium-800, 0 );
			transform: scale( 1 );
		}
	}

	.components-popover__content {
		padding: 5px ( 36px + 5px ) 5px 10px;
		width: 350px;

		@include break-small {
			width: 450px;
		}

		.nux-dot-tip__disable {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&.is-left {
		margin-left: -25px;

		.components-popover__content {
			margin-right: 20px;
		}
	}

	&.is-right {
		margin-left: 25px;

		.components-popover__content {
			margin-left: 20px;
		}
	}
}

// Need extra specificity to override the z-index set by .component-popover
.nux-dot-tip,
.nux-dot-tip:not( .is-mobile ).is-bottom {
	z-index: z-index( '.nux-dot-tip' );
}
