.block-editor-tabbed-sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;

	@include break-medium() {
		// Same width as the Inserter.
		// @see packages/block-editor/src/components/inserter/style.scss
		//width: 350px;
	}
}

.block-editor-tabbed-sidebar__tablist-and-close-button {
	display: flex;
	border-bottom: $border-width solid $gray-300;
}

.block-editor-tabbed-sidebar__close-button {
	background: $white;
	/* stylelint-disable-next-line property-disallowed-list -- This should be removed when https://github.com/WordPress/gutenberg/issues/59013 is fixed. */
	order: 1;
	align-self: center;
	margin-right: $grid-unit-15;
}

.block-editor-tabbed-sidebar__tablist {
	box-sizing: border-box;
	flex-grow: 1;
}

.block-editor-tabbed-sidebar__tab {
	flex-grow: 1;
	margin-bottom: -$border-width;
}

.block-editor-tabbed-sidebar__tabpanel {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	//overflow-y: auto;

	//height: calc(100% - #{$grid-unit-60 - $border-width});

	// Include custom scrollbars, invisible until hovered.
	@include custom-scrollbars-on-hover(transparent, $gray-600);
	//overflow: auto;

	// Only reserve space for scrollbars when there is content to scroll.
	// This allows items in the list view to have equidistant padding left and right
	// right up until a scrollbar is present.
	scrollbar-gutter: auto;

	// The table cells use an extra pixels of space left and right. We compensate for that here.
	padding: $grid-unit-05;
}
