.editor-block-mover__control {
	display: block;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: $dark-gray-300;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50%;

	&[aria-disabled="true"] {
		cursor: default;
		color: $light-gray-300;
		pointer-events: none;
	}

	&:first-child {
		margin-bottom: 4px;
	}

	// unstyle inherited icon button styles
	&:not(:disabled):hover,
	&:not(:disabled):active,
	&:not(:disabled):focus {
		box-shadow: none;
		color: inherit;
	}

	// apply styles to SVG directly
	svg {
		display: block;
		position: relative; // Fixing the Safari bug for `<button>`s overflow
		border-radius: 50%;
	}

	&:not(:disabled):hover svg {
		@include button-style__hover;
	}

	&:not(:disabled):active svg {
		@include button-style__active;
	}

	&:not(:disabled):focus svg {
		@include button-style__focus-active;
	}
}

.editor-block-mover .editor-inserter {
	position: absolute;
	// fixme, should be variables
	left: -36px;
	top: 8px;
}
