// Mover icon buttons$
.editor-block-mover__control {
	display: block;
	margin: 0 6px 0 4px;
	border: none;
	outline: none;
	background: none;
	color: $dark-gray-300;
	cursor: pointer;
	border-radius: 50%;
	width: $icon-button-size-small;
	height: $icon-button-size-small;
	padding: 0;

	padding: 3px;

	// subtract 1px to account for a transparent border
	&:not( :disabled ):hover,
	&:not( :disabled ):active,
	&:not( :disabled ):focus {
		padding: 2px;
	}

	&[aria-disabled="true"] {
		cursor: default;
		color: $light-gray-300;
		pointer-events: none;
	}

	// apply styles to SVG for movers on the desktop breakpoint
	@include break-small {
		// unstyle inherited icon button styles
		&:not(:disabled):hover,
		&:not(:disabled):active,
		&:not(:disabled):focus {
			box-shadow: none;
			color: inherit;
			border: none;
		}

		svg {
			display: block;
			position: relative; // Fixing the Safari bug for `<button>`s overflow
			border-radius: 50%;
			@include button-style__neutral;
		}

		&:not(:disabled):hover svg {
			width: 20px;
			height: 20px;
			@include button-style__hover;
		}

		&:not(:disabled):active svg {
			@include button-style__active;
		}

		&:not(:disabled):focus svg {
			@include button-style__focus-active;
		}



		&:not(:disabled):hover svg,
		&:not(:disabled):active svg,
		&:not(:disabled):focus svg {
			width: 20px;
			height: 20px;
		}
	}
}
