.block-editor-iframe__body {
	position: relative;
}

.block-editor-iframe__html {
	transform-origin: top center;
	@include editor-canvas-resize-animation;
	&::before,
	&::after {
		content: "";
		display: block;
		height: 0;
		background-color: $gray-300;
		@include editor-canvas-resize-animation;
	}
}

.block-editor-iframe__html.is-zoomed-out {
	$scale: var(--wp-block-editor-iframe-zoom-out-scale);
	$frame-size: var(--wp-block-editor-iframe-zoom-out-frame-size);
	$inner-height: var(--wp-block-editor-iframe-zoom-out-inner-height);
	$content-height: var(--wp-block-editor-iframe-zoom-out-content-height);
	$prev-container-width: var(--wp-block-editor-iframe-zoom-out-prev-container-width);
	$container-width: var(--wp-block-editor-iframe-zoom-out-container-width, 100vw);
	$max-width: 750px;

	transform: scale(#{$scale});

	&.is-default-scale {
		transform: scale( calc( ( min( #{$container-width}, #{$max-width} ) - 2 * #{$frame-size} ) / #{$prev-container-width} ) );
	}

	background-color: $gray-300;

	// Chrome seems to respect that transform scale shouldn't affect the layout size of the element,
	// so we need to adjust the height of the content to match the scale by using negative margins.
	$extra-content-height: calc(#{$content-height} * (1 - #{$scale}));
	$total-frame-height: calc(2 * #{$frame-size} / #{$scale});
	$total-height: calc(#{$extra-content-height} + #{$total-frame-height} + 2px);
	margin-bottom: calc(-1 * #{$total-height});

	&::before,
	&::after {
		height: calc(#{$frame-size} / #{$scale});
	}

	body {
		min-height: calc((#{$inner-height} - #{$total-frame-height}) / #{$scale});
		display: flex;
		flex-direction: column;

		> .is-root-container:not(.wp-block-post-content) {
			flex: 1;
			display: flex;
			flex-direction: column;
			height: 100%;

			> main {
				flex: 1;
			}
		}
	}
}
