.block-editor-iframe__html {
	// Keeps body background styles from being clipped.
	// See: https://github.com/WordPress/gutenberg/issues/44374#issuecomment-1260784743
	height: auto;
	// Keeps body background image from repeating.
	// See: https://github.com/WordPress/gutenberg/issues/46782
	min-height: 100%;
	// Keeps the scrollbar gutter present to avoid a minor layout shift in case zoom out
	// increases the height enough to remove overflow.
	overflow-y: scroll;
}

.block-editor-iframe__html.is-zoomed-out {
	// Expands main content area.
	// See: https://github.com/WordPress/gutenberg/pull/59512
	&,
	> body,
	> body > .is-root-container:not(.wp-block-post-content) {
		display: flex;
		flex-direction: column;
		flex: 1; // Doesn’t effect the html element but grouping is simpler this way.
	}

	> body > .is-root-container:not(.wp-block-post-content) > main {
		flex: 1;
	}
}

.block-editor-iframe__body {
	position: relative;
}
