.block-editor-iframe__container {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.block-editor-iframe__scale-container {
	height: 100%;
}

.block-editor-iframe__scale-container.is-zoomed-out {
	$outer-container-width: var(--wp-block-editor-iframe-zoom-out-outer-container-width, 100vw);
	width: $outer-container-width;
	// Position the iframe so that it is always aligned with the right side so that
	// the scrollbar is always visible on the right side
	position: absolute;
	right: 0;
}
