.edit-post-post-url {
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;

	span {
		display: block;
		width: 45%;
		flex-shrink: 0;
		// Match padding on tertiary buttons for alignment.
		padding: $grid-unit-15 * 0.5 0;
	}
}

.components-button.edit-post-post-url__toggle {
	text-align: left;
	white-space: normal;
	height: auto;
	word-break: break-word;
}

.edit-post-post-url__dialog .editor-post-url {
	// sidebar width - popover padding - form margin
	min-width: $sidebar-width - $grid-unit-20 - $grid-unit-20;
	margin: $grid-unit-10;
}
