.selected {
	height: 28px;
	width: 28px;
	border-radius: 14px;
	background-color: #fff;
	justify-content: center;
	align-items: center;
}

.circleOption {
	height: 48px;
	width: 48px;
	border-radius: 24px;
	margin-right: 8px;
	justify-content: center;
	align-items: center;
	border-color: rgba(0, 0, 0, 0.1);
	border-width: $border-width;
}

.circleOptionDark {
	border-color: rgba(255, 255, 255, 0.1);
}

.absolute {
	position: absolute;
	margin-right: 0;
	border-width: 0;
}

.icon {
	color: $gray-dark;
	height: 16px;
}
