.selected {
	height: 28px;
	width: 28px;
	border-radius: 14px;
	background-color: $white;
	justify-content: center;
	align-items: center;
}

.circleOption {
	height: $mobile-color-swatch;
	width: $mobile-color-swatch;
	border-radius: 24px;
	margin-right: 8px;
	justify-content: center;
	align-items: center;
}

.absolute {
	position: absolute;
	margin-right: 0;
	border-width: 0;
}

.icon {
	color: $gray-dark;
}

.outline {
	border-color: $light-dim;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 24px;
	border-width: $border-width;
	position: absolute;
	z-index: 2;
}

.outlineDark {
	border-color: $dark-ultra-dim;
}

.selectedOutline {
	top: -$border-width;
	bottom: -$border-width;
	left: -$border-width;
	right: -$border-width;
	border-radius: 14px;
}
