.editor-inserter {
	display: inline-block;
	background: none;
	border: none;
	padding: 0;
	font-family: $default-font;
	font-size: $default-font-size;
	line-height: $default-line-height;

	@include break-medium {
		position: relative;
	}
}

.editor-inserter__toggle {
	display: inline-flex;
	align-items: center;
	color: $dark-gray-500;
	background: none;
	cursor: pointer;
	border: none;
	outline: none;
	transition: color .2s ease;

	.editor-layout__content & {
		border-radius: $icon-button-size / 2;
	}

	&:hover,
	&:focus {
		color: $blue-medium-500;
	}
}

.editor-inserter__content {
	height: calc( 100vh - #{ $admin-bar-height-big + $header-height + $icon-button-size } );

	@include break-medium {
		height: auto;
		max-height: 50vh;
	}

	overflow: auto;
	box-shadow: inset 0 -5px 5px -4px rgba( $dark-gray-900, .1 );

	&:focus {
		outline: none;
	}
}

input[type=search].editor-inserter__search {
	display: block;
	width: 100%;
	border: none;
	margin: 0;
	box-shadow: none;
	border-top: 1px solid $light-gray-500;
	padding: 8px 16px;
	font-size: 13px;

	&:focus {
		outline: none;
	}
}

.editor-inserter__category-blocks {
	display: flex;
	flex-flow: row wrap;
	padding: 3px;
}

.editor-inserter__menu.is-bottom:after {
	border-bottom-color: $light-gray-100;
}

.editor-inserter__block {
	display: flex;
	width: 50%;
	font-size: 12px;
	color: $dark-gray-500;
	margin: 0;
	padding: 8px;
	align-items: center;
	cursor: pointer;
	border: none;
	background: none;
	line-height: 20px;

	&:hover,
	&:focus {
		color: $blue-medium-500;
		outline: none;
		position: relative;
	}

	&:active,
	&.is-active {
		background: $dark-gray-500;
		position: relative;
		color: $white;
	}

	.dashicon {
		margin-right: 8px;
	}
}

.editor-inserter__separator {
	display: block;
	margin: 0;
	padding: 4px 8px;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: $light-gray-100;
	border-bottom: 1px solid $light-gray-500;
}
