.editor-inserter {
	display: inline-block;
	background: none;
	border: none;
	padding: 0;
	font-family: $default-font;
	font-size: $default-font-size;
	line-height: $default-line-height;

	@include break-medium {
		position: relative;
	}
}

.editor-inserter__toggle {
	display: inline-flex;
	align-items: center;
	color: $dark-gray-500;
	background: none;
	cursor: pointer;
	border: none;
	outline: none;
	transition: color .2s ease;

	.editor-layout__content & {
		border-radius: $icon-button-size / 2;
	}

	&:hover,
	&:focus {
		color: $blue-medium-500;
	}
}

.editor-inserter__content {
	height: calc( 100vh - #{ $admin-bar-height-big + $header-height + 34 + $inserter-tabs-height } ); // 34 = search input height

	@include break-medium {
		height: 260px;
	}

	overflow: auto;
	box-shadow: inset 0 -5px 5px -4px rgba( $dark-gray-900, .1 );

	&:focus {
		outline: none;
	}
}

input[type="search"].editor-inserter__search {
	display: block;
	width: 100%;
	margin: 0;
	box-shadow: none;
	border: 1px solid transparent;
	padding: 8px 11px;
	font-size: $default-font-size;
	position: relative;
	z-index: 1;

	&:focus {
		outline: none;
		box-shadow: $button-focus-style;
	}
}

.editor-inserter__category-blocks {
	display: flex;
	flex-flow: row wrap;
	padding: 8px;
}

.editor-inserter__menu.components-popover.is-center .components-popover__content {
	@media ( max-width: #{ $break-medium - 1 } ) {
		border-width: 0;
		position: fixed;
		left: 0;
		right: 0;
		top: $admin-bar-height-big + $header-height;
		transform: none;
		width: 100vw;
	}
}

.editor-inserter__menu.is-bottom:after {
	border-bottom-color: $white;
}

.editor-inserter__block {
	display: flex;
	flex-direction: column;
	width: calc( 50% - 16px );
	border-radius: 4px;
	font-size: $default-font-size;
	color: $dark-gray-500;
	margin: 8px;
	padding: 12px 6px 6px 6px;
	align-items: center;
	cursor: pointer;
	border: none;
	line-height: 20px;
	background: transparent;
	border: 1px solid transparent;

	&:disabled {
		opacity: 0.6;
		cursor: default;
	}

	&:not(:disabled) {
		&:hover {
			color: $blue-medium-500;
		}

		&:focus,
		&:active,
		&.is-active {
			outline: none;
			border: 1px solid $dark-gray-500;
			box-shadow: inset 0 0 0 1px $white;
			color: $dark-gray-900;
			background: $light-gray-300;
			position: relative;
		}
	}
}

.editor-inserter__separator {
	border-top: 1px solid $light-gray-500;
	background: rgba( $white, .8 );
	position: sticky;
	top: 0;
	text-align: center;
	display: block;
	margin: 0;
	padding: 12px 14px 0 14px;
	font-size: $default-font-size;
	font-weight: 600;

	&:first-child {
		border: none;
	}
}

.editor-inserter__tabs {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	background: $light-gray-300;
	border-top: 1px solid $light-gray-500;
	border-bottom: 1px solid $light-gray-500;
}

.editor-inserter__tab {
	border: none;
	background: none;
	border-bottom: 3px solid transparent;
	border-top: 3px solid transparent;
	font-size: $default-font;
	padding: 8px 8px;
	width: 100%;
	margin: 0;
	color: $dark-gray-500;
	cursor: pointer;

	&.is-active {
		font-weight: 600;
		border-bottom-color: $blue-medium-500;
		position: relative;
		z-index: z-index( '.editor-inserter__tab.is-active' );
	}

	&:active,
	&:focus {
		z-index: z-index( '.editor-inserter__tab.is-active' );
		box-shadow: $button-focus-style;
		outline: none;
	}
}
