// Allow the position to be easily overridden to e.g. fixed.
[role="region"] {
	position: relative;
}

.is-focusing-regions {
	[role="region"]:focus {
		outline: 4px solid $components-color-accent;
		outline-offset: -4px;

		.interface-navigable-region__stacker {
			position: relative;
			z-index: z-index(".is-focusing-regions [role='region']:focus .interface-navigable-region__stacker");
		}
	}

	// Fixes for edge cases.
	// Some of the regions are currently used for layout purposes as 'interface skeleton'
	// items. When they're absolutely positioned or when they contain absolutely
	// positioned elements, they may have no size therefore the focus style is not
	// visible. For the future, it's important to take into consideration that
	// the navigable regions should always have a computed size. For now, we can
	// fix some edge cases but these CSS rules should be later removed in favor of
	// a more abstracted approach to make the navigabel regions focus style work
	// regardles of the CSS used on other components.

	// Header top bar when Distraction free mode is on.
	&.is-distraction-free .interface-interface-skeleton__header {
		.interface-navigable-region__stacker,
		.edit-post-header {
			outline: inherit;
			outline-offset: inherit;
		}
	}

	// Sidebar toggle button shown when navigating regions.
	.interface-interface-skeleton__sidebar {
		.interface-navigable-region__stacker,
		.edit-post-layout__toggle-sidebar-panel {
			outline: inherit;
			outline-offset: inherit;
		}
	}

	// Publish sidebar toggle button shown when navigating regions.
	.interface-interface-skeleton__actions {
		.interface-navigable-region__stacker,
		.edit-post-layout__toggle-publish-panel {
			outline: inherit;
			outline-offset: inherit;
		}
	}

	// Publish sidebar.
	[role="region"].interface-interface-skeleton__actions:focus  .editor-post-publish-panel {
		outline: 4px solid $components-color-accent;
		outline-offset: -4px;
	}

	// Edit site Navigation Drawer.
	.interface-interface-skeleton__drawer {
		z-index: z-index(".edit-site-navigation-toggle");

		.interface-navigable-region__stacker,
		.edit-site-navigation-toggle {
			outline: inherit;
			outline-offset: inherit;
		}

		.edit-site-navigation-toggle.is-open {
			outline: none;
		}

		.edit-site-navigation-toggle__button {
			z-index: -1;
		}
	}
}

// Fixes for edge cases.
// Edit site Drawer.
.interface-interface-skeleton__drawer .interface-navigable-region__stacker {
	height: 100%;
}
