// Allow the position to be easily overridden to e.g. fixed.
[role="region"] {
	position: relative;
}

.is-focusing-regions {
	[role="region"]:focus {
		outline: 4px solid $components-color-accent;
		outline-offset: -4px;

		.interface-navigable-region__stacker {
			position: relative;
			z-index: z-index(".is-focusing-regions [role='region']:focus .interface-navigable-region__stacker");
		}
	}

	// Fixes for edge cases.
	// Some of the regions are currently used for layout purposes as 'interface skeleton'
	// items. When they're absolutely positioned or when they contain absolutely
	// positioned elements, they may have no size therefore the focus style is not
	// visible. For the future, it's important to take into consideration that
	// the navigable regions should always have a computed size. For now, we can
	// fix some edge cases but these CSS rules should be later removed in favor of
	// a more abstracted approach to make the navigabel regions focus style work
	// regardles of the CSS used on other components.
	&.is-distraction-free .interface-interface-skeleton__header {
		.interface-navigable-region__stacker,
		.edit-post-header {
			outline: inherit;
			outline-offset: inherit;
		}
	}
}
