[role="region"] {
	// Make the grid container children establish an independent stacking context
	// and avoid to use position asto allow the position to be easily overridden
	// to e.g. fixed.
	display: grid;
}

.is-focusing-regions [role="region"] {
	&:focus {
		outline-style: solid;
		outline-color: $components-color-accent;
		outline-width: 4px;
		outline-offset: -4px;

		> * {
			// Children of a grid container establish a new stacking context.
			// See https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
			z-index: -1 !important;
		}
	}
}
