.editor-url-popover {
	&__row {
		display: flex;
	}

	// Any children of the popover-row that are not the settings-toggle
	// should take up as much space as possible.
	&__row > :not(.editor-url-popover__settings-toggle) {
		flex-grow: 1;
	}

	&__settings-toggle {
		flex-shrink: 0;
		width: $icon-button-size;
		height: $icon-button-size;

		.dashicon {
			transform: rotate(90deg);
		}
	}

	&__settings {
		padding: 7px 8px;
		border-top: $border-width solid $light-gray-500;
		padding-top: 7px + $border-width;
	}
}
