.block-editor-block-patterns-list__list-item {
	cursor: pointer;
	margin-bottom: $grid-unit-30;

	// The list item contains absolutely positioned visually hidden text,
	// so make this container relative. This prevents the bug experienced in
	// https://github.com/WordPress/gutenberg/issues/44842.
	position: relative;

	&.is-placeholder {
		min-height: 100px;
	}

	&[draggable="true"] {
		cursor: grab;
	}
}

.block-editor-block-patterns-list__item {
	height: 100%;
	// This is derived from the top padding set on
	// `.block-editor-block-patterns-explorer__list`
	scroll-margin-top: $grid-unit-30;
	// This is derived from the bottom padding set on
	// `.block-editor-block-patterns-explorer__list` and
	// the bottom margin set on `...__list-item` above
	scroll-margin-bottom: ($grid-unit-40 + $grid-unit-30);

	.block-editor-block-preview__container {
		display: flex;
		align-items: center;
		overflow: hidden;
		border-radius: 4px;
	}

	.block-editor-block-patterns-list__item-title {
		text-align: left;
		flex-grow: 1;
	}

	&:hover .block-editor-block-preview__container {
		box-shadow: 0 0 0 2px $gray-900;
	}

	&:focus .block-editor-block-preview__container {
		@include button-style-outset__focus($gray-900);
	}

	&.block-editor-block-patterns-list__list-item-synced {
		&:hover,
		&:focus {
			.block-editor-block-preview__container {
				box-shadow: 0 0 0 2px var(--wp-block-synced-color);
			}
		}
	}

	.block-editor-patterns__pattern-details {
		align-items: center;
		margin-top: $grid-unit-10;
	}

	.block-editor-patterns__pattern-icon-wrapper {
		min-width: 24px;
		height: 24px;
		.block-editor-patterns__pattern-icon {
			fill: var(--wp-block-synced-color);
		}
	}
}
