.edit-post-layout__metaboxes {
	flex-shrink: 0;
	clear: both;
}

.edit-post-layout .interface-interface-skeleton__body {
	// Make this a stacking context to contain the z-index of children elements.
	isolation: isolate;
}

// Adjust the position of the notices
.components-editor-notices__snackbar {
	position: fixed;
	right: 0;
	bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

@include editor-left(".edit-post-layout .components-editor-notices__snackbar");
