.components-external-link {
	text-decoration: none;
}

.components-external-link__contents {
	text-decoration: underline;
}

.components-external-link__icon {
	margin-left: 0.5ch;
	font-weight: 400;
}
