body.is-fullscreen-mode {
	// Reset the html.wp-topbar padding
	margin-top: -$admin-bar-height-big;
	@include break-medium() {
		margin-top: -$admin-bar-height;
	}

	#adminmenumain,
	#wpadminbar {
		display: none;
	}

	#wpcontent,
	#wpfooter {
		margin-left: 0;
	}

	// Animations
	@include fade_in(0.3s);

	.edit-post-header {
		@include slide_in_top();
	}
}
