.edit-site-page-pages__featured-image {
	border-radius: $grid-unit-05;
	width: $grid-unit-50;
	height: $grid-unit-50;
	display: block;
}


.edit-site-page-pages__list-view-title-field {
	font-size: $default-font-size;
	font-weight: 500;
}
