.edit-site-post-edit {
	padding: $grid-unit-30;

	&.is-empty .admin-ui-page__content {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.dataforms-layouts-panel__field-dropdown {
	.fields-controls__password {
		border-top: $border-width solid $gray-200;
		padding-top: $grid-unit-20;
	}
}
