.edit-post-fullscreen-mode-close__toolbar {
	// Do not show the toolbar icon on small screens,
	// when Fullscreen Mode is not an option in the "More" menu.
	display: none;

	@include break-medium() {
		display: block;
		border-top: 0;
		border-bottom: 0;
		border-left: 0;
		margin: -9px 10px -9px -10px;
		padding: 9px 10px;
	}
}
