.edit-site-save-hub {
	color: var(--wp-components-color-gray-text);
	border-top: 1px solid var(--wp-components-color-gray-border);
	flex-shrink: 0;
	margin: 0;
	padding: $grid-unit-20 + $grid-unit-05 $canvas-padding;
}

.edit-site-save-hub__button {
	color: inherit;
	width: 100%;
	justify-content: center;

	&[aria-disabled="true"] {
		opacity: 1;
	}

	&[aria-disabled="true"]:hover {
		color: inherit;
	}
}
