.edit-site-navigation-panel {
	height: 100%;
	position: relative;
	width: 0;
	overflow: hidden;
	background: $gray-900;
	color: $white;
	transition: width 100ms linear;
	@include reduce-motion("transition");

	// Footer is visible from medium so we subtract footer's height
	.interface-interface-skeleton.has-footer & {
		@include break-medium() {
			height: calc(100% - #{$button-size-small + $border-width});
		}
	}
}

.edit-site-navigation-panel__inner {
	position: relative;
	width: $nav-sidebar-width;
	height: 100%;
	overflow: hidden;
	// Inner container is hidden to remove menu from the accessibility tree when not visible.
	// Setting visibility here (rather than on the parent container) preserves the slide transition.
	visibility: hidden;
	// Transition settings should match parent container.
	transition: visibility 100ms linear;
	@include reduce-motion("transition");
}

.edit-site-navigation-panel.is-open {
	width: $nav-sidebar-width;

	.edit-site-navigation-panel__inner {
		visibility: visible;
	}
}

.edit-site-navigation-panel__site-title-container {
	height: $header-height;
	padding-left: $grid-unit-30;
	margin: 0 $grid-unit-20 0 $grid-unit-10;
	display: flex;
	align-items: center;
}

.edit-site-navigation-panel__site-title {
	font-style: normal;
	font-weight: 600;
	font-size: 14px; /* Matches menu items */
	line-height: 20px;
	color: $gray-300;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.edit-site-navigation-panel__scroll-container {
	overflow-x: hidden;
	overflow-y: auto;
	height: calc(100% - #{$header-height});
}

.edit-site-navigation-panel__back-to-dashboard.components-button.is-tertiary {
	height: $button-size;
	margin-top: $grid-unit-30;
	padding: $grid-unit $grid-unit-20 $grid-unit $grid-unit;

	&:focus:not(:disabled) {
		border-bottom-color: transparent;
	}
}

.edit-site-navigation-panel__preview {
	display: none;
	border: $border-width solid $gray-400;
	width: $nav-sidebar-width;
	padding: $grid-unit-20;
	background: $white;
	box-shadow: $shadow-popover;
	border-radius: $radius-block-ui;
	position: absolute;
	top: $header-height + $grid-unit-15 + 1px; // +1px for the header border
	left: $nav-sidebar-width + $grid-unit-15;
	color: $gray-900;
	z-index: z-index(".edit-site-navigation-panel__preview");

	@include break-medium {
		display: block;
	}
}

.edit-site-navigation-panel__template-item {
	display: block;

	.components-button {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: auto;
		min-height: $button-size;
		text-align: left;
		padding-left: $grid-unit-20;
		padding-right: $grid-unit-20;
		color: inherit;
	}
}

.edit-site-navigation-panel__template-item-title {
	font-size: 14px;
	line-height: 20px;

	em {
		margin-right: 1ch;
	}
}

.edit-site-navigation-panel__template-parts .components-navigation__menu-title-heading {
	text-transform: capitalize;
}

.edit-site-navigation-panel__template-part-item .components-navigation__item-title {
	text-transform: capitalize;
}

.components-navigation__item + .edit-site-navigation-panel__template-item {
	margin-top: $grid-unit-20;
}

.edit-site-navigation-panel__template-item + .edit-site-navigation-panel__template-item {
	margin-top: $grid-unit-10;
}

.edit-site-navigation-panel__info-wrapper {
	padding: $grid-unit-05 0;
}

.edit-site-navigation-panel__template-item-description {
	padding-top: $grid-unit-10;
	font-size: 12px;
	line-height: 16px;
}

.edit-site-navigation-panel__new-template-dropdown {
	margin: 0 0 0 $grid-unit-15;

	button {
		margin: 0;
	}
}
.edit-site-navigation-panel__new-template-popover {
	@include break-small() {
		min-width: 300px;
	}
}
