.components-menu-items-choice,
.components-menu-items-choice.components-button {
	min-height: $button-size-next-default-40px;
	height: auto;

	svg {
		margin-right: $grid-unit-15;
	}

	&.has-icon {
		padding-left: $grid-unit-15;
	}
}
