@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.edit-site-editor__editor-interface {
	opacity: 1;

	@media not (prefers-reduced-motion) {
		transition: opacity 0.1s ease-out;
	}

	&.is-loading {
		opacity: 0;
	}
}

.edit-site-editor__toggle-save-panel {
	box-sizing: border-box;
	width: $sidebar-width;
	background-color: $white;
	border: $border-width dotted $gray-300;
	padding: $grid-unit-30;
	display: flex;
	justify-content: center;
}

.edit-site-editor__view-mode-toggle {
	/* stylelint-disable -- Disable reason: View Transitions not supported properly by stylelint. */
	view-transition-name: toggle;
	/* stylelint-enable */
	position: relative;
	top: 0;
	left: 0;
	height: $button-size-compact;
	width: $button-size-compact;
	z-index: 100;

	.components-button {
		color: $white;
		height: 100%;
		width: 100%;
		border-radius: 0;
		overflow: hidden;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover,
		&:active {
			color: $white;
		}

		&:focus {
			box-shadow: none;
		}
	}

	&:hover .edit-site-editor__back-icon {
		color: var(--wp-admin-theme-color);
	}
}

.edit-site-editor__back-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: $button-size-compact;
	height: $button-size-compact;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	pointer-events: none;

	svg {
		fill: currentColor;
	}
}
