.edit-site-editor__interface-skeleton {
	opacity: 1;
	transition: opacity 0.1s ease-out;
	@include reduce-motion("transition");

	&.is-loading {
		opacity: 0;
	}

	.interface-interface-skeleton__header {
		border: 0;
	}
}

.edit-site-editor__toggle-save-panel {
	box-sizing: border-box;
	width: $sidebar-width;
	background-color: $white;
	border: 1px dotted $gray-300;
	padding: $grid-unit-30;
	display: flex;
	justify-content: center;
}

// Adjust the position of the notices
.edit-site .components-editor-notices__snackbar {
	position: absolute;
	right: 0;
	bottom: 40px;
	padding-left: 16px;
	padding-right: 16px;
}

// Editor floating actions
.edit-site-editor__action {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: $grid-unit-20;
	gap: $grid-unit-10;
	z-index: 10;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.edit-site-editor__action-item.has-icon.has-text {
	background: rgba(255, 255, 255);
	padding-left: $grid-unit-10;
	padding-right: $grid-unit-20;
	border-radius: 999px;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border: none;
	justify-content: center;
}

@include editor-left(".edit-site .components-editor-notices__snackbar")
