.floatingToolbarFill {
	background-color: $dark-gray-500;
	margin: auto;
	min-width: 100;
	max-height: $floating-toolbar-height;
	border-radius: 22px;
	flex-direction: row;
	z-index: 100;
	top: -$floating-toolbar-height;
	height: $floating-toolbar-height;
	position: absolute;
	align-items: center;
	justify-content: center;
	align-self: center;
}
