.floatingToolbarContainer {
	align-items: center;
	justify-content: center;
	z-index: 2;
	left: 0;
	right: 0;
	top: -44;
	position: absolute;
}

.floatingToolbarFill {
	background-color: #404447;
	height: 44;
	border-radius: 22px;
	flex-direction: row;
	justify-content: flex-start;
}
