.breadcrumbContainer {
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-left: 15;
	padding-right: 15;
}

.breadcrumbTitle {
	color: $white;
	margin-left: 4;
}

.icon {
	color: $white;
}

.button {
	flex-direction: row;
	align-items: center;
}

.arrow {
	color: rgba(255, 255, 255, 0.4);
	margin-top: -4px;
	margin-left: 4;
	margin-right: 4;
}
