@use "@wordpress/base-styles/variables" as *;

.editor-site-discussion-dropdown__content .components-popover__content {
	min-width: 320px;
	padding: $grid-unit-20;
}

.editor-post-discussion__panel-toggle {
	word-break: break-word;
}
