@import "./components/layout/style.scss";
@import "./components/screen-choose-styles/style.scss";
@import "./components/sidebar/style.scss";
@import "./components/site-hub/style.scss";
@import "./components/site-icon/style.scss";
@import "./components/theme-picker/style.scss";

html.wp-toolbar {
	padding: 0 !important;
}

#wpadminbar,
#adminmenumain,
#wpfooter {
	display: none !important;
}

#wpcontent {
	margin: 0 !important;
	padding: 0 !important;
}
