.components-navigation {
	width: 272px;
	padding: 35px 30px;
	background: #191e23;
	color: #ccd0d4;
}

.components-navigation-back {
	margin-bottom: 64px;
	background-color: #23282d;
	padding: 3px 6px;
	color: #ccd0d4;
}

.components-navigation-title {
	margin-bottom: 24px;
}

.components-navigation-items {
	display: flex;
	flex-direction: column;
}

.components-navigation-item {
	display: flex;
	justify-content: space-between;
	margin-left: -12px;
	color: #8f98a1;

	&.is-active span {
		border-bottom: 2px solid var(--wp-admin-theme-color);
	}
}
