.components-form-toggle[type="checkbox"] {
	display: none;
}

.components-form-toggle__switch {
	position: relative;
	display: inline-block;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 4px;
	width: 24px;
	height: 16px;
	vertical-align: middle;
	align-self: flex-start;
	outline: 0;
	cursor: pointer;
	transition: all .4s ease, box-shadow 0s;

	&:before,
	&:after {
		position: relative;
		display: block;
		content: "";
		width: 8px;
		height: 8px;
	}
	&:after {
		left: 0;
		border-radius: 50%;
		background: $white;
		transition: all .2s ease;
	}
	&:before {
		display: none;
	}
	.accessible-focus &:focus{
		box-shadow: 0 0 0 2px $blue-wordpress;
	}
}

.components-form-toggle__label {
	cursor: pointer;

	.is-disabled & {
		cursor: default;
	}

	.components-form-toggle__label-content {
		flex: 0 1 100%;
		margin-left: 12px;
	}
}

.components-form-toggle {
	& + .components-form-toggle__label .components-form-toggle__switch {
		background: $dark-gray-200;
	}

	&:not( :disabled ) {
		+ .components-form-toggle__label:hover .components-form-toggle__switch {
			background: $dark-gray-100;
		}
	}

	&:checked{
		+ .components-form-toggle__label .components-form-toggle__switch {
			background: $blue-medium;

			&:after {
				left: 8px;
			}
		}
	}

	&:checked:not( :disabled ) {
		+ .components-form-toggle__label:hover .components-form-toggle__switch {
			background: $blue-wordpress;
		}
	}

	&:disabled {
		+ label.components-form-toggle__label span.components-form-toggle__switch {
			opacity: 0.25;
			cursor: default;
		}
	}
}
