.wp-block-file {
	margin-bottom: 0;

	&.is-transient {
		@include loading_fade;
	}

	&__richtext-wrapper {
		display: inline-block;
	}

	&__button-richtext-wrapper {
		display: inline-block;
		margin-left: 0.75em;
	}

	&__textlink {
		text-decoration: underline;

		&:focus {
			box-shadow: none;
			color: $blue-medium-700;
		}
	}
}
