.inserter-search-form__container--active {
	border-bottom-color: $gray-light;
	border-bottom-width: 2px;
	margin-left: 0;
	margin-right: 0;
}

.inserter-search-form__input-container {
	border: 1px $gray-light;
}

.inserter-search-form__input-container--active {
	border: none;
}

.inserter-search-form__form-input {
	flex: 1;
}

