.inserter-search-form__container {
	border-radius: 8px;
	elevation: 2;
	background-color: $white;
}
.inserter-search-form__container--dark {
	elevation: 0;
	background-color: none;
}

.inserter-search-form__container--active {
	border-bottom-color: $light-gray-500;
	border-bottom-width: 1px;
	margin-left: 0;
	margin-right: 0;
	border-radius: 0;
	elevation: 0;
}

.inserter-search-form__container--dark-active {
	border-bottom-color: $gray-70;
	border-bottom-width: 1px;
	margin-left: 0;
	margin-right: 0;
	border-radius: 0;
	elevation: 0;
}

.inserter-search-form__input-container--dark {
	background-color: $dark-ultra-dim;
}

.inserter-search-form__input-container--active {
	background-color: transparent;
}

.inserter-search-form__form-input {
	flex: 1;
}

.inserter-search-form__input-button-left--active {
	margin: 0 16px;
}

.inserter-search-form__input-button-right--active {
	margin-right: 12px;
}

.inserter-search-form__right-icon--dark {
	color: $dark-tertiary;
}
