.components-font-size-picker__controls {
	max-width: $sidebar-width - ( 2 * $grid-unit-20 );
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: $grid-unit-30;

	// Apply the same height as the isSmall Reset button.
	.components-font-size-picker__number {
		@include input-control;
		display: inline-block;
		font-weight: 500;
		height: 30px;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: $grid-unit-10;
		margin-top: $grid-unit-10;
		width: 54px;

		// Show the reset button as disabled until a value is entered.
		&[value=""] + .components-button {
			cursor: default;
			opacity: 0.3;
			pointer-events: none;
		}

		&-container {
			display: flex;
			flex-direction: column;
		}
	}

	// Allow the font-size picker dropdown to grow in width.
	.components-font-size-picker__select {
		margin-right: $grid-unit-10;
	}

	.components-color-palette__clear {
		height: 30px;
		margin-top: 26px;
	}
}

.components-font-size-picker__custom-input {
	.components-range-control__slider + .dashicon {
		width: 30px;
		height: 30px;
	}
}

.components-font-size-picker {
	border: 0;
	padding: 0;
	margin: 0;
}

