.wp-block-post-navigation-link {

	.wp-block-post-navigation-link__arrow-previous {
		display: inline-block;
		margin-right: 1ch;
		// chevron(`»`) symbol doesn't need the mirroring by us.
		&:not(.is-arrow-chevron) {
			// Flip for RTL.
			transform: scaleX(1) #{"/*rtl:scaleX(-1);*/"}; // This points the arrow right for LTR and left for RTL.
		}
	}

	.wp-block-post-navigation-link__arrow-next {
		display: inline-block;
		margin-left: 1ch;
		// chevron(`»`) symbol doesn't need the mirroring by us.
		&:not(.is-arrow-chevron) {
			// Flip for RTL.
			transform: scaleX(1) #{"/*rtl:scaleX(-1);*/"}; // This points the arrow right for LTR and left for RTL.
		}
	}

	&.has-writing-mode.is-vertical-rl {
		writing-mode: vertical-rl;
	}

	&.has-writing-mode.is-vertical-lr {
		writing-mode: vertical-lr;
	}

	&.has-text-align-right.has-writing-mode.is-vertical-rl {
		transform: scale(-1, -1);
	}
}

body.rtl .wp-block-post-navigation-link .has-text-align-left.has-writing-mode.is-vertical-lr {
	transform: scale(-1, -1);
}
