.blockHolderFullBordered {
	border-top-width: $block-selected-border-width;
	border-bottom-width: $block-selected-border-width;
	border-left-width: $block-selected-border-width;
	border-right-width: $block-selected-border-width;
	border-radius: 4px;
	border-style: solid;
	margin-left: 4px;
	margin-right: 4px;
}

.blockHolderFocused {
	border-color: $blue-wordpress;
}

.blockHolderFocusedDark {
	border-color: $blue-30;
}
