.blockHolderSemiBordered {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0;
	border-right-width: 0;
}

.blockHolderFullBordered {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
}

.blockHolderFocused {
	border-color: $blue-wordpress;
}

.blockHolderFocusedDark {
	border-color: $blue-30;
}
