.edit-post-visual-editor {
	position: relative;
	padding-top: 50px;

	& .components-button {
		font-family: $default-font;
	}

	flex: 1 1 auto;

	// In IE11 flex-basis: 100% cause a bug where the metaboxes area overlap with the content area.
	// But it works as expected without it.
	// The flex-basis is needed for the other browsers to make sure the content area is full-height.
	@supports (position: sticky) {
		flex-basis: 100%;
	}
}

.edit-post-visual-editor > .block-editor__typewriter,
.edit-post-visual-editor > .block-editor__typewriter > div,
.edit-post-visual-editor > .block-editor__typewriter > div > .block-editor-writing-flow,
.edit-post-visual-editor > .block-editor__typewriter > div > .block-editor-writing-flow > .block-editor-writing-flow__click-redirect {
	height: 100%;
}

.edit-post-visual-editor .block-editor-writing-flow__click-redirect {
	// Allow the page to be scrolled with the last block in the middle.
	min-height: 50vh;
	width: 100%;
}

// Hide the extra space when there are metaboxes.
.has-metaboxes .edit-post-visual-editor .block-editor-writing-flow__click-redirect {
	height: 0;
}

// The base width of blocks
.edit-post-visual-editor .block-editor-block-list__block {
	margin-left: auto;
	margin-right: auto;
}


// The base width of the title should match that of blocks even if it isn't a block.
// @todo: This duplicates CSS from line 49 in block-list/style.scss, and should be
// removed when the Title field becomes an actual block.
.editor-post-title {
	// Beyond the mobile breakpoint, compensate for side UI.
	@include break-small() {
		padding-left: $block-padding + $block-side-ui-width + $block-padding + $border-width * 2;
		padding-right: $block-padding + $block-side-ui-width + $block-padding + $border-width * 2;
	}
}

.edit-post-visual-editor .editor-post-title__block {
	// Center.
	margin-left: auto;
	margin-right: auto;

	// Apply default block margin below the post title.
	// This ensures the first block on the page is in a good position.
	// This rule can be retired once the title becomes an actual block.
	margin-bottom: ($block-padding * 2) + $block-spacing; // This matches 2em in the vanilla style.

	// Stack borders.
	> div {
		margin-left: 0;
		margin-right: 0;
	}

	// Stretch to mimic outline padding on desktop.
	// Note that we can't target the textarea as it can't be stretched.
	@include break-small() {
		> div {
			margin-left: -$block-padding - $block-side-ui-clearance;
			margin-right: -$block-padding - $block-side-ui-clearance;
		}
	}
}

.edit-post-visual-editor {
	// If the first block is floated, it needs top margin, unlike the rule in line 69.
	.block-editor-block-list__layout > .block-editor-block-list__block[data-align="left"]:first-child,
	.block-editor-block-list__layout > .block-editor-block-list__block[data-align="right"]:first-child {
		margin-top: $block-padding + $block-spacing + $border-width + $border-width + $block-padding;
	}
}
