h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--wp--color--foreground--headings);
	font-size: var(--wp--type--size--headings);
	font-weight: var(--wp--type--weight);
	line-height: var(--wp--type--line-height--headings);
}
