:root {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		background-color: var(--wp--color--background);
		color: var(--wp--color--text);
		line-height: var(--wp--typography--line-height, var(--wp--typography--line-height-heading));
		font-weight: var(--wp--typography--font-weight-heading);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&.has-background {
		padding: $block-bg-padding--v $block-bg-padding--h;
	}
}

:root h1 {
	font-size: calc(1px * var(--wp--typography--font-base) * var(--wp--typography--font-scale) * var(--wp--typography--font-scale) * var(--wp--typography--font-scale) * var(--wp--typography--font-scale) * var(--wp--typography--font-scale));
}

:root h2 {
	font-size: calc(1px * var(--wp--typography--font-base) * var(--wp--typography--font-scale) * var(--wp--typography--font-scale) * var(--wp--typography--font-scale) * var(--wp--typography--font-scale));
}

:root h3 {
	font-size: calc(1px * var(--wp--typography--font-base) * var(--wp--typography--font-scale) * var(--wp--typography--font-scale) * var(--wp--typography--font-scale));
}

:root h4 {
	font-size: calc(1px * var(--wp--typography--font-base) * var(--wp--typography--font-scale) * var(--wp--typography--font-scale));
}

:root h5 {
	font-size: calc(1px * var(--wp--typography--font-base) * var(--wp--typography--font-scale));
}

:root h6 {
	font-size: calc(0.5px * var(--wp--typography--font-base) * var(--wp--typography--font-scale));
}
