// These follow a Major Third type scale
// Default margins.
h1 {
	font-size: 2.44em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h2 {
	font-size: 1.95em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}

h3 {
	font-size: 1.56em;
	margin-top: 1em;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.25em;
	line-height: 1.5;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
}

h5 {
	font-size: 1em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
}

h6 {
	font-size: 0.8em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
}

// Adjust line spacing for larger headings.
h1,
h2,
h3 {
	line-height: 1.4;
}
