/** @format */

.block_code {
	font-family: courier;
}

.blockHolder {
	flex: 1 1 auto;
}

.blockContainer {
	background-color: white;
}

.blockContent {
	padding-left: 10;
	padding-right: 10;
	padding-top: 10;
	padding-bottom: 10;
}

.blockTitle {
	background-color: grey;
	padding-left: 10;
	padding-top: 4;
	padding-bottom: 4;
}
