.groupPlaceholder {
	padding: 12px;
	margin: 16px;
	margin-left: 2px;
	margin-right: 2px;
	background-color: $white;
	border: $border-width dashed $gray;
	border-radius: 4px;
}

.groupPlaceholderDark {
	background-color: $black;
	border: $border-width dashed $gray-70;
}
