/**
 * Group: All Alignment Settings
 */
.wp-block[data-type="core/group"] {

	// Ensure not rendering outside the element
	// as -1px causes overflow-x scrollbars
	.block-editor-block-list__insertion-point {
		left: 0;
		right: 0;
	}

	// Only applied when background is added to cancel out padding
	> div > .wp-block-group.has-background > .wp-block-group__inner-container > .block-editor-inner-blocks {
		margin-top: -#{$block-padding*2 + $block-spacing};
		margin-bottom: -#{$block-padding*2 + $block-spacing};
	}

	// Full Width Blocks
	// specificity required to only target immediate child Blocks of a Group
	> div > .wp-block-group > .wp-block-group__inner-container > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block[data-align="full"] {
		margin-left: auto;
		margin-right: auto;
		padding-left: $block-padding*2;
		padding-right: $block-padding*2;

		@include break-small() {
			padding-left: $block-padding*4 + $block-spacing/2; // 58px
			padding-right: $block-padding*4 + $block-spacing/2; // 58px
		}
	}

	// Full Width Blocks with a background (ie: has padding)
	> div > .wp-block-group.has-background > .wp-block-group__inner-container > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block[data-align="full"] {
		// note: using position `left` causes hoz scrollbars so
		// we opt to use margin instead
		// the 30px matches the hoz padding applied in `theme.scss`
		// added when the Block has a background set
		margin-left: -30px;

		// 60px here is x2 the hoz padding from `theme.scss` added when
		// the Block has a background set
		// note: also duplicated below for full width Groups
		width: calc(100% + 60px);
	}
}

/**
 * Group: Full Width Alignment
 */
.wp-block[data-type="core/group"][data-align="full"] {

	// First tier of InnerBlocks must act like the container of the standard canvas
	> div > .wp-block-group > .wp-block-group__inner-container > .block-editor-inner-blocks {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;

		> .block-editor-block-list__layout {
			margin-left: 0;
			margin-right: 0;
		}
	}

	// Full Width Blocks
	// specificity required to only target immediate child Blocks of Group
	> div > .wp-block-group > .wp-block-group__inner-container > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block[data-align="full"] {
		padding-right: 0;
		padding-left: 0;
		left: 0;
		width: 100%;
		max-width: none;
	}

	// Full Width Blocks with a background (ie: has padding)
	// note: also duplicated above for all Group widths
	> div > .wp-block-group.has-background > .wp-block-group__inner-container > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block[data-align="full"] {
		width: calc(100% + 60px);
	}
}

// Place block list appender in the same place content will appear.
[data-type="core/group"].is-selected {

	.block-list-appender {
		margin-left: 0;
		margin-right: 0;
	}

	.has-background .block-list-appender {
		margin-top: $block-padding + $grid-size-small;
		margin-bottom: $block-padding + $grid-size-small;
	}
}
