.wp-block-group {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	// We use !important to override the default group block style set to align-items: center.
	&.is-vertically-aligned-top {
		align-items: flex-start !important;
	}

	&.is-vertically-aligned-center {
		align-items: center !important;
	}

	&.is-vertically-aligned-bottom {
		align-items: flex-end !important;
	}
}
