.wp-block-group {
	&.has-background {
		// Matches paragraph Block padding
		// Todo: normalise with variables
		padding: 20px 30px;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.wp-block-group {

	.editor-styles-wrapper & {
		// Adds animation to improve abilty for users to perceive
		// the change occuring within the Editor
		@include reduce-motion("transition");
		transition: 0.2s ease-out;
		transition-property: margin, padding;
	}

	&.padding-none {
		padding: 0;
	}

	&.padding-small {
		padding: $block-padding;
	}

	&.padding-medium {
		padding: $block-padding*2;
	}

	&.padding-large {
		padding: $block-padding*3;
	}

	&.padding-xlarge {
		padding: $block-padding*4;
	}

	&.margin-none {
		margin: 0;
	}

	&.margin-small {
		margin: $block-padding;
	}

	&.margin-medium {
		margin: $block-padding*2;
	}

	&.margin-large {
		margin: $block-padding*3;
	}

	&.margin-xlarge {
		margin: $block-padding*4;
	}
}
