@import "floatingToolbar";

.floatingToolbar {
	position: absolute;
	@extend .floatingToolbarOffset;
	background-color: $background-dark-elevated;
	margin-left: auto;
	margin-right: auto;
	min-width: 100;
	max-height: $mobile-floating-toolbar-height;
	border-radius: 22px;
	flex-direction: row;
	z-index: 100;
	height: $mobile-floating-toolbar-height;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.floatingToolbarFillColor {
	background-color: $background-dark-elevated;
}

.floatingToolbarFillColorDark {
	background-color: $background-dark-elevated;
}

.toolbar {
	border-left-width: 0;
	margin-right: auto;
	padding-left: 2px;
	height: $mobile-floating-toolbar-height;
}

.pipe {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 2px;
	height: 28px;
	width: 1px;
	background-color: #e9eff3;
	opacity: 0.4;
}
