// @format

.moreLine {
	background-color: $gray-lighten-20;
	height: 2;
}

.moreLineDark {
	background-color: $gray-50;
}

.moreText {
	color: $gray;
	text-decoration-style: solid;
	text-transform: uppercase;
}

.moreTextDark {
	color: $gray-20;
}

